@using DigitalLearningSolutions.Web.ViewModels.LearningMenu
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model PostLearningAssessmentViewModel

<link rel="stylesheet" href="@Url.Content("~/css/learningMenu/index.css")" asp-append-version="true">

@{
  ViewData["HeaderPrefix"] = "";
  ViewData["Application"] = Model.CourseTitle;
  ViewData["Title"] = Model.CourseTitle;
  ViewData["CustomisationId"] = Model.CustomisationId;
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/LearningMenu/{Model.CustomisationId}";
  ViewData["HeaderPathName"] = Model.CourseTitle;
}
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading" class="nhsuk-heading-xl">
      <span class="nhsuk-caption-l">Post learning assessment</span>
      @Model.CourseTitle
    </h1>
    <h2 class="nhsuk-u-secondary-text-color">
      @Model.AssessmentStatus
    </h2>
  </div>
</div>

<partial name="Shared/_AssessmentPageImportantInformation" />

@if (Model.PostLearningLocked)
{
  <p class="nhsuk-u-secondary-text-color">
    The assessment is locked as there have been too many failed attempts.
  </p>
}
else
{
  <button class="nhsuk-button nhsuk-u-margin-bottom-4">Start assessment</button>
}

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" asp-action="Section" asp-controller="LearningMenu" asp-route-customisationId="@Model.CustomisationId" asp-route-sectionId="@Model.SectionId">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Return to section
  </a>
</div>
