@using DigitalLearningSolutions.Web.ViewModels.LearningMenu
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model PostLearningContentViewModel

<link rel="stylesheet" href="@Url.Content("~/css/learningMenu/index.css")" asp-append-version="true">
<link rel="stylesheet" href="@Url.Content("~/css/learningMenu/contentViewer.css")" asp-append-version="true">

@{
  ViewData["HeaderPrefix"] = "";
  ViewData["Application"] = Model.CourseTitle;
  ViewData["Title"] = Model.CourseTitle;
  ViewData["CustomisationId"] = Model.CustomisationId;
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/LearningMenu/{Model.CustomisationId}";
  ViewData["HeaderPathName"] = Model.CourseTitle;
}
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
  @{
  var learningActivity = TempData["LearningActivity"]?.ToString(); TempData.Keep("LearningActivity");
}

@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" asp-action="Close" asp-route-learningActivity=@learningActivity>@learningActivity activities</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" asp-action="Index" asp-route-customisationId="@Model.CustomisationId">@Model.CourseTitle</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" asp-action="Section" asp-route-customisationId="@Model.CustomisationId" asp-route-sectionId="@Model.SectionId">@Model.SectionName</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" asp-action="PostLearning" asp-route-customisationId="@Model.CustomisationId" asp-route-sectionId="@Model.SectionId">Post learning assessment</a></li>
        <li class="nhsuk-breadcrumb__item">Content</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="PostLearning" asp-route-customisationId="@Model.CustomisationId" asp-route-sectionId="@Model.SectionId">Return to post learning assessment</a></p>
    </div>
  </nav>
}

  @section scripts {
  <script src="@Url.Content("~/js/learningMenu/postLearningContentViewer.js")" asp-append-version="true"></script>
}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 id="page-heading" class="nhsuk-heading-xl">@Model.SectionName</h1>
    </div>
  </div>

  @{
  var contentType = "assessment";
}
<partial name="Shared/_JavaScriptDisabledError" model="contentType" />

<partial name="Shared/_IFrameWithFullscreen" model="@Model.ContentSource" />
