@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@model SecondaryNavMenuLinkViewModel

@if (Model.IsCurrentPage) {
  <li class="side-nav__item side-nav__item--selected" aria-current="page">
    <span class="nhsuk-contents-list__current">@Model.LinkText</span>
  </li>
} else {
  <li class="side-nav__item">
    <a class="side-nav__link" asp-action="@Model.AspAction" asp-controller="@Model.AspController" asp-all-route-data="@Model.AspAllRouteData">@Model.LinkText</a> 
  </li>
}
