@using DigitalLearningSolutions.Web.ViewModels.LearningMenu
@model TutorialCardViewModel
<div class="nhsuk-card nhsuk-u-margin-bottom-3 learning-menu-card">
  <div class="nhsuk-card__content">
    <div class="nhsuk-grid-row">
      <div class="@(Model.ShowRecommendationStatus ? "nhsuk-grid-column-two-thirds" : "nhsuk-grid-full")">
        <h3 class="nhsuk-card__heading card-with-status-heading" id="@Model.Id-name">
          @Model.TutorialName
        </h3>
      </div>
      <div class="nhsuk-grid-column-one-third">
        @if (Model.ShowRecommendationStatus)
        {
          <strong class="status-tag @Model.StatusTagColour float-right-additional-information">
            @Model.RecommendationStatus
          </strong>
        }
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="@(Model.ShowLearnStatus ? "nhsuk-grid-column-two-thirds" : "nhsuk-grid-full")">
        <div class="nhsuk-u-margin-bottom-4">
          <partial name="Shared/_TutorialTimeSummary" model="@Model.TimeSummary" />
        </div>
      </div>
      <div class="nhsuk-grid-column-one-third">
        @if (Model.ShowLearnStatus)
        {
          <h3 class="nhsuk-heading-xs nhsuk-u-secondary-text-color float-right-additional-information">
            @Model.CompletionStatus
          </h3>
        }
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <a class="nhsuk-button nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-0"
           aria-describedby="@Model.Id-name"
           asp-action="Tutorial"
           asp-controller="LearningMenu"
           asp-route-customisationId="@Model.CustomisationId"
           asp-route-sectionId="@Model.SectionId"
           asp-route-tutorialId="@Model.Id">
          View tutorial
        </a>
      </div>
    </div>
  </div>
</div>
