@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Configuration
@model EditCentreDetailsViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/centreConfiguration.css")" asp-append-version="true">

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Edit centre details" : "Edit centre details";
  const string hintText = @"To change your {0}, select a new image and click the Preview button to preview it.
                    To remove your {0} click the remove button.
                    Changes will not be made until the Save button below is clicked.";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.NotifyEmail), nameof(Model.BannerText), nameof(Model.CentreSignatureFile), nameof(Model.CentreLogoFile) })" />
    }

    <h1 class="nhsuk-heading-xl">Edit centre details</h1>
    <form class="nhsuk-u-margin-bottom-3" method="post" novalidate asp-action="EditCentreDetails" enctype="multipart/form-data">
      <div class="hidden-submit">
        <button name="action" class="nhsuk-button" value="save" aria-hidden="true" tabindex="-1">Save</button>
      </div>

      <div class="nhsuk-grid-row divider">
        <div class="nhsuk-grid-column-full">
          <vc:text-input asp-for="NotifyEmail"
                         label="Notify email"
                         populate-with-current-value="true"
                         type="text"
                         spell-check="false"
                         autocomplete="email"
                         hint-text=""
                         css-class="nhsuk-u-width-one-half"
                         required="true" />

          <vc:text-input asp-for="BannerText"
                         label="Centre support details"
                         populate-with-current-value="true"
                         type="text"
                         spell-check="true"
                         autocomplete="off"
                         hint-text=""
                         css-class="nhsuk-u-width-one-half"
                         required="true" />
        </div>
      </div>

      <div class="nhsuk-grid-row nhsuk-u-margin-bottom-2">
        <div class="nhsuk-grid-column-one-half">
          <input type="hidden" asp-for="CentreSignature" />
          <vc:file-input asp-for="CentreSignatureFile" label="Centre signature" hint-text="@string.Format(hintText, "signature")" css-class="nhsuk-u-width-full" />
        </div>
        <div class="nhsuk-grid-column-one-half">
          @if (Model.CentreSignature != null) {
            <img class="nhsuk-image__img centre-detail-image__downsize" src="data:image;base64,@Convert.ToBase64String(Model.CentreSignature)" alt="Centre signature picture" />
          } else {
            <img class="nhsuk-image__img centre-detail--placeholder-image__downsize" src="@Url.Content("~/images/imagePlaceholder.svg")" alt="Placeholder signature image" />
          }
        </div>
      </div>

      <div class="nhsuk-grid-row divider">
        <div class="nhsuk-grid-column-one-half">
          <button name="action" class="nhsuk-button" value="previewSignature">Preview</button>
          <button name="action" class="nhsuk-button nhsuk-button--secondary" value="removeSignature">Remove</button>
        </div>
      </div>

      <div class="nhsuk-grid-row nhsuk-u-margin-bottom-2">
        <div class="nhsuk-grid-column-one-half">
          <input type="hidden" asp-for="CentreLogo" />
          <vc:file-input asp-for="CentreLogoFile" label="Centre logo" hint-text="@string.Format(hintText, "logo")" css-class="nhsuk-u-width-full" />
        </div>
        <div class="nhsuk-grid-column-one-half">
          @if (Model.CentreLogo != null) {
            <img class="nhsuk-image__img centre-detail-image__downsize" src="data:image;base64,@Convert.ToBase64String(Model.CentreLogo)" alt="Centre logo picture" />
          } else {
            <img class="nhsuk-image__img centre-detail--placeholder-image__downsize" src="@Url.Content("~/images/imagePlaceholder.svg")" alt="Placeholder logo image" />
          }
        </div>
      </div>

      <div class="nhsuk-grid-row divider">
        <div class="nhsuk-grid-column-one-half">
          <button name="action" class="nhsuk-button" value="previewLogo">Preview</button>
          <button name="action" class="nhsuk-button nhsuk-button--secondary" value="removeLogo">Remove</button>
        </div>
      </div>

      <button name="action" class="nhsuk-button" value="save">Save</button>
    </form>

    <vc:cancel-link asp-controller="Configuration" asp-action="Index" />

  </div>
</div>
