@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.Support
@model SupportViewModel

@{
  var routeData = new Dictionary<string, string?> { { "dlsSubApplication", Model.DlsSubApplication.UrlSegment } };
}

<h2 class="side-nav__heading">Support</h2>
<ul class="nhsuk-list side-nav__list">
  <vc:side-menu-link asp-action="Index"
                     asp-controller="Support"
                     asp-all-route-data="@routeData"
                     link-text="Support"
                     is-current-page="@(Model.CurrentPage == SupportPage.Support)" />

  @if (Model.CurrentPage == SupportPage.HelpDocumentation) {
    <li class="side-nav__item side-nav__item--selected" aria-current="page">
      <span class="nhsuk-contents-list__current">Help documentation</span>
    </li>
  } else {
    <li class="side-nav__item">
      <a class="side-nav__link" href="@Model.HelpUrl" target="_blank">
        Help documentation
      </a>
    </li>
  }

  <vc:side-menu-link-with-href href="@Model.FaqUrl"
                               link-text="FAQs"
                               is-current-page="@(Model.CurrentPage == SupportPage.Faqs)" />

  <vc:side-menu-link asp-action="Index"
                     asp-controller="Resources"
                     asp-all-route-data="@routeData"
                     link-text="Resources"
                     is-current-page="@(Model.CurrentPage == SupportPage.Resources)" />

  <vc:side-menu-link asp-action="Index"
                     asp-controller="SupportTickets"
                     asp-all-route-data="@routeData"
                     link-text="Support tickets"
                     is-current-page="@(Model.CurrentPage == SupportPage.SupportTickets)" />

  @if (Model.CurrentPage == SupportPage.ChangeRequests) {
    <li class="side-nav__item side-nav__item--selected" aria-current="page">
      <span class="nhsuk-contents-list__current">Change requests</span>
    </li>
  } else {
    <li class="side-nav__item">
      <a class="side-nav__link" href="@Model.ChangeRequestsUrl" target="_blank" rel="noreferrer">
        Change requests
      </a>
    </li>
  }

</ul>
