@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.GroupCourses
@model GroupCourseViewModel

<div class="nhsuk-panel word-break" id="@Model.GroupCustomisationId-card">
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text" id="@Model.GroupCustomisationId-name" name="name">
        @Model.Name
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <div class="tags">
        <div class="card-tag">
          <strong class="nhsuk-tag nhsuk-tag--grey">@Model.IsMandatory</strong>
        </div>
        <div class="card-tag">
          <strong class="nhsuk-tag nhsuk-tag--grey">@Model.IsAssessed</strong>
        </div>
      </div>
      <dl class="nhsuk-summary-list details-list-with-button">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Added to group
          </dt>
          <dd class="nhsuk-summary-list__value">
            @Model.AddedToGroup
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Supervisor
          </dt>
          <partial name="_SummaryFieldValue" model="Model.Supervisor" />
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Complete within
          </dt>
          <partial name="_SummaryFieldValue" model="Model.CompleteWithin" />
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Valid for
          </dt>
          <partial name="_SummaryFieldValue" model="Model.ValidFor" />
        </div>
      </dl>

      <a class="nhsuk-button delete-button nhsuk-u-margin-bottom-1"
         role="button"
         asp-controller="GroupCourses"
         asp-action="RemoveGroupCourse"
         asp-route-groupId="@(ViewContext.RouteData.Values["groupId"].ToString()!)"
         asp-route-groupCustomisationId="@Model.GroupCustomisationId"
         asp-route-returnPageQuery="@Model.ReturnPageQuery">
        Remove from group
      </a>
    </div>
  </details>
</div>
