@using DigitalLearningSolutions.Web.Helpers
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.GroupCourses
@model AddCourseConfirmationViewModel

@{
  ViewData["Title"] = "Course added to group";
  var actionLinkText = $"See all courses in {Model.GroupName} group";
  var routeParamsForActionLink = new Dictionary<string, string> {
    { "groupId", Model.GroupId.ToString() },
  };
  var pluralitySuffix = DisplayStringHelper.GetPluralitySuffix(Model.CompleteWithinMonths);
  var courseDeadlineString = Model.CompleteWithinMonths > 0
    ? $"All delegates enrolled on the course because they belong to this group will have {Model.CompleteWithinMonths} month{pluralitySuffix} to complete the course from the date of enrolment."
    : "There is no deadline in which to complete the course for delegates that have been enrolled.";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full word-break">
    <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>

    <p>The course @Model.CourseName has been added to the @Model.GroupName group.</p>

    <p>The delegates subsequently added to the group will be enrolled on this course automatically.</p>

    <p>@courseDeadlineString</p>

    <vc:action-link asp-controller="GroupCourses" asp-action="Index" link-text="@actionLinkText" asp-all-route-data="@routeParamsForActionLink" />
  </div>
</div>
