@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.GroupCourses
@model RemoveGroupCourseViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = $"{(errorHasOccurred ? "Error: " : "")}Groups - Remove group course";

  var cancelLinkRouteData = new Dictionary<string, string> {
    { "groupId", ViewContext.RouteData.Values["groupId"].ToString()! },
  };
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred)
    {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Confirm), nameof(Model.DeleteStartedEnrolments) })" />
    }

    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-8 word-break">Are you sure you would like to remove the course @Model.CourseName from this group?</h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full nhsuk-lede-text">
    All delegate enrolments that have not yet been started and are associated with the membership of this group will be removed.
  </div>
</div>

<vc:field-name-value-display display-name="Group name" field-value="@Model.GroupName" />

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <form class="nhsuk-u-margin-bottom-3" method="post"
          asp-action="RemoveGroupCourse"
          asp-route-groupCustomisationid="@Model.GroupCourseId">

      <input type="hidden" asp-for="GroupCourseId" />
      <input type="hidden" asp-for="CourseName" />
      <input type="hidden" asp-for="GroupName" />
      <input type="hidden" asp-for="ReturnPageQuery" />

      <vc:single-checkbox asp-for="@nameof(Model.Confirm)"
                          label="I am sure that I wish to remove @Model.CourseName course from this group."
                          hint-text="" />

      <vc:single-checkbox asp-for="@nameof(Model.DeleteStartedEnrolments)"
                          label="Remove all related enrolments where course has been started but is not yet complete."
                          hint-text="Optionally, all enrolments on this course that have been started but are incomplete can also be removed, if they're associated with the membership of this group." />

      <button class="nhsuk-button delete-button" type="submit">Remove course</button>
    </form>

    <vc:cancel-link-with-return-page-query asp-controller="GroupCourses" asp-action="Index" route-data="@cancelLinkRouteData" return-page-query="@Model.ReturnPageQuery" />
  </div>
</div>
