@using DigitalLearningSolutions.Web.ViewModels.Frameworks;
@model FrameworkViewModel;
<h2 class="nhsuk-u-visually-hidden">Framework details</h2>
<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Name
    </dt>
    <dd class="nhsuk-summary-list__value">
      @Model.DetailFramework.FrameworkName
    </dd>
    @if (Model.DetailFramework.UserRole > 1)
    {
      <dd class="nhsuk-summary-list__actions">

        <a asp-action="CreateNewFramework" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-actionname="Edit">
          Edit<span class="nhsuk-u-visually-hidden"> name</span>
        </a>

      </dd>
    }

  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Description
    </dt>
    <dd class="nhsuk-summary-list__value">
      @Html.Raw(Model.DetailFramework.Description)
    </dd>
    @if (Model.DetailFramework.UserRole > 1)
    {
      <dd class="nhsuk-summary-list__actions">
        <a asp-action="FrameworkDescription" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-actionname="Edit">
          Edit
        </a>
      </dd>
    }
    </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Vocabulary
    </dt>
    <dd class="nhsuk-summary-list__value">
      @Model.DetailFramework.FrameworkConfig
    </dd>
    @if (Model.DetailFramework.UserRole > 1)
    {
      <dd class="nhsuk-summary-list__actions">
        <a asp-action="FrameworkType" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-actionname="Edit">
          Edit
        </a>
      </dd>
    }
    </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Branding
    </dt>
    <dd class="nhsuk-summary-list__value">
      <span class="framework-brand">
        @Model.DetailFramework.Brand
      </span>
      @if (Model.DetailFramework.Category != null)
      {<span>/</span><span class="framework-category"> @Model.DetailFramework.Category </span>}
      @if (Model.DetailFramework.Topic != null)
      {<span>/</span><span class="framework-topic"> @Model.DetailFramework.Topic </span>}
    </dd>
    @if (Model.DetailFramework.UserRole > 1)
    {
      <dd class="nhsuk-summary-list__actions">

        <a asp-action="SetNewFrameworkBrand" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-actionname="Edit">
          Edit<span class="nhsuk-u-visually-hidden"> branding</span>
        </a>

      </dd>
    }
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Working group
    </dt>
    <dd class="nhsuk-summary-list__value">

      <table role="presentation" class="nhsuk-table-responsive">
        <thead role="rowgroup" class="nhsuk-table__head nhsuk-u-visually-hidden">
          <tr role="row" class="nhsuk-u-visually-hidden">
            <th role="columnheader" class="nhsuk-u-font-size-16" scope="col">
              User
            </th>
            <th role="columnheader" class="nhsuk-u-font-size-16" scope="col">
              Role
            </th>

          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          @foreach (var collaborator in Model.Collaborators)
          {
            <tr role="row" class="nhsuk-table__row collaborator-row">
              <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
                <span class="nhsuk-table-responsive__heading">User </span>
                <span class="framework-collaborator-user">
                  @collaborator.UserEmail @(collaborator.UserActive == true ? "" : "(inactive)")
                </span>
              </td>
              <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
                <span class="nhsuk-table-responsive__heading">Role </span>
                <span class="framework-collaborator-role">
                  <partial name="Shared/_RoleTag" model="collaborator" />
                </span>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </dd>
    @if (Model.DetailFramework.UserRole > 1)
    {
      <dd class="nhsuk-summary-list__actions">

        <a asp-action="AddCollaborators" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-actionname="Edit">
          Edit<span class="nhsuk-u-visually-hidden"> working group members</span>
        </a>

      </dd>
    }


  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Default questions
    </dt>
    <dd class="nhsuk-summary-list__value">
      @if (Model.FrameworkDefaultQuestions.Any())
      {
        <table role="presentation" class="nhsuk-table-responsive">
          <thead role="rowgroup" class="nhsuk-table__head nhsuk-u-visually-hidden">
            <tr role="row" class="nhsuk-u-visually-hidden">
              <th role="columnheader" class="nhsuk-u-font-size-16" scope="col">
                Question
              </th>
              <th role="columnheader" class="nhsuk-u-font-size-16" scope="col">
                Tyoe/Range
              </th>

            </tr>
          </thead>
          <tbody class="nhsuk-table__body">

            @foreach (var question in Model.FrameworkDefaultQuestions)
            {
              <tr role="row" class="nhsuk-table__row collaborator-row">
                <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
                  <span class="nhsuk-table-responsive__heading">Question </span>
                  <span class="framework-default-question">
                    @question.Question
                  </span>
                </td>
                <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
                  <span class="nhsuk-table-responsive__heading">Type/range </span>
                  <span class="framework-default-question-range">
                    @question.InputTypeName (@question.MinValue - @question.MaxValue)
                  </span>
                </td>
              </tr>
            }

          </tbody>
        </table>
      }
      else
      {
        <span>No default assessment questions have been set for this framework</span>
      }
    </dd>
    @if (Model.DetailFramework.UserRole > 1)
    {
      <dd class="nhsuk-summary-list__actions">

        <a asp-action="FrameworkDefaultQuestions" asp-route-frameworkId="@Model.DetailFramework.ID">
          Edit<span class="nhsuk-u-visually-hidden"> framework default questions</span>
        </a>

      </dd>
    }
  </div>
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Flags
    </dt>
    <dd class="nhsuk-summary-list__value">
      @if (Model.Flags.Any())
      {
        <table role="presentation" class="nhsuk-table-responsive">
          <thead role="rowgroup" class="nhsuk-table__head nhsuk-u-visually-hidden">
            <tr role="row" class="nhsuk-u-visually-hidden">
              <th role="columnheader" class="nhsuk-u-font-size-16" scope="col">
                Name
              </th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            @foreach (var flag in Model.Flags)
            {
              <tr role="row" class="nhsuk-table__row collaborator-row">
                <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
                  <span class="nhsuk-table-responsive__heading">Class </span>
                  <span class="framework-collaborator-role">
                    <strong class="nhsuk-tag @flag.FlagTagClass">
                      @flag.FlagName
                    </strong>
                  </span>
                </td>
              </tr>
            }
          </tbody>
        </table>
      }
      else
      {
        <span>No flags have been added to this framework. Flags added here can be attached to competencies in your framework to allow them to be easily categorised and identified by learners.</span>
      }
    </dd>
    @if (Model.DetailFramework.UserRole > 1)
    {
      <dd class="nhsuk-summary-list__actions">
        @if (Model.Flags.Any())
        {
          <a asp-action="EditFrameworkFlags" asp-route-frameworkId="@Model.DetailFramework.ID">
            Edit<span class="nhsuk-u-visually-hidden"> flags</span>
          </a>
        }
        else
        {
          <a asp-action="EditFrameworkFlags" asp-route-frameworkId="@Model.DetailFramework.ID">
            Add<span class="nhsuk-u-visually-hidden"> flags</span>
          </a>
        }

      </dd>
    }
  </div>
</dl>
