@using DigitalLearningSolutions.Web.ViewModels.Frameworks;
@model FrameworkViewModel;
<h2 class="nhsuk-u-visually-hidden">Framework details</h2>
<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Name
    </dt>
    <dd class="nhsuk-summary-list__value">
      @Model.DetailFramework.FrameworkName
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a asp-action="CreateNewFramework" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-actionname="Edit">
        Change<span class="nhsuk-u-visually-hidden"> name</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Branding
    </dt>
    <dd class="nhsuk-summary-list__value">
      <span class="framework-brand">
        @Model.DetailFramework.Brand
      </span>
      @if (Model.DetailFramework.Category != null)
      {<span>/</span><span class="framework-category"> @Model.DetailFramework.Category </span>}
      @if (Model.DetailFramework.Topic != null)
      {<span>/</span><span class="framework-topic"> @Model.DetailFramework.Topic </span>}
    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a asp-action="SetNewFrameworkBrand" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-actionname="Edit">
        Change<span class="nhsuk-u-visually-hidden"> branding</span>
      </a>

    </dd>

  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Working group
    </dt>
    <dd class="nhsuk-summary-list__value">

      <table role="presentation" class="nhsuk-table-responsive">
        <thead role="rowgroup" class="nhsuk-table__head nhsuk-u-visually-hidden">
          <tr role="row" class="nhsuk-u-visually-hidden">
            <th role="columnheader" class="nhsuk-u-font-size-16" scope="col">
              User
            </th>
            <th role="columnheader" class="nhsuk-u-font-size-16" scope="col">
              Role
            </th>

          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          @foreach (var collaborator in Model.Collaborators)
          {
            <tr role="row" class="nhsuk-table__row collaborator-row">
              <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
                <span class="nhsuk-table-responsive__heading">User </span>
                <span class="framework-collaborator-user">
                  @collaborator.Surname, @collaborator.Forename (@collaborator.Email)
                </span>
              </td>
              <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
                <span class="nhsuk-table-responsive__heading">Role </span>
                <span class="framework-collaborator-role">
                  <partial name="Shared/_RoleTag" model="collaborator" />
                </span>
              </td>
            </tr>
          }
        </tbody>
      </table>

    </dd>

    <dd class="nhsuk-summary-list__actions">

      <a asp-action="AddCollaborators" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-actionname="Edit">
        Change<span class="nhsuk-u-visually-hidden"> working group members</span>
      </a>

    </dd>

  </div>

</dl>
