@using DigitalLearningSolutions.Web.ViewModels.Frameworks
@model CompetencyLearningResourceSignpostingParametersViewModel
@{
  var addOrEdit = Model.AssessmentQuestionParameter == null ? "Add" : "Edit";
  ViewData["Title"] = $"${addOrEdit} Signposting Parameters";
  ViewData["Application"] = "Framework Service";
}

@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFrameworks" asp-route-tabname="Mine">Frameworks</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-fragment="fc-@Model.FrameworkCompetencyId" asp-route-frameworkId="@Model.FrameworkId" asp-route-tabname="Structure">Framework Structure</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="EditCompetencyLearningResources" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId">Signposting</a></li>
        <li class="nhsuk-breadcrumb__item">@addOrEdit Parameters</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="EditCompetencyLearningResources" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId">Back to Signposting</a></p>
    </div>
  </nav>
}
<h1>@addOrEdit Signposting Parameters</h1>
<dl class="nhsuk-summary-list">
  <div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Competency
  </dt>
  <dd class="nhsuk-summary-list__value">
    @Model.Competency
  </dd>
  </div>
  <div class="nhsuk-summary-list__row">
  <dt class="nhsuk-summary-list__key">
    Resource name
  </dt>
  <dd class="nhsuk-summary-list__value">
    @Model.ResourceName
  </dd>
  </div>
</dl>
