@using DigitalLearningSolutions.Web.ViewModels.Frameworks
@model CompetencyResourceSignpostingViewModel

<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
  <form method="get" role="search">
    <div class="nhsuk-pagination__list">
      <div class="pagination-button-container">
        <div class="nhsuk-pagination-item--previous" @(Model.Page == 1 ? "hidden" : "")>
          <a class="nhsuk-pagination__link nhsuk-pagination__link--prev" type="submit"
             asp-action="SearchLearningResources"
             asp-route-frameworkId="@Model.FrameworkId"
             asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId"
             asp-route-searchText="@Model.SearchText"
             asp-route-page="@(Model.Page - 1)"
             asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId">
              <svg class="nhsuk-icon nhsuk-icon--arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                  <path d="M10.7 6.3c.4.4.4 1 0 1.4L7.4 11H19a1 1 0 0 1 0 2H7.4l3.3 3.3c.4.4.4 1 0 1.4a1 1 0 0 1-1.4 0l-5-5A1 1 0 0 1 4 12c0-.3.1-.5.3-.7l5-5a1 1 0 0 1 1.4 0Z" />
              </svg>
            <span class="nhsuk-pagination__title">Previous</span>
          </a>
        </div>
      </div>
      <div class="page-indicator-container">
        <span aria-live="polite" aria-atomic="true">
          <span class="nhsuk-u-visually-hidden">page </span>
          <span class="page-indicator">@Model.Page of @Model.TotalPages</span>
        </span>
      </div>
      <div class="pagination-button-container">
        <div class="nhsuk-pagination-item--next" @(Model.Page < Model.TotalPages ? "" : "hidden")>
          <a class="nhsuk-pagination__link nhsuk-pagination__link--next" type="submit"
             asp-action="SearchLearningResources"
             asp-route-frameworkId="@Model.FrameworkId"
             asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId"
             asp-route-searchText="@Model.SearchText"
             asp-route-page="@(Model.Page + 1)"
             asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId">
            <span class="nhsuk-pagination__title">Next</span>
            <svg class="nhsuk-icon nhsuk-icon--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
                <path d="m14.7 6.3 5 5c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-5 5a1 1 0 0 1-1.4-1.4l3.3-3.3H5a1 1 0 0 1 0-2h11.6l-3.3-3.3a1 1 0 1 1 1.4-1.4Z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
    <input id="FrameworkId" name="FrameworkId" type="hidden" value="@Model.FrameworkId" />
    <input id="FrameworkCompetencyGroupId" name="FrameworkCompetencyGroupId" type="hidden" value="@Model.FrameworkCompetencyGroupId" />
    <input id="FrameworkCompetencyId" name="FrameworkCompetencyId" type="hidden" value="@Model.FrameworkCompetencyId" />
    <input id="NameOfCompetency" name="NameOfCompetency" type="hidden" value="@Model.NameOfCompetency" />
    <input id="SearchText" name="SearchText" type="hidden" value="@Model.SearchText" />
    <input id="Page" name="Page" type="hidden" value="@Model.Page" />
  </form>
</nav>
