@using DigitalLearningSolutions.Web.ViewModels.Frameworks;
@using DigitalLearningSolutions.Web.Helpers;
@model CompetencyResourceSummaryViewModel

@{
  var parent = (CompetencyResourceSignpostingViewModel)ViewData["parent"];
}
<details class="nhsuk-details nhsuk-expander  nhsuk-u-margin-bottom-3">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      @DisplayStringHelper.RemoveMarkup(Model.Resource.Title)
    </span>
  </summary>
  <div class="nhsuk-card__content nhsuk-u-padding-bottom-3 nhsuk-u-padding-top-0 nhsuk-u-margin-1">
    @if (!String.IsNullOrEmpty(Model.Resource.ResourceType))
    {
      <div class="nhsuk-grid-row nhsuk-u-margin-left-1 nhsuk-u-clear">
        <strong class="nhsuk-tag nhsuk-tag--@(SignpostingHelper.DisplayTagColour(Model.Resource.ResourceType))">@DisplayStringHelper.AddSpacesToPascalCaseString(Model.Resource.ResourceType)</strong>
      </div>
    }
    <div class="nhsuk-u-margin-left-1 nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3">
      @Html.Raw(DisplayStringHelper.RemoveMarkup(Model.Description))
    </div>
    @if (Model.Catalogues.Count() > 0)
    {
      <form method="post" role="search" asp-controller="Frameworks">
        <div class="nhsuk-card__content nhsuk-u-margin-1 nhsuk-u-padding-0">
          <dl class="nhsuk-summary-list">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Catalogues
              </dt>
              <dd class="nhsuk-summary-list__value"></dd>
            </div>
            @foreach(var catalogue in Model.Catalogues)
            {
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key nhsuk-u-width-two-thirds">
                  @catalogue
                </dt>
                <dd class="nhsuk-summary-list__value">
                  <a class="nhsuk-button nhsuk-button--secondary small-edit-button nhsuk-u-margin-right-1"
                      asp-controller="SignpostingSso"
                      asp-action="ViewResource"
                      asp-route-resourceReferenceId="@Model.ReferenceId">Preview</a>
                  <button class="nhsuk-button small-edit-button"
                      asp-action="AddCompetencyLearningResourceSummary"
                      asp-route-SelectedCatalogue="@catalogue">
                    Select
                  </button>
                </dd>
              </div>
            }
          </dl>
        </div>
        @Html.HiddenFor(m => m.FrameworkId)
        @Html.HiddenFor(m => m.FrameworkCompetencyGroupId)
        @Html.HiddenFor(m => m.FrameworkCompetencyId)
        @Html.Hidden("ReferenceId", Model.ReferenceId)
        @Html.Hidden("CatalogueId", parent.CatalogueId)
        @Html.Hidden("Page", parent.Page)
        @Html.Hidden("Resource.Title", Model.Resource?.Title)
        @Html.Hidden("Resource.ResourceType", Model.Resource?.ResourceType)
        @Html.HiddenFor(m => m.Resource.Description)
        @Html.Hidden("NameOfCompetency", parent.NameOfCompetency)
        @Html.Hidden("SearchText", parent.SearchText)
        @Html.HiddenFor(m => m.Link)
        @Html.Hidden("Rating", Model.Resource?.Rating ?? 0)
      </form>
    }
  </div>
</details>

