@using DigitalLearningSolutions.Web.ViewModels.Frameworks;
@model FrameworkViewModel;
<h2>Framework structure</h2>
@if (Model.FrameworkCompetencyGroups.Any())
{
  foreach (var frameworkCompetencyGroup in Model.FrameworkCompetencyGroups)
  {
    <partial name="../Shared/_CompetencyGroupCard.cshtml" model="new CompetencyGroupCardViewModel { CanModify = Model.DetailFramework.UserRole > 1, FrameworkCompetencyGroup =frameworkCompetencyGroup }" view-data='@new ViewDataDictionary(ViewData) { { "VocabSingular", @Model.VocabSingular() }, {"VocabPlural", @Model.VocabPlural()  }, {"GroupCount", @Model.FrameworkCompetencyGroups.Count()  } }' />
  }
}
else
{
<p>No @Model.VocabSingular().ToLower() groups in this framework</p>
}
<div id="fc-ungrouped">
  @if (Model.FrameworkCompetencies.Any())
  {

    foreach (var frameworkCompetency in Model.FrameworkCompetencies)
    {
      <partial name="../Shared/_CompetencyCard.cshtml" model="new CompetencyCardViewModel { CanModify = Model.DetailFramework.UserRole > 1, FrameworkCompetencyGroupId = null, FrameworkCompetency = frameworkCompetency}" view-data='@new ViewDataDictionary(ViewData) { { "VocabSingular", @Model.VocabSingular() }, {"VocabPlural", @Model.VocabPlural()  } }' />
    }

  }
</div>
@if (Model.DetailFramework.UserRole > 1)
{
  <div class="nhsuk-grid-row nhsuk-u-margin-top-3">
    <div class="nhsuk-grid-column-full">
      <a class="nhsuk-button" asp-action="AddEditFrameworkCompetencyGroup" asp-route-frameworkId="@(ViewContext.RouteData.Values["frameworkId"])">Add new @Model.VocabSingular().ToLower() group</a>
      <a class="nhsuk-button nhsuk-button--secondary" asp-action="AddEditFrameworkCompetency" asp-route-frameworkId="@(ViewContext.RouteData.Values["frameworkId"])">Add new @Model.VocabSingular().ToLower() without a group</a>
    </div>
  </div>
}

