@using DigitalLearningSolutions.Web.ViewModels.Frameworks;
@using DigitalLearningSolutions.Web.Helpers;
@model CompetencyResourceSummaryViewModel
@{
  var parent = (CompetencyResourceSignpostingViewModel)ViewData["parent"];
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">

@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFrameworks" asp-route-tabname="Mine">Frameworks</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-fragment="fc-@Model.FrameworkCompetencyId" asp-route-frameworkId="@Model.FrameworkId" asp-route-tabname="Structure">Framework Structure</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="EditCompetencyLearningResources" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId">Signposting</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="AddCompetencyLearningResources" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId">Add Resource</a> </li>
        <li class="nhsuk-breadcrumb__item">Summary</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="AddCompetencyLearningResources" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId">Back to Add Resource</a></p>
    </div>
  </nav>
}
<h1>Add Competency Learning Resource Summary</h1>
<form method="post" role="search" asp-controller="Frameworks">
  <dl class="nhsuk-summary-list nhsuk-u-margin-bottom-3">
    <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Competency</dt>
    <dd class="nhsuk-summary-list__value">@Model.NameOfCompetency</dd>
    </div>
    <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Resource name</dt>
    <dd class="nhsuk-summary-list__value">@Model.ResourceName</dd>
    </div>
    <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Resource type</dt>
    <dd class="nhsuk-summary-list__value">@Model.ResourceType</dd>
    </div>
    <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Catalogue</dt>
    <dd class="nhsuk-summary-list__value">@Model.Catalogue</dd>
    </div>
    <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">Description</dt>
    <dd class="nhsuk-summary-list__value">@SignpostingHelper.DisplayText(Model.Description)</dd>
    </div>
    <div class="nhsuk-summary-list__row">
    <dd class="nhsuk-summary-list__key">
      <div class="nhsuk-u-margin-top-3">
        <button class="nhsuk-button small-edit-button nhsuk-u-margin-right-2" asp-action="ConfirmAddCompetencyLearningResourceSummary">
          Confirm
        </button>
        <button class="nhsuk-button nhsuk-button--secondary small-edit-button"
                asp-action="AddCompetencyLearningResources"
                asp-route-frameworkId="@Model.FrameworkId"
                asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId"
                asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId">
          Restart search
        </button>
      </div>
    </dd>
    <dd class="nhsuk-summary-list__value"></dd>
    </div>
  </dl>
  @Html.HiddenFor(m => m.FrameworkId)
  @Html.HiddenFor(m => m.FrameworkCompetencyGroupId)
  @Html.HiddenFor(m => m.FrameworkCompetencyId)
  @Html.HiddenFor(m => m.ReferenceId)
</form>
<div class="nhsuk-back-link nhsuk-u-margin-left-1">
  <a class="nhsuk-back-link__link" asp-action="AddCompetencyLearningResources" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
      <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
    </svg>
    Cancel
  </a>
</div>
