@using DigitalLearningSolutions.Web.ViewModels.Frameworks
@model AssessmentQuestionLevelDescriptorViewModel;
@{
  ViewData["Title"] = "Assessment Question";
  ViewData["Application"] = "Framework Service";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="FrameworksDashboard">Frameworks</a></li>
        @if (Model.FrameworkCompetencyId == 0)
        {
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-route-frameworkId="@Model.FrameworkId" asp-route-tabname="Details">Framework Details</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="FrameworkDefaultQuestions" asp-route-frameworkId="@ViewContext.RouteData.Values["frameworkId"]">Default Questions</a></li>
          <li class="nhsuk-breadcrumb__item">@(Model.AssessmentQuestionDetail.ID == 0 ? "New" : "Edit") Assessment Question</li>
        }
        else
        {
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-fragment="fc-@Model.FrameworkCompetencyId" asp-route-frameworkId="@Model.FrameworkId" asp-route-tabname="Structure">Framework Structure</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="EditCompetencyAssessmentQuestions" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId">@Model.vocabSingular() Assessment Questions</a></li>
          <li class="nhsuk-breadcrumb__item">@(Model.AssessmentQuestionDetail.ID == 0 ? "New" : "Edit") Assessment Question</li>
        }

      </ol>
      @if (Model.FrameworkCompetencyId == 0)
      {
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="FrameworkDefaultQuestions" asp-route-frameworkId="@ViewContext.RouteData.Values["frameworkId"]">Back to Default Questions</a></p>
      }
      else
      {
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="EditCompetencyAssessmentQuestions" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId">Back to @Model.vocabSingular() Assessment Questions</a></p>
      }
    </div>
  </nav>
}
<form method="post">
  @if (!ViewData.ModelState.IsValid)
  {
    <partial name="_ErrorSummary" />
  }
  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <p class="nhsuk-fieldset__heading">
        @Model.AssessmentQuestionDetail.Question
      </p>
      <p class="nhsuk-fieldset__heading">Radio button option @Model.LevelDescriptor.LevelValue</p>
    </legend>
    <nhs-form-group nhs-validation-for="LevelDescriptor.LevelLabel">
      <label class="nhsuk-label" for="tb-levelLabel-@Model.LevelDescriptor.LevelValue">
        Option @Model.LevelDescriptor.LevelValue label
      </label>
      <div class="nhsuk-hint" id="tb-levelLabel-@Model.LevelDescriptor.LevelValue-hint">
        How will this radio button option be labelled?
      </div>
      <span nhs-validation-for="LevelDescriptor.LevelLabel"></span>
      <input class="nhsuk-input" id="tb-levelLabel-@Model.LevelDescriptor.LevelValue" asp-for="@Model.LevelDescriptor.LevelLabel" error-class-toggle="nhsuk-input--error" name="LevelLabel" type="text">
    </nhs-form-group>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="tb-levelDescription-@Model.LevelDescriptor.LevelValue">
          Option @Model.LevelDescriptor.LevelValue description
        </label>
        <div class="nhsuk-hint" id="tb-levelDescription-@Model.LevelDescriptor.LevelValue-hint">
          What additional description (if any) should be provided for this radio button option?
        </div>
        <textarea class="nhsuk-input text-area-edit-90" placeholder="Optional" id="tb-levelDescription-@Model.LevelDescriptor.LevelValue" asp-for="@Model.LevelDescriptor.LevelDescription" name="LevelDescription" type="text"></textarea>
      </div>
      <input name="ID" type="hidden" asp-for="@Model.LevelDescriptor.ID" />
      <input name="LevelValue" type="hidden" asp-for="@Model.LevelDescriptor.LevelValue" />
      <input name="UpdatedByAdminID" type="hidden" asp-for="@Model.LevelDescriptor.UpdatedByAdminID" />
</fieldset>
  <button class="nhsuk-button" type="submit">
    Next
  </button>
  @if (Model.FrameworkCompetencyId == 0)
  {
    <a class="nhsuk-button nhsuk-button--secondary" asp-action="FrameworkDefaultQuestions" asp-route-frameworkId="@ViewContext.RouteData.Values["frameworkId"]">
      Cancel
    </a>
  }
  else
  {
    <a class="nhsuk-button nhsuk-button--secondary" asp-action="EditCompetencyAssessmentQuestions" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId">
      Cancel
    </a>
  }
</form>
