@using DigitalLearningSolutions.Web.ViewModels.Frameworks
@model AssessmentQuestionViewModel;
@{
  ViewData["Title"] = "Assessment Question";
  ViewData["Application"] = "Framework Service";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
<link rel="stylesheet" href="@Url.Content("~/css/jodit.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="FrameworksDashboard">Frameworks</a></li>
        @if (Model.FrameworkCompetencyId == 0)
        {
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-route-frameworkId="@Model.FrameworkId" asp-route-tabname="Details">Framework Details</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="FrameworkDefaultQuestions" asp-route-frameworkId="@ViewContext.RouteData.Values["frameworkId"]">Default Questions</a></li>
          <li class="nhsuk-breadcrumb__item">@(Model.AssessmentQuestionDetail.ID == 0 ? "New" : "Edit") Assessment Question</li>
        }
        else
        {
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-fragment="fc-@Model.FrameworkCompetencyId" asp-route-frameworkId="@Model.FrameworkId" asp-route-tabname="Structure">Framework Structure</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="EditCompetencyAssessmentQuestions" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId">Competency Assessment Questions</a></li>
          <li class="nhsuk-breadcrumb__item">@(Model.AssessmentQuestionDetail.ID == 0 ? "New" : "Edit") Assessment Question</li>
        }

      </ol>
      @if (Model.FrameworkCompetencyId == 0)
      {
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="FrameworkDefaultQuestions" asp-route-frameworkId="@ViewContext.RouteData.Values["frameworkId"]">Back to Default Questions</a></p>
      }
      else
      {
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="EditCompetencyAssessmentQuestions" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId">Back to Competency Assessment Questions</a></p>
      }
    </div>
  </nav>
}
<form method="post">
  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
      <h1 class="nhsuk-fieldset__heading">
        @Model.AssessmentQuestionDetail.Question - Options
      </h1>
    </legend>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="tb-scoringInstructions">
        Scoring instructions
      </label>
      <div class="nhsuk-hint" id="tb-scoringInstructions-hint">
        When this question is presented to the user, what instructions (if any) should be presented to assist them in answering?
      </div>
      <textarea class="nhsuk-input html-editor" placeholder="Optional" id="tb-scoringInstructions" asp-for="AssessmentQuestionDetail.ScoringInstructions" name="ScoringInstructions" type="text"></textarea>
    </div>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" asp-for="AssessmentQuestionDetail.IncludeComments">
        Comments field
      </label>
      <div class="nhsuk-hint" id="includeComments-hint">
        When this question is presented, should the user be prompted for supporting comments by default?
      </div>
      <div class="nhsuk-checkboxes">
        <div class="nhsuk-radios">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="rb-includeComments-yes" asp-for="AssessmentQuestionDetail.IncludeComments" name="IncludeComments" type="radio" value="true">
            <label class="nhsuk-label nhsuk-radios__label" for="rb-includeComments-yes">
              Yes
            </label>
          </div>
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="rb-includeComments-no" asp-for="AssessmentQuestionDetail.IncludeComments" name="IncludeComments" type="radio" value="false">
            <label class="nhsuk-label nhsuk-radios__label" for="rb-includeComments-no">
              No
            </label>
          </div>
        </div>
      </div>
    </div>
    @*<input name="IncludeComments" type="hidden" asp-for="AssessmentQuestionDetail.IncludeComments" />
    <input name="ScoringInstructions" type="hidden" asp-for="AssessmentQuestionDetail.ScoringInstructions" />*@
    <input name="MinValue" type="hidden" asp-for="AssessmentQuestionDetail.MinValue" />
    <input name="MaxValue" type="hidden" asp-for="AssessmentQuestionDetail.MaxValue" />
    <input name="MaxValueDescription" type="hidden" asp-for="AssessmentQuestionDetail.MaxValueDescription" />
    <input name="MinValueDescription" type="hidden" asp-for="AssessmentQuestionDetail.MinValueDescription" />
    <input name="Question" type="hidden" asp-for="AssessmentQuestionDetail.Question" />
    <input name="AssessmentQuestionInputTypeID" type="hidden" asp-for="AssessmentQuestionDetail.AssessmentQuestionInputTypeID" />
    <input name="InputTypeName" type="hidden" asp-for="AssessmentQuestionDetail.InputTypeName" />
    <input name="AddedByAdminId" type="hidden" asp-for="AssessmentQuestionDetail.AddedByAdminId" />
    <input name="UserIsOwner" type="hidden" asp-for="AssessmentQuestionDetail.UserIsOwner" />
  </fieldset>
  <button class="nhsuk-button" type="submit">
    Next
  </button>
  @if (Model.FrameworkCompetencyId == 0)
  {
    <a class="nhsuk-button nhsuk-button--secondary" asp-action="FrameworkDefaultQuestions" asp-route-frameworkId="@ViewContext.RouteData.Values["frameworkId"]">
      Cancel
    </a>
  }
  else
  {
    <a class="nhsuk-button nhsuk-button--secondary" asp-action="EditCompetencyAssessmentQuestions" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId">
      Cancel
    </a>
  }
</form>
@section scripts {
  <script src="@Url.Content("~/js/frameworks/htmleditor.js")" asp-append-version="true"></script>
}
