@using DigitalLearningSolutions.Web.ViewModels.Frameworks
@model AssessmentQuestionViewModel;
@{
  ViewData["Title"] = "Assessment Question";
  ViewData["Application"] = "Framework Service";
  ViewData["HeaderPathName"] = "Framework Service";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
  @section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFrameworks" asp-route-tabname="Mine">Frameworks</a></li>
        @if (Model.FrameworkCompetencyId == 0)
        {
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-tabname="Details">Framework Details</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="FrameworkDefaultQuestions" asp-route-frameworkId="@ViewContext.RouteData.Values["frameworkId"]">Default Questions</a></li>
          <li class="nhsuk-breadcrumb__item">@(Model.AssessmentQuestionDetail.ID == 0 ? "New" : "Edit") Assessment Question</li>
        }
        else
        {
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-fragment="fc-@Model.FrameworkCompetencyId" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-tabname="Structure">Framework Structure</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="EditCompetencyAssessmentQuestions" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId">@Model.VocabSingular() Assessment Questions</a></li>
          <li class="nhsuk-breadcrumb__item">@(Model.AssessmentQuestionDetail.ID == 0 ? "New" : "Edit") Assessment Question</li>
        }

      </ol>
      @if (Model.FrameworkCompetencyId == 0)
      {
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="FrameworkDefaultQuestions" asp-route-frameworkId="@ViewContext.RouteData.Values["frameworkId"]">Back to Default Questions</a></p>
      }
      else
      {
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="EditCompetencyAssessmentQuestions" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId">Back to @Model.VocabSingular() Assessment Questions</a></p>
      }
    </div>
  </nav>
}
  <h1>@Model.AssessmentQuestionDetail.Question</h1>
  <form method="post">
    <fieldset class="nhsuk-fieldset">
      @if (Model.AssessmentQuestionDetail.AssessmentQuestionInputTypeID == 2)
    {
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <span class="nhsuk-fieldset__heading">
          Scoring range
        </span>
      </legend>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="tb-minValue">
          Minimum value
        </label>
        <div class="nhsuk-hint" id="tb-minValue-hint">
          What is the minimum score a user will be able to choose against this question?
        </div>
        <input class="nhsuk-input nhsuk-input--width-5" id="tb-minValue" asp-for="AssessmentQuestionDetail.MinValue" name="MinValue" inputmode="numeric" type="number">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="tb-minValueDescription">
          Minimum value label
        </label>
        <div class="nhsuk-hint" id="tb-minValueDescription-hint">
          What text should appear at the low end of the rating slider?
        </div>
        <input class="nhsuk-input" id="tb-minValueDescription" asp-for="AssessmentQuestionDetail.MinValueDescription" name="MinValueDescription" type="text">
      </div>
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="tb-maxValue">
          Maximum value
        </label>
        <div class="nhsuk-hint" id="tb-question-hint">
          What is the maximum score a user will be able to choose against this question?
        </div>
        <input class="nhsuk-input nhsuk-input--width-5" id="tb-maxValue" asp-for="AssessmentQuestionDetail.MaxValue" name="MaxValue" inputmode="numeric" type="number">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="tb-maxValueDescription">
          Maximum value label
        </label>
        <div class="nhsuk-hint" id="tb-maxValueDescription-hint">
          What text should appear at the high end of the rating slider?
        </div>
        <input class="nhsuk-input" id="tb-maxValueDescription" asp-for="AssessmentQuestionDetail.MaxValueDescription" name="MaxValueDescription" type="text">
      </div>
    }
    else
    {
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <span class="nhsuk-fieldset__heading">
          Radio button options
        </span>
      </legend>
      <input name="MinValue" type="hidden" asp-for="AssessmentQuestionDetail.MinValue" value="1" />
      <input name="MinValueDescription" type="hidden" asp-for="AssessmentQuestionDetail.MinValueDescription" />
      <input name="MaxValueDescription" type="hidden" asp-for="AssessmentQuestionDetail.MaxValueDescription" />
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="tb-maxValue">
          How many radio button options will be presented to the user?
        </label>
        <input class="nhsuk-input nhsuk-input--width-5" id="tb-maxValue" asp-for="AssessmentQuestionDetail.MaxValue" name="MaxValue" inputmode="numeric" type="number">
      </div>
    }
    <input name="ID" type="hidden" asp-for="AssessmentQuestionDetail.ID" />
    <input name="Question" type="hidden" asp-for="AssessmentQuestionDetail.Question" />
    <input name="AssessmentQuestionInputTypeID" type="hidden" asp-for="AssessmentQuestionDetail.AssessmentQuestionInputTypeID" />
    <input name="InputTypeName" type="hidden" asp-for="AssessmentQuestionDetail.InputTypeName" />
    <input name="AddedByAdminId" type="hidden" asp-for="AssessmentQuestionDetail.AddedByAdminId" />
    <input name="UserIsOwner" type="hidden" asp-for="AssessmentQuestionDetail.UserIsOwner" />
    <input name="IncludeComments" type="hidden" asp-for="AssessmentQuestionDetail.IncludeComments" />
    <input name="ScoringInstructions" type="hidden" asp-for="AssessmentQuestionDetail.ScoringInstructions" />
    <input name="CommentsPrompt" type="hidden" asp-for="AssessmentQuestionDetail.CommentsPrompt" />
    <input name="CommentsHint" type="hidden" asp-for="AssessmentQuestionDetail.CommentsHint" />
  </fieldset>
  <a class="nhsuk-button nhsuk-button--secondary" role="button" asp-action="EditAssessmentQuestion" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-assessmentQuestionId="@ViewContext.RouteData.Values["assessmentQuestionId"]" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId">
    Back
  </a>
  <button class="nhsuk-button" type="submit">
    Next
  </button>
  @if (Model.FrameworkCompetencyId == 0)
  {
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" asp-action="FrameworkDefaultQuestions" asp-route-frameworkId="@ViewContext.RouteData.Values["frameworkId"]">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        Cancel
      </a>
    </div>
  }
  else
  {
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" asp-action="EditCompetencyAssessmentQuestions" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        Cancel
      </a>
    </div>
  }
</form>
