@using DigitalLearningSolutions.Web.ViewModels.Frameworks
@model BrandingViewModel
@{
  ViewData["Title"] = "Framework Branding";
  ViewData["Application"] = "Framework Service";
  ViewData["HeaderPathName"] = "Framework Service";
}

@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
  @if ((string)ViewContext.RouteData.Values["actionname"] == "New")
{
  @section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFrameworks" asp-route-tabname="Mine">Frameworks</a></li>
        <li class="nhsuk-breadcrumb__item">Create framework</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="ViewFrameworks" asp-route-tabname="Mine">Back to My Frameworks</a></p>
    </div>
  </nav>
  }
}
else
{
  @section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFrameworks" asp-route-tabname="Mine">Frameworks</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-tabname="Details">Framework Details</a></li>
        <li class="nhsuk-breadcrumb__item">Branding</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="ViewFramework" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-tabname="Details">Back to framework detail</a></p>
    </div>
  </nav>
  }
}
<h1>Choose Framework Categorisation</h1>
<p>This will be visible to Framework Service users when they browse frameworks and help them to identify where the framework is from and what it contains.</p>
<form method="post">
  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
      <h2>How should the framework, @Model.DetailFramework.FrameworkName, be categorised?</h2>
    </legend>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="brand-select">
        Provider name
      </label>
      <select class="nhsuk-select" id="brand-select" name="BrandID" asp-for="DetailFramework.BrandID" asp-items="Model.BrandSelectList">
        <option value="0">* New brand *</option>
      </select>
      <div id="new-brand-field" class="non-js-only nhsuk-inset-text nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
        <label class="nhsuk-label" for="brand-field">
          New provider name (available to other users at your DLS centre)
        </label>
        <input type="text" id="brand-field" name="Brand" class="nhsuk-input nhsuk-u-width-two-thirds" asp-for="DetailFramework.Brand" />
      </div>
    </div>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="category-select">
        Category
      </label>
      <select class="nhsuk-select" id="category-select" name="CategoryID" asp-for="DetailFramework.CategoryID" asp-items="Model.CategorySelectList">
        <option value="0">* New category *</option>
      </select>
      <div id="new-category-field" class="non-js-only nhsuk-inset-text nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
        <label class="nhsuk-label" for="category-field">
          New category name (available to other users at your DLS centre)
        </label>
        <input type="text" id="category-field" name="Category" class="nhsuk-input nhsuk-u-width-two-thirds" asp-for="DetailFramework.Category" />
      </div>
    </div>
    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="topic-select">
        Topic
      </label>
      <select class="nhsuk-select" id="topic-select" name="TopicID" asp-for="DetailFramework.TopicID" asp-items="Model.TopicSelectList">
        <option value="0">* New topic *</option>
      </select>
      <div id="new-topic-field" class="non-js-only nhsuk-inset-text nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">
        <label class="nhsuk-label" for="topic-field">
          New topic name (available to other users at your DLS centre)
        </label>
        <input type="text" id="topic-field" class="nhsuk-input nhsuk-u-width-two-thirds" name="Topic" asp-for="DetailFramework.Topic" />
      </div>
    </div>
  </fieldset>
  @if ((string)ViewContext.RouteData.Values["actionname"] == "New")
  {
    <a class="nhsuk-button nhsuk-button--secondary" role="button" asp-action="FrameworkType" asp-route-actionname="@(ViewContext.RouteData.Values["actionname"])">
      Back
    </a>
    <button class="nhsuk-button" role="button" type="submit">
      Next
    </button>
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" asp-action="ViewFrameworks" asp-route-tabname="Mine">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        Cancel
      </a>
    </div>
  }
  else
  {
    @if (Model.DetailFramework.PublishStatusID == 3)
    {
      <partial name="Shared/_PublishedWarning" />
    }
    <button class="nhsuk-button" type="submit">
      Save
    </button>
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" asp-action="ViewFramework" asp-route-frameworkId="@Model.DetailFramework.ID" asp-route-tabname="Details">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        Cancel
      </a>
    </div>
  }
</form>
@section scripts {
  <script src="@Url.Content("~/js/frameworks/branding.js")" asp-append-version="true"></script>
}
