@using DigitalLearningSolutions.Web.ViewModels.Frameworks;
@model CompetencyLearningResourceSignpostingParametersViewModel
@{
  var addOrEdit = Model.AssessmentQuestionParameter == null ? "Add" : "Edit";
  ViewData["Title"] = $"{addOrEdit} Signposting Parameters";
  ViewData["Application"] = "Framework Service";
}
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFrameworks" asp-route-tabname="Mine">Frameworks</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-fragment="fc-@Model.FrameworkCompetencyId" asp-route-frameworkId="@Model.FrameworkId" asp-route-tabname="Structure">Framework Structure</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="EditCompetencyLearningResources" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId">Signposting</a></li>
        <li class="nhsuk-breadcrumb__item">Parameters</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="EditCompetencyLearningResources" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId">Back to Signposting</a></p>
    </div>
  </nav>
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
<partial name="Developer/_SignpostingParametersHeader" model="Model" />

<h2>Compare self-assessment result to</h2>
<label class="nhsuk-label nhsuk-u-margin-bottom-4">
  Optionally choose a maechanism to dermine whether the individual is meetinf their role-requirements for this competency.
  If they are not, the prominence of this learning resource in their recommendations will increase.
</label>
<form method="post" asp-controller="Frameworks">
  <fieldset class="nhsuk-fieldset nhsuk-u-margin-top-5">
    <div class="nhsuk-radios nhsuk-radios--conditional">
      <div class="nhsuk-radios__item">
        <input name="compareQuestionType" type="radio" class="nhsuk-radios__input" value="0">
        <label class="nhsuk-label nhsuk-radios__label">
          Don't compare result
        </label>
      </div>
      <div class="nhsuk-radios__item">
        <input type="radio" name="compareQuestionType" class="nhsuk-radios__input" value="1">
        <label class="nhsuk-label nhsuk-radios__label">
          Competency assesstment question role requirements
        </label>
      </div>
      @if (Model.Questions?.Count > 1)
      {
        <div class="nhsuk-radios__item">
          <input id="compareToOther" type="radio" name="compareQuestionType" class="nhsuk-radios__input" aria-controls="conditional-compareToOther" aria-expanded="false" value="2">
          <label class="nhsuk-label nhsuk-radios__label" for="compareToOther">
            Other competency assessment question response
          </label>
        </div>

        <div id="conditional-compareToOther" class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden">
          <label class="nhsuk-label" for="email">
            <select name="compareToQuestionId" class="nhsuk-select nhsuk-u-width-two-thirds nhsuk-u-margin-top-3">
              @foreach (var question in Model.Questions)
              {
                <option value="@question.ID">@question.Question</option>
              }
            </select>
          </label>
        </div>

      }
    </div>
  </fieldset>
  <div class="nhsuk-u-margin-top-6">
    <a asp-action="@(Model.SelectedQuestion != null ? "SignpostingParametersSetStatusView" : "EditSignpostingParameters")"
       asp-route-frameworkId="@Model.FrameworkId"
       asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId"
       asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-2">
      Back
    </a>
    <button asp-action="CompareSelfAssessmentResultNext" class="nhsuk-button nhsuk-u-margin-right-1" type="submit">
      Next
    </button>
  </div>
</form>
