@using DigitalLearningSolutions.Web.ViewModels.Frameworks
@model CustomFlagsViewModel
@{
    var frameworkId = @ViewContext.RouteData.Values["frameworkId"];
    ViewData["Title"] = "Framework Custom Flags";
    ViewData["Application"] = "Framework Service";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFrameworks" asp-route-tabname="Mine">Frameworks</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-route-frameworkId="@frameworkId" asp-route-tabname="Details">Framework Details</a></li>
        <li class="nhsuk-breadcrumb__item">Custom Flags</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="ViewFramework" asp-route-frameworkId="@frameworkId" asp-route-tabname="Details">Back to framework detail</a></p>
    </div>
  </nav>
}
<h1>Framework custom flags</h1>
<div class="nhsuk-table__panel-with-heading-tab">
  <h2 class="nhsuk-table__heading-tab">Custom flags</h2>
  <table role="presentation" class="nhsuk-table-responsive">
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Flag
        </th>
        <th role="columnheader" class="" scope="col">
          Group
        </th>
        @if (Model.Flags.Any())
        {
          <th role="columnheader" class="" scope="col">
            Actions
          </th>
        }
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      @foreach (var flag in Model.Flags)
      {
        <tr role="row" class="nhsuk-table__row collaborator-row">
          <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
            <span class="nhsuk-table-responsive__heading">Flag </span>
            <span class="framework-collaborator-user">
              @flag.FlagName
            </span>
          </td>
          <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
            <span class="nhsuk-table-responsive__heading">Group </span>
            <span class="framework-collaborator-role">
              <span class="framework-collaborator-user">
                @flag.FlagGroup
              </span>
            </span>
          </td>
          @if (Model.Flags.Any())
          {
            <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
              <span class="nhsuk-table-responsive__heading">Actions </span>
              <a asp-action="EditFrameworkFlag"
                 asp-route-frameworkId="@frameworkId"
                 asp-route-flagId="@flag.FlagId"
                 asp-route-actionname="Edit"
                 class="nhsuk-u-padding-right-1">Edit</a>
              <a asp-action="RemoveFrameworkFlag"
                 asp-route-frameworkId="@frameworkId"
                 asp-route-flagId="@flag.FlagId"
                 asp-route-actionname="Delete">Remove</a>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
<form method="get">
  <button class="nhsuk-button nhsuk-button--secondary button-small"
          asp-action="EditFrameworkFlag"
          asp-route-frameworkId="@frameworkId"
          asp-route-flagId="0"
          asp-route-actionname="New">Add custom flag
  </button>
</form>
<div class=" nhsuk-u-margin-top-6">
  <a class="nhsuk-button" asp-action="ViewFramework" asp-route-frameworkId="@frameworkId" asp-route-tabname="Structure">
    Done
  </a>
</div>


