@using DigitalLearningSolutions.Web.ViewModels.Frameworks
@model DefaultQuestionsViewModel;
@{
  ViewData["Title"] = "Framework Default Questions";
  ViewData["Application"] = "Framework Service";
  ViewData["HeaderPathName"] = "Framework Service";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
  @section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFrameworks" asp-route-tabname="Mine">Frameworks</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-route-frameworkId="@Model.BaseFramework.ID" asp-route-tabname="Details">Framework Details</a></li>
        <li class="nhsuk-breadcrumb__item">Default Questions</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="ViewFramework" asp-route-frameworkId="@Model.BaseFramework.ID" asp-route-tabname="Details">Back to Framework Details</a></p>
    </div>
  </nav>
}
  <h1 class="truncate-overflow">@Model.BaseFramework.FrameworkName</h1>
  <h2>Framework default assessment questions</h2>
  <p class="nhsuk-body-l">Default assessment questions listed here will be applied to any new competencies added to this framework. You will be able to remove default questions from competencies where appropriate and add bespoke (non-default) questions to a competency, if required.</p>
  @if (Model.BaseFramework.PublishStatusID == 3)
{
  <partial name="Shared/_PublishedWarning" />
}
<div class="nhsuk-table__panel-with-heading-tab">
  <h3 class="nhsuk-table__heading-tab">Default assessment questions for framework competencies</h3>

  @if (Model.AssessmentQuestions.Any())
  {
    <table class="nhsuk-table-responsive">
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Question
          </th>
          <th role="columnheader" class="" scope="col">
            Input type/Range
          </th>
          <th role="columnheader" class="" scope="col">
            Actions
          </th>
        </tr>
      </thead>

      <tbody class="nhsuk-table__body">
        @foreach (var question in Model.AssessmentQuestions)
        {
          <tr role="row" class="nhsuk-table__row collaborator-row">
            <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
              <span class="nhsuk-table-responsive__heading">Question </span>
              <span class="framework-collaborator-user">
                @question.Question
              </span>
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
              <span class="nhsuk-table-responsive__heading">Input type/Range </span>
              <span class="framework-collaborator-role">
                @question.InputTypeName (@question.MinValue - @question.MaxValue)
              </span>
            </td>
            <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
              <span class="nhsuk-table-responsive__heading">Actions </span>
              <a asp-action="RemoveDefaultQuestion" asp-route-frameworkId="@Model.BaseFramework.ID" asp-route-assessmentQuestionId="@question.ID" asp-route-actionname="@(ViewContext.RouteData.Values["actionname"])">
                Remove
              </a>
              @if (question.UserIsOwner)
              {
                <span>&nbsp;</span>
                <a asp-action="StartAssessmentQuestionSession" asp-route-assessmentQuestionId="@question.ID" asp-route-frameworkCompetencyId="0" asp-route-frameworkId="@Model.BaseFramework.ID" asp-route-actionname="@(ViewContext.RouteData.Values["actionname"])">
                  Edit
                </a>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
  else
  {
    <p>No default assessment questions have been set for this framework.</p>
  }
</div>

<form method="post">
  <label class="nhsuk-label nhsuk-u-margin-top-6" for="add-user-hint">
    <h3>Add a question</h3>
  </label>
  <div class="nhsuk-hint" id="add-user-hint">
    Add an existing default assessment question to the framework
  </div>
  <select class="nhsuk-select nhsuk-u-width-three-quarters" asp-items="Model.QuestionSelectList" asp-for="assessmentQuestionId" aria-label="Question"></select>
  <button class="nhsuk-button button-small nhsuk-button--secondary button-small" title="Add and apply to existing competencies" asp-route-addToExisting="True" asp-route-frameworkId="@Model.BaseFramework.ID">
    Add and apply <span class="visually-hidden"> to existing competencies</span>
  </button>
  <button class="nhsuk-button nhsuk-button--secondary button-small" title="Add without applying to existing competencies" asp-route-addToExisting="False" asp-route-frameworkId="@Model.BaseFramework.ID">
    Add
  </button>
</form>
<a class="nhsuk-button nhsuk-button--secondary" role="button" asp-action="StartAssessmentQuestionSession" asp-route-frameworkId="@Model.BaseFramework.ID" asp-route-frameworkCompetencyId="0" asp-route-actionname="@(ViewContext.RouteData.Values["actionname"])">
  Add a new question
</a>
<div class=" nhsuk-u-margin-top-6">
  <a class="nhsuk-button" role="button" asp-action="ViewFramework" asp-route-frameworkId="@ViewContext.RouteData.Values["frameworkId"]" asp-route-tabname="Details">
    Done
  </a>
</div>
