@using DigitalLearningSolutions.Web.ViewModels.Frameworks;
@model CompetencyLearningResourceSignpostingParametersViewModel
@{
  var addOrEdit = Model.AssessmentQuestionParameter.IsNew ? "Add" : "Edit";
  ViewData["Title"] = $"{addOrEdit} Signposting Parameters";
  ViewData["Application"] = "Framework Service";
  ViewData["HeaderPathName"] = "Framework Service";
}
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
  @section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFrameworks" asp-route-tabname="Mine">Frameworks</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-fragment="fc-@Model.FrameworkCompetencyId" asp-route-frameworkId="@Model.FrameworkId" asp-route-tabname="Structure">Framework Structure</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="EditCompetencyLearningResources" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId">Signposting</a></li>
        <li class="nhsuk-breadcrumb__item">Parameters</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="EditCompetencyLearningResources" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId">Back to Signposting</a></p>
    </div>
  </nav>
}
  <link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">

  <partial name="Developer/_SignpostingParametersHeader" model="Model" />
  <h2>Choose assessment question for signposting</h2>
  <label class="nhsuk-label">Which assessment question will be used to determine whether this learning resource is at the right level for the learner?</label>
  <form method="post" asp-controller="Frameworks">
    <nhs-form-group nhs-validation-for="SelectedQuestion.ID">
      <fieldset class="nhsuk-fieldset nhsuk-u-margin-top-5">
        <div class="nhsuk-radios">
          @foreach (var question in Model.Questions)
        {
          <div class="nhsuk-radios__item">
            <input type="radio"
                 id="Question@(question.ID)"
                 name="SelectedQuestion.ID"
                 @(question.ID == Model.SelectedQuestion?.ID ? "checked" : String.Empty)
                 required="required"
                 value="@question.ID"
                 class="nhsuk-radios__input">
            <label class="nhsuk-label nhsuk-radios__label" for="Question@(question.ID)">
              @question.Question
            </label>
          </div>
        }
      </div>
    </fieldset>
    <div class="nhsuk-u-margin-top-5">
      <a asp-action="EditCompetencyLearningResources"
         asp-route-frameworkId="@Model.FrameworkId"
         asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId"
         asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-2">
        Back
      </a>
      <a asp-action="EditSignpostingParametersSkip"
         asp-route-frameworkId="@Model.FrameworkId"
         asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId"
         asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-2">
        Skip
      </a>
      <button asp-action="EditSignpostingParametersNext" class="nhsuk-button nhsuk-u-margin-right-1" type="submit">
        Next
      </button>
    </div>
    @Html.HiddenFor(m => m.FrameworkId)
    @Html.HiddenFor(m => m.FrameworkCompetencyGroupId)
    @Html.HiddenFor(m => m.FrameworkCompetencyId)
    @Html.HiddenFor(m => m.SelectedQuestion.ID)
    <span asp-validation-for="SelectedQuestion.ID" class="text-danger"></span>
  </nhs-form-group>
</form>

<div class="nhsuk-back-link nhsuk-u-margin-left-1">
  <a class="nhsuk-back-link__link" asp-action="EditCompetencyLearningResources" asp-route-frameworkId="@Model.FrameworkId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetencyId" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
      <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
    </svg>
    Cancel
  </a>
</div>

@section scripts {
  <script src="@Url.Content("~/js/supervisor/assessmentVerify.js")" asp-append-version="true"></script>
}
