@using DigitalLearningSolutions.Web.ViewModels.Frameworks;
@model FrameworkViewModel;
@{
    ViewData["Title"] = Model.DetailFramework.FrameworkName;
    ViewData["Application"] = "Framework Service";
    ViewData["HeaderPathName"] = "Framework Service";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
    <partial name="Shared/_NavMenuItems" />
}
@section NavBreadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFrameworks" asp-route-tabname="Mine">Frameworks</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-route-frameworkId="@(ViewContext.RouteData.Values["frameworkId"])" asp-route-tabname="Structure">Framework @ViewContext.RouteData.Values["tabname"]</a></li>
                <li class="nhsuk-breadcrumb__item">Print layout</li>
            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="ViewFramework" asp-route-frameworkId="@(ViewContext.RouteData.Values["frameworkId"])" asp-route-tabname="Structure">Back to Framework</a></p>
        </div>
    </nav>
}
<div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-full">
        <h1>
            @Model.DetailFramework.FrameworkName
        </h1>
    </div>
</div>
