@using DigitalLearningSolutions.Web.ViewModels.Frameworks
@model RemoveDefaultQuestionViewModel;
@{
  ViewData["Title"] = "Remove Default Questions";
  ViewData["Application"] = "Framework Service";
  ViewData["HeaderPathName"] = "Framework Service";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
  @section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFrameworks" asp-route-tabname="Mine">Frameworks</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-route-frameworkId="@Model.BaseFramework.ID" asp-route-tabname="Details">Framework Details</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="FrameworkDefaultQuestions" asp-route-frameworkId="@ViewContext.RouteData.Values["frameworkId"]" asp-route-actionname="@(ViewContext.RouteData.Values["actionname"])">Default Questions</a></li>
        <li class="nhsuk-breadcrumb__item">Remove Default Question</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="ViewFrameworks" asp-route-tabname="Mine">Back to My Frameworks</a></p>
    </div>
  </nav>
}
  <h1>Remove default assessment question</h1>
  <p>You have chosen to remove the default question <strong>@Model.FrameworkDefaultQuestionUsage.Question</strong>.</p>
  @if (Model.FrameworkDefaultQuestionUsage.CompetencyAssessmentQuestions == Model.FrameworkDefaultQuestionUsage.Competencies)
{
  <p>The question is currently applied to all @Model.FrameworkDefaultQuestionUsage.Competencies competencies in this framework.</p>
}
else
{
  <p>The question is currently applied to @Model.FrameworkDefaultQuestionUsage.CompetencyAssessmentQuestions of the @Model.FrameworkDefaultQuestionUsage.Competencies competencies in this framework.</p>
}
@if (Model.BaseFramework.PublishStatusID == 3)
{
  <partial name="Shared/_PublishedWarning" />
}
<p>Do you want to remove the question from those competencies, too?</p>
<div class=" nhsuk-u-margin-top-6">
  <a class="nhsuk-button" role="button" asp-action="ConfirmRemoveDefaultQuestion" asp-route-frameworkId="@Model.BaseFramework.ID" asp-route-deleteFromExisting="True" asp-route-assessmentQuestionId="@Model.AssessmentQuestionId" asp-route-actionname="@(ViewContext.RouteData.Values["actionname"])">
    Yes
  </a>
  <a class="nhsuk-button" role="button" asp-action="ConfirmRemoveDefaultQuestion" asp-route-frameworkId="@Model.BaseFramework.ID" asp-route-deleteFromExisting="False" asp-route-assessmentQuestionId="@Model.AssessmentQuestionId" asp-route-actionname="@(ViewContext.RouteData.Values["actionname"])">
    No
  </a>
  <a class="nhsuk-button nhsuk-button--secondary" role="button" asp-action="FrameworkDefaultQuestions" asp-route-frameworkId="@ViewContext.RouteData.Values["frameworkId"]" asp-route-actionname="@(ViewContext.RouteData.Values["actionname"])">
    Cancel
  </a>
</div>

