@using DigitalLearningSolutions.Web.ViewModels.Common.SearchablePage
@model BaseSearchablePageViewModel

<form method="get" role="search">
  @if (Model.FilterEnabled)
  {
    <input type="hidden" name="filterBy" value="@Model.FilterBy" />
  }
  @foreach (var (key, value) in Model.RouteData)
  {
    <input type="hidden" name="@key" value="@value" />
  }
  <input type="hidden" name="sortBy" value="@Model.SortBy" />
  <input type="hidden" name="sortDirection" value="@Model.SortDirection" />
  <div class="search-box-container" id="search">
    <label class="nhsuk-u-visually-hidden" for="search-field">@Model.SearchLabel</label>
    <input class="search-box" id="search-field" name="searchString" type="search" placeholder="Search" autocomplete="off" value="@Model.SearchString">
    <button class="nhsuk-search__submit nhsuk-search__submit sort-submit" type="submit">
      Search
    </button>
  </div>
</form>
