@using DigitalLearningSolutions.Data.Models.Frameworks;
@model DetailFramework
@{
  ViewData["Title"] = "Framework Summary";
  ViewData["Application"] = "Framework Service";
  ViewData["HeaderPathName"] = "Framework Service";
}
<link rel="stylesheet" href="@Url.Content("~/css/jodit.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
  <h1>New framework summary</h1>
  <p class="nhsuk-lede-text">Please check the summary below before saving your framework. All details can be modified later.</p>
  <dl class="nhsuk-summary-list">
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Name
      </dt>
      <dd class="nhsuk-summary-list__value">
        @Model.FrameworkName
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a asp-action="CreateNewFramework" asp-route-actionname="New">
          Change
        </a>
      </dd>
    </div>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Description
      </dt>
      <dd class="nhsuk-summary-list__value">
        @Html.Raw(Model.Description)
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a asp-action="FrameworkDescription" asp-route-actionname="New">
          Change
        </a>
      </dd>
    </div>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Vocabulary
      </dt>
      <dd class="nhsuk-summary-list__value">
        @Model.FrameworkConfig
      </dd>
      <dd class="nhsuk-summary-list__actions">
        <a asp-action="FrameworkType" asp-route-actionname="New">
          Change
        </a>
      </dd>
    </div>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Branding
      </dt>
      <dd class="nhsuk-summary-list__value">
        <span class="framework-brand">
          @Model.Brand
        </span>
        @if (Model.Category != null)
      {
        <span>/</span>

        <span class="framework-category"> @Model.Category </span>
      }
      @if (Model.Topic != null)
      {
        <span>/</span>

        <span class="framework-topic"> @Model.Topic </span>
      }
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a asp-action="SetNewFrameworkBrand" asp-route-actionname="New">
        Change
      </a>
    </dd>
  </div>
</dl>
<a class="nhsuk-button" role="button" asp-action="InsertFramework">
  Save and Continue
</a>
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" asp-action="ViewFrameworks" asp-route-tabname="Mine">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
      <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
    </svg>
    Cancel
  </a>
</div>
