@using DigitalLearningSolutions.Data.Models.Frameworks;
@model DetailFramework
@{
  ViewData["Title"] = "Framework Vocabulary";
  ViewData["Application"] = "Framework Service";
  ViewData["HeaderPathName"] = "Framework Service";
}
<link rel="stylesheet" href="@Url.Content("~/css/jodit.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
  @if ((string)ViewContext.RouteData.Values["actionname"] == "New")
{
  @section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFrameworks" asp-route-tabname="Mine">Frameworks</a></li>
        <li class="nhsuk-breadcrumb__item">Create framework</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="ViewFrameworks" asp-route-tabname="Mine">Back to My Frameworks</a></p>
    </div>
  </nav>
  }
}
else
{
  @section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFrameworks" asp-route-tabname="Mine">Frameworks</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewFramework" asp-route-frameworkId="@Model.ID" asp-route-tabname="Details">Framework Details</a></li>
        <li class="nhsuk-breadcrumb__item">Name</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="ViewFramework" asp-route-frameworkId="@Model.ID" asp-route-tabname="Details">Back to framework detail</a></p>
    </div>
  </nav>
  }
}
@if ((string)ViewContext.RouteData.Values["actionname"] == "New")
{
  <h1>Framework vocabulary</h1>
}
else
{
  <h1>Edit framework vocabulary</h1>
}
<form method="post">
  @if (!ViewData.ModelState.IsValid)
  {
    <partial name="_ErrorSummary" />
  }
  <nhs-form-group nhs-validation-for="FrameworkName">
    <label class="nhsuk-label" for="framework-name-hint">
      <h2>Choose framework vocabulary</h2>
    </label>
    <div class="nhsuk-hint" id="framework-name-hint">
      Choose the most appropriate term for the building blocks of this framework.
    </div>
    <select class="nhsuk-select" asp-for="FrameworkConfig" name="FrameworkConfig">
      <option value="Capability" selected="selected">Capabilities</option>
      <option value="Competency">Competencies</option>
      <option value="Proficiency">Proficiency</option>
      <option value="Requirement">Requirements</option>
    </select>
    <span nhs-validation-for="FrameworkConfig"></span>
  </nhs-form-group>
  <input name="ID" type="hidden" asp-for="ID" />
  <input name="FrameworkName" type="hidden" asp-for="FrameworkName" />
  <input name="Description" type="hidden" asp-for="Description" />
  <input name="brandId" type="hidden" asp-for="BrandID" />
  <input name="categoryId" type="hidden" asp-for="CategoryID" />
  <input name="topicId" type="hidden" asp-for="TopicID" />
  <input name="ownerAdminId" type="hidden" asp-for="OwnerAdminID" />
  <input name="updateByAdminId" type="hidden" asp-for="UpdatedByAdminID" />
  <input name="publishStatusId" type="hidden" asp-for="PublishStatusID" />
  @if ((string)ViewContext.RouteData.Values["actionname"] == "New")
  {
    <a class="nhsuk-button nhsuk-button--secondary" role="button" asp-action="FrameworkDescription" asp-route-actionname="@(ViewContext.RouteData.Values["actionname"])">
      Back
    </a>
    <button class="nhsuk-button" type="submit">
      Next
    </button>
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" asp-action="ViewFrameworks" asp-route-tabname="Mine">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        Cancel
      </a>
    </div>
  }
  else
  {
    @if (Model.PublishStatusID == 3)
    {
      <partial name="Shared/_PublishedWarning" />
    }
    <button class="nhsuk-button" type="submit">
      Save
    </button>
    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" asp-action="ViewFramework" asp-route-frameworkId="@Model.ID" asp-route-tabname="Details">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        Cancel
      </a>
    </div>
  }

</form>
