@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.EmailDelegates
@model EmailDelegatesItemViewModel

<div class="searchable-element nhsuk-checkboxes__item nhsuk-u-margin-bottom-3">
  <input class="nhsuk-checkboxes__input delegate-checkbox"
         id="@Model.Id-checkbox"
         type="checkbox"
         name="SelectedDelegateIds"
         value="@Model.Id"
         @(Model.IsDelegateSelected ? "checked" : string.Empty) />
  <label class="nhsuk-label nhsuk-checkboxes__label searchable-element-title word-break" for="@Model.Id-checkbox">
    @Model.Name (@Model.Email)
  </label>
  <div class="nhsuk-hint nhsuk-checkboxes__hint" id="@Model.Id-hint">
    Registered on @Model.RegistrationDate
  </div>
  <div hidden data-filter-value="@Model.JobGroupFilter"></div>
  @foreach ((_, string filterValue) in Model.RegistrationPromptFilters) {
    <div hidden data-filter-value="@filterValue"></div>
  }
</div>
