@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@model NotificationPreferenceListViewModel

<link rel="stylesheet" href="@Url.Content("~/css/myAccount/notificationPreferences.css")" asp-append-version="true">

<dl class="nhsuk-grid-column-full nhsuk-summary-list preference-list">
  @foreach (var notification in Model.Notifications)
  {
    <div class="nhsuk-grid-row preference-row">
      <dt class="nhsuk-grid-column-three-quarters preference-text-column">
        <span class="nhsuk-heading-xs">@notification.NotificationName</span>
        <span class="nhsuk-body-m">@Html.Raw(notification.Description)</span>
      </dt>
      <dd class="nhsuk-grid-column-one-quarter nhsuk-u-margin-left-0 preference-tag-column">
        <strong class="nhsuk-u-font-size-19 preference-tag">
          @(notification.Accepted ? "Subscribed" : "Unsubscribed")
        </strong>
      </dd>
    </div>
  }
</dl>
<a class="nhsuk-button"
   asp-controller="NotificationPreferences"
   asp-action="UpdateNotificationPreferences"
   asp-route-userType="@Model.UserType"
   asp-route-dlsSubApplication="@Model.DlsSubApplication.UrlSegment"
   role="button">
  Update preferences
</a>
