@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@model UpdateNotificationPreferencesViewModel

<link rel="stylesheet" href="@Url.Content("~/css/myAccount/updateNotificationPreferences.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Update notification preferences";
  var routeParamsForIndexLink = new Dictionary<string, string?> {
    { "dlsSubApplication", Model.DlsSubApplication.UrlSegment },
  };
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">Update notification preferences</h1>

    <form class="nhsuk-u-margin-bottom-3" method="post"
          asp-controller="NotificationPreferences"
          asp-action="SaveNotificationPreferences"
          asp-route-userType="@Model.UserType"
          asp-route-dlsSubApplication="@Model.DlsSubApplication.UrlSegment">
      <div class="nhsuk-form-group">
        <div class="nhsuk-fieldset" aria-describedby="notification-hint">
          <div class="nhsuk-hint update-notification-hint" id="notification-hint">Please tick the boxes for all the notifications you would like to receive.</div>
          <div class="nhsuk-checkboxes">
            @foreach (var (notification, index) in Model.Notifications.Select((item, index) => (item, index))) {
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input"
                       id="notification-@index.ToString()"
                       name="notificationIds"
                       type="checkbox"
                       value="@notification.NotificationId"
                       aria-describedby="notification-@index.ToString()-item-hint"
                       @(notification.Accepted ? "checked" : "")>
                <label class="nhsuk-label nhsuk-checkboxes__label" for="notification-@index.ToString()">
                  @notification.NotificationName
                </label>
                <div class="nhsuk-hint nhsuk-checkboxes__hint" id="notification-@index.ToString()-item-hint">
                  @Html.Raw(notification.Description)
                </div>
              </div>
            }
          </div>

          <button class="nhsuk-button" type="submit">Save</button>
        </div>
      </div>
    </form>

    <vc:cancel-link asp-controller="NotificationPreferences" asp-action="Index" asp-all-route-data="@routeParamsForIndexLink" />
  </div>
</div>
