@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@model DateRangeInputViewModel

@{
  var errorCss = Model.HasError ? "nhsuk-form-group--error" : "";
  var startDayErrorCss = Model.HasStartDayError ? "nhsuk-input--error" : "";
  var startMonthErrorCss = Model.HasStartMonthError ? "nhsuk-input--error" : "";
  var startYearErrorCss = Model.HasStartYearError ? "nhsuk-input--error" : "";
  var endDayErrorCss = Model.HasEndDayError ? "nhsuk-input--error" : "";
  var endMonthErrorCss = Model.HasEndMonthError ? "nhsuk-input--error" : "";
  var endYearErrorCss = Model.HasEndYearError ? "nhsuk-input--error" : "";
}

<link rel="stylesheet" href="@Url.Content("~/css/shared/components/dateRange.css")">

<div class="@Model.CssClass @errorCss" id="@Model.Id">
  <fieldset class="nhsuk-fieldset" aria-describedby="@Model.Id-hint" role="group">
    <legend class="nhsuk-fieldset__legend nhsuk-label">
      @Model.Label
    </legend>
    @if (Model.HintText != null)
    {
      <div class="nhsuk-hint" id="@Model.Id-hint">
        @Model.HintText
      </div>
    }

    @if (Model.HasError)
    {
      <span class="error-message--margin-bottom-1 nhsuk-error-message">
        <span class="nhsuk-u-visually-hidden">Error:</span> @Model.ErrorMessage
      </span>
    }

    @if (Model.EndDateCheckbox != null) {
      <div class="nhsuk-checkboxes">
        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input"
                 type="checkbox"
                 id="@Model.EndDateCheckbox.Id"
                 name="@Model.EndDateCheckbox.Name"
                 aria-describedby="@Model.EndDateCheckbox.Id-item-hint"
                 value="true"
                 @(Model.EndDateCheckbox.Value ? "checked" : string.Empty) />
          <label class="nhsuk-label nhsuk-checkboxes__label" for="@Model.EndDateCheckbox.Id">
            @Model.EndDateCheckbox.Label
          </label>
          @if (Model.EndDateCheckbox.HintText != null)
          {
            <div class="nhsuk-hint nhsuk-checkboxes__hint" id="@Model.EndDateCheckbox.Id-item-hint">
              @Model.EndDateCheckbox.HintText
            </div>
          }
        </div>
      </div>
    }

    <div class="flex-container">
      <div class="nhsuk-date-input">
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="@Model.StartDayId">Day</label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 @startDayErrorCss"
                   id="@Model.StartDayId"
                   name="@Model.StartDayId"
                   value="@Model.StartDayValue"
                   type="text"
                   pattern="[0-9]*"
                   inputmode="numeric" />
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="@Model.StartMonthId">Month</label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 @startMonthErrorCss"
                   id="@Model.StartMonthId"
                   name="@Model.StartMonthId"
                   value="@Model.StartMonthValue"
                   type="text"
                   pattern="[0-9]*"
                   inputmode="numeric" />
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="@Model.StartYearId">Year</label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3 @startYearErrorCss"
                   id="@Model.StartYearId"
                   name="@Model.StartYearId"
                   value="@Model.StartYearValue"
                   type="text"
                   pattern="[0-9]*"
                   inputmode="numeric" />
          </div>
        </div>
      </div>

      <div class="flex-container">
        <div class="nhsuk-hint conjunction nhsuk-u-margin-bottom-4 nhsuk-u-margin-right-4">to</div>
      </div>

      <div class="nhsuk-date-input">
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="@Model.EndDayId">Day</label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 @endDayErrorCss"
                   id="@Model.EndDayId"
                   name="@Model.EndDayId"
                   value="@Model.EndDayValue"
                   type="text"
                   pattern="[0-9]*"
                   inputmode="numeric" />
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="@Model.EndMonthId">Month</label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 @endMonthErrorCss"
                   id="@Model.EndMonthId"
                   name="@Model.EndMonthId"
                   value="@Model.EndMonthValue"
                   type="text"
                   pattern="[0-9]*"
                   inputmode="numeric" />
          </div>
        </div>
        <div class="nhsuk-date-input__item">
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="@Model.EndYearId">Year</label>
            <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-3 @endYearErrorCss"
                   id="@Model.EndYearId"
                   name="@Model.EndYearId"
                   value="@Model.EndYearValue"
                   type="text"
                   pattern="[0-9]*"
                   inputmode="numeric" />
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>
