@using DigitalLearningSolutions.Web.ViewModels.Common
@model SideMenuLinkWithHrefViewModel

@{
  var selectedClass = Model.IsCurrentPage ? "side-nav__item--selected" : string.Empty;
  var ariaCurrent = Model.IsCurrentPage ? "page" : null;
}

<li class="side-nav__item @selectedClass" aria-current="@ariaCurrent">
  <a class="side-nav__link" href="@Model.Href" asp-all-route-data="@Model.AspAllRouteData">@Model.LinkText</a>
</li>
