@using DigitalLearningSolutions.Web.Helpers
@using DigitalLearningSolutions.Web.ViewModels.Signposting
@model LearningHubLoginWarningViewModel

@{
  ViewData[LayoutViewDataKeys.Title] = "Learning Hub Login Warning";
}

<link rel="stylesheet" href="@Url.Content("~/css/signposting/loginWarning.css")" asp-append-version="true">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">View resource "@Model.ResourceTitle"</h1>

    <div class="nhsuk-u-margin-bottom-4">
      @if (!Model.ApiIsAccessible)
      {
        <vc:learning-resource-warning css-class="nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-2"
                                    text="@LearningHubWarningTextHelper.ResourceNameMayBeOutOfDate" />
      }

      @if (!Model.LearningHubAccountLinked)
      {
        <vc:inset-text css-class="nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-2"
                     text="@LearningHubWarningTextHelper.LinkAccount" />
      }
    </div>

    <p>Please note that you will only be logged into Learning Hub automatically if you navigate to this resource via Digital Learning Solutions.</p>

    <form class="nhsuk-u-margin-bottom-3"
          method="post" novalidate
          use-external-tab-opener="@(!Model.LearningHubAccountLinked)"
          asp-action="LaunchLearningResource"
          asp-controller="Signposting"
          asp-route-resourceReferenceId="@Model.ResourceRefId">
      <vc:single-checkbox asp-for="@nameof(Model.LearningHubLoginWarningDismissed)"
                          label="Don't warn me again."
                          hint-text="" />

        <button class="button-as-link launch-resource-button nhsuk-action-link" type="submit" role="link">
          <svg class="nhsuk-icon nhsuk-icon--arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
              <path d="M12 2a10 10 0 0 0-10 9h11.7l-4-4a1 1 0 0 1 1.5-1.4l5.6 5.7a1 1 0 0 1 0 1.4l-5.6 5.7a1 1 0 0 1-1.5 0 1 1 0 0 1 0-1.4l4-4H2A10 10 0 1 0 12 2z" />
          </svg>
          <span class="nhsuk-action-link__text">Launch resource</span>
        </button>
    </form>
  </div>
</div>
