@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@model SelectListViewModel
@{
    var describedBy = "";
    @if (Model.HasError)
    {
        describedBy = @Model.Name + "-error";
    }
    @if (Model.HintText != null)
    {
        describedBy += (describedBy != "" ? " " : "");
        describedBy += @Model.Name + "-hint";
    }
}

<div class="nhsuk-form-group @(Model.HasError ? "nhsuk-form-group--error" : "")">
    <label class="nhsuk-label" for="@Model.Name">
        @Model.Label
    </label>
    @if (Model.HintText != null)
    {
        <div class="nhsuk-hint" id="@Model.Name-hint">
            @Model.HintText
        </div>
    }
    @if (Model.HasError)
    {
        <span class="nhsuk-error-message" id="@Model.Name-error">
            <span class="nhsuk-u-visually-hidden">Error:</span> @Model.ErrorMessage
        </span>
    }
    <select class="nhsuk-select @Model.Class @(Model.HasError ? "nhsuk-input--error" : "")"
            id="@Model.Id"
            name="@Model.Name"
            value="@(Model.Value != null ? Model.Value : null)"
            asp-items="Model.SelectListOptions"
            aria-describedby="@(describedBy!= "" ? @describedBy : null)"
            aria-invalid="@(Model.HasError ? "true" : null)">
        @if (Model.DefaultOption != null)
        {
            <option value="" disabled="@(!Model.Deselectable)" selected=@(Model.Value != null ? "" : "selected")>@Model.DefaultOption</option>
        }
    </select>
    </div>
