@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@model SelectListViewModel

<div class="nhsuk-form-group @(Model.HasError ? "nhsuk-form-group--error" : "")" style="white-space:nowrap">
  <label id="@(Model.Name)-description" class="nhsuk-label" for="@Model.Name">
    @Model.Label
  </label>
  @if (Model.HintText != null) {
    <div class="nhsuk-hint" id="@Model.Name-hint">
      @Model.HintText
    </div>
  }
  @if (Model.HasError) {
    <span class="nhsuk-error-message" id="@Model.Name-error">
      <span class="nhsuk-u-visually-hidden">Error:</span> @Model.ErrorMessage
    </span>
  }
  <select class="nhsuk-select @Model.Class @(Model.HasError ? "nhsuk-input--error" : "")"
          aria-describedby="@(Model.Name)-description @(Model.HasError ? $"{Model.Name}-error": "") @(!String.IsNullOrEmpty(Model.HintText) ? $"{Model.Name}-hint" : "")"
          id="@Model.Id"
          name="@Model.Name"
          value="@Model.Value"
          asp-items="Model.SelectListOptions">
    @if (Model.DefaultOption != null) {
      <option value="" disabled="@(!Model.Deselectable)" selected=@(Model.Value != null ? "" : "selected")>@Model.DefaultOption</option>
    }
  </select>
  @if (Model.Required)
  {
    <partial name="_RequiredField" />
  }
</div>
