@using DigitalLearningSolutions.Web.ViewModels.SuperAdmin.Users
@model UserAccountsViewModel
@{
    ViewData["Title"] = "User Accounts";
}
<link rel="stylesheet" href="@Url.Content("~/css/superAdmin/users.css")" asp-append-version="true">
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div id="no-js-styling">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-quarter">
                    <nav class="side-nav-menu" aria-label="Side navigation bar">
                        <partial name="~/Views/SuperAdmin/Shared/_UserAccountsSideNavMenu.cshtml" model="Model.CurrentPage" />
                    </nav>
                </div>

                <div class="nhsuk-grid-column-three-quarters">
                    <div class="nhsuk-u-margin-bottom-4">
                        <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>
                    </div>
                    <form class="nhsuk-u-margin-bottom-3" method="get" role="search" asp-controller="Users" asp-action="Index" asp-route-page="@Model.Page">
                        <div class="nhsuk-grid-row">
                            <div id="search">
                                <div class="nhsuk-grid-column-one-quarter">
                                    <vc:numeric-input asp-for="@nameof(Model.UserId)"
                                                      label="User ID"
                                                      populate-with-current-value="true"
                                                      type="number"
                                                      hint-text=""
                                                      css-class=""
                                                      required="true" />
                                </div>
                                <div class="nhsuk-grid-column-three-quarters">
                                    <div class="nhsuk-grid-row">
                                        <div class="nhsuk-grid-column-three-quarters">
                                            <vc:text-input asp-for="@nameof(Model.Search)"
                                                           label="Search"
                                                           populate-with-current-value="true"
                                                           type="text"
                                                           spell-check="false"
                                                           hint-text=""
                                                           autocomplete=""
                                                           css-class=""
                                                           required="true"
                                                           placeholder-text="Search name, email, PRN" />
                                        </div>
                                        <div class="nhsuk-grid-column-one-quarter">
                                            <button class="nhsuk-button nhsuk-u-width-full  nhsuk-u-margin-top-4 nhsuk-u-float-right" type="submit">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-container nhsuk-u-margin-top-5">
                                <div class="nhsuk-grid-column-one-quarter">
                                    <vc:select-list asp-for="@nameof(Model.UserStatus)"
                                                    label="User status"
                                                    value="@Model.UserStatus"
                                                    required="true"
                                                    hint-text=""
                                                    css-class="nhsuk-grid-column-full nhsuk-u-width-full"
                                                    default-option=""
                                                    select-list-options="@ViewBag.UserStatus" />
                                </div>
                                <div class="nhsuk-grid-column-one-quarter">
                                    <vc:select-list asp-for="@nameof(Model.EmailStatus)"
                                                    label="Email status"
                                                    value="@Model.EmailStatus"
                                                    required="true"
                                                    hint-text=""
                                                    css-class="nhsuk-grid-column-full nhsuk-u-width-full"
                                                    default-option=""
                                                    select-list-options="@ViewBag.EmailStatus" />
                                </div>
                                <div class="nhsuk-grid-column-one-half">
                                    <vc:select-list asp-for="@nameof(Model.JobGroupId)"
                                                    label="Job group"
                                                    value="@Model.JobGroupId.ToString()"
                                                    hint-text=""
                                                    required="true"
                                                    css-class="nhsuk-grid-column-full  nhsuk-u-width-full"
                                                    default-option=""
                                                    select-list-options="@ViewBag.JobGroups" />
                                </div>
                            </div>
                        </div>
                    </form>
                    @if (Model.NoDataFound)
                    {
                        <p class="nhsuk-u-margin-top-4" role="alert">
                            <b>No users found.</b>
                        </p>
                    }
                    else
                    {
                        <partial name="SearchablePage/Configurations/_ResultsCountAndItemsPerPage" model="Model" />
                        <partial name="SearchablePage/_TopPagination" model="Model" />
                        <partial name="SearchablePage/_ResultCountAndPageAlerts" model="Model" />
                        <div id="searchable-elements">
                            @foreach (var userAccount in Model.UserAccounts)
                            {
                                <partial name="_SearchableUserCard" model="userAccount" />
                            }
                        </div>
                        <partial name="SearchablePage/_BottomPagination" model="Model" />

                    }


                </div>
                <nav class="side-nav-menu-bottom" aria-label="Bottom navigation bar">
                    <partial name="~/Views/SuperAdmin/Shared/_UserAccountsSideNavMenu.cshtml" model="Model.CurrentPage" />
                </nav>
            </div>
        </div>
    </div>
</div>
