@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents;
@using DigitalLearningSolutions.Web.ViewModels.SuperAdmin.Users
@model SetSuperAdminUserPasswordViewModel

@{
    var errorHasOccurred = !ViewData.ModelState.IsValid;
    ViewData["Title"] = "Set Password";

}
@section NavBreadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="Index" asp-controller="Users">User accounts</a></li>
            </ol>
        </div>
    </nav>
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        @if (errorHasOccurred)
        {
            <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Password), nameof(Model.ConfirmPassword) })" />
        }

        <h1 class="nhsuk-heading-xl">Set user password</h1>

        <h2>User :  @Model.UserName</h2>
        <p class="nhsuk-body-l">
            After setting a new password, you must inform the user that their password has been changed (the system will not notify them).
        </p>
        <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="Index" asp-route-dlsSubApplication="@Model.DlsSubApplication.UrlSegment">
            <vc:text-input asp-for="@nameof(Model.Password)"
                           label="Password"
                           populate-with-current-value="false"
                           type="password"
                           spell-check="false"
                           hint-text=""
                           autocomplete="off"
                           css-class="nhsuk-u-width-one-half"
                           required="true" />
            <vc:text-input asp-for="@nameof(Model.ConfirmPassword)"
                           label="Confirm password"
                           populate-with-current-value="false"
                           type="password"
                           spell-check="false"
                           hint-text=""
                           autocomplete="off"
                           css-class="nhsuk-u-width-one-half"
                           required="true" />
            <input name="UserName" type="hidden" asp-for="@Model.UserName" />
            <button class="nhsuk-button" type="submit">Submit</button>
        </form>
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" asp-controller="Users" asp-action="Index" asp-route-SearchString="@Model.SearchString" asp-route-ExistingFilterString="@Model.ExistingFilterString" asp-route-page="@Model.Page" asp-fragment="@Model.UserId-name">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                    <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                </svg>
                Cancel
            </a>
        </div>

    </div>
</div>

