@using DigitalLearningSolutions.Web.ViewModels.UserCentreAccounts
@using NHSUKViewComponents.Web.ViewComponents
@model UserCentreAccountRoleViewModel
@{
  ViewData["Title"] = "User Centre Accounts";
}

@section NavBreadcrumbs {
 <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
              <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="Index" asp-controller="Users">User accounts</a></li>
      </ol>
    </div>
  </nav>
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
<h1>User centre roles</h1>
<h2>@Model.UserEntity.UserAccount.FirstName @Model.UserEntity.UserAccount.LastName (@Model.UserEntity.UserAccount.PrimaryEmail)</h2>

@if (Model.CentreUserDetails.Count > 0)
{
  <div class="nhsuk-u-margin-bottom-6">
  <table role="table" class="nhsuk-table-responsive">
      <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
              <th role="columnheader" scope="col">
                  Centre
              </th>
              <th role="columnheader" scope="col" class="centre-status-th">
                  Status
              </th>
              <th role="columnheader" scope="col">
                  Roles
              </th>
          </tr>
      </thead>

      <tbody class="nhsuk-table__body">
      @foreach (var centreRow in Model.CentreUserDetails)
      {
            <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell choose-centre-td">
                    <span class="nhsuk-table-responsive__heading">Centre: </span>
                    <span class="word-break">@centreRow.CentreName</span>
                </td>
                <td role="cell" class="nhsuk-table__cell choose-centre-td">
                    <span class="nhsuk-table-responsive__heading">Status: </span>
                    <strong class="nhsuk-tag nhsuk-tag--@centreRow.Status.TagColour">@centreRow.Status.TagLabel</strong>
                </td>
                <td role="cell" class="nhsuk-table__cell choose-centre-td">
                    <span class="nhsuk-table-responsive__heading">Roles: </span>
                    <div class="centre-role-tags">
              @if (centreRow.IsActiveAdmin)
              {
                 foreach (var admin in Model.UserEntity.AdminAccounts)
                 {
                    if (centreRow.CentreId==admin.CentreId)
                    {
                         <a asp-action="RedirectToAdmin" asp-route-AdminId="@admin.Id">Admin</a>
                    }
                 }
              }
              @if (centreRow.IsDelegate)
              {
                 <a class="">Delegate</a>
              }
                    </div>
                </td>
            </tr>
      }
      </tbody>
  </table>
  </div>
}
else
{
          <p>This user has no centre accounts.</p>
}

<div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" asp-controller="Users" asp-action="Index" asp-route-SearchString="@Model.SearchString" asp-route-ExistingFilterString="@Model.ExistingFilterString" asp-route-page="@Model.Page" asp-fragment="@Model.UserEntity.UserAccount.Id-name">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
            </svg>
            Cancel
        </a>
    </div>

    </div>
</div>
