@using DigitalLearningSolutions.Data.Enums
@using DigitalLearningSolutions.Web.ViewModels.Register
@model InternalConfirmationViewModel

@{
  ViewData["Title"] = "Registration confirmation";
  var emailsAreVerified = Model.UnverifiedPrimaryEmail == null && !Model.UnverifiedCentreEmails.Any();
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading" class="nhsuk-heading-xl">
      Delegate registration complete
    </h1>
    <p class="nhsuk-body-l">
      You should make a note of your delegate number and keep it safe.
      You can use it to log in to the Learning Portal and any Digital
      Learning Solutions courses.
    </p>
    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p>Your delegate number is <span class="nhsuk-u-font-weight-bold">@Model.CandidateNumber</span></p>
    </div>

    <vc:verify-email-warning-if-appropriate
      is-choose-a-centre-page="false"
      is-my-account-page="false"
      is-registration-journey="true"
      unverified-primary-email="@Model.UnverifiedPrimaryEmail"
      unverified-centre-emails="@Model.UnverifiedCentreEmails" />

    @if (emailsAreVerified) {
      <vc:action-link asp-controller="Login" asp-action="ChooseACentre" link-text="Switch centre" />
    } else {
      <vc:action-link asp-controller="MyAccount" asp-action="Index" link-text="View My account" />
    }

    @if (Model.HasAdminAccountAtCentre) {
      <p>
        You will need to log out and in again before you can access the Learning Portal.
      </p>
      <partial name="_LogoutForm" model="@ButtonType.Secondary" />
    } else if (Model.Approved && emailsAreVerified) {
      <p>
        You can now log into your new account.
      </p>
      <a
        class="@ButtonType.Secondary.CssClass"
        asp-controller="Login"
        asp-action="ChooseACentre"
        role="button">
        Switch centre
      </a>
    } else if (!Model.Approved) {
      <div class="nhsuk-warning-callout">
        <h2 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Your registration must be approved
          </span>
        </h2>
        <p>
          Your registration must be approved by a centre administrator before you can log in.
          You will receive an email at the address you registered with when your registration
          has been approved.
          Check your Junk folder if the email doesn't arrive.
        </p>
      </div>
      <vc:centre-contact-info centre-id="@Model.CentreId.GetValueOrDefault()" />
    }
  </div>
</div>
