@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.CourseDetails
@model EditCourseDetailsFormData

@{
  const string passwordId = "conditional-password";
  const string emailId = "conditional-email";
  var passwordCss = "nhsuk-checkboxes__conditional"
                    + (Model.PasswordProtected ? "" : " nhsuk-checkboxes__conditional--hidden");
  var emailCss = "nhsuk-checkboxes__conditional"
                 + (Model.ReceiveNotificationEmails ? "" : " nhsuk-checkboxes__conditional--hidden");
}

<div class="nhsuk-form-group nhsuk-u-margin-bottom-5">
  <fieldset class="nhsuk-fieldset">
    <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">

      <div class="nhsuk-u-margin-bottom-3">
        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input"
                 asp-for="PasswordProtected"
                 type="checkbox"
                 aria-controls="@passwordId"
                 aria-expanded="@Model.PasswordProtected.ToString()">
          <label class="nhsuk-label nhsuk-checkboxes__label" asp-for="PasswordProtected">
            Password protected
          </label>
        </div>

        <div class="@passwordCss" id="@passwordId">
          <vc:text-input asp-for="@nameof(Model.Password)"
                         label="Enter the password for the course"
                         populate-with-current-value="true"
                         type="text"
                         spell-check="false"
                         autocomplete="off"
                         hint-text=""
                         css-class="nhsuk-u-width-one-half"
                         required="true" />
        </div>
      </div>

      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input"
               asp-for="ReceiveNotificationEmails"
               type="checkbox"
               aria-controls="@emailId"
               aria-expanded="@Model.ReceiveNotificationEmails.ToString()">
        <label class="nhsuk-label nhsuk-checkboxes__label" asp-for="ReceiveNotificationEmails">
          Receive course completion notification emails
        </label>
      </div>

      <div class="@emailCss" id="@emailId">
        <vc:text-input asp-for="@nameof(Model.NotificationEmails)"
                       label="Enter an email address for receiving the notifications"
                       populate-with-current-value="true"
                       type="text"
                       spell-check="false"
                       autocomplete="off"
                       hint-text=""
                       css-class="nhsuk-u-width-one-half"
                       required="true" />
      </div>

    </div>
  </fieldset>
</div>
