@using DigitalLearningSolutions.Web.ViewModels.Common
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates
@model SearchableDelegateViewModel
@{
  var activeTagCss = Model.DelegateInfo.IsActive ? "nhsuk-tag nhsuk-tag--green" : "nhsuk-tag nhsuk-tag--red";
  var passwordTagCss = Model.DelegateInfo.IsPasswordSet ? "nhsuk-tag nhsuk-tag--green" : "nhsuk-tag nhsuk-tag--red";
}

@*TODO: Search and sort functionality is part of HEEDLS-491.
  Filename includes 'Searchable' to avoid having to change name later*@

<div class="nhsuk-expander-group" id="@Model.DelegateInfo.Id-card">
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text" id="@Model.DelegateInfo.Id-name" name="name">
        @Model.DelegateInfo.Name (@Model.DelegateInfo.CandidateNumber)
      </span>
    </summary>

    <div class="nhsuk-details__text">
      <div class="nhsuk-u-margin-bottom-4">
        <strong class="@activeTagCss">@(Model.ActiveTagName)</strong>
        <strong class="nhsuk-tag nhsuk-tag--grey">@(Model.RegStatusTagName)</strong>
        <strong class="@passwordTagCss">@(Model.PasswordTagName)</strong>
        @if (Model.DelegateInfo.IsAdmin) {
          <strong class="nhsuk-tag nhsuk-tag--grey">Admin</strong>
        }
      </div>

      <dl class="nhsuk-summary-list details-list-with-button">
        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">Name</dt>
          <dd class="nhsuk-summary-list__value">@Model.DelegateInfo.Name</dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">Email</dt>
          <dd class="nhsuk-summary-list__value">
            @(Model.DelegateInfo.Email ?? "-")
            @if (string.IsNullOrEmpty(Model.DelegateInfo.Email)) {
              <span class="nhsuk-u-visually-hidden">No value set</span>
            }
          </dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">ID</dt>
          <dd class="nhsuk-summary-list__value">@Model.DelegateInfo.CandidateNumber</dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">Registration date</dt>
          <dd class="nhsuk-summary-list__value">
            @(Model.DelegateInfo.RegistrationDate ?? "-")
            @if (string.IsNullOrEmpty(Model.DelegateInfo.RegistrationDate)) {
              <span class="nhsuk-u-visually-hidden">No value set</span>
            }
          </dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">Job group</dt>
          <dd class="nhsuk-summary-list__value">
            @(Model.DelegateInfo.JobGroup ?? "-")
            @if (string.IsNullOrEmpty(Model.DelegateInfo.JobGroup)) {
              <span class="nhsuk-u-visually-hidden">No value set</span>
            }
          </dd>
        </div>

        @foreach (CustomFieldViewModel customField in Model.DelegateInfo.CustomFields) {
          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">@customField.CustomPrompt</dt>
            <dd class="nhsuk-summary-list__value">
              @(customField.Answer ?? "-")
              @if (string.IsNullOrEmpty(customField.Answer)) {
                <span class="nhsuk-u-visually-hidden">No value set</span>
              }
            </dd>
          </div>
        }
      </dl>

      <a class="nhsuk-button" asp-controller="ViewDelegate" asp-action="Index" asp-route-delegateId="@Model.DelegateInfo.Id" role="button">Manage delegate</a>
      <a class="nhsuk-button nhsuk-button--secondary" role="button">Set password</a>
    </div>
  </details>
</div>
