@using DigitalLearningSolutions.Web.ViewModels.Common
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.AllDelegates
@model SearchableDelegateViewModel

<div class="searchable-element nhsuk-expander-group word-break" id="@Model.DelegateInfo.Id-card">

  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text" id="@Model.DelegateInfo.Id-name">
        <span class="searchable-element-title" name="name">@Model.DelegateInfo.TitleName</span> <span class="searchable-element-candidate-number">(@Model.DelegateInfo.CandidateNumber)</span>
      </span>
    </summary>

    <div class="nhsuk-details__text">

      <partial name="SearchablePage/_FilterableTags" model="@Model.Tags" />

      <dl class="nhsuk-summary-list details-list-with-button">
        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.DelegateInfo.Name" />
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Email
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.DelegateInfo.Email" />
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            ID
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.DelegateInfo.CandidateNumber" />
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Registration date
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.DelegateInfo.RegistrationDate" />
          <div hidden name="registration-date">@Model.DelegateInfo.RegistrationDate</div>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Job group
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.DelegateInfo.JobGroup" />
          <div hidden data-filter-value="@Model.JobGroupFilter"></div>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Professional Registration Number
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.DelegateInfo.ProfessionalRegistrationNumber" />
        </div>

        @foreach (DelegateRegistrationPrompt delegateRegistrationPrompt in Model.DelegateInfo.DelegateRegistrationPrompts) {
          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">@delegateRegistrationPrompt.Prompt</dt>
            <partial name="_SummaryFieldValue" model="@delegateRegistrationPrompt.Answer" />
            @if (Model.RegistrationPromptFilters.ContainsKey(delegateRegistrationPrompt.PromptNumber)) {
              <div hidden data-filter-value="@Model.RegistrationPromptFilters[delegateRegistrationPrompt.PromptNumber]"></div>
            }
          </div>
        }
      </dl>

      <a class="nhsuk-button" asp-controller="ViewDelegate" asp-action="Index" asp-route-delegateId="@Model.DelegateInfo.Id" role="button">Manage delegate</a>
      <a class="nhsuk-button nhsuk-button--secondary"
         role="button"
         asp-controller="SetDelegatePassword"
         asp-action="Index"
         asp-route-delegateId="@Model.DelegateInfo.Id"
         asp-route-isFromViewDelegatePage="false"
         asp-route-returnPage="@Model.Page" >
        Set password
      </a>
    </div>
  </details>
</div>
