@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates
@using Microsoft.Extensions.Configuration
@model AllDelegatesViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/allDelegates.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Delegates";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
}

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="side-nav-menu" aria-label="Side navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegatesSideNavMenu.cshtml" model="DelegatePage.AllDelegates" />
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third">
        <h1 id="page-heading" class="nhsuk-heading-xl">Delegates</h1>
      </div>
      <div class="nhsuk-grid-column-two-thirds all-delegates-button-group">
        <a class="nhsuk-button nhsuk-button--secondary all-delegates-button" asp-controller="RegisterDelegateByCentre" asp-action="Index" role="button">
          Register
        </a>
        <a class="nhsuk-button nhsuk-button--secondary all-delegates-button" role="button">
          Email
        </a>
        <a class="nhsuk-button nhsuk-button--secondary all-delegates-button" asp-controller="BulkUpload" asp-action="Index" role="button">
          Upload
        </a>
        <a class="nhsuk-button nhsuk-button--secondary all-delegates-button" role="button">
          Export
        </a>
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <form method="get" role="search">
        @*<input type="hidden" name="sortBy" value="@Model.SortBy" />
        <input type="hidden" name="sortDirection" value="@Model.SortDirection" />*@
        <vc:search-box label="Search delegates"
                       asp-controller="AllDelegates"
                       asp-action="Index"
                       searchable-page-view-model="@Model"
                       css-class="nhsuk-grid-column-one-half" />
      </form>
    </div>

    <div class="nhsuk-grid-row">
      <form method="get" role="search">
        @*<input type="hidden" name="searchString" value="@Model.SearchString" />*@
        <div class="sort-row nhsuk-form-group">
          <div class="sort-select-container">
            <select class="nhsuk-select sort-dropdown" id="select-sort-by" asp-for="SortBy" asp-items="Model.SortBySelectListItems" aria-label="Sort by"></select>
          </div>
          <div class="sort-select-container">
            <select class="nhsuk-select sort-dropdown" id="select-sort-direction" asp-for="SortDirection" aria-label="Sort Direction">
              <option value="Ascending">Ascending</option>
              <option value="Descending">Descending</option>
            </select>
          </div>
          <div class="non-js-only">
            <div class="sort-button-container">
              <button class="nhsuk-button nhsuk-button--secondary button-small" type="submit">
                Sort
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <form method="get">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          @*<input type="hidden" id="searchString" value="@Model.SearchString" />
          <input type="hidden" id="sortBy" value="@Model.SortBy" />
          <input type="hidden" id="sortDirection" value="@Model.SortDirection" />*@
          @if (!Model.Delegates.Any())
          {
            <p class="nhsuk-u-margin-top-4" role="alert">
              <b>No delegates found</b>
            </p>
          }
          else
          {
            <partial name="SearchablePage/_SearchResultsCount" model="Model" />

            <div id="searchable-elements">
              @foreach (var delegateModel in Model.Delegates)
              {
                <partial name="_SearchableDelegateCard" model="delegateModel" />
              }
            </div>
          }
          @if (Model.TotalPages > 1)
          {
            <partial name="SearchablePage/_Pagination" model="Model" />
          }
        </div>
      </div>
    </form>

    <nav class="side-nav-menu-bottom" aria-label="Bottom navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegatesSideNavMenu.cshtml" model="DelegatePage.AllDelegates" />
    </nav>
  </div>
  </div>

@section scripts {
  <script src="@Url.Content("~/js/trackingSystem/allDelegates.js")" asp-append-version="true"></script>
}
