@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates
@using Microsoft.Extensions.Configuration
@model AllDelegatesViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/allDelegates.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Delegates";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
}

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="side-nav-menu" aria-label="Side navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegatesSideNavMenu.cshtml" model="DelegatePage.AllDelegates" />
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third">
        <h1 id="page-heading" class="nhsuk-heading-xl">Delegates</h1>
      </div>
      <div class="nhsuk-grid-column-two-thirds all-delegates-button-group">
        <a class="nhsuk-button nhsuk-button--secondary all-delegates-button" asp-controller="RegisterDelegateByCentre" asp-action="Index" role="button">
          Register
        </a>
        <a class="nhsuk-button nhsuk-button--secondary all-delegates-button" role="button">
          Email
        </a>
        <a class="nhsuk-button nhsuk-button--secondary all-delegates-button" asp-controller="BulkUpload" asp-action="Index" role="button">
          Upload
        </a>
        <a class="nhsuk-button nhsuk-button--secondary all-delegates-button" role="button">
          Export
        </a>
      </div>
    </div>


    <div class="nhsuk-grid-row">
      <form method="get" role="search">
        <input type="hidden" name="sortBy" value="@Model.SortBy" />
        <input type="hidden" name="sortDirection" value="@Model.SortDirection" />
        <div id="search">
          <label class="nhsuk-label" for="search-field">Search:</label>
          <input class="search-box" id="search-field" name="searchString" type="search" placeholder="Search" autocomplete="off" value="@Model.SearchString">
          <button class="nhsuk-search__submit non-js-only" type="submit" asp-action="Index" asp-route-page="1">
            <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
              <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
            </svg>
            <span class="nhsuk-u-visually-hidden">Search</span>
          </button>
        </div>
      </form>
    </div>

    <div class="nhsuk-grid-row">
      <form method="get" role="search">
        <input type="hidden" name="searchString" value="@Model.SearchString" />
        <div class="nhsuk-grid-column-full nhsuk-form-group Xsort-row">
          <label class="nhsuk-label" for="select-sort-by">
            Sort by:
          </label>
          <select class="nhsuk-select nhsuk-search__input nhsuk-search__input--withdropdown sort-dropdown" id="select-sort-by" asp-for="SortBy" asp-items="Model.SortBySelectListItems" aria-label="Sort by"></select>
          <select class="nhsuk-select nhsuk-search__input nhsuk-search__input--withdropdown sort-dropdown" id="select-sort-direction" asp-for="SortDirection" aria-label="Sort direction">
            <option value="Ascending">Ascending</option>
            <option value="Descending">Descending</option>
          </select>
          <div class="non-js-only">
            <button class="nhsuk-button nhsuk-button--secondary button-small" type="submit">
              Sort
            </button>
          </div>
        </div>
      </form>
    </div>


    <form method="get">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <input type="hidden" name="searchString" value="@Model.SearchString" />
          <input type="hidden" name="sortBy" value="@Model.SortBy" />
          <input type="hidden" name="sortDirection" value="@Model.SortDirection" />
          @if (!Model.Delegates.Any()) {
            <p class="nhsuk-u-margin-top-4" role="alert">
              <b>No delegates found</b>
            </p>
          } else {
            <partial name="SearchablePage/_SearchResultsCount" model="Model" />

            <div id="searchable-elements">
              @foreach (var delegateModel in Model.Delegates) {
                <partial name="_SearchableDelegateCard" model="delegateModel" />
              }
            </div>
          }
          @if (Model.TotalPages > 1) {
            <partial name="SearchablePage/_Pagination" model="Model" />
          }
        </div>
      </div>
    </form>

    <nav class="side-nav-menu-bottom" aria-label="Bottom navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegatesSideNavMenu.cshtml" model="DelegatePage.AllDelegates" />
    </nav>
  </div>
</div>

@section scripts {
  <script src="@Url.Content("~/js/trackingSystem/allDelegates.js")" asp-append-version="true"></script>
}
