@using DigitalLearningSolutions.Web.Helpers
@using DigitalLearningSolutions.Web.ViewModels.Support
@model SupportViewModel

<link rel="stylesheet" href="@Url.Content("~/css/support/support.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Support";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="side-nav-menu" aria-label="Side navigation bar">
      <partial name="Shared/_SupportSideNavMenu.cshtml" model="@Model" />
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <h1 id="page-heading" class="nhsuk-heading-xl">Support</h1>

    <p class="nhsuk-lede-text nhsuk-u-margin-top-4">Access Digital Learning Solutions support in 5 easy steps...</p>
    <ol>
      <li>
        <a href="@SupportLinksHelper.GetHelpUrl(Model.CurrentSystemBaseUrl)" target="_blank">Check the online Help documentation</a>. It is searchable and comprehensive.
      </li>
      <li>
        <a asp-action="Index" asp-controller="Faqs" asp-route-dlsSubApplication="@Model.DlsSubApplication">Search our Frequently Asked Questions (FAQs)</a>.
        If you've got a question about the platform, the chances are somebody has asked it before.
        Find answers to the most common questions.
      </li>
      <li>
        <a asp-action="Index" asp-controller="Resources" asp-route-dlsSubApplication="@Model.DlsSubApplication">Look through our Resources</a>.
        These contain in-depth guides to some of the more complex parts of the platform
        and materials to help you publicise and support use of the platform with your users.
      </li>
      <li>
        If you are still experiencing issues having gone through 1-3 above,
        then please <a asp-action="Index" asp-controller="SupportTickets" asp-route-dlsSubApplication="@Model.DlsSubApplication">raise a support ticket</a> and we will assist you further.
      </li>
      <li>
        If you have suggestions that you believe would help improve the platform,
        please also <a asp-action="Index" asp-controller="SupportTickets" asp-route-dlsSubApplication="@Model.DlsSubApplication">raise a support ticket</a>.
        You can then <a href="@SupportLinksHelper.GetChangeRequestsUrl" target="_blank" rel="noreferrer">track these on our GitHub Change requests page</a>.
      </li>
    </ol>

    <nav class="side-nav-menu-bottom" aria-label="Bottom navigation bar">
      <partial name="Shared/_SupportSideNavMenu.cshtml" model="@Model" />
    </nav>
  </div>
</div>
