@*@using DigitalLearningSolutions.Data.Enums
@using DigitalLearningSolutions.Web.ViewModels.SuperAdmin.Centres
@using NHSUKViewComponents.Web.ViewComponents
@model CentreRoleLimitsViewModel

@{
  //var courseSelected = Model.CustomisationId.HasValue;
  //var categorySelected = Model.CourseCategoryId.HasValue;
  //var courseConditionalId = "conditional-course-filter";
  //var categoryConditionalId = "conditional-category-filter";
}

  <div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset" aria-describedby="course-course-category-hint">
      <div class="nhsuk-radios nhsuk-radios--conditional">
        <div class="nhsuk-radios__item">
          <input name="@nameof(Model.FilterType)"
               class="nhsuk-radios__input"
               id="course-filter-type-1"
               type="radio"
               value="@CourseFilterType.Course"
               aria-controls="@courseConditionalId"
               aria-expanded="@(courseSelected ? "true" : "false")"
               @(courseSelected ? "checked" : "")>
          <label class="nhsuk-label nhsuk-radios__label" for="course-filter-type-1">
            Course
          </label>
        </div>
        <div class="nhsuk-radios__conditional @(courseSelected ? "" : "nhsuk-radios__conditional--hidden")" id="@courseConditionalId">
          <vc:select-list asp-for="@nameof(Model.CustomisationId)"
                        label="Choose a course"
                        value="@Model.CustomisationId.ToString()"
                        hint-text=""
                        required="false"
                        css-class="nhsuk-u-width-one-half"
                        default-option="All"
                        select-list-options="@Model.CustomisationOptions" />
        </div>

      </div>
    </fieldset>
  </div>
*@
