@using DigitalLearningSolutions.Web.ViewModels.SuperAdmin.Centres
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NHSUKViewComponents.Web.ViewComponents
@model CentreRoleLimitsViewModel;
@{
    ViewData["Title"] = "Centre Role Limits";
}
@{
    var isLimitSetCmsAdministrators = Model.IsRoleLimitSetCmsAdministrators.HasValue;
    var limitSetCmsAdministrators = Model.RoleLimitCmsAdministrators;
    var isLimitSetCmsManagers = Model.IsRoleLimitSetCmsManagers.HasValue;
    var limitSetCmsManagers = Model.RoleLimitCmsManagers;
    var isLimitSetContentCreatorLicenses = Model.IsRoleLimitSetContentCreatorLicenses.HasValue;
    var limitSetContentCreatorLicenses = Model.RoleLimitContentCreatorLicenses;
    var isLimitSetCustomCourses = Model.IsRoleLimitSetCustomCourses.HasValue;
    var limitSetCustomCourses = Model.RoleLimitCustomCourses;
    var isLimitSetTrainers = Model.IsRoleLimitSetTrainers.HasValue;
    var limitSetTrainers = Model.RoleLimitTrainers;
    var courseConditionalId = "conditional-course-filter";
    var categoryConditionalId = "conditional-category-filter";
}
@section NavBreadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Centres" asp-action="Index">Admin</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader">Manage centre</a></li>
            </ol>
        </div>
    </nav>
}
<div class="nhsuk-grid-row">
    <h1 class="nhsuk-heading-xl nhsuk-u-font-weight-normal nhsuk-u-margin-bottom-2">Customise role limits for @ViewBag.CentreName</h1>
</div>

<p class="nhsuk-body-l">
    Please select all the roles that should have limits in this centre.
</p>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">
            <form class="nhsuk-u-margin-bottom-3" method="post" novalidate>
              <vc:single-checkbox asp-for="@nameof(Model.IsRoleLimitSetCmsAdministrators)"
                                    label="CMS administrators"
                                    populate-with-current-value="true"
                                    hint-text="" />
                <div class="nhsuk-radios__conditional @(isLimitSetCmsAdministrators ? "" : "nhsuk-radios__conditional--hidden")" id="@courseConditionalId">
                    <vc:text-input asp-for="@nameof(Model.RoleLimitCmsAdministrators)"
                                   label="Set limit"
                                   populate-with-current-value="true"
                                   type="text"
                                   spell-check="false"
                                   hint-text=""
                                   autocomplete="given-name"
                                   css-class="nhsuk-u-width-one-half"
                                   required="true" />
                </div>

                <vc:single-checkbox asp-for="@nameof(Model.IsRoleLimitSetCmsManagers)"
                                    label="CMS managers"
                                    populate-with-current-value="true"
                                    hint-text="" />
                <div class="nhsuk-radios__conditional @(isLimitSetCmsManagers ? "" : "nhsuk-radios__conditional--hidden")" id="@courseConditionalId">
                    <vc:text-input asp-for="@nameof(Model.RoleLimitCmsManagers)"
                                   label="Set limit"
                                   populate-with-current-value="true"
                                   type="text"
                                   spell-check="false"
                                   hint-text=""
                                   autocomplete="given-name"
                                   css-class="nhsuk-u-width-one-half"
                                   required="true" />
                </div>

                <vc:single-checkbox asp-for="@nameof(Model.IsRoleLimitSetContentCreatorLicenses)"
                                    label="Content creator licenses"
                                    populate-with-current-value="true"
                                    hint-text="" />
                <div class="nhsuk-radios__conditional @(isLimitSetContentCreatorLicenses ? "" : "nhsuk-radios__conditional--hidden")" id="@courseConditionalId">
                    <vc:text-input asp-for="@nameof(Model.RoleLimitContentCreatorLicenses)"
                                   label="Set limit"
                                   populate-with-current-value="true"
                                   type="text"
                                   spell-check="false"
                                   hint-text=""
                                   autocomplete="given-name"
                                   css-class="nhsuk-u-width-one-half"
                                   required="true" />
                </div>

                <vc:single-checkbox asp-for="@nameof(Model.IsRoleLimitSetCustomCourses)"
                                    label="Custom courses"
                                    populate-with-current-value="true"
                                    hint-text="" />
                <div class="nhsuk-radios__conditional @(isLimitSetCustomCourses ? "" : "nhsuk-radios__conditional--hidden")" id="@courseConditionalId">
                    <vc:text-input asp-for="@nameof(Model.RoleLimitCustomCourses)"
                                   label="Set limit"
                                   populate-with-current-value="true"
                                   type="text"
                                   spell-check="false"
                                   hint-text=""
                                   autocomplete="given-name"
                                   css-class="nhsuk-u-width-one-half"
                                   required="true" />
                </div>

                <vc:single-checkbox asp-for="@nameof(Model.IsRoleLimitSetTrainers)"
                                    label="Trainers"
                                    value=""
                                    populate-with-current-value="true"
                                    hint-text="" />
                <div class="nhsuk-radios__conditional @(isLimitSetTrainers ? "" : "nhsuk-radios__conditional--hidden")" id="@courseConditionalId">
                    <vc:text-input asp-for="@nameof(Model.RoleLimitTrainers)"
                                   label="Set limit"
                                   populate-with-current-value="true"
                                   type="text"
                                   spell-check="false"
                                   hint-text=""
                                   autocomplete="given-name"
                                   css-class="nhsuk-u-width-one-half"
                                   required="true" />
                </div>

                <button class="nhsuk-button" type="submit">Save</button>
                <vc:cancel-link asp-controller="Centres" asp-action="Index" />
            </form>
        </div>
    </div>
</div>
