@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@model TextInputViewModel

<div class="nhsuk-form-group @(Model.HasError ? "nhsuk-form-group--error" : "")" style="white-space:nowrap">
  <label id="@(Model.Name)-description" class="nhsuk-label" for="@Model.Name">
    @Model.Label
  </label>
  @if (Model.HintText != null) {
    <div class="nhsuk-hint" id="@Model.Name-hint">
      @Model.HintText
    </div>
  }
  @if (Model.HasError) {
    <div class="nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-3">
      @foreach (var errorMessage in Model.ErrorMessages) {
        <span class="error-message--margin-bottom-1 nhsuk-error-message">
          <span class="nhsuk-u-visually-hidden">Error:</span> <span id="@(Model.Name)-error">@errorMessage</span>
        </span>
      }
    </div>
  }
  <input class="nhsuk-input @Model.Class @(Model.HasError ? "nhsuk-input--error" : "")"
         id="@Model.Id"
         name="@Model.Name"
         value="@Model.Value"
         type="@Model.Type"
         spellcheck="@Model.SpellCheck"
         autocomplete="@Model.Autocomplete"
         @(Model.HasError ? $"aria-invalid=\"true\" aria-errormessage=\"{Model.Name}-error\"" : "")
         aria-describedby="@(Model.Name)-description @(Model.HasError ? $"{Model.Name}-error": "") @(!String.IsNullOrEmpty(Model.HintText) ? $"{Model.Name}-hint" : "")" />
  @if (Model.Required)
  {
    <partial name="_RequiredField" />
  }
</div>
