@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@using Microsoft.AspNetCore.Mvc.ModelBinding

@model MyAccountEditDetailsViewModel

@{
  var errorHasOccurred = false;
  if (ViewData.ModelState.TryGetValue(nameof(Model.HasProfessionalRegistrationNumber), out var modelState)) {
    errorHasOccurred = modelState.ValidationState != ModelValidationState.Valid;
  }

  var optionYesSelected = Model.HasProfessionalRegistrationNumber == YesNoSelectionEnum.Yes;
  var optionNoSelected = Model.HasProfessionalRegistrationNumber == YesNoSelectionEnum.No;
  var professionalRegConditionalId = "professional-reg-conditional-Id";
}

<div class="nhsuk-form-group @(errorHasOccurred ? "nhsuk-form-group--error" : "")">
  <fieldset class="nhsuk-fieldset" aria-describedby="professional-registration-hint">
    <div class="nhsuk-hint" id="professional-registration-hint">
      Do you have a Professional Registration Number?
    </div>

    @if (errorHasOccurred) {
      <span class="nhsuk-error-message" id="no-selection-error">
        <span class="nhsuk-u-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.HasProfessionalRegistrationNumber)].Errors[0].ErrorMessage
      </span>
    }

    <div class="nhsuk-radios nhsuk-radios--conditional">
      <div class="nhsuk-radios__item">
        <input name="@nameof(Model.HasProfessionalRegistrationNumber)"
               class="nhsuk-radios__input"
               id="optionNo"
               type="radio"
               value="@YesNoSelectionEnum.No"
               @(optionNoSelected ? "checked" : "") />
        <label class="nhsuk-label nhsuk-radios__label" for="optionNo">
          No
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input name="@nameof(Model.HasProfessionalRegistrationNumber)"
               class="nhsuk-radios__input"
               id="optionYes"
               type="radio"
               value="@YesNoSelectionEnum.Yes"
               aria-controls="@professionalRegConditionalId"
               @(optionYesSelected ? "checked" : "") />
        <label class="nhsuk-label nhsuk-radios__label" for="optionYes">
          Yes
        </label>
      </div>
      <div class="nhsuk-radios__conditional @(optionYesSelected ? " " : " nhsuk-radios__conditional--hidden")" id="@professionalRegConditionalId">
        <vc:text-input asp-for="@nameof(Model.ProfessionalRegistrationNumber)"
                       label="Professional Registration Number"
                       populate-with-current-value="true"
                       type="text"
                       spell-check="false"
                       hint-text="You should have a professional registration number if you are a health professional registered with a professional body such as the NMC, GMC or GDC."
                       autocomplete="off"
                       css-class="nhsuk-u-width-one-half" />
      </div>
    </div>
  </fieldset>
</div>
