@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@model MyAccountViewModel

<div class="nhsuk-card">
  <div class="nhsuk-card__content nhsuk-u-padding-bottom-1">
    <h2 class="nhsuk-card__heading">
      My details
    </h2>
    <div class="nhsuk-card__description">
      <dl class="nhsuk-summary-list details-list-with-button">
        <div class="nhsuk-summary-list__row basic-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            First name
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.FirstName" />
        </div>

        <div class="nhsuk-summary-list__row basic-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Last name
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.Surname" />
        </div>

        <div class="nhsuk-summary-list__row basic-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Primary email address
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.PrimaryEmail" />
        </div>

        <div class="nhsuk-summary-list__row basic-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Job group
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.JobGroup" />
        </div>

        <div class="nhsuk-summary-list__row basic-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Professional Registration Number
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.ProfessionalRegistrationNumber" />
        </div>

        <div class="nhsuk-summary-list__row basic-summary-list__row">
          <dt class="nhsuk-summary-list__key profile-picture__label">
            Profile picture (optional)
          </dt>
          <dd class="nhsuk-summary-list__value">
            @if (Model.ProfilePicture != null) {
              <img class="profile-picture__image" src="data:image;base64,@Convert.ToBase64String(Model.ProfilePicture)" alt="Profile Picture" />
            } else {
              <img class="profile-picture__image" src="@Url.Content("~/images/avatar.png")" alt="Default Profile Picture" />
            }
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
