@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@model MyAccountEditDetailsViewModel

<link rel="stylesheet" href="@Url.Content("~/css/myAccount/myAccount.css")" asp-append-version="true">

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Edit Details" : "Edit Details";
  var routeParamsForIndexLink = new Dictionary<string, string?> {
    { "dlsSubApplication", Model.DlsSubApplication.UrlSegment },
  };
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.FirstName), nameof(Model.LastName), nameof(Model.Email), nameof(Model.HasProfessionalRegistrationNumber), nameof(Model.ProfessionalRegistrationNumber), nameof(Model.Password), nameof(Model.JobGroupId), nameof(Model.Answer1), nameof(Model.Answer2), nameof(Model.Answer3), nameof(Model.Answer4), nameof(Model.Answer5), nameof(Model.Answer6) })" />
    }

    <h1 class="nhsuk-heading-xl" id="app-page-heading">Edit details</h1>
  </div>
</div>

@if (!string.IsNullOrWhiteSpace(Model.ReturnUrl)) {
  <vc:inset-text text="You should check that your details are up to date and accurate. Once you are confident that your details are up to date, please hit 'Save'." css-class="nhsuk-u-margin-top-0" />
}

<form class="nhsuk-u-margin-bottom-3" method="post" novalidate asp-action="EditDetails" asp-route-dlsSubApplication="@Model.DlsSubApplication.UrlSegment" enctype="multipart/form-data">
  <div class="hidden-submit">
    <button name="action" class="nhsuk-button" value="save" aria-hidden="true" tabindex="-1">Save</button>
  </div>

  <input type="hidden" asp-for="ReturnUrl" />
  <div class="nhsuk-grid-row divider">
    <div class="nhsuk-grid-column-full">
      <vc:text-input
        asp-for="@nameof(Model.FirstName)"
        label="First name"
        populate-with-current-value="true"
        type="text"
        spell-check="false"
        autocomplete="given-name"
        hint-text=""
        css-class="nhsuk-u-width-one-half" />

      <vc:text-input
        asp-for="@nameof(Model.LastName)"
        label="Last name"
        populate-with-current-value="true"
        type="text"
        spell-check="false"
        autocomplete="family-name"
        hint-text=""
        css-class="nhsuk-u-width-one-half" />

      <vc:text-input
        asp-for="@nameof(Model.Email)"
        label="Email address"
        populate-with-current-value="true"
        type="text"
        spell-check="false"
        autocomplete="email"
        hint-text=""
        css-class="nhsuk-u-width-one-half" />

      @if (Model.IsDelegateUser) {
        <partial name="_EditRegistrationNumber" model="@Model" />
      }
    </div>
  </div>

  @if (Model.IsDelegateUser) {
    <input type="hidden" asp-for="IsDelegateUser" />
    <div class="nhsuk-grid-row divider">
      <div class="nhsuk-grid-column-full">
        <vc:select-list
          asp-for="@nameof(Model.JobGroupId)"
          label="Job group"
          value="@Model.JobGroupId.ToString()"
          hint-text=""
          deselectable="false"
          css-class="nhsuk-u-width-one-half"
          default-option="Select a job group"
          select-list-options="@Model.JobGroups" />

        @foreach (var customField in Model.DelegateRegistrationPrompts) {
          @if (customField.Options.Any()) {
            <vc:select-list
              asp-for="@("Answer" + customField.PromptNumber)"
              label="@(customField.Prompt + (customField.Mandatory ? "" : " (optional)"))"
              value="@customField.Answer"
              hint-text=""
              deselectable="@(!customField.Mandatory)"
              css-class="nhsuk-u-width-one-half"
              default-option="Select a @customField.Prompt.ToLower()"
              select-list-options="@customField.Options" />
          } else {
            <vc:text-input
              asp-for="@("Answer" + customField.PromptNumber)"
              label="@(customField.Prompt + (customField.Mandatory ? "" : " (optional)"))"
              populate-with-current-value="true"
              type="text"
              spell-check="false"
              autocomplete=""
              hint-text=""
              css-class="nhsuk-u-width-one-half" />
          }
        }
      </div>
    </div>
  }

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-half">
      @{ var hintText = @"To change your profile picture, select a new image and click the Preview button to preview it.
                                To remove your profile picture click the remove button.
                                Changes will not be made until the Save button below is clicked."; }
      <input type="hidden" asp-for="ProfileImage" />
      <vc:file-input
        asp-for="@nameof(Model.ProfileImageFile)"
        label="Profile picture (optional)"
        hint-text="@hintText"
        css-class="nhsuk-u-width-full" />
    </div>
    <div class="nhsuk-grid-column-one-half">
      @if (Model.ProfileImage != null) {
        <img class="profile-picture__image" src="data:image;base64,@Convert.ToBase64String(Model.ProfileImage)" alt="Profile Picture" />
      } else {
        <img class="profile-picture__image" src="@Url.Content("~/images/avatar.png")" alt="Default Profile Picture" />
      }
    </div>
  </div>

  <div class="nhsuk-grid-row divider">
    <div class="nhsuk-grid-column-one-half">
      <button name="action" class="nhsuk-button" value="previewImage">Preview</button>
      <button name="action" class="nhsuk-button nhsuk-button--secondary" value="removeImage">Remove</button>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <vc:text-input
        asp-for="@nameof(Model.Password)"
        label="Confirm password to save changes:"
        populate-with-current-value="false"
        type="password"
        spell-check="false"
        autocomplete=""
        hint-text=""
        css-class="nhsuk-u-width-one-half" />

      <button name="action" class="nhsuk-button" value="save">Save</button>
    </div>
  </div>
</form>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (Url.IsLocalUrl(Model.ReturnUrl)) {
      <link rel="stylesheet" href="@Url.Content("~/css/shared/components/cancelLink.css")" asp-append-version="true">
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="@Model.ReturnUrl">
          <svg class="nhsuk-icon nhsuk-icon__close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
            <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
          </svg>
          Cancel
        </a>
      </div>
    } else {
      <vc:cancel-link asp-controller="MyAccount" asp-action="Index" asp-all-route-data="@routeParamsForIndexLink" />
    }
  </div>
</div>
