@using DigitalLearningSolutions.Data.Enums
@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@model MyAccountViewModel

<link rel="stylesheet" href="@Url.Content("~/css/myAccount/myAccount.css")" asp-append-version="true">

@{
    ViewData["Title"] = "My account";
    ViewData["Application"] = Model.DlsSubApplication.HeaderExtension;
    ViewData["HeaderPath"] = Model.DlsSubApplication.HeaderPath;
    ViewData["HeaderPathName"] = Model.DlsSubApplication.HeaderPathName;
}

@section NavMenuItems {
<partial name="_AutoNavMenuItems" model="Model.DlsSubApplication" />
}

@if (!Model.PrimaryEmailIsVerified || Model.UnverifiedCentreEmails.Count > 0)
{
    <partial name="../Shared/_VerifyEmailWarningForMyAccountPage" model="@Model" />
}

<div class="nhsuk-grid-row">
    @if (Model.CentreId == null || Model.CentreId == 0)
    {
        <div class="account-switch-warning">
            <h2 class="account-switch-warning-msg"><span>You are not logged into a centre</span></h2>
            <h6 class="account-switch-warning-msg-description"><span>You can manage your account, but you must log into a centre before you can access any other areas of DLS.</span></h6>
        </div>
    }
    <div class="nhsuk-grid-column-full">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <h1 class="nhsuk-heading-xl" id="app-page-heading">
                    My account
                </h1>
            </div>
            @{
                var switchCentreButtonText = Model.CentreId == null ? "Choose centre" : "Switch centre";
            }

            <div class="nhsuk-grid-column-one-half heading-button-group">
                <a class="@($"{ButtonType.Secondary.CssClass} heading-button")"
                   asp-controller="Login"
                   asp-action="ChooseACentre"
                   asp-route-dlsSubApplication="@Model.DlsSubApplication.UrlSegment"
                   asp-route-returnUrl="@Model.SwitchCentreReturnUrl"
                   role="button">
                    @switchCentreButtonText
                </a>
            </div>
        </div>

        <partial name="_MyDetailsCard" model="Model" />

        @if (Model.CentreId == null)
        {
            if (Model.AllCentreSpecificEmails.Any())
            {
                <partial name="_CentreEmailsCard" model="Model" />
            }
        }
        else
        {
            <partial name="_CentreSpecificDetailsCard" model="Model" />
        }

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <a class="@($"{ButtonType.Primary.CssClass} left-button-mobile-margin-bottom nhsuk-u-margin-right-2")" asp-controller="MyAccount" asp-action="EditDetails" asp-route-dlsSubApplication="@Model.DlsSubApplication.UrlSegment" role="button">
            Edit details
        </a>
        <a class="@($"{ButtonType.Secondary.CssClass} left-button-mobile-margin-bottom nhsuk-u-margin-right-2")" asp-controller="ChangePassword" asp-action="Index" asp-route-dlsSubApplication="@Model.DlsSubApplication.UrlSegment" role="button">
            Change password
        </a>
        @if (Model.CentreId != null)
        {
            <a class="@ButtonType.Secondary.CssClass" asp-controller="NotificationPreferences" asp-action="Index" asp-route-dlsSubApplication="@Model.DlsSubApplication.UrlSegment" role="button">
                View notification preferences
            </a>
        }
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <partial name="_LogoutForm" model="@ButtonType.Secondary" />
    </div>
</div>
