@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@using Microsoft.Extensions.Configuration
@model MyAccountViewModel

@inject IConfiguration Configuration

<link rel="stylesheet" href="@Url.Content("~/css/myAccount/myAccount.css")" asp-append-version="true">

@{
  ViewData["Title"] = "My Account";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl" id="app-page-heading">My account</h1>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content account-card-content">
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row account-summarylist_row">
            <dt class="nhsuk-summary-list__key">
              Centre:
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.Centre
            </dd>
          </div>

          @if (Model.User?.Length > 0)
          {
            <div class="nhsuk-summary-list__row account-summarylist_row">
              <dt class="nhsuk-summary-list__key">
                User:
              </dt>
              <dd class="nhsuk-summary-list__value">
                @Model.User
              </dd>
            </div>
          }

          @if (Model.DelegateId?.Length > 0)
          {
            <div class="nhsuk-summary-list__row account-summarylist_row">
              <dt class="nhsuk-summary-list__key">
                Delegate id:
              </dt>
              <dd class="nhsuk-summary-list__value">
                @Model.DelegateId
              </dd>
            </div>
          }
        </dl>
      </div>
    </div>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <details class="nhsuk-details nhsuk-expander bottom-margin-nhsuk-card">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          My Details
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row account-summarylist_row">
            <dt class="nhsuk-summary-list__key">
              First name:
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.FirstName
            </dd>
          </div>

          <div class="nhsuk-summary-list__row account-summarylist_row">
            <dt class="nhsuk-summary-list__key">
              Last name:
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.Surname
            </dd>
          </div>

          <div class="nhsuk-summary-list__row account-summarylist_row">
            <dt class="nhsuk-summary-list__key">
              Email address:
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.User
            </dd>
          </div>
        </dl>

        <a class="nhsuk-button" role="button">
          Edit details
        </a>
        <a class="nhsuk-button nhsuk-button--secondary  nhsuk-u-margin-left-2" role="button">
          Change password
        </a>

      </div>
    </details>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <a class="nhsuk-button" asp-controller="NotificationPreferences" asp-action="Index" role="button">
      Manage notifications
    </a>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <a class="nhsuk-button nhsuk-button--secondary" href="@Configuration["CurrentSystemBaseUrl"]/logout" role="button">
      Log out
    </a>
  </div>
</div>
