@using DigitalLearningSolutions.Web.Helpers
@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@using Microsoft.Extensions.Configuration
@model MyAccountViewModel

@inject IConfiguration Configuration

<link rel="stylesheet" href="@Url.Content("~/css/myAccount/myAccount.css")" asp-append-version="true">

@{
  ViewData["Title"] = "My Account";
}
@if (!User.HasClaim(c => c.Type == CustomClaimTypes.UserAdminId))
{
  @section NavMenuItems {
    <partial name="../LearningPortal/Shared/_NavMenuItems" />
  }
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl" id="app-page-heading">My account</h1>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content basic-card-content">
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row basic-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Centre:
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.Centre
            </dd>
          </div>

          @if (Model.User?.Length > 0)
          {
            <div class="nhsuk-summary-list__row basic-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                User:
              </dt>
              <dd class="nhsuk-summary-list__value">
                @Model.User
              </dd>
            </div>
          }

          @if (Model.DelegateNumber?.Length > 0)
          {
            <div class="nhsuk-summary-list__row basic-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Delegate id:
              </dt>
              <dd class="nhsuk-summary-list__value">
                @Model.DelegateNumber
              </dd>
            </div>
          }
        </dl>
      </div>
    </div>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <details class="nhsuk-details nhsuk-expander bottom-margin-nhsuk-card">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          My Details
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <dl class="nhsuk-summary-list account-details-list">
          <div class="nhsuk-summary-list__row account-details-list__row">
            <dt class="nhsuk-summary-list__key">
              First name:
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.FirstName
            </dd>
          </div>

          <div class="nhsuk-summary-list__row account-details-list__row">
            <dt class="nhsuk-summary-list__key">
              Last name:
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.Surname
            </dd>
          </div>

          <div class="nhsuk-summary-list__row account-details-list__row">
            <dt class="nhsuk-summary-list__key">
              Email address:
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.User
            </dd>
          </div>

          @if (Model.DelegateNumber != null)
          {
            <div class="nhsuk-summary-list__row account-details-list__row">
              <dt class="nhsuk-summary-list__key">
                Job group:
              </dt>
              <dd class="nhsuk-summary-list__value">
                @Model.JobGroup
              </dd>
            </div>

            foreach (var customField in Model.CustomFields)
            {
              <partial name="MyDetailsCustomField" model="@customField" />
            }
          }

          <div class="nhsuk-summary-list__row account-detailslist_row">
            <dt class="nhsuk-summary-list__key profile-picture__label">
              Profile picture (optional):
            </dt>
            <dd class="nhsuk-summary-list__value">
              <div class="profile-picture__image-box">
                @if (Model.ProfilePicture != null)
                {
                  <img class="profile-picture__image" src="data:image;base64,@Convert.ToBase64String(Model.ProfilePicture)" alt="Profile Picture" />
                }
                else
                {
                  <img class="profile-picture__image" src="@Url.Content("~/images/avatar.png")" alt="Default Profile Picture" />
                }
              </div>
            </dd>
          </div>
        </dl>

        <a class="nhsuk-button left-button-mobile-margin-bottom nhsuk-u-margin-right-2" asp-controller="MyAccount" asp-action="EditDetails" role="button">
          Edit details
        </a>
        <a class="nhsuk-button nhsuk-button--secondary" role="button">
          Change password
        </a>

      </div>
    </details>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <a class="nhsuk-button" asp-controller="NotificationPreferences" asp-action="Index" role="button">
      Manage notifications
    </a>
  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <a class="nhsuk-button nhsuk-button--secondary" asp-controller="Logout" asp-action="Index" role="button">
      Log out
    </a>
  </div>
</div>
