@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.AddNewCentreCourse
@model FilterableApplicationSelectListItemViewModel

<option value="@Model.ApplicationId.ToString()"
         class="searchable-element searchable-element-title"
         category-filter-value="@Model.CategoryFilter"
         topic-filter-value="@Model.TopicFilter"
         selected="@Model.Selected">
  @Model.ApplicationName
</option>
