@using DigitalLearningSolutions.Data.Enums
@using DigitalLearningSolutions.Web.ViewComponents
@using DigitalLearningSolutions.Web.ViewModels.Login
@model ChooseACentreViewModel
@{
  ViewData["Title"] = "Choose A Centre";
  var centreIdsWithUnverifiedEmails = Model.UnverifiedCentreEmails.Select(uce => uce.centreId).ToList();
}

<link rel="stylesheet" href="@Url.Content("~/css/login/chooseACentre.css")" asp-append-version="true">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <vc:verify-email-warning
      is-my-account-page="false"
      primary-email-is-unverified="@(!Model.PrimaryEmailIsVerified)"
      unverified-centre-emails="@Model.UnverifiedCentreEmails" />

    <h1 id="page-heading" class="nhsuk-heading-xl">Choose a centre</h1>

    @if (Model.CentreUserDetails.Count > 0) {
      <p class="nhsuk-body-l">
        Please choose the centre you would like to sign in to.
      </p>

      @if (Model.CentreUserDetails.Any(centreRow =>
        centreRow.Status.Equals(ChooseACentreStatus.DelegateUnapproved)
        || centreRow.Status.Equals(ChooseACentreStatus.Unapproved))) {
        <vc:inset-text css-class="" text="You have an unapproved delegate account. You will be notified via email when your registration has been approved." />
      }

      <table role="table" class="nhsuk-table-responsive">
        <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" scope="col">
            Centre
          </th>
          <th role="columnheader" scope="col" class="centre-status-th">
            Status
          </th>
          <th role="columnheader" scope="col">
            Roles
          </th>
          <th role="columnheader" scope="col">
            Action
          </th>
        </tr>
        </thead>

        <tbody class="nhsuk-table__body">
        @foreach (var centreRow in Model.CentreUserDetails) {
          <tr role="row" class="nhsuk-table__row">
            <td role="cell" class="nhsuk-table__cell choose-centre-td">
              <span class="nhsuk-table-responsive__heading">Centre: </span>
              @centreRow.CentreName
            </td>
            <td role="cell" class="nhsuk-table__cell choose-centre-td">
              <span class="nhsuk-table-responsive__heading">Status: </span>
              <strong class="nhsuk-tag nhsuk-tag--@centreRow.Status.TagColour">@centreRow.Status.TagLabel</strong>
            </td>
            <td role="cell" class="nhsuk-table__cell choose-centre-td">
              <span class="nhsuk-table-responsive__heading">Roles: </span>
              <div class="centre-role-tags">
                @if (centreRow.IsActiveAdmin) {
                  <strong class="nhsuk-tag nhsuk-tag--blue centre-role-tag">Admin</strong>
                }
                @if (centreRow.IsDelegate) {
                  <strong class="nhsuk-tag nhsuk-tag--grey centre-role-tag">Delegate</strong>
                }
              </div>
            </td>
            <td role="cell" class="nhsuk-table__cell choose-centre-td">
              @if (Model.PrimaryEmailIsVerified && !centreIdsWithUnverifiedEmails.Contains(centreRow.CentreId)) {
                @if (centreRow.Status.ActionButton == ChooseACentreButton.Choose) {
                  <form method="POST" asp-action="ChooseCentre">
                    <input type="hidden" name="centreId" value="@centreRow.CentreId" />
                    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                    <button
                      type="submit"
                      class="nhsuk-button nhsuk-u-margin-bottom-3 nhsuk-u-padding-bottom-0 nhsuk-u-padding-top-0 nhsuk-u-margin-top-0">
                      Choose <span class="nhsuk-u-visually-hidden">@centreRow.CentreName</span>
                    </button>
                  </form>
                } else if (centreRow.Status.ActionButton == ChooseACentreButton.Reactivate) {
                  <a asp-controller="RegisterAtNewCentre"
                     asp-action="Index"
                     asp-route-centreId="@centreRow.CentreId"
                     role="button"
                     class="nhsuk-button nhsuk-u-margin-bottom-3 nhsuk-u-padding-bottom-0 nhsuk-u-padding-top-0 nhsuk-u-margin-top-0">
                    Reregister <span class="nhsuk-u-visually-hidden">@centreRow.CentreName</span>
                  </a>
                }
              } else {
                <span class="nhsuk-u-visually-hidden">You cannot log in to this centre.</span>
              }
            </td>
          </tr>
        }
        </tbody>
      </table>
    } else {
      <p>You have no centre accounts.</p>
    }

    @if (!Model.PrimaryEmailIsVerified) {
      <a role="button" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-4 nhsuk-u-margin-top-0" asp-controller="RegisterAtNewCentre" asp-action="Index">
        Register at a new centre
      </a>
    }
  </div>
</div>
