@using DigitalLearningSolutions.Web.ViewModels.LearningMenu
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model DiagnosticAssessmentViewModel

<link rel="stylesheet" href="@Url.Content("~/css/learningMenu/index.css")" asp-append-version="true">

@{
  ViewData["HeaderPrefix"] = "";
  ViewData["Application"] = Model.CourseTitle;
  ViewData["Title"] = Model.CourseTitle;
  ViewData["CustomisationId"] = Model.CustomisationId;
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/LearningMenu/{Model.CustomisationId}";
  ViewData["HeaderPathName"] = Model.CourseTitle;
}
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}

@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" asp-action="Close">Completed activities</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" asp-action="Index" asp-route-customisationId="@Model.CustomisationId">@Model.CourseTitle</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" asp-action="Section" asp-route-customisationId="@Model.CustomisationId" asp-route-sectionId="@Model.SectionId">@Model.SectionName</a></li>
        <li class="nhsuk-breadcrumb__item">Diagnostic assessment</li>
      </ol>

      @if (Model.OnlyItemInOnlySection)
      {
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="Close">Return to current activities</a></p>
      }
      else if (Model.OnlyItemInThisSection)
      {
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="Index" asp-route-customisationId="@Model.CustomisationId">Return to course menu</a></p>
      }
      else
      {
        <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="Section" asp-route-customisationId="@Model.CustomisationId" asp-route-sectionId="@Model.SectionId">Return to section</a></p>
      }
    </div>
  </nav>
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading" class="nhsuk-heading-xl">
      <span class="nhsuk-caption-l">Diagnostic assessment</span>
      @Model.SectionName
    </h1>
    @if (Model.OnlyItemInOnlySection)
    {
      <p class="nhsuk-u-font-size-24">@Model.CourseDescription</p>
    }
    <h2 class="nhsuk-u-secondary-text-color">
      <span class="nhsuk-u-visually-hidden">Your status: </span>
      @Model.AttemptsInformation
    </h2>
  </div>
</div>

<partial name="Diagnostic/_DiagnosticImportantInformation" />

<form
  class="nhsuk-form-group nhsuk-u-margin-bottom-5"
  method="get"
  asp-action="DiagnosticContent"
  asp-route-customisationId="@Model.CustomisationId"
  asp-route-sectionId="@Model.SectionId">
  <fieldset class="nhsuk-fieldset">
    @if (Model.CanSelectTutorials)
    {
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        Which areas do you want to assess?
      </legend>

      <div class="nhsuk-hint">
        Select all areas that you want to test.
      </div>

      <div class="nhsuk-u-margin-bottom-3">
        @foreach (var tutorial in Model.Tutorials)
        {
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" type="checkbox" name="checkedTutorials" checked="checked" id="@tutorial.Id" value="@tutorial.Id">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="@tutorial.Id">
              @tutorial.TutorialName
            </label>
          </div>
        }
      </div>
    }

    <div class="button-row">
      <div>
        <button class="nhsuk-button nhsuk-u-margin-bottom-0 @Model.DiagnosticStartButtonAdditionalStyling" type="submit">
          @Model.DiagnosticStartButtonText
        </button>
      </div>

      @if (Model.ShowNextButton) {
        <div>
          <partial name="Diagnostic/_DiagnosticNextLink" model="Model"/>
        </div>
      }
    </div>
  </fieldset>
</form>

@if (Model.ShowCompletionSummary)
{
  <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible thick">

  <partial name="Shared/_CompletionSummaryCard" model="Model.CompletionSummaryCardViewModel" />
}
