@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.ViewDelegate
@model DelegateCourseInfoViewModel

<div class="nhsuk-expander-group" id="@Model.CustomisationId-card">
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text" id="@Model.CustomisationId-name" name="name">
        @Model.CourseName
      </span>
    </summary>

    <div class="nhsuk-details__text">
      <dl class="nhsuk-summary-list details-list-with-button">
        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Enrolled
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.Enrolled" />
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Supervisor
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.Supervisor" />
          <dd class="nhsuk-summary-list__actions">
            <a asp-controller="DelegateProgress"
               asp-action="EditSupervisor"
               asp-route-progressId="@Model.ProgressId"
               asp-route-accessedVia="@DelegateProgressAccessRoute.ViewDelegate">
              Edit<span class="nhsuk-u-visually-hidden"> supervisor</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Complete by
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.CompleteBy" />
          <dd class="nhsuk-summary-list__actions">
            <a asp-controller="DelegateProgress"
               asp-action="EditCompleteByDate"
               asp-route-progressId="@Model.ProgressId"
               asp-route-accessedVia="@DelegateProgressAccessRoute.ViewDelegate">
              Edit<span class="nhsuk-u-visually-hidden"> complete by date</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Last updated
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.LastUpdated" />
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Completed
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.Completed" />
          <dd class="nhsuk-summary-list__actions">
            @if (Model.Completed == null) {
              <a href="#">Set completed date</a>
            }
          </dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Evaluated
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.Evaluated" />
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Enrolment method
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.EnrolmentMethod" />
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Logins
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.LoginCount.ToString()" />
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Learning time
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.LearningTime" />
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Diagnostic score
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.DiagnosticScore.ToString()" />
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Progress locked
          </dt>
          <dd class="nhsuk-summary-list__value">
            @(Model.IsProgressLocked ? "Yes" : "No")
          </dd>
        </div>

        @if (Model.IsAssessed) {
          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              Assessments passed
            </dt>
            <partial name="_SummaryFieldValue" model="@Model.AttemptsPassed.ToString()" />
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>

          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              Assessment attempts
            </dt>
            <partial name="_SummaryFieldValue" model="@Model.TotalAttempts.ToString()" />
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>

          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              Pass rate
            </dt>
            <partial name="_SummaryFieldValue" model="@Model.PassRateDisplayString" />
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>
        }

        @foreach (var courseCustomPrompt in Model.CourseCustomPromptsWithAnswers) {
          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              @courseCustomPrompt.CustomPromptText
            </dt>
            <partial name="_SummaryFieldValue" model="@courseCustomPrompt.Answer" />
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>
        }
      </dl>
      <a class="nhsuk-button"
         role="button"
         asp-controller="DelegateProgress"
         asp-action="Index"
         asp-route-progressId="@Model.ProgressId"
         asp-route-accessedVia="@DelegateProgressAccessRoute.ViewDelegate">
        View progress
      </a>
      <a class="nhsuk-button nhsuk-button--secondary" role="button">See learning log</a>

      @if (Model.IsProgressLocked) {
        <a class="nhsuk-button nhsuk-button--secondary"
           role="button"
           asp-controller="DelegateProgress"
           asp-route-progressId="@Model.ProgressId"
           asp-route-delegateId="@Model.DelegateId"
           asp-action="UnlockProgress"
           asp-route-accessedVia="@DelegateProgressAccessRoute.ViewDelegate">
          Unlock progress
        </a>
      }
      <a class="nhsuk-button delete-button"
         role="button"
         asp-controller="ViewDelegate"
         asp-action="ConfirmRemoveFromCourse"
         asp-route-delegateId="@Model.DelegateId"
         asp-route-customisationId="@Model.CustomisationId">
        Remove
      </a>
    </div>
  </details>
</div>
