@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.ViewDelegate
@model DelegateCourseInfoViewModel

<div class="nhsuk-expander-group" id="@Model.CustomisationId-card">
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text" id="@Model.CustomisationId-name" name="name">
        @Model.CourseName
      </span>
    </summary>

    <div class="nhsuk-details__text">
      <dl class="nhsuk-summary-list details-list-with-button">
        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Enrolled
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.Enrolled" />
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Supervisor
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.Supervisor" />
          <dd class="nhsuk-summary-list__actions">
            <a asp-controller="DelegateProgress"
               asp-action="EditSupervisor"
               asp-route-progressId="@Model.ProgressId"
               asp-route-accessedVia="@DelegateAccessRoute.ViewDelegate">
              Edit<span class="nhsuk-u-visually-hidden"> supervisor</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Complete by
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.CompleteBy" />
          <dd class="nhsuk-summary-list__actions">
            <a asp-controller="DelegateProgress"
               asp-action="EditCompleteByDate"
               asp-route-progressId="@Model.ProgressId"
               asp-route-accessedVia="@DelegateAccessRoute.ViewDelegate">
              Edit<span class="nhsuk-u-visually-hidden"> complete by date</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Last access
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.LastUpdated" />
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Completed
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.Completed" />
          <dd class="nhsuk-summary-list__actions">
            <a asp-controller="DelegateProgress"
               asp-action="EditCompletionDate"
               asp-route-progressId="@Model.ProgressId"
               asp-route-accessedVia="@DelegateAccessRoute.ViewDelegate">
              Edit<span class="nhsuk-u-visually-hidden"> completed date</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Evaluated
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.Evaluated" />
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Enrolment method
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.EnrolmentMethod" />
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Logins
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.LoginCount.ToString()" />
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Learning time
          </dt>
          <partial name="_SummaryFieldValue" model="@Model.LearningTime" />
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">
            Diagnostic score
          </dt>
          <dd class="nhsuk-summary-list__value">
            @(Model.DiagnosticScore?.ToString() ?? "N/A")
          </dd>
          <dd class="nhsuk-summary-list__actions"></dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Progress locked
          </dt>
          <partial name="_SummaryBooleanField" model="@Model.IsProgressLocked" />
        </div>

        @if (Model.IsAssessed) {
          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              Assessments passed
            </dt>
            <partial name="_SummaryFieldValue" model="@Model.AttemptsPassed.ToString()" />
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>

          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              Assessment attempts
            </dt>
            <partial name="_SummaryFieldValue" model="@Model.TotalAttempts.ToString()" />
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>

          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              Pass rate
            </dt>
            <partial name="_SummaryFieldValue" model="@Model.PassRateDisplayString" />
            <dd class="nhsuk-summary-list__actions"></dd>
          </div>
        }

        @foreach (var courseCustomPrompt in Model.CourseAdminFieldsWithAnswers) {
          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              @courseCustomPrompt.PromptText
            </dt>
            <partial name="_SummaryFieldValue" model="@courseCustomPrompt.Answer" />
            <dd class="nhsuk-summary-list__actions">
              <a asp-controller="DelegateProgress"
                 asp-action="EditDelegateCourseAdminField"
                 asp-route-progressId="@Model.ProgressId"
                 asp-route-promptNumber="@courseCustomPrompt.PromptNumber"
                 asp-route-accessedVia="@DelegateAccessRoute.ViewDelegate">
                Edit<span class="nhsuk-u-visually-hidden"> @courseCustomPrompt.PromptText</span>
              </a>
            </dd>
          </div>
        }
      </dl>
      <a class="nhsuk-button"
         role="button"
         asp-controller="DelegateProgress"
         asp-action="Index"
         asp-route-progressId="@Model.ProgressId"
         asp-route-accessedVia="@DelegateAccessRoute.ViewDelegate">
        View progress
      </a>
      @if (string.IsNullOrEmpty(Model.Completed)) {
        <a
          class="nhsuk-button delete-button"
          role="button"
          asp-controller="ViewDelegate"
          asp-action="ConfirmRemoveFromCourse"
          asp-route-delegateId="@Model.DelegateId"
          asp-route-customisationId="@Model.CustomisationId"
          asp-route-accessedVia="@DelegateAccessRoute.ViewDelegate">
          Remove
        </a>
      }

      @if (Model.IsProgressLocked) {
        <a class="nhsuk-button nhsuk-button--secondary"
           role="button"
           asp-controller="DelegateProgress"
           asp-route-progressId="@Model.ProgressId"
           asp-route-delegateId="@Model.DelegateId"
           asp-action="UnlockProgress"
           asp-route-accessedVia="@DelegateAccessRoute.ViewDelegate">
          Unlock progress
        </a>
      }
    </div>
  </details>
</div>
