@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.ViewDelegate
@using Microsoft.Extensions.Configuration
@model RemoveFromCourseViewModel

@{
  ViewData["Title"] = $"Remove delegate enrolment from {Model.CourseName}";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
}

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">Remove delegate enrolment from @Model.CourseName</h1>
    <h2 class="nhsuk-heading-l">Delegate: @Model.Name</h2>
    <div class="nhsuk-form-group">
      <form asp-action="RemoveFromCourse" asp-route-delegateId="@Model.DelegateId" asp-route-customisationId="@Model.CustomisationId">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <div class="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="confirm" name="confirm" type="checkbox" value="confirm" aria-describedby="confirm-item-hint">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="nationality-1">
                I am sure that I want to remove @Model.Name from the @Model.CourseName course.
              </label>
              <div class="nhsuk-hint nhsuk-checkboxes__hint" id="nationality-1-item-hint">
                This action will remove the course from the delegate's Current/Completed courses list and archive their progress.
              </div>
            </div>
          </div>
          <button class="nhsuk-button delete-button nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-6" role="button" type="submit">Remove delegate</button>
        </fieldset>
      </form>
      <vc:cancel-link asp-controller="ViewDelegate" asp-action="Index" asp-route-delegateId="@Model.DelegateId" />
    </div>
  </div>
</div>
