@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.ViewModels.Common
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates
@using Microsoft.Extensions.Configuration
@model ViewDelegateViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/viewDelegate.css")" asp-append-version="true">

@{
  ViewData["Title"] = "View delegate";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
  var activeTagCss = Model.DelegateInfo.IsActive ? "nhsuk-tag nhsuk-tag--green" : "nhsuk-tag nhsuk-tag--red";
  var passwordTagCss = Model.DelegateInfo.IsPasswordSet ? "nhsuk-tag nhsuk-tag--green" : "nhsuk-tag nhsuk-tag--red";
}

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

@section NavBreadcrumbs {
  <partial name="~/Views/TrackingSystem/Delegates/Shared/_AllDelegatesBreadcrumbs.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-3">@Model.DelegateInfo.Name</h1>
  </div>
  @if (Model.DelegateInfo.IsActive) {
    <div class="nhsuk-grid-column-one-third view-delegate-top-button-group">
      <a class="nhsuk-button nhsuk-button--secondary view-delegate-button" role="button">
        Send welcome email
      </a>
    </div>
  }

  <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-5">
    <div class="nhsuk-u-margin-bottom-5">
      <strong class="@activeTagCss">@(Model.ActiveTagName)</strong>
      <strong class="nhsuk-tag nhsuk-tag--grey">@(Model.RegStatusTagName)</strong>
      <strong class="@passwordTagCss">@(Model.PasswordTagName)</strong>
      @if (Model.DelegateInfo.IsAdmin) {
        <strong class="nhsuk-tag nhsuk-tag--grey">Admin</strong>
      }
    </div>

    <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Details</h2>
    <dl class="nhsuk-summary-list details-list-with-button">
      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Name
        </dt>
        <partial name="_SummaryFieldValue" model="@Model.DelegateInfo.Name" />
      </div>

      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Email
        </dt>
        <partial name="_SummaryFieldValue" model="@Model.DelegateInfo.Email" />
      </div>

      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          ID
        </dt>
        <partial name="_SummaryFieldValue" model="@Model.DelegateInfo.CandidateNumber" />
      </div>

      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Alias
        </dt>
        <partial name="_SummaryFieldValue" model="@Model.DelegateInfo.AliasId" />
      </div>

      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Registration date
        </dt>
        <partial name="_SummaryFieldValue" model="@Model.DelegateInfo.RegistrationDate" />
      </div>

      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Job group
        </dt>
        <partial name="_SummaryFieldValue" model="@Model.DelegateInfo.JobGroup" />
      </div>

      @foreach (CustomFieldViewModel customField in Model.DelegateInfo.CustomFields) {
        <div class="nhsuk-summary-list__row details-list-with-button__row">
          <dt class="nhsuk-summary-list__key">@customField.CustomPrompt</dt>
          <partial name="_SummaryFieldValue" model="@customField.Answer" />
        </div>
      }
    </dl>

    <div class="nhsuk-u-margin-top-4">
      @if (Model.DelegateInfo.IsActive) {
        <a class="nhsuk-button view-delegate-button" role="button">
          Edit details
        </a>
        <a class="nhsuk-button nhsuk-button--secondary view-delegate-button" role="button">
          Set password
        </a>
        <a class="nhsuk-button nhsuk-button--secondary view-delegate-button" role="button">
          Promote to admin
        </a>
        <div>
          <a class="nhsuk-button delete-button view-delegate-button" role="button">
            Deactivate account
          </a>
        </div>
      } else {
        <a class="nhsuk-button view-delegate-button" role="button">
          Reactivate account
        </a>
      }
    </div>
  </div>

  <div class="nhsuk-grid-column-full">
    <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-2">Courses</h2>
    @if (!Model.CourseInfoList.Any()) {
      <p class="nhsuk-u-margin-top-4" role="alert">
        <b>Not currently registered for any courses.</b>
      </p>
    } else {
      <div id="searchable-elements">
        @foreach (var delegateCourseInfoViewModel in Model.CourseInfoList) {
          <partial name="_DelegateCourseInfoCard" model="delegateCourseInfoViewModel" />
        }
      </div>
    }
  </div>
</div>
