@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.BulkUpload
@model BulkUploadResultsViewModel

@{
    ViewData["Title"] = "Complete - Bulk register/update delegates";
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1 class="nhsuk-heading-xl">Delegate processing complete</h1>

        <h2>Summary of results:</h2>
        <ul>
            <li>@Model.ProcessedCount @(Model.ProcessedCount == 1 ? "row" : "rows") processed</li>
            <li>@Model.RegisteredCount new @(Model.RegisteredCount == 1 ? "delegate" : "delegates") registered</li>
            <li>@Model.UpdatedCount existing delegate  @(Model.UpdatedCount == 1 ? "record" : "records") updated</li>
            <li>@Model.SkippedCount existing delegate  @(Model.SkippedCount == 1 ? "record" : "records") skipped (no changes)</li>
            <li>@Model.ErrorCount @(Model.ErrorCount == 1 ? "row" : "rows") skipped due to errors</li>
        </ul>
        <h2>What to do next</h2>
        <ul>
            @if (Model.ErrorCount > 0)
            {
                <li>You should review the delegates skipped due to errors below.</li>
            }
            @if (Model.RegisteredCount > 0)
            {
                <li>Registered delegates (@Model.RegisteredCount) will be sent a welcome email on @Model.Day/@Model.Month/@Model.Year.</li>
                <li>You can resend re-send the welcome email by using the <a asp-controller="AllDelegates" asp-action="Email" asp-all-route-data="@null">Email</a> button on the <a asp-controller="AllDelegates" asp-action="Index" asp-all-route-data="@null">Delegates</a> screen.</li>
            }
            <li>If you need to promote any of the users to an administrator role, you can do this from the <a asp-controller="AllDelegates" asp-action="Index" asp-all-route-data="@null">Delegates</a> screen. Search for the user and click "Manage delegate".</li>
        </ul>

        @if (Model.ErrorCount > 0)
        {
            <div class="nhsuk-form-group nhsuk-form-group--error">
                <span class="nhsuk-error-message" id="error-list">
                    <span class="nhsuk-u-visually-hidden">Error:</span> @Model.ErrorCount delegate @(Model.ErrorCount == 1 ? "row" : "rows") contained errors that could not be processed. To fix these, upload a new sheet with only the corrected rows (delete the others).
                </span>
                <dl class="nhsuk-summary-list">
                    @foreach (var (rowNumber, errorMessage) in Model.Errors)
                    {
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Row @rowNumber
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                @errorMessage
                            </dd>

                        </div>
                    }
                </dl>
            </div>
        }
        <vc:action-link asp-controller="AllDelegates" asp-action="Index" asp-all-route-data="@null" link-text="Back to delegates" />
    </div>
</div>
