@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates
@model BulkUploadPreProcessViewModel

@{
  ViewData["Title"] = "Complete - Bulk upload/update delegates";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">Delegate file uploaded</h1>

    <h2>Excel file successfully uploaded and ready to process</h2>
        <p class="nhsuk-body-l">Processing this file will result in the following changes:</p>
    <ul>
      <li>@Model.ToProcessCount @(Model.ToProcessCount == 1 ? "row" : "rows") to process</li>
      <li>@Model.ToRegisterCount new @(Model.ToRegisterCount == 1 ? "delegate" : "delegates") to register</li>
      <li>@Model.ToUpdateOrSkipCount delegate @(Model.ToUpdateOrSkipCount == 1 ? "record" : "records") to update (or skip if unchanged)</li>
      <li>@Model.ErrorCount @(Model.ErrorCount == 1 ? "row" : "rows") have errors which will be skipped due to errors</li>
    </ul>

    @if (Model.ErrorCount > 0)
    {
      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            The uploaded Excel worksheet contains errors
          </span>
        </h3>
        <p>The rows below have errors and will be skipped if you proceed:</p>
        <ul>
          @foreach (var (rowNumber, errorMessage) in Model.Errors)
          {
            <li>Row @rowNumber: @errorMessage</li>
          }
        </ul>
      </div>
    }

    <vc:action-link asp-controller="AllDelegates" asp-action="Index" asp-all-route-data="@null" link-text="Manage all delegates" />
  </div>
</div>
