@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates
@using Microsoft.Extensions.Configuration
@model BulkUploadResultsViewModel

@{
  ViewData["Title"] = "Complete - Bulk upload/update delegates";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
}

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">Bulk upload complete</h1>

    <h3>Summary of results:</h3>
    <ul>
      <li>@Model.Processed lines processed</li>
      <li>@Model.Registered new delegates registered</li>
      <li>@Model.Updated delegate records updated</li>
      <li>@Model.Skipped delegate records skipped (no changes)</li>
      <li>@Model.ErrorCount lines skipped due to errors</li>
    </ul>

    @if (Model.ErrorCount > 0) {
      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            The uploaded Excel worksheet contained errors
          </span>
        </h3>
        <p>The lines below were skipped due to errors during processing:</p>
        <ul>
          @foreach (var (rowNumber, errorMessage) in Model.Errors) {
            <li>Line @rowNumber: @errorMessage</li>
          }
        </ul>
      </div>
    }

    <vc:action-link asp-controller="AllDelegates" asp-action="Index" asp-all-route-data="@null" link-text="Manage all delegates" />
  </div>
</div>
