@using DigitalLearningSolutions.Web.ViewModels.LearningMenu
@using Microsoft.Extensions.Configuration
@model InitialMenuViewModel
@inject IConfiguration Configuration

<link rel="stylesheet" href="@Url.Content("~/css/learningMenu/index.css")" asp-append-version="true">

@{
  ViewData["HeaderPrefix"] = "";
  ViewData["Application"] = Model.Title;
  ViewData["Title"] = Model.Title;
  ViewData["CustomisationId"] = Model.Id;
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/LearningMenu/{Model.Id}/Password";
  ViewData["HeaderPathName"] = Model.Title;
}
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
  @{
  var learningActivity = TempData["LearningActivity"]?.ToString(); TempData.Keep("LearningActivity");
}

@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" asp-action="Close" asp-route-learningActivity=@learningActivity>@learningActivity activities</a></li>
        <li class="nhsuk-breadcrumb__item">@Model.Title</li>
      </ol>
      <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__link" asp-action="Close" asp-route-learningActivity=@learningActivity>Return to @learningActivity activities</a></p>
    </div>
  </nav>
}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 id="page-heading" class="nhsuk-heading-xl">@Model.Title</h1>
      <p class="nhsuk-u-font-size-24">@Model.Description</p>
      <p class="nhsuk-u-secondary-text-color nhsuk-heading-s">@Model.BannerText</p>
    </div>
  </div>

  <div>
    <h2>This course requires a password</h2>
    <form method="post">
      <div class="@(Context.Request.Query["error"] == "True" ? "nhsuk-form-group nhsuk-form-group--error" :"nhsuk-form-group")">
        <label class="nhsuk-label" for="password-input">
          Password
        </label>
        @if (Context.Request.Query["error"] == "True")
      {
        <span class="nhsuk-error-message" id="password-error-error">
          <span class="nhsuk-u-visually-hidden">Error:</span> The password was incorrect.
        </span>
      }
      <input required autofocus class="nhsuk-input nhsuk-input--width-20" id="Password" name="Password" type="password" aria-describedby="example-with-hint-text-hint">
    </div>
    <button type="submit" class="nhsuk-button">Submit</button>
  </form>
</div>
