@using DigitalLearningSolutions.Web.ViewModels.LearningMenu
@using Microsoft.Extensions.Configuration
@model InitialMenuViewModel
@inject IConfiguration Configuration

<link rel="stylesheet" href="@Url.Content("~/css/learningMenu/index.css")" asp-append-version="true">

@{
  ViewData["HeaderPrefix"] = "";
  ViewData["Application"] = Model.Title;
  ViewData["Title"] = Model.Title;
  ViewData["CustomisationId"] = Model.Id;
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/LearningMenu/{Model.Id}";
  ViewData["HeaderPathName"] = Model.Title;
}
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading" class="nhsuk-heading-xl">@Model.Title</h1>
    <h2 class="nhsuk-u-secondary-text-color nhsuk-heading-l">Average Course Time: @Model.AverageDuration</h2>
    <p class="nhsuk-u-margin-bottom-0">@Model.CentreName</p>
    <p class="nhsuk-u-secondary-text-color">@Model.BannerText</p>
  </div>
</div>

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" asp-action="Close" asp-controller="LearningMenu">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Return to your current activities
  </a>
</div>

<div>
  @foreach (var section in Model.Sections)
  {
    <partial name="_SectionCard" model="section" />
  }
</div>

@if (Model.ShouldShowCompletionSummary)
{
  <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible thick">

  <div class="nhsuk-card nhsuk-card--clickable learning-menu-card">
    <div class="nhsuk-card__content">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-three-quarters">
          <h2 class="nhsuk-card__heading nhsuk-heading-m completion-card-heading">
            <a class="nhsuk-card__link" href="#">Course Completion Summary</a>
          </h2>
        </div>
        <div class="nhsuk-grid-column-one-quarter">
          <strong class="status-tag @Model.CompletionStyling">
            @Model.CompletionStatus
          </strong>
        </div>
      </div>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <p class="nhsuk-u-secondary-text-color nhsuk-u-margin-0">@Model.CompletionSummary</p>
        </div>
      </div>
    </div>
  </div>
}
