@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.GroupDelegates
@using Microsoft.Extensions.Configuration
@model RemoveGroupDelegateViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Remove delegate from group" : "Remove delegate from group";
  var confirmError = ViewData.ModelState[nameof(Model.ConfirmRemovalFromGroup)]?.Errors?.Count > 0;
  var confirmFormErrorClass = confirmError ? "nhsuk-form-group--error" : "";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred)
    {
      <vc:error-summary order-of-property-names="@new []{ nameof(Model.ConfirmRemovalFromGroup) }" />
    }

    <h1 class="nhsuk-heading-xl word-break">Are you sure you would like to remove @Model.DelegateName from this group?</h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full nhsuk-lede-text">
    All enrolments on courses that have not yet been started and are associated with the delegate’s membership of this group will be removed.
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter nhsuk-heading-l nhsuk-u-font-weight-bold">
    Group name:
  </div>
  <div class="nhsuk-grid-column-three-quarters nhsuk-heading-l nhsuk-u-font-weight-normal word-break">
    @Model.GroupName
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <form class="nhsuk-u-margin-bottom-5" method="post" asp-action="RemoveGroupDelegate">
      <div class="nhsuk-form-group @confirmFormErrorClass">
        <fieldset class="nhsuk-fieldset" aria-describedby="@(nameof(Model.ConfirmRemovalFromGroup))-error">
          @if (confirmError)
          {
            <span class="nhsuk-error-message" id="@(nameof(Model.ConfirmRemovalFromGroup))-error">
              <span class="nhsuk-u-visually-hidden">Error:</span> @ViewData.ModelState[nameof(Model.ConfirmRemovalFromGroup)].Errors[0].ErrorMessage
            </span>
          }
          <div class="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" asp-for="ConfirmRemovalFromGroup" />
              <label class="nhsuk-label nhsuk-checkboxes__label word-break" asp-for="ConfirmRemovalFromGroup">
                I am sure that I wish to remove @Model.DelegateName from this group.
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      @if (Model.RemoveStartedEnrolmentsEnabled)
      {
        <div class="nhsuk-form-group">
          <fieldset class="nhsuk-fieldset" aria-describedby="@(nameof(Model.RemoveStartedEnrolments))-error">
            <div class="nhsuk-checkboxes">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input" asp-for="RemoveStartedEnrolments" aria-describedby="@(nameof(Model.RemoveStartedEnrolments))-item-hint" />
                <label class="nhsuk-label nhsuk-checkboxes__label" asp-for="RemoveStartedEnrolments">
                  Remove delegate from all the related enrolments where course has been started but is not yet complete
                </label>
                <div class="nhsuk-hint nhsuk-checkboxes__hint" id="@(nameof(Model.RemoveStartedEnrolments))-item-hint">
                  Optionally all enrolments on courses that have been started, but are incomplete and are associated with the delegate’s membership of this group can also be removed.
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      }

      <input type="hidden" asp-for="GroupName" />
      <input type="hidden" asp-for="DelegateName" />
      <input type="hidden" asp-for="RemoveStartedEnrolmentsEnabled" />
      <button class="nhsuk-button delete-button nhsuk-button--secondary" type="submit">Remove delegate</button>
    </form>

    @{
      var routeData = new Dictionary<string, string> {
        { "groupId", Model.GroupId.ToString() }
      };
    }
    <vc:cancel-link-with-return-page-query asp-controller="GroupDelegates" asp-action="Index" route-data="@routeData" return-page-query="@Model.ReturnPageQuery"/>
  </div>
</div>
