@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.Helpers
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.SetDelegatePassword
@using Microsoft.Extensions.Configuration
@model SetDelegatePasswordViewModel

@{
  ViewData["Title"] = "Set delegate user password";
  var errorHasOccurred = !ViewData.ModelState.IsValid;
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Password) })" />
    }

    <h1 class="nhsuk-heading-xl">Set delegate user password</h1>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-heading-l nhsuk-u-font-weight-bold">
        User:
      </div>
      <div class="nhsuk-grid-column-three-quarters nhsuk-heading-l nhsuk-u-font-weight-normal word-break">
        @Model.Name
      </div>
    </div>

    <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="Index">
      <input type="hidden" asp-for="Name" />
      <input type="hidden" asp-for="DelegateId" />
      <input type="hidden" asp-for="IsFromViewDelegatePage" />
      <input type="hidden" asp-for="ReturnPageQuery" />
      <vc:text-input asp-for="@nameof(Model.Password)"
                     label="Password"
                     populate-with-current-value="false"
                     type="text"
                     spell-check="false"
                     autocomplete="off"
                     hint-text="Password should have a minimum of 8 characters with at least 1 letter, 1 number and 1 symbol."
                     css-class="nhsuk-u-width-one-half" />

      <button class="nhsuk-button" type="submit">Save</button>
    </form>

    @if (Model.IsFromViewDelegatePage) {
      var routeData = new Dictionary<string, string> { { "delegateId", Model.DelegateId.ToString() } };
      <vc:cancel-link asp-controller="ViewDelegate" asp-action="Index" asp-all-route-data="@routeData" />
    } else {
      <vc:cancel-link asp-controller="AllDelegates" asp-action="Index" asp-all-route-data="@ReturnPageQueryHelper.GetRouteDataForBackLinkFromReturnPageQuery(Model.ReturnPageQuery)" />
    }

  </div>
</div>
