@using DigitalLearningSolutions.Web.ViewModels.CompetencyAssessments
@model WorkingGroupCollaboratorsViewModel
@{
    ViewData["Title"] = "Assign working group";
    ViewData["Application"] = "Self-assessment service";
    ViewData["HeaderPathName"] = "Self-assessment service";
    string errMsg = TempData["CompetencyAssessmentError"]?.ToString();
    if (!string.IsNullOrWhiteSpace(errMsg)) { Model.Error = true; }
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
    <partial name="Shared/_NavMenuItems" />
}
@if (Model.Error)
{
    <vc:error-summary order-of-property-names="@(new string[] { "UserEmail" })" />
}
@section NavBreadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewCompetencyAssessments" asp-route-tabname="Mine">Self-assessments</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentID">Manage self-assessment</a></li>
                <li class="nhsuk-breadcrumb__item">Assign working group (contributors and reviewers)</li>
            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentID">Back to manage self-assessment</a></p>
        </div>
    </nav>
}
<h1>Choose working group members</h1>
<div class="nhsuk-table__panel-with-heading-tab">
    <h2 class="nhsuk-table__heading-tab">Working Group Members</h2>
    <table role="presentation" class="nhsuk-table-responsive">
        <thead role="rowgroup" class="nhsuk-table__head">
            <tr role="row">
                <th role="columnheader" class="" scope="col">
                    User
                </th>
                <th role="columnheader" class="" scope="col">
                    Role
                </th>
                @if (Model.Collaborators.Count() > 1 && Model.UserRole > 1)
                {
                    <th role="columnheader" class="" scope="col">
                        Actions
                    </th>
                }
            </tr>
        </thead>
        <tbody class="nhsuk-table__body">
            @foreach (var collaborator in Model.Collaborators)
            {
                <tr role="row" class="nhsuk-table__row collaborator-row">
                    <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
                        <span class="nhsuk-table-responsive__heading">User </span>
                        <span class="framework-collaborator-user">
                            @collaborator.UserEmail @(collaborator.UserActive == true ? "" : "(inactive)")
                        </span>
                    </td>
                    <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
                        <span class="nhsuk-table-responsive__heading">Role </span>
                        <span class="framework-collaborator-role">
                            <partial name="Shared/_RoleTag" model="collaborator" />
                        </span>
                    </td>
                    @if (Model.Collaborators.Count() > 1 && Model.UserRole > 1)
                    {
                        <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
                            <span class="nhsuk-table-responsive__heading">Actions </span>
                            @if (collaborator.CompetencyAssessmentRole != "Owner")
                            {
                                <a asp-action="RemoveCollaborator" asp-route-actionName="Collaborators" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentID" asp-route-id="@collaborator.ID" )">
                                    Remove
                                </a>
                            }

                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<input type="hidden" asp-for="ActionName" />
<form method="post">
    @if (Model.UserRole > 1)
    {
        <label class="nhsuk-label nhsuk-u-margin-top-6" for="add-user-hint">
            <h2>Add a user to the working group</h2>
        </label>
        <div class="@(Model.Error ? "nhsuk-form-group nhsuk-form-group--error" : "nhsuk-form-group")">
            <div class=" sort-select-container">
                <label class="nhsuk-label" for="UserEmail">
                    User email address
                </label>

                <div class="nhsuk-hint" id="add-user-hint">
                    Provide the email address of a user with a registered DLS admin account to add as a Contributor (to help create your self-assessment) or Reviewer (to review your self-assessment and mark it as ready for publication).
                </div>
                @if (Model.Error)
                {
                    <span class="nhsuk-error-message" id="no-admin-error">
                        <span class="nhsuk-u-visually-hidden">Error:</span> @errMsg
                    </span>
                }
                <input class="@(Model.Error ? "nhsuk-input nhsuk-input--error" : "nhsuk-input")" id="UserEmail" aria-describedby="add-user-hint" type="email" name="UserEmail" />
            </div>
        </div>

        <button class="nhsuk-button nhsuk-button--secondary button-small" asp-route-canModify="True" asp-route-actionName="Collaborators" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentID">
            Add  as Contributor
        </button>
        <button class="nhsuk-button nhsuk-button--secondary button-small" asp-route-canModify="False" asp-route-actionName="Collaborators" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentID">
            Add as Reviewer
        </button>
    }
    <vc:single-checkbox asp-for="@nameof(Model.CompetencyAssessmentTaskStatus)" label="Mark this task as complete" hint-text="You will still be able to make changes after marking this task as complete."></vc:single-checkbox>

    @if (Model.UserRole > 1)
    {
        <div class=" nhsuk-u-margin-top-6">
            @if (Model.ActionName == "CollaboratorReview")
            {
                <a class="nhsuk-button" asp-action="SendForReview" asp-route-actionName="CollaboratorReview" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentID">
                    Done
                </a>
            }
            else
            {
                <button class="nhsuk-button" asp-route-actionName="Summary" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentID" asp-route-taskStatus="@Model.CompetencyAssessmentTaskStatus">
                    Done
                </button>
            }
        </div>
    }
    <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentID">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
            </svg>
            Cancel
        </a>
    </div>
</form>
