@using DigitalLearningSolutions.Web.ViewModels.CompetencyAssessments
@model EditRoleRequirementsFlagsViewModel;
@{
    ViewData["Title"] = "Manage role requirements";
    ViewData["Application"] = "Framework service";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
    <partial name="~/Views/Frameworks/Shared/_NavMenuItems.cshtml" />
}

@section NavBreadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Frameworks" asp-action="Index">Home</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewCompetencyAssessments" asp-route-tabname="Mine">Self-assessments</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.Id">Manage self-assessment</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ManageCompetencyRoleRequirements" asp-route-competencyAssessmentId="@Model.Id">Role Requirements</a></li>
                <li class="nhsuk-breadcrumb__item">Enforce Role Requirements</li>
            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="ManageCompetencyRoleRequirements" asp-route-competencyAssessmentId="@Model.Id">Back to manage role requirements</a></p>
        </div>
    </nav>
}
<div class="nhsuk-form-group">
    <h1 class="app-page-heading">
        <span class="nhsuk-caption-xl">
            @Model.CompetencyAssessmentName
            <span class="nhsuk-u-visually-hidden"> – </span>
        </span>
        Enforce role requirements
    </h1>
    <partial name="Shared/_PublishedSelfAssessmentWarning" model="new PublishedSelfAssessmentViewModel { UserRole = Model.UserRole, PublishStatusID = Model.PublishStatusID }" />
    <form method="post" asp-action="EditRoleRequirementsFlags">
        <nhs-form-group nhs-validation-for="EnforceRoleRequirementsForSignOff">
            <fieldset class="nhsuk-fieldset" aria-describedby="enforce-role-requirements-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                    Do you want to enforce role requirements for the self-assessment?
                </legend>
                <div id="enforce-role-requirements-hint" class="nhsuk-hint">
                    When requirements are set, they must be met by the learner before the self-assessment can be signed off.
                </div>
                <span nhs-validation-for="EnforceRoleRequirementsForSignOff"></span>
                <div class="nhsuk-radios nhsuk-radios--inline">
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="enforce-yes" name="EnforceRoleRequirementsForSignOff" type="radio" value="true" @(Model.EnforceRoleRequirementsForSignOff ? "checked" : "")>
                        <label class="nhsuk-radios__label" for="enforce-yes">Yes</label>
                    </div>
                    <div class="nhsuk-radios__item">
                        <input class="nhsuk-radios__input" id="enforce-no" name="EnforceRoleRequirementsForSignOff" type="radio" value="false" @(!Model.EnforceRoleRequirementsForSignOff ? "checked" : "")>
                        <label class="nhsuk-radios__label" for="enforce-no">No</label>
                    </div>
                </div>
            </fieldset>
        </nhs-form-group>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="IncludeRequirementsFilters" />
        <input type="hidden" asp-for="TaskStatus" />
        <input type="hidden" asp-for="PublishStatusID" />
        <hr class="nhsuk-section-break nhsuk-section-break--m" />
        <button class="nhsuk-button nhsuk-button--primary" type="submit">Save</button>
    </form>
    <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" asp-action="ManageCompetencyRoleRequirements" asp-route-competencyAssessmentId="@Model.Id">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
            </svg>
            Cancel
        </a>
    </div>
</div>
