@using DigitalLearningSolutions.Web.ViewModels.CompetencyAssessments
@model LearnerSignoffDeclarationViewModel
@{
    var errorHasOccurred = !ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey(nameof(Model.CustomText));
    ViewData["Title"] = "Learner sign off declaration";
}
<link rel="stylesheet" href="@Url.Content("~/css/jodit.css")" asp-append-version="true">
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
    <partial name="~/Views/Frameworks/Shared/_NavMenuItems.cshtml" />
}
@section NavBreadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewCompetencyAssessments" asp-route-tabname="Mine">Competency Assessments</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentId">Manage Competency Assessment</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="SupervisedSelfAssessmentSignoff" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentId" asp-route-actionName="Signoff">Supervised self assessment and sign off</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="SupervisorSignoffDeclaration" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentId" asp-route-actionName="Supervisor">Supervisor sign off declaration</a></li>
                <li class="nhsuk-breadcrumb__item">Learner sign off declaration</li>
            </ol>
        </div>
    </nav>
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        @if (errorHasOccurred)
        {
            <vc:error-summary order-of-property-names="@(new[] { nameof(Model.DeclarationValue), nameof(Model.CustomText) })" />
        }
        <form method="post">
            <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                    <h1 class="nhsuk-fieldset__heading">
                        Learner sign off declaration
                    </h1>
                </legend>

                <p class="nhsuk-hint">
                    This will be displayed to the learner is requesting supervisor signing off of their completed self assessment
                </p>
                <div class="nhsuk-form-group @(errorHasOccurred ? "nhsuk-form-group--error" : "")">
                    <div class="nhsuk-radios nhsuk-radios--conditional">

                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="declaration-default" name="DeclarationValue" type="radio" value="0"
                                   aria-controls="conditional-declaration-default"
                                   aria-expanded="true"
                                   @(Model.DeclarationValue == 0 ? "checked" : "")>
                            <label class="nhsuk-label nhsuk-radios__label" for="declaration-default">
                                Default
                            </label>

                        </div>
                        <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-declaration-default">
                            @Html.Raw(@Model.DefaultText)
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="declaration-custom" name="DeclarationValue" type="radio" value="1"
                                   aria-controls="conditional-declaration-custom"
                                   aria-expanded="true"
                                   @(Model.DeclarationValue == 1 ? "checked" : "")>
                            <label class="nhsuk-label nhsuk-radios__label" for="declaration-custom">
                                Custom
                            </label>
                        </div>

                        <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-declaration-custom">
                            <nhs-form-group nhs-validation-for="CustomText">
                                <vc:text-area asp-for="CustomText"
                                              character-count="null"
                                              label="Declaration text"
                                              rows="5"
                                              css-class="html-editor"
                                              hint-text="  Enter the declaration text"
                                              populate-with-current-value="true"
                                              spell-check="false" />
                            </nhs-form-group>
                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="hidden" asp-for="CompetencyAssessmentId" />
            <input type="hidden" asp-for="CompetencyAssessmentName" />

            <div class="nhsuk-u-margin-top-4">

                <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-left-3" asp-action="SupervisorSignoffDeclaration" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentId" asp-route-actionName="Supervisor">

                    Back
                </a>
                <button class="nhsuk-button" type="submit">
                    Next
                </button>
                <div class="nhsuk-back-link">
                    <a class="nhsuk-back-link__link" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentId">
                        <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                            <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                        </svg>
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>
@section scripts {
    <script src="@Url.Content("~/js/frameworks/htmleditor.js")" asp-append-version="true"></script>
}
