@using DigitalLearningSolutions.Web.ViewModels.CompetencyAssessments
@model ManageCompetencyRoleRequirementsViewModel;
@{
    ViewData["Title"] = "Manage Role Requirements";
    ViewData["Application"] = "Framework Service";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
    <partial name="~/Views/Frameworks/Shared/_NavMenuItems.cshtml" />
}

@section NavBreadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewCompetencyAssessments" asp-route-tabname="Mine">Competency Assessments</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.Id">Manage Competency Assessment</a></li>
                <li class="nhsuk-breadcrumb__item">Optional Competencies</li>
            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.Id">Back to manage competency assessment</a></p>
        </div>
    </nav>
}
<h1>Self assessment @Model.VocabularyPlural.ToLower() role requirements</h1>
<p class="nhsuk-lede-text">
    Specify whether role requirements will be enforced for the self assessment. When requirements are set, they must be met by the learner before the self assessment can be signed off.
</p>
<dl class="nhsuk-summary-list">
    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Enforce role requirements for self assessment
        </dt>
        <dd class="nhsuk-summary-list__value">
            @if (!Model.EnforceRoleRequirementsForSignOff)
            {
                <text>Yes. Enforce role requirements.</text>
            }
            else
            {
                <text>No. Do not enforce role requirements.</text>
            }
        </dd>
        <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" asp-route-competencyAssessmentId="@Model.Id" asp-action="SetEnforceRoleRequirementsForSignOff">Change<span class="nhsuk-u-visually-hidden"> role requirements enforcement</span></a>
        </dd>
        </div>
    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Include requirement status filters
        </dt>
        <dd class="nhsuk-summary-list__value">
            @if (!Model.IncludeRequirementsFilters)
            {
                <text>Yes. Include filters.</text>
            }
            else
            {
                <text>No. Do not include filters.</text>
            }
        </dd>
        <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" asp-route-competencyAssessmentId="@Model.Id" asp-action="SetIncludeRequirementsFilters">Change<span class="nhsuk-u-visually-hidden"> include requirements filters</span></a>
        </dd>
    </div>
    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Competency assessment question role requirements
        </dt>
        <dd class="nhsuk-summary-list__value">
            @Model.CountCompetencyRequirements competency assessment question role requirements set.
        </dd>
        <dd class="nhsuk-summary-list__actions">
            <a class="nhsuk-link" asp-route-competencyAssessmentId="@Model.Id" asp-action="SetCompetencyRoleRequirements">Change<span class="nhsuk-u-visually-hidden"> include requirements filters</span></a>
        </dd>
    </div>
