@using DigitalLearningSolutions.Web.ViewModels.CompetencyAssessments
@model ManagesupervisionViewModel
@{
    var errorHasOccurred = !ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey(nameof(Model.TaskCompleteChecked));
    ViewData["Title"] = "Manage supervision sessions";
}
@section NavMenuItems {
    <partial name="~/Views/Frameworks/Shared/_NavMenuItems.cshtml" />
}
@section NavBreadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewCompetencyAssessments" asp-route-tabname="Mine">Self-assessments</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentId">Manage self-assessment</a></li>
                @if (Model.UserRole > 1)
                {
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="SupervisedSelfAssessmentSignoff" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentId" asp-route-actionName="Signoff">Supervisor roles</a></li>
                }
                @if (@Model.Signoff.SignoffText == "Yes")
                {
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="SupervisorSignoffDeclaration" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentId" asp-route-actionName="Supervisor">Supervisor sign off declaration</a></li>
                    <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="LearnerSignoffDeclaration" asp-route-actionName="Learner" asp-route-competencyAssessmentId="@ViewContext.RouteData.Values["competencyAssessmentId"]">Learner sign off declaration </a></li>
                }
                <li class="nhsuk-breadcrumb__item">Manage supervision settings </li>
            </ol>
        </div>
    </nav>
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        @if (errorHasOccurred)
        {
            <vc:error-summary order-of-property-names="@(new[] { nameof(Model.TaskCompleteChecked) })" />
        }
        <h1 class="nhsuk-heading-xl">Manage supervision settings</h1>
    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <form method="post">
            <dl class="nhsuk-summary-list">


                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Supervisor signs off self assessment
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        @Model.Signoff.SignoffText
                    </dd>
                    @if (Model.UserRole > 1)
                    {
                        <dd class="nhsuk-summary-list__actions">
                            <ul class="nhsuk-summary-list__actions-list left-align-actions">
                                <li class="nhsuk-summary-list__actions-list-item">
                                    <a asp-action="SupervisedSelfAssessmentSignoff" asp-route-actionName="Signoff" asp-route-competencyAssessmentId="@ViewContext.RouteData.Values["competencyAssessmentId"]">
                                        Change<span class="nhsuk-u-visually-hidden"> Supervisor signs off self assessment</span>
                                    </a>
                                </li>
                            </ul>
                        </dd>
                    }
                </div>
                @if (@Model.Signoff.SignoffText == "Yes")
                {
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Supervisor sign off statement
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            <strong>@Model.SupervisorDeclaration.Declaration</strong>


                            <div class="nhsuk-details nhsuk-u-margin-top-2">
                                <details class="nhsuk-details__text">
                                    <summary class="nhsuk-details__summary">
                                        <span class="nhsuk-details__summary-text">
                                            View declaration text
                                        </span>
                                    </summary>
                                    <div class="nhsuk-body" id="default-declaration-text">
                                        @Html.Raw(@Model.SupervisorDeclaration.DeclarationText)
                                    </div>
                                </details>
                            </div>
                        </dd>
                        @if (Model.UserRole > 1)
                        {
                            <dd class="nhsuk-summary-list__actions">
                                <ul class="nhsuk-summary-list__actions-list left-align-actions">
                                    <li class="nhsuk-summary-list__actions-list-item">
                                        <a asp-action="SupervisorSignoffDeclaration" asp-route-actionName="Supervisor" asp-route-competencyAssessmentId="@ViewContext.RouteData.Values["competencyAssessmentId"]">

                                            Change<span class="nhsuk-u-visually-hidden"> Supervisor sign off statement</span>
                                        </a>
                                    </li>
                                </ul>
                            </dd>
                        }
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Learner sign off statement
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            <strong>@Model.LearnerDeclaration.Declaration</strong>


                            <div class="nhsuk-details nhsuk-u-margin-top-2">
                                <details class="nhsuk-details__text">
                                    <summary class="nhsuk-details__summary">
                                        <span class="nhsuk-details__summary-text">
                                            View declaration text
                                        </span>
                                    </summary>
                                    <div class="nhsuk-body" id="default-declaration-text">
                                        @Html.Raw(@Model.LearnerDeclaration.DeclarationText)
                                    </div>

                                </details>
                            </div>
                        </dd>
                        @if (Model.UserRole > 1)
                        {
                            <dd class="nhsuk-summary-list__actions">
                                <ul class="nhsuk-summary-list__actions-list left-align-actions">
                                    <li class="nhsuk-summary-list__actions-list-item">
                                        <a asp-action="LearnerSignoffDeclaration" asp-route-actionName="Learner" asp-route-competencyAssessmentId="@ViewContext.RouteData.Values["competencyAssessmentId"]">

                                            Change<span class="nhsuk-u-visually-hidden"> Learner sign off statement</span>
                                        </a>
                                    </li>
                                </ul>
                            </dd>
                        }
                    </div>
                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Supervisor or nominated supervisor confirms individual assessment results
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            @Model.Signoff.ConfirmText
                        </dd>

                    </div>
                }

            </dl>

            <nhs-form-group>
                <vc:single-checkbox asp-for="@nameof(Model.TaskCompleteChecked)" label="Mark this task as complete" hint-text="You will still be able to make changes after marking this task as complete."></vc:single-checkbox>
            </nhs-form-group>
            <input type="hidden" asp-for="@Model.Signoff.CompetencyAssessmentId" />



            <div class="nhsuk-u-margin-top-8">
                @if (Model.UserRole > 1)
                {
                    <button class="nhsuk-button nhsuk-button--primary" type="submit">
                        Save
                    </button>
                }
                <a class="nhsuk-button nhsuk-button--secondary" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.Signoff.CompetencyAssessmentId">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
