@using DigitalLearningSolutions.Data.Utilities
@model DigitalLearningSolutions.Web.ViewModels.CompetencyAssessments.RetireCompetencyAssessmentViewModel
@inject IClockUtility ClockUtility
@{
    ViewData["Title"] = "Retire self-assessment";
    var errorHasOccurred = !ViewData.ModelState.IsValid;
    var exampleDate = ClockUtility.UtcToday;
    var hintTextLines = new List<string> { $"For example, {exampleDate.Day} {exampleDate.Month} {exampleDate.Year}" };
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
    <partial name="~/Views/Frameworks/Shared/_NavMenuItems.cshtml" />
}
@section NavBreadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link trigger-loader"
                       asp-controller="Frameworks"
                       asp-action="Index">Home</a>
                </li>

                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link trigger-loader"
                       asp-action="ViewCompetencyAssessments"
                       asp-route-tabname="Mine">Self-assessments</a>
                </li>

                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link trigger-loader"
                       asp-action="ManageCompetencyAssessment"
                       asp-route-competencyAssessmentId="@Model.CompetencyAssessmentId">Manage self-assessment</a>
                </li>
                <li class="nhsuk-breadcrumb__item">Retire self-assessment</li>

            </ol>
        </div>
    </nav>
}
@if (errorHasOccurred)
{
    <vc:error-summary order-of-property-names="@(new[] { nameof(Model.RetirementDate), nameof(Model.RetirementReason) })" />
}

<h1>@ViewData["Title"]</h1>

<form class="nhsuk-u-margin-bottom-3" method="post" asp-controller="CompetencyAssessments" asp-action="RetireCompetencyAssessment" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentId">
    <nhs-form-group nhs-validation-for="RetirementDate">
  <vc:date-input id="retirement-date"
                   label="This is the date when self-assessment would be retired"
                   day-id="Day"
                   month-id="Month"
                   year-id="Year"
                   css-class="@(errorHasOccurred ? " nhsuk-u-margin-bottom-3" : "")"
                   hint-text-lines="@hintTextLines" />
    </nhs-form-group>
    <nhs-form-group nhs-validation-for="RetirementReason">
        <vc:text-area asp-for="RetirementReason"
                      character-count="null"
                      label="Retirement Reason"
                      rows="5"
                      css-class="html-editor"
                      hint-text="You need to provide a retirement reason for this self-assessment"
                      populate-with-current-value="true"
                      spell-check="false" />
    </nhs-form-group>

    <a class="nhsuk-button nhsuk-button--secondary" asp-controller="CompetencyAssessments" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentId" role="button">Back</a>
    <button class="nhsuk-button" type="submit">Submit</button>
</form>

<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentId">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
            <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        Cancel
    </a>
</div>
