@using DigitalLearningSolutions.Web.ViewModels.CompetencyAssessments
@model SetMinimumOptionalCompetenciesViewModel;
@{
    ViewData["Title"] = "Set minimum optional competencies";
    ViewData["Application"] = "Framework service";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
    <partial name="~/Views/Frameworks/Shared/_NavMenuItems.cshtml" />
}

@section NavBreadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Frameworks" asp-action="Index">Home</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewCompetencyAssessments" asp-route-tabname="Mine">Self-assessments</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.ID">Manage self-assessment</a></li>
                <li class="nhsuk-breadcrumb__item">Optional Competencies</li>
            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.ID">Back to manage self-assessment</a></p>
        </div>
    </nav>
}
<div class="nhsuk-form-group">
<h1 class="app-page-heading">
    <span class="nhsuk-caption-xl">
        @Model.CompetencyAssessmentName
        <span class="nhsuk-u-visually-hidden"> – </span>
    </span>Set a minimum number of optional @Model.VocabularyPlural.ToLower()
</h1>

<p>
 You can specify a minimum number of optional @Model.VocabularyPlural.ToLower() that a learner must select when completing their self-assessment.
</p>
<form method="post" asp-action="SetMinimumOptionalCompetencies">
    <nhs-form-group nhs-validation-for="MinimumOptionalCompetencies">
        <label class="nhsuk-label" for="minimum-comps-input">
            Minimum optional @Model.VocabularyPlural.ToLower()
        </label>
        <div id="minimum-comps-input-hint" class="nhsuk-hint">
            Specify a number between 0 and @Model.OptionalCompetenciesCount.
        </div>
        <input class="nhsuk-input nhsuk-input--width-3" id="minimum-comps-input" asp-for="MinimumOptionalCompetencies" aria-describedby="minimum-comps-input-hint" type="number">
        <span nhs-validation-for="MinimumOptionalCompetencies"></span>
    </nhs-form-group>
    <input type="hidden" asp-for="ID" />
    <input type="hidden" asp-for="OptionalCompetenciesCount" />
    <button class="nhsuk-button" type="submit">
        Save
    </button>
</form>

<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.ID">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
            <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        Cancel
    </a>
</div>
</div>
