@using DigitalLearningSolutions.Web.ViewModels.CompetencyAssessments
@model SetOptionalCompetencyLearnerPromptViewModel;
@{
    ViewData["Title"] = "Set Optional Competencies Learner Prompt";
    ViewData["Application"] = "Framework Service";
}
<link rel="stylesheet" href="@Url.Content("~/css/jodit.css")" asp-append-version="true">
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
    <partial name="~/Views/Frameworks/Shared/_NavMenuItems.cshtml" />
}

@section NavBreadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewCompetencyAssessments" asp-route-tabname="Mine">Competency Assessments</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.ID">Manage Competency Assessment</a></li>
                <li class="nhsuk-breadcrumb__item">Optional Competencies</li>
            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.ID">Back to manage competency assessment</a></p>
        </div>
    </nav>
}
<h1>Optional @Model.VocabularyPlural.ToLower() learner prompt</h1>

<p class="nhsuk-lede-text">
    Provide an optional prompt to help learners choose the right optional @Model.VocabularyPlural.ToLower() to include in their @Model.CompetencyAssessmentName self assessment.
</p>
<form method="post" asp-action="SetOptionalCompetencyLearnerPrompt">
    <nhs-form-group nhs-validation-for="ManageOptionalCompetenciesPrompt">
        <vc:text-area asp-for="ManageOptionalCompetenciesPrompt"
                      character-count="null"
                      label="Set optional @Model.VocabularyPlural.ToLower()"
                      rows="5"
                      css-class="html-editor"
                      hint-text="This text will be displayed above the optional @Model.VocabularyPlural.ToLower() list to help the learner to choose them."
                      populate-with-current-value="true"
                      spell-check="false" />
        <span nhs-validation-for="ManageOptionalCompetenciesPrompt"></span>
    </nhs-form-group>
    <input type="hidden" asp-for="ID" />
    <button class="nhsuk-button" type="submit">
        Save
    </button>
</form>

<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.ID">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
            <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        Cancel
    </a>
</div>
@section scripts {
    <script src="@Url.Content("~/js/frameworks/htmleditor.js")" asp-append-version="true"></script>
}
