@using DigitalLearningSolutions.Web.ViewModels.CompetencyAssessments
@model SupervisorSignoffDeclarationViewModel
@{
    var errorHasOccurred = !ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey(nameof(Model.CustomText));
    ViewData["Title"] = "Supervisor sign off declaration";
}
<link rel="stylesheet" href="@Url.Content("~/css/jodit.css")" asp-append-version="true">
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
    <partial name="~/Views/Frameworks/Shared/_NavMenuItems.cshtml" />
}
@section NavBreadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Frameworks" asp-action="Index">Home</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewCompetencyAssessments" asp-route-tabname="Mine">Self-assessments</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentId">Manage self-assessment</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="SupervisedSelfAssessmentSignoff" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentId" asp-route-actionName="Signoff">Supervisor roles</a></li>
                <li class="nhsuk-breadcrumb__item">Supervisor sign off declaration</li>
            </ol>
        </div>
    </nav>
}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        @if (errorHasOccurred)
        {
            <vc:error-summary order-of-property-names="@(new[] { nameof(Model.DeclarationValue), nameof(Model.CustomText) })" />
        }
        <form method="post">
            <fieldset class="nhsuk-fieldset">
                <h1 class="app-page-heading">
                    <span class="nhsuk-caption-xl">
                        @Model.CompetencyAssessmentName
                        <span class="nhsuk-u-visually-hidden"> – </span>
                    </span>
                    Supervisor sign off declaration
                </h1>
                <p class="nhsuk-hint">
                    This will be displayed to the supervisor when they are signing off a completed self-assessment.
                </p>
                <div class="nhsuk-form-group @(errorHasOccurred ? "nhsuk-form-group--error" : "")">
                    <div class="nhsuk-radios nhsuk-radios--conditional">

                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="declaration-default" name="DeclarationValue" type="radio" value="0"
                                   aria-controls="conditional-declaration-default"
                                   aria-expanded="true"
                                   @(Model.DeclarationValue == 0 ? "checked" : "")>
                            <label class="nhsuk-label nhsuk-radios__label" for="declaration-default">
                                Default
                            </label>

                        </div>
                        <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-declaration-default">
                            @Html.Raw(@Model.DefaultText)
                        </div>

                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="declaration-custom" name="DeclarationValue" type="radio" value="1"
                                   aria-controls="conditional-declaration-custom"
                                   aria-expanded="true"
                                   @(Model.DeclarationValue == 1 ? "checked" : "")>
                            <label class="nhsuk-label nhsuk-radios__label" for="declaration-custom">
                                Custom
                            </label>
                        </div>

                        <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-declaration-custom">
                            <nhs-form-group nhs-validation-for="CustomText">
                                <vc:text-area asp-for="CustomText"
                                              character-count="null"
                                              label="Declaration text"
                                              rows="5"
                                              css-class="html-editor"
                                              hint-text="  Enter the declaration text"
                                              populate-with-current-value="true"
                                              spell-check="false" />
                            </nhs-form-group>


                        </div>
                    </div>
                </div>
            </fieldset>
            <input type="hidden" asp-for="CompetencyAssessmentId" />
            <input type="hidden" asp-for="CompetencyAssessmentName" />
            <div class="nhsuk-u-margin-top-8">

                <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-left-3" asp-action="SupervisedSelfAssessmentSignoff" asp-route-competencyAssessmentId="@Model.CompetencyAssessmentId" asp-route-actionName="Signoff">

                    Back
                </a>
                <button class="nhsuk-button" type="submit">
                    Next
                </button>
            </div>
        </form>
    </div>
</div>
@section scripts {
    <script src="@Url.Content("~/js/frameworks/htmleditor.js")" asp-append-version="true"></script>
}
