@using DigitalLearningSolutions.Web.ViewModels.CompetencyAssessments
@model ViewSelectedCompetenciesViewModel;
@{
    ViewData["Title"] = "Select Competencies";
    ViewData["Application"] = "Framework Service";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
    <partial name="~/Views/Frameworks/Shared/_NavMenuItems.cshtml" />
}

@section NavBreadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ViewCompetencyAssessments" asp-route-tabname="Mine">Competency Assessments</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.ID">Manage Competency Assessment</a></li>
                <li class="nhsuk-breadcrumb__item">Select @Model.VocabularyPlural.ToLower() to assess</li>
            </ol>
            <p class="nhsuk-breadcrumb__back"><a class="nhsuk-breadcrumb__backlink" asp-action="ManageCompetencyAssessment" asp-route-competencyAssessmentId="@Model.ID">Back to manage competency assessment</a></p>
        </div>
    </nav>
}
<h1>@Model.VocabularyPlural to assess for @Model.CompetencyAssessmentName</h1>
<table class="nhsuk-table">
    <caption class="nhsuk-table__caption">@Model.VocabularyPlural</caption>
    <thead class="nhsuk-table__head">
        <tr>
            <th scope="col" class="nhsuk-table__header">Framework</th>
            <th scope="col" class="nhsuk-table__header">Group</th>
            <th scope="col" class="nhsuk-table__header">Competency</th>
            <th scope="col" class="nhsuk-table__header">Action</th>
        </tr>
    </thead>
    <tbody class="nhsuk-table__body">
        @foreach (var competency in Model.Competencies)
        {
            <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">@competency.FrameworkName</td>
                <td class="nhsuk-table__cell">@competency.GroupName</td>
                <td class="nhsuk-table__cell">@competency.CompetencyName</td>
                <td class="nhsuk-table__cell"></td>
            </tr>
        }
    </tbody>
</table>

