@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.Enrol
@model EnrolSupervisorViewModel
@{
    ViewData["Title"] = "Enrol on Activity - Supervisor";
    var errorHasOccurred = !ViewData.ModelState.IsValid;
    var routeParamsForCancelLink = new Dictionary<string, string> {
    { "delegateId", Model.DelegateId.ToString() },
  };
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        @if (errorHasOccurred)
        {
            <vc:error-summary order-of-property-names="@(new[] { nameof(Model.SelectedSupervisor) })" />
        }
        <div class="nhsuk-u-margin-bottom-4">
            <h1 class="nhsuk-heading-xl">Enrol delegate on activity - step 3</h1>
            <vc:field-name-value-display display-name="Delegate" field-value="@Model.DelegateName" />
        </div>
        <form method="post" class="nhsuk-u-margin-bottom-3">
            <vc:select-list asp-for="@nameof(Model.SelectedSupervisor)"
                            label="Choose a supervisor (optional):"
                            value="@Model.SelectedSupervisor"
                            hint-text=""
                            required="true"
                            css-class="nhsuk-u-width-one-half"
                            default-option="--Select--"
                            select-list-options="@Model.SupervisorList" />
            <div class=" nhsuk-u-margin-top-5">
                <input class="nhsuk-button" type="submit" value="Next" />
                <a class="nhsuk-button nhsuk-button--secondary" asp-action="EnrolDelegateSummary" asp-route-delegateId="@Model.DelegateId" asp-route-delegateName="@Model.DelegateName">
                    Skip
                </a>
            </div>
        </form>
        <vc:cancel-link asp-controller="ViewDelegate" asp-action="Index" asp-all-route-data="@routeParamsForCancelLink" />
    </div>
</div>

