@using DigitalLearningSolutions.Web.Models.Enums
@model (int delegateId, int progressId)

<nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
  <div class="nhsuk-width-container">
    <ol class="nhsuk-breadcrumb__list">
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" asp-controller="AllDelegates" asp-action="Index">All delegates</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" asp-controller="ViewDelegate" asp-action="Index" asp-route-delegateId="@Model.delegateId">View delegate</a>
      </li>
      <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link"
           asp-controller="DelegateProgress"
           asp-action="Index"
           asp-route-progressId="@Model.progressId"
           asp-route-accessedVia="@DelegateAccessRoute.ViewDelegate">
          Delegate progress
        </a>
      </li>
    </ol>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink"
         asp-controller="DelegateProgress"
         asp-action="Index"
         asp-route-progressId="@Model.progressId"
         asp-route-accessedVia="@DelegateAccessRoute.ViewDelegate">
        Back to delegate progress
      </a>
    </p>
  </div>
</nav>
