@using DigitalLearningSolutions.Web.ViewModels.LearningPortal
@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.Completed
@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.Current
@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.SelfAssessments
@model StartedLearningItemViewModel

<div class="nhsuk-grid-column-one-quarter">
  <span class="nhsuk-label--s nhsuk-u-margin-bottom-2" id="@Model.Id-enrolled-title" aria-describedby="@Model.Id-name">Enrolled</span>
  <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-2" aria-hidden="true" />

  <p aria-describedby="@Model.Id-name @Model.Id-enrolled-title" name="started-date">@Model.StartedDate.ToShortDateString()</p>
</div>
<div class="nhsuk-grid-column-one-quarter">
  <span class="nhsuk-label--s nhsuk-u-margin-bottom-2" id="@Model.Id-last-access-title" aria-describedby="@Model.Id-name">Last access</span>
  <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-2" aria-hidden="true" />

  <p aria-describedby="@Model.Id-name @Model.Id-last-access-title" name="accessed-date">
    @Html.Raw(Model.LastAccessedDate?.ToShortDateString() ?? "<span class='nhsuk-u-visually-hidden'>Not started </span>-")
  </p>
</div>
@if (Model is CurrentLearningItemViewModel currentLearningItemViewModel) {
  <div class="nhsuk-grid-row nhsuk-grid-column-one-half">
    <div class="nhsuk-grid-column-three-quarters">
      <span class="nhsuk-label--s nhsuk-u-margin-bottom-2" id="@Model.Id-complete-by-title" aria-describedby="@Model.Id-name">Complete by</span>
      <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-2" aria-hidden="true" />
    </div>
    <div class="nhsuk-grid-column-one-half nhsuk-u-one-half">
      <p class="@currentLearningItemViewModel.DateStyle()" aria-describedby="@Model.Id-name @Model.Id-complete-by-title" name="complete-by-date">
        @(currentLearningItemViewModel.CompleteByDate == null ?
          Html.Raw("<span class='nhsuk-u-visually-hidden'>No complete by date set </span>-") :
          Html.Raw($"<span class='nhsuk-u-visually-hidden'>{currentLearningItemViewModel.DueByDescription()}</span>{currentLearningItemViewModel.CompleteByDate?.ToShortDateString()}"))
    </p>
  </div>
  @if (currentLearningItemViewModel is CurrentCourseViewModel course && (course.CompleteByDate == null || course.SelfEnrolled))
  {
    <div class="nhsuk-grid-column-one-half nhsuk-u-one-half">
      <a class="nhsuk-button nhsuk-button--secondary small-edit-button"
         aria-describedby="@Model.Id-name"
         aria-label="Edit complete by date"
         asp-action="SetCurrentCourseCompleteByDate"
         asp-route-id="@Model.Id"
         role="button">
        Edit
      </a>
    </div>
  }
  else if (currentLearningItemViewModel is SelfAssessmentCardViewModel)
  {
    <div class="nhsuk-grid-column-one-half nhsuk-u-one-half">
      <a class="nhsuk-button nhsuk-button--secondary small-edit-button"
         aria-describedby="@Model.Id-name"
         aria-label="Edit complete by date"
         asp-route-selfAssessmentId="@Model.Id"
         asp-action="SetSelfAssessmentCompleteByDate"
         role="button">
        Edit
      </a>
    </div>
  }
  else if (currentLearningItemViewModel is LearningResourceCardViewModel)
  {
    <div class="nhsuk-grid-column-one-half nhsuk-u-one-half">
      <a class="nhsuk-button nhsuk-button--secondary small-edit-button"
         aria-describedby="@Model.Id-name"
         aria-label="Edit complete by date"
         asp-action="SetCurrentActionPlanItemCompleteByDate"
         asp-route-learningLogItemId="@Model.Id">
         role="button">
        Edit
      </a>
    </div>
  }
</div>
}
@if (Model is CompletedCourseViewModel completedCourseViewModel) {
  <div class="nhsuk-grid-column-one-quarter">
    <span class="nhsuk-label--s nhsuk-u-margin-bottom-2" id="@Model.Id-completed-title" aria-describedby="@Model.Id-name">Completed</span>
    <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-2" aria-hidden="true" />

    <p aria-describedby="@Model.Id-name @Model.Id-completed-title" name="completed-date">@completedCourseViewModel.CompletedDate.ToShortDateString()</p>
  </div>
  <div class="nhsuk-grid-column-one-quarter">
    <span class="nhsuk-label--s nhsuk-u-margin-bottom-2" id="@Model.Id-evaluated-title" aria-describedby="@Model.Id-name">Evaluated</span>
    <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-2" aria-hidden="true" />

    <p aria-describedby="@Model.Id-name @Model.Id-evaluated-title" name="evaluated-date">
    @(completedCourseViewModel.EvaluatedDate == null ?
      Html.Raw("<span class='nhsuk-u-visually-hidden'>Not evaluated</span>-") :
      Html.Raw($"{completedCourseViewModel.EvaluatedDate?.ToShortDateString()}"))
  </div>
}
