@using DigitalLearningSolutions.Web.Extensions
@using DigitalLearningSolutions.Web.Models.Enums
<li class="nhsuk-header__navigation-item @Html.IsSelected("Current")">
  <a class="nhsuk-header__navigation-link" asp-controller="LearningPortal" asp-action="Current">
    Current activities
  </a>
</li>
<li class="nhsuk-header__navigation-item @Html.IsSelected("Completed")">
  <a class="nhsuk-header__navigation-link" asp-controller="LearningPortal" asp-action="Completed">
    Completed activities
  </a>
</li>
<li class="nhsuk-header__navigation-item @Html.IsSelected("Available")">
  <a class="nhsuk-header__navigation-link" asp-controller="LearningPortal" asp-action="Available">
    Available activities
  </a>
</li>
<li class="nhsuk-header__navigation-item @Html.IsSelected(controller: "MyAccount", action: "Index")">
  <a class="nhsuk-header__navigation-link" asp-controller="MyAccount" asp-action="Index" asp-route-dlsSubApplication="@DlsSubApplication.LearningPortal.UrlSegment">
    My account
  </a>
</li>
