@using DigitalLearningSolutions.Web.ViewModels.LearningPortal
@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.Current
@model BaseLearningItemViewModel

<div class="nhsuk-grid-column-three-quarters tags">
  @if (Model.HasDiagnosticAssessment)
  {
    <div class="tag nhsuk-u-font-size-14" aria-describedby="@Model.Id-name">
      Diagnostic assessment
    </div>
  }
  @if (Model.HasLearningContent)
  {
    <div class="tag nhsuk-u-font-size-14" aria-describedby="@Model.Id-name">
      Learning content
    </div>
  }
  @if (Model.HasLearningAssessmentAndCertification)
  {
    <div class="tag nhsuk-u-font-size-14" aria-describedby="@Model.Id-name">
      Learning assessment and certification
    </div>
  }
  @if (Model.IsSelfAssessment)
  {
    <div class="tag nhsuk-u-font-size-14" aria-describedby="@Model.Id-name">
      Competency assessment
    </div>
  }
  @if (Model.IncludesSignposting)
  {
    <div class="tag nhsuk-u-font-size-14" aria-describedby="@Model.Id-name">
      Signposts learning
    </div>
  }
  @if (Model is CurrentCourseViewModel currentCourseViewModel)
  {
    @if (currentCourseViewModel.UserIsSupervisor)
    {
      <div class="tag nhsuk-u-font-size-14" aria-describedby="@Model.Id-name">
        Supervisor
      </div>
    }
    @if (currentCourseViewModel.IsEnrolledWithGroup)
    {
      <div class="tag nhsuk-u-font-size-14" aria-describedby="@Model.Id-name">
        In group
      </div>
    }
  }

</div>
