@using DigitalLearningSolutions.Web.Extensions
@using DigitalLearningSolutions.Web.Helpers
@using DigitalLearningSolutions.Web.Models.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@if (User.HasCentreAdminPermissions()) {
  <li class="nhsuk-header__navigation-item
    @Html.IsOneOfControllersSelected(new[] { "Dashboard", "Configuration", "Administrator", "Reports" })">
    <a class="nhsuk-header__navigation-link" asp-controller="Dashboard" asp-action="Index">
      Centre
      <partial name="_NhsChevronRight" />
    </a>
  </li>
  <li class="nhsuk-header__navigation-item
    @Html.IsOneOfControllersSelected(new[] { "AllDelegates", "DelegateGroups", "CourseDelegates", "DelegateApprovals" })">
    <a class="nhsuk-header__navigation-link" asp-controller="AllDelegates" asp-action="Index">
      Delegates
      <partial name="_NhsChevronRight" />
    </a>
  </li>
  <li class="nhsuk-header__navigation-item
    @Html.IsOneOfControllersSelected(new[] {"CourseSetup", "ManageCourse", "CourseContent", "AdminFields"})">
    <a class="nhsuk-header__navigation-link" asp-controller="CourseSetup" asp-action="Index">
      Course setup
      <partial name="_NhsChevronRight" />
    </a>
  </li>
}
@if (User.HasSuperAdminPermissions()) {
  <li class="nhsuk-header__navigation-item @Html.IsActionSelected("Administrator")">
    <a class="nhsuk-header__navigation-link" href="@Configuration["CurrentSystemBaseUrl"]/tracking/admin-configuration">
      Admin
      <partial name="_NhsChevronRight" />
    </a>
  </li>
}
<li class="nhsuk-header__navigation-item @Html.IsControllerSelected("Support")">
  <a class="nhsuk-header__navigation-link" asp-controller="Support" asp-action="Index" asp-route-application="@ApplicationType.TrackingSystem.UrlSegment">
    Support
    <partial name="_NhsChevronRight" />
  </a>
</li>
<li class="nhsuk-header__navigation-item @Html.IsMyAccountTabSelected()">
  <a class="nhsuk-header__navigation-link" asp-controller="MyAccount" asp-action="Index" asp-route-application="@ApplicationType.TrackingSystem.UrlSegment">
    My account
    <partial name="_NhsChevronRight" />
  </a>
</li>
