@using DigitalLearningSolutions.Data.Models.SelfAssessments;
@model AssessmentQuestion


<partial name="Shared/_AssessmentQuestionCells" model="Model" />
@if ((bool)(ViewData["isSupervisorResultsReviewed"] ?? true))
{
  <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
    <span class="nhsuk-table-responsive__heading">Questions </span>
    <partial name="Shared/_AssessmentQuestionStatusTag" model="Model" />
  </td>
}
<td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
  @if (Model.ResultId != null)
  {
    <span class="nhsuk-table-responsive__heading">Actions </span>
    <a asp-action="ReviewCompetencySelfAssessment" asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]" asp-route-viewMode="@(Model.Requested != null && Model.Verified == null ? "Review" : "View")" asp-route-candidateAssessmentId="@ViewContext.RouteData.Values["candidateAssessmentId"]" asp-route-resultId="@Model.ResultId">@(Model.Requested != null && Model.Verified == null ? "Verify" : "View")<span class="nhsuk-u-visually-hidden"> capability</span></a>
  }
</td>
