@using DigitalLearningSolutions.Data.Models.Supervisor;
@model IEnumerable<DelegateSelfAssessment>;

<table role="table" class="nhsuk-table-responsive">
  <caption class="nhsuk-table__caption"><h2>Profile assessments</h2></caption>
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        Profile
      </th>
      <th role="columnheader" class="" scope="col">
        Role links
      </th>
      <th role="columnheader" class="" scope="col">
        Last activity
      </th>
      <th role="columnheader" class="" scope="col">
        Status
      </th>
      <th role="columnheader" class="" scope="col">
        Actions
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    @foreach (var delegateSelfAssessment in Model)
    {
    <tr role="row" class="nhsuk-table__row">
      <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
        <span class="nhsuk-table-responsive__heading">Profile </span>@delegateSelfAssessment.RoleName
      </td>
      <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
        <span class="nhsuk-table-responsive__heading">Role links </span>@(delegateSelfAssessment.ProfessionalGroup != null ? delegateSelfAssessment.ProfessionalGroup : "None/Generic")
        @(delegateSelfAssessment.SubGroup != null ? " / " + delegateSelfAssessment.SubGroup : "")
        @(delegateSelfAssessment.RoleProfile != null ? " / " + delegateSelfAssessment.RoleProfile : "")
      </td>
      <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
        <span class="nhsuk-table-responsive__heading">Last activity </span>@delegateSelfAssessment.LastAccessed.ToShortDateString()<br/> (@delegateSelfAssessment.LaunchCount launches)
      </td>
      <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
        <span class="nhsuk-table-responsive__heading">Status </span> <partial name="Shared/_ProfileAssessmentStatusTag" model="delegateSelfAssessment" />
      </td>
      <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
        @if (delegateSelfAssessment.VerificationRequested == 0 && delegateSelfAssessment.LaunchCount == 0 | delegateSelfAssessment.StartedDate < DateTime.Now.AddDays(-7))
        {
          <span class="nhsuk-table-responsive__heading">Actions </span><a asp-action="SendReminderDelegateSelfAssessment" asp-route-candidateAssessmentId="@delegateSelfAssessment.ID">Send reminder</a>
        }&nbsp;
        @if (delegateSelfAssessment.LaunchCount > 0)
        {
            <span class="nhsuk-table-responsive__heading">Actions </span><a asp-action="ReviewDelegateSelfAssessment" asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]" asp-route-candidateAssessmentId="@delegateSelfAssessment.ID">@(delegateSelfAssessment.VerificationRequested > 0 ? "Review" : "View")</a>
        }
      </td>
    </tr>
    }
  </tbody>
</table>
