@using DigitalLearningSolutions.Web.ViewModels.Feedback
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model FeedbackViewModel;

@{
  ViewData["Title"] = "Feedback";
}
<link rel="stylesheet" href="@Url.Content("~/css/feedback/feedback.css")" asp-append-version="true">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2 class="nhsuk-heading-s">Give page or website feedback</h2>
    <h1 id="page-heading" class="nhsuk-heading-xl">Did you achieve everything you came to do today?</h1>
  </div>
  <div class="nhsuk-grid-column-two-thirds">

    <div class="nhsuk-warning-callout">
      <h3 class="nhsuk-warning-callout__label">
        <span role="text">
          <span class="nhsuk-u-visually-hidden">Important: </span>
          We do not reply to this inbox.
        </span>
      </h3>
      <p>If you need support please <a>contact your centre</a>. This might be your Centre Manager or Clinical Centre Manager.</p>
    </div>

    <p>Step 1 of 5</p>
    <hr/>

    <form method="post" asp-action="FeedbackLoggedInStepOneSave">

      @*<div class="nhsuk-form-group float-right">*@

      @*        <vc:checkboxes label="Task achieved?"
      populate-with-current-values="false"
      checkboxes="@Model.TaskAchieved"
      hint-text=""
      required="false"
      errormessage="" />*@

@*      <vc:radios asp-for=""
                 label="Please select an option"
                 populate-with-current-values="true"
                 radios="@Model.Radios"
                 hint-text=""
                 required="true" />
*@

      <div class="nhsuk-hint" id="contact-hint">
        Did you achieve everything you came to do today?
      </div>
      <div class="nhsuk-radios">
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="" name="" type="radio" value=""> 
          <label class="nhsuk-label nhsuk-radios__label" for="">
            Yes
            @*asp-for="" *@
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="" name="" type="radio" value=""> 
          <label class="nhsuk-label nhsuk-radios__label" for="">
            No
            @*asp-for="" *@
          </label>
        </div>
      </div>


@*
      <div class="nhsuk-radios nhsuk-radios--conditional">
        <div class="nhsuk-radios__item">
          <input name="@nameof(Model.TaskAchieved)"
                 class="nhsuk-radios__input"
                 id="TaskAchieved_No"
                 type="radio"
                 value="false"
          <label class="nhsuk-label nhsuk-radios__label" for="TaskAchieved_No">
            No
          </label>
        </div>

        <div class="nhsuk-radios__item">
          <input name="@nameof(Model.TaskAchieved)"
                 class="nhsuk-radios__input"
                 id="TaskAchieved_Yes"
                 type="radio"
                 value="true"
          <label class="nhsuk-label nhsuk-radios__label" for="TaskAchieved_Yes">
            Yes
          </label>
        </div>
      </div>
*@
@*      <vc:text-input asp-for="TaskAttempted"
                     label="What task did you come to do today?"
                     populate-with-current-value="false"
                     type="text"
                     spell-check="false"
                     hint-text=""
                     autocomplete="off"
                     css-class="nhsuk-input"
                     required="true" />

      <vc:text-area asp-for="FeedbackText"
                    label="Please describe in detail your experience and what you came here to achieve."
                    populate-with-current-value="false"
                    rows="5"
                    type="text"
                    spell-check="false"
                    hint-text=""
                    autocomplete="off"
                    css-class="nhsuk-u-width-full"
                    character-count="null"
                    required="true" />*@

      @*<input type="text" asp-for="TaskRating" placeholder="TaskRating" />*@

      <input type="hidden" asp-for="SourceUrl" value="@Model.SourceUrl" />

@*      <div class="nhsuk-u-float-right">
        <button class="nhsuk-button" type="submit">Submit Feedback</button>
      </div>
*@      @*</div>*@

      <div class="nhsuk-u-float-right">
        <button class="nhsuk-button" type="submit">Continue</button>
      </div>



    </form>


    @*<partial name="MiniHub/_MiniHubHeading" model="@Model.MiniHubNavigationModel" />*@



    @*      @if (Model.UserIsLoggedIn)
    {
    @if (Model.UserIsLoggedInCentre)
    {
    <a class="nhsuk-button auth-button auth-button--left" role="button" asp-controller="ApplicationSelector" asp-action="Index">
    Switch application
    </a>
    }
    }
    else
    {
    <a class="nhsuk-button auth-button auth-button--left" role="button" asp-controller="Login" asp-action="Index">
    Log in
    </a>
    <a class="nhsuk-button nhsuk-button--secondary auth-button" role="button" asp-controller="Register" asp-action="Start">
    Register
    </a>
    }*@
  </div>

  @*<partial name="MiniHub/_ContentsList" model="@Model.MiniHubNavigationModel" />*@

  @*<p class="nhsuk-body-m">Our products and services can help you manage digital learning delivery for the benefit of the people in your organisation.</p>*@

  @*<partial name="MiniHub/_Pagination" model="@Model.MiniHubNavigationModel" />*@
</div>

