@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@model CheckboxItemViewModel

<div class="nhsuk-checkboxes">
  <div class="nhsuk-checkboxes__item">
    <input class="nhsuk-checkboxes__input"
           id="@Model.Id"
           name="@Model.Name"
           type="checkbox"
           aria-describedby="@Model.Id-item-hint"
           value="true"
           @(Model.Value ? "checked" : string.Empty) />
    <label class="nhsuk-label nhsuk-checkboxes__label" for="@Model.Id">
      @Model.Label
    </label>
    @if (Model.HintText != null) {
      <div class="nhsuk-hint nhsuk-checkboxes__hint" id="@Model.Id-item-hint">
        @Model.HintText
      </div>
    }
  </div>
</div>
