@using Microsoft.AspNetCore.Http.Extensions

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">

  <title>@ViewData["Title"] - Digital Learning Solutions</title>

  <!-- Styles -->
  <link rel="stylesheet" href="@Url.Content("~/css/nhsuk.css")" asp-append-version="true">
  <link rel="stylesheet" href="@Url.Content("~/css/index.css")" asp-append-version="true">
  <link rel="stylesheet" href="@Url.Content("~/css/layout.css")" asp-append-version="true">
  @await RenderSectionAsync("styles", false)

  <!-- Scripts -->
  <script src="@Url.Content("~/js/nhsuk.js")" asp-append-version="true"></script>

  <!-- Favicons -->
  <link rel="icon" href="@Url.Content("~/favicon.ico")">

  <!-- Open Graph -->
  <meta property="og:url" content="@Context.Request.GetDisplayUrl()">
  <meta property="og:title" content="@(ViewData["og:title"] ?? ViewData["Title"] ?? "Digital Learning Solutions")">
  <meta property="og:description" content="@(ViewData["og:description"] ?? "")">
  <meta property="og:type" content="@(ViewData["og:type"] ?? "article")">
  <meta property="og:site_name" content="Digital Learning Solutions">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="@(ViewData["twitter:title"] ?? ViewData["Title"] ?? "Digital Learning Solutions")">
  <meta name="twitter:description" content="@(ViewData["twitter:description"] ?? "")">
</head>

<body>
  <div id="pagewrapper">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>

    <vc:header />

    <div class="nhsuk-width-container" id="maincontentwrapper">
      <main class="nhsuk-main-wrapper" id="maincontent">
        @RenderBody()
      </main>
      <partial name="/Views/LearningPortal/Shared/_LoadingSpinner.cshtml" />
    </div>

    <footer role="contentinfo">
      <div class="nhsuk-footer" id="nhsuk-footer">
        <div class="nhsuk-width-container">
          <h2 class="nhsuk-u-visually-hidden">Support links</h2>
          <ul class="nhsuk-footer__list">
            <li class="nhsuk-footer__list-item">
              <a class="nhsuk-footer__list-item-link" asp-action="Terms">Terms of use</a>
            </li>
            <li class="nhsuk-footer__list-item">
              <a class="nhsuk-footer__list-item-link" asp-action="AccessibilityHelp">Accessibility</a>
            </li>
            <li class="nhsuk-footer__list-item">
              <a class="nhsuk-footer__list-item-link" href="https://www.hee.nhs.uk/about/privacy-notice">Privacy</a>
            </li>
          </ul>
          <p class="nhsuk-footer__copyright">&copy; Digital Learning Solutions, Health Education England @DateTime.Now.Year</p>
        </div>
      </div>
    </footer>

    @await RenderSectionAsync("scripts", false)
    <script src="@Url.Content("~/js/learningPortal/dlscommon.js")" asp-append-version="true"></script>
  </div>
  
</body>
</html>
