@using DigitalLearningSolutions.Data.Enums
@using DigitalLearningSolutions.Data.Utilities
@using DigitalLearningSolutions.Web.Extensions
@using DigitalLearningSolutions.Web.Helpers
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewComponents
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject IClockUtility ClockUtility

@{
    var dlsSubApplication = (DlsSubApplication?)ViewData[LayoutViewDataKeys.DlsSubApplication];
    if (dlsSubApplication != null)
    {
        ViewData[LayoutViewDataKeys.Application] ??= dlsSubApplication.HeaderExtension;
        ViewData[LayoutViewDataKeys.HeaderPath] ??= dlsSubApplication.HeaderPath;
        ViewData[LayoutViewDataKeys.HeaderPathName] ??= dlsSubApplication.HeaderPathName;
    }
    var headerExtension = (string)ViewData[LayoutViewDataKeys.Application];
    var shouldDisplayHelpMenuItem = dlsSubApplication?.DisplayHelpMenuItem ?? headerExtension != DlsSubApplication.TrackingSystem.HeaderExtension;
    var userResearchUrl = Configuration["UserResearchUrl"];
    Context.Request.Cookies.TryGetValue("Dls-cookie-consent", out string cookieConsent);
}
<!DOCTYPE html>
<html lang="en">
<head>
    @if (cookieConsent == "true")
    {
        @await Html.PartialAsync("~/Views/Shared/_GoogleTagManager.cshtml")
    }
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>@ViewData[LayoutViewDataKeys.Title] - Digital Learning Solutions</title>

    <!-- Styles -->
    <link rel="stylesheet" href="@Url.Content("~/css/nhsuk.css")" asp-append-version="true">
    <link rel="stylesheet" href="@Url.Content("~/css/index.css")" asp-append-version="true">
    <link rel="stylesheet" href="@Url.Content("~/css/layout.css")" asp-append-version="true">
    @await RenderSectionAsync("styles", false)

    <!-- Scripts -->
    <script src="@Url.Content("~/js/nhsuk.js")" asp-append-version="true"></script>

    <!-- Favicons -->
    <link rel="icon" href="@Url.Content("~/favicon.ico")">

    <!-- Open Graph -->
    <meta property="og:title" content="@(ViewData["og:title"] ?? ViewData[LayoutViewDataKeys.Title] ?? "Digital Learning Solutions")">
    <meta property="og:description" content="@(ViewData["og:description"] ?? "")">
    <meta property="og:type" content="@(ViewData["og:type"] ?? "article")">
    <meta property="og:site_name" content="Digital Learning Solutions">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="@(ViewData["twitter:title"] ?? ViewData[LayoutViewDataKeys.Title] ?? "Digital Learning Solutions")">
    <meta name="twitter:description" content="@(ViewData["twitter:description"] ?? "")">
</head>

<body>
    @if (cookieConsent == "true")
    {
        @await Html.PartialAsync("~/Views/Shared/_GoogleTagManagerBodyTagJs.cshtml")
    }
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <a class="nhsuk-skip-link" href="#maincontent">Skip to main content</a>
    <div id="pagewrapper">
        <header class="nhsuk-header nhsuk-header--organisation nhsuk-header--white" role="banner">
            <partial name="_CookieConsentPartial" />
            @if (Configuration["ShowAlertBanner"] == "True")
            {
                <div class="dls-alert-banner no-print">
                    <div class="nhsuk-width-container">
                        <div class="hee-banner__message nhsuk-u-padding-top-4">
                            @Html.Raw(Configuration["AlertBannerContent"])
                        </div>
                    </div>
                </div>
            }
            <div class="nhsuk-width-container nhsuk-header__container">
                <div class="nhsuk-header__logo">
                    <a class="nhsuk-header__link nhsuk-header__link--service"
                       href="@(ViewData[LayoutViewDataKeys.HeaderPath] ?? Configuration["AppRootPath"] + "/Home")"
                       aria-label="NHS Digital Learning Solutions - @(ViewData[LayoutViewDataKeys.HeaderPathName] ?? "Landing Page")">
                        <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="NHS Logo" focusable="false" viewBox="0 0 40 16">
                            <title>NHS</title>
                            <path class="nhsuk-logo__background" d="M0 0h40v16H0z"></path>
                            <path class="nhsuk-logo__text" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
                            <image src="https://assets.nhs.uk/images/nhs-logo.png" width="40" height="16" xlink:href=""></image>
                        </svg>

                        <span class="nhsuk-header__service-name">@(ViewData[LayoutViewDataKeys.HeaderPrefix] ?? "Digital Learning Solutions ")@(headerExtension)</span>
                        @if (ViewData[LayoutViewDataKeys.Application] != null)
                        {
                            if (ViewData[LayoutViewDataKeys.Application].ToString() == "Framework Service" | ViewData[LayoutViewDataKeys.Application].ToString() == "Supervise")
                            {
                                <sup class="header-beta header-beta--dark">Beta</sup>
                            }
                        }
                    </a>
                </div>
                <vc:logo customisation-id="@((int?)ViewData[LayoutViewDataKeys.CustomisationIdForHeaderLogo])" />
            </div>

            @if ((bool?)ViewData[LayoutViewDataKeys.DoNotDisplayNavBar] != true)
            {
                <div class="nhsuk-navigation-container">
                    <nav class="nhsuk-navigation" id="header-navigation" aria-label="Primary navigation" role="navigation">
                        <ul class="nhsuk-header__navigation-list">
                            @if (IsSectionDefined("NavMenuItems"))
                            {
                                @RenderSection("NavMenuItems", true)
                            }
                            else if (dlsSubApplication != null)
                            {
                                <partial name="_AutoNavMenuItems.cshtml" model="@dlsSubApplication" />
                            }

                            @if (User.IsAdminAccount())
                            {
                                if ((bool?)ViewData[LayoutViewDataKeys.DoNotDisplayUserFeedbackBar] != true)
                                {
                                    <li class="nhsuk-header__navigation-item @Html.GetSelectedCssClassIfTabSelected(NavMenuTab.SwitchApplication)">
                                        <a class="nhsuk-header__navigation-link" asp-controller="ApplicationSelector" asp-action="Index">
                                            Switch application
                                        </a>
                                    </li>
                                }

                            }
                            <li class="nhsuk-header__navigation-item nhsuk-header__navigation-item--home">
                                <a class="nhsuk-header__navigation-link" asp-controller="Home" asp-action="Index">
                                    Home
                                </a>
                            </li>
                            <li class="nhsuk-mobile-menu-container">
                                <button class="nhsuk-header__menu-toggle nhsuk-header__navigation-link" id="toggle-menu" aria-expanded="false">
                                    <span class="nhsuk-u-visually-hidden">Browse</span>
                                    More
                                    <svg class="nhsuk-icon nhsuk-icon__chevron-down" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                                        <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            }

            @{
                var visualSeparatorNoNavBar = (bool?)ViewData[LayoutViewDataKeys.DoNotDisplayNavBar] == true ? "visual-separator-no-nav-bar" : string.Empty;
            }

            <feature name="@(FeatureFlags.UserFeedbackBar)">
                <partial name="_UserFeedbackBarPartial" model=@(userResearchUrl) />
            </feature>


        </header>
        <div class="nhsuk-grid-row">
            @RenderSection("NavBreadcrumbs", false)
        </div>
        <div class="nhsuk-width-container" id="maincontentwrapper">
            <main class="nhsuk-main-wrapper" id="maincontent" tabindex="-1">
                @RenderBody()
            </main>
            <partial name="/Views/LearningPortal/Shared/_LoadingSpinner.cshtml" />
        </div>
        <partial name="_DlsFooter" />
        @await RenderSectionAsync("scripts", false)
        <script src="@Url.Content("~/js/learningPortal/dlscommon.js")" asp-append-version="true"></script>
        <script src="@Url.Content("~/js/cookiesbanner.js")" asp-append-version="true"></script>
        <input type="hidden" id="keepAlivePingPath" value="@Url.Action("ping","keepSessionAlive")" />

    </div>

</body>
</html>
