@using DigitalLearningSolutions.Data.Enums
@model Tab

<li class="nhsuk-header__navigation-item @(Model == Tab.Welcome ? "selected" : "")">
  <a class="nhsuk-header__navigation-link" asp-controller="Home" asp-action="Index">
    Welcome
    <partial name="_NhsChevronRight" />
  </a>
</li>
<li class="nhsuk-header__navigation-item @(Model == Tab.FindYourCentre ? "selected" : "")">
  <a class="nhsuk-header__navigation-link" asp-controller="FindYourCentre" asp-action="Index">
    Find your centre
    <partial name="_NhsChevronRight" />
  </a>
</li>
<li class="nhsuk-header__navigation-item @(Model == Tab.Pricing ? "selected" : "")">
  <a class="nhsuk-header__navigation-link" asp-controller="Pricing" asp-action="Index">
    Pricing
    <partial name="_NhsChevronRight" />
  </a>
</li>
@if (User.Identity.IsAuthenticated) {
  <li class="nhsuk-header__navigation-item @(Model == Tab.MyAccount ? "selected" : "")">
    <a class="nhsuk-header__navigation-link" asp-controller="MyAccount" asp-action="Index">
      My account
      <partial name="_NhsChevronRight" />
    </a>
  </li>
} else {
  <li class="nhsuk-header__navigation-item @(Model == Tab.LogIn ? "selected" : "")">
    <a class="nhsuk-header__navigation-link" asp-controller="Login" asp-action="Index">
      Log in
      <partial name="_NhsChevronRight" />
    </a>
  </li>
  <li class="nhsuk-header__navigation-item @(Model == Tab.Register ? "selected" : "")">
    <a class="nhsuk-header__navigation-link" asp-controller="Register" asp-action="Index">
      Register
      <partial name="_NhsChevronRight" />
    </a>
  </li>
}
