@using DigitalLearningSolutions.Data.Enums
@using DigitalLearningSolutions.Data.Extensions
@using DigitalLearningSolutions.Web.Extensions
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<li class="nhsuk-header__navigation-item @Html.GetSelectedCssClassIfTabSelected(NavMenuTab.Welcome)">
  <a class="nhsuk-header__navigation-link" asp-controller="Home" asp-action="Index">
    Welcome
    <partial name="_NhsChevronRight" />
  </a>
</li>
<li class="nhsuk-header__navigation-item @Html.GetSelectedCssClassIfTabSelected(NavMenuTab.FindYourCentre)">
  <a class="nhsuk-header__navigation-link" asp-controller="FindYourCentre" asp-action="Index">
    Find your centre
    <partial name="_NhsChevronRight" />
  </a>
</li>
@if (Configuration.IsPricingPageEnabled()) {
  <li class="nhsuk-header__navigation-item @Html.GetSelectedCssClassIfTabSelected(NavMenuTab.Pricing)">
    <a class="nhsuk-header__navigation-link" asp-controller="Pricing" asp-action="Index">
      Pricing
      <partial name="_NhsChevronRight" />
    </a>
  </li>
}
@if (User.Identity.IsAuthenticated) {
  <li class="nhsuk-header__navigation-item @Html.GetSelectedCssClassIfTabSelected(NavMenuTab.MyAccount)">
    <a class="nhsuk-header__navigation-link" asp-controller="MyAccount" asp-action="Index">
      My account
      <partial name="_NhsChevronRight" />
    </a>
  </li>
} else {
  <li class="nhsuk-header__navigation-item @Html.GetSelectedCssClassIfTabSelected(NavMenuTab.LogIn)">
    <a class="nhsuk-header__navigation-link" asp-controller="Login" asp-action="Index">
      Log in
      <partial name="_NhsChevronRight" />
    </a>
  </li>
  <li class="nhsuk-header__navigation-item @Html.GetSelectedCssClassIfTabSelected(NavMenuTab.Register)">
    <a class="nhsuk-header__navigation-link" asp-controller="Register" asp-action="Start">
      Register
      <partial name="_NhsChevronRight" />
    </a>
  </li>
}
