@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@model VerifyEmailWarningIfAppropriateViewModel

@{
  var numSpecificPhrases = new {
    address = Model.MultipleEmailsAreUnverified ? "addresses" : "address",
    thisAddress = Model.MultipleEmailsAreUnverified ? "each of the addresses above" : "this address",
    link = Model.MultipleEmailsAreUnverified ? "links" : "link",
    folder = Model.MultipleEmailsAreUnverified ? "folders" : "folder",
    it = Model.MultipleEmailsAreUnverified ? "them" : "it",
  };
}

@if (Model.PrimaryEmailIsUnverified) {
  <p>
    You need to verify your primary email <strong>@Model.UnverifiedPrimaryEmail</strong>
    and your centre email <strong>@Model.UnverifiedCentreEmails.First().unverifiedEmail</strong>
    to access your account at <strong>@Model.UnverifiedCentreEmails.First().centreName</strong>.
  </p>
} else {
  <p>
    You need to verify your centre email <strong>@Model.UnverifiedCentreEmails.First().unverifiedEmail</strong>
    to access your account at <strong>@Model.UnverifiedCentreEmails.First().centreName</strong>.
  </p>
}

<p>
  An email with a verification link has been sent to @numSpecificPhrases.thisAddress.
  Please click the @numSpecificPhrases.link to verify your email @numSpecificPhrases.address.
  Check your Junk @numSpecificPhrases.folder if you can’t find @numSpecificPhrases.it, or you can resend @numSpecificPhrases.it
  by visiting the My account page.
</p>
