@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@model MyAccountViewModel

@{
  var atLeastOneCentreEmailIsUnverified = Model.UnverifiedCentreEmails.Count >= 1;
  var multipleEmailsAreUnverified = Model.NumberOfUnverifiedEmails > 1;

  var numSpecificPhrases = new {
    address = multipleEmailsAreUnverified ? "addresses" : "address",
    thisAddress = multipleEmailsAreUnverified ? "each of the addresses above" : "this address",
    link = multipleEmailsAreUnverified ? "links" : "link",
    folder = multipleEmailsAreUnverified ? "folders" : "folder",
    it = multipleEmailsAreUnverified ? "them" : "it",
    email = multipleEmailsAreUnverified ? "emails" : "email",
  };
}

<div class="nhsuk-warning-callout word-break">
  <partial name="_VerifyEmailWarningHeading" model="@Model.NumberOfUnverifiedEmails" />

  @if (!Model.PrimaryEmailIsVerified) {
    <p>
      Your primary email address <strong>@Model.PrimaryEmail</strong> has not been verified yet.
      You will not be able to access any centre accounts until you verify the address.
    </p>
  }

  @if (atLeastOneCentreEmailIsUnverified) {
    foreach (var ((centreName, email), index) in Model.UnverifiedCentreEmails.Select((email, index) => (email, index))) {
      <p>
        Your centre email address <strong>@email</strong> has
        @(!Model.PrimaryEmailIsVerified && index >= 0 || Model.PrimaryEmailIsVerified && index >= 1 ? "also" : "")
        not been verified yet.
        You will not be able to access <strong>@centreName</strong> until you verify the address.
      </p>
    }
  }

  <p>
    An email with a verification link has been sent to @numSpecificPhrases.thisAddress.
    Please click the @numSpecificPhrases.link to verify your email @numSpecificPhrases.address.
    Check your Junk @numSpecificPhrases.folder if you can’t find @numSpecificPhrases.it,
    or you can resend @numSpecificPhrases.it by clicking the button below.
  </p>

  <button class="nhsuk-button nhsuk-button--secondary">
    Resend verification @numSpecificPhrases.email
  </button>
</div>
