@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@model VerifyEmailWarningIfAppropriateViewModel

@{
  var numSpecificPhrases = new {
    address = Model.MultipleEmailsAreUnverified ? "addresses" : "address",
    thisAddress = Model.MultipleEmailsAreUnverified ? "each of the addresses above" : "this address",
    link = Model.MultipleEmailsAreUnverified ? "links" : "link",
    folder = Model.MultipleEmailsAreUnverified ? "folders" : "folder",
    it = Model.MultipleEmailsAreUnverified ? "them" : "it",
    email = Model.MultipleEmailsAreUnverified ? "emails" : "email",
  };
}

@if (Model.PrimaryEmailIsUnverified) {
  <p>
    Your primary email address <strong>@Model.UnverifiedPrimaryEmail</strong> has not been verified yet.
    You will not be able to access any centre accounts until you verify the address.
  </p>
}

@if (Model.AtLeastOneCentreEmailIsUnverified) {
  foreach (var ((centreName, email), index) in Model.UnverifiedCentreEmails.Select((email, index) => (email, index))) {
    <p>
      Your centre email address <strong>@email</strong> has
      @(Model.PrimaryEmailIsUnverified && index >= 0 || !Model.PrimaryEmailIsUnverified && index >= 1 ? "also" : "")
      not been verified yet.
      You will not be able to access <strong>@centreName</strong> until you verify the address.
    </p>
  }
}

<p>
  An email with a verification link has been sent to @numSpecificPhrases.thisAddress.
  Please click the @numSpecificPhrases.link to verify your email @numSpecificPhrases.address.
  Check your Junk @numSpecificPhrases.folder if you can’t find @numSpecificPhrases.it,
  or you can resend @numSpecificPhrases.it by clicking the button below.
</p>

<button class="nhsuk-button nhsuk-button--secondary">
  Resend verification @numSpecificPhrases.email
</button>
