@using DigitalLearningSolutions.Web.ViewModels.Login
@model ChooseACentreViewModel

@{
  var multipleCentreEmailsAreUnverified = Model.NumberOfUnverifiedCentreEmails > 1;
  var atLeastOneCentreEmailIsUnverified = Model.NumberOfUnverifiedCentreEmails >= 1;

  var numSpecificPhrases = new
  {
    address = multipleCentreEmailsAreUnverified ? "addresses" : "address",
    anUnverifiedCentreEmail = multipleCentreEmailsAreUnverified ?
      "multiple unverified centre email addresses" : "an unverified centre email address",
    accountThatUsesIt = multipleCentreEmailsAreUnverified ? "accounts that use them" : "account that uses it",
  };
}

@if (!Model.PrimaryEmailIsVerified || atLeastOneCentreEmailIsUnverified)
{
  <div class="nhsuk-warning-callout word-break">
    <partial name="_VerifyEmailWarningHeading" model="@Model.NumberOfUnverifiedCentreEmails" />

    @if (!Model.PrimaryEmailIsVerified)
    {
      <p>
        Your primary email address has not been verified yet. You will not be able to
        choose a centre, reactivate an account, or register at a new centre until it you verify the address.
      </p>
    }

    @if (atLeastOneCentreEmailIsUnverified)
    {
      <p>
        You @(Model.PrimaryEmailIsVerified ? null : "also") have @numSpecificPhrases.anUnverifiedCentreEmail.
        You will not be able to access the centre @numSpecificPhrases.accountThatUsesIt
        until you have verified the @numSpecificPhrases.address.
      </p>
    }
  </div>
}
