@inject IConfiguration Configuration

@using DigitalLearningSolutions.Web.Helpers
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.ContractDetails
@using Microsoft.Extensions.Configuration
@model ContractDetailsViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/contractDetails.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Contract details";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
}

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" asp-controller="Dashboard" asp-action="Index">Centre dashboard</a>
        </li>
      </ol>
      <p class="nhsuk-breadcrumb__back">
        <a class="nhsuk-breadcrumb__backlink" asp-controller="Dashboard" asp-action="Index">Back to centre dashboard</a>
      </p>
    </div>
  </nav>
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading" class="nhsuk-heading-xl">Contract details</h1>

    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1 coloured-card-number--blue">
              @Model.Administrators
            </p>
            <span class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19">Administrators</span>
          </div>
        </div>
      </li>

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1 @("coloured-card-number--" + Model.CmsAdministratorsColour)">
              @Model.CmsAdministrators
            </p>
            <span class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19">CMS administrators</span>
          </div>
        </div>
      </li>

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1 @("coloured-card-number--" + Model.CmsManagersColour)">
              @Model.CmsManagers
            </p>
            <span class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19">CMS managers</span>
          </div>
        </div>
      </li>

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1 @("coloured-card-number--" + Model.TrainersColour)">
              @Model.Trainers
            </p>
            <span class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19">Trainers</span>
          </div>
        </div>
      </li>

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1 coloured-card-number--blue">
              @Model.Supervisors
            </p>
            <span class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19">Supervisors</span>
          </div>
        </div>
      </li>

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1 @("coloured-card-number--" + Model.ContentCreatorsColour)">
              @Model.ContentCreators
            </p>
            <span class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19">Content creators</span>
          </div>
        </div>
      </li>

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1 @("coloured-card-number--" + Model.CustomCoursesColour)">
              @Model.CustomCourses
            </p>
            <span class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19">Custom courses</span>
          </div>
        </div>
      </li>

      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
        <div class="nhsuk-card">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1 @("coloured-card-number--" + Model.ServerSpaceColour)">
              @Model.ServerSpace
            </p>
            <span class="nhsuk-u-font-weight-normal nhsuk-u-font-size-19">Server space</span>
          </div>
        </div>
      </li>
    </ul>

    <a class="nhsuk-button left-button-mobile-margin-bottom nhsuk-u-margin-right-2" asp-controller="Pricing" asp-action="Index" role="button">
      View pricing plans
    </a>
    @if (User.HasCentreManagerPermissions()) {
      <a class="nhsuk-button nhsuk-button--secondary" asp-controller="Administrator" asp-action="Index" role="button">
        Manage users
      </a>
    }
  </div>
</div>
