@using DigitalLearningSolutions.Data.Models.Support
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.Extensions
@using DigitalLearningSolutions.Web.ViewModels.Support.RequestSupportTicket
@using NHSUKViewComponents.Web.ViewComponents
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RequestAttachmentViewModel
@{
    ViewData["Title"] = "Add attachments";
    var cancelLinkData = Html.GetRouteValues();
}
@if (!ViewData.ModelState.IsValid)
{
    <vc:error-summary order-of-property-names="@(new[] { nameof(Model.ImageFiles),nameof(Model.FileSizeError),nameof(Model.FileExtensionError) })" />
}
<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" role="button" asp-controller="RequestSupportTicket" asp-action="RequestSummary" asp-all-route-data="@cancelLinkData">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back
    </a>
</div>
<div id="form-group">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <div class="nhsuk-u-reading-width">
                <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="SetAttachment" enctype="multipart/form-data" asp-all-route-data="@cancelLinkData">
                    <fieldset class="nhsuk-fieldset">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                            <h1 class="nhsuk-fieldset__heading">
                                Attach screenshots (optional)
                            </h1>
                        </legend>
                        <div class="nhsuk-form-group">
                            <label class="nhsuk-label" for="ImageFiles">
                                If you have any screenshots that help illustrate your request, attach them here. The maximum total file size for uploaded files is 20MB.
                            </label>
                            @if (!ViewData.ModelState.IsValid)
                            {
                                <div class="nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-3">
                                    <span class="error-message--margin-bottom-1 nhsuk-error-message">
                                        <span>@Html.ValidationMessageFor(x => x.ImageFiles)</span>
                                    </span>
                                </div>
                            }
                            <input type="file" class="form-control nhsuk-input nhsuk-u-width-one-half " multiple asp-for="ImageFiles" />
                        </div>
                    </fieldset>
                    <button class="nhsuk-button nhsuk-button--secondary" type="submit">Upload</button>
                </form>
                @if (Model.RequestAttachment != null && Model.RequestAttachment.Count > 0)
                {
                    <h2 class="nhsuk-u-margin-bottom-2">
                        Files attached
                    </h2>
                    @foreach (var a in Model.RequestAttachment)
                    {
                        <dl class="nhsuk-summary-list">
                            <div class="nhsuk-summary-list__row">

                                <dd class="nhsuk-summary-list__value">
                                    @a.OriginalFileName
                                </dd>
                                <dd class="nhsuk-summary-list__actions">
                                    <a asp-action="DeleteImage" asp-all-route-data="@cancelLinkData" asp-route-imageName="@a.FileName" asp-route-imageId="@a.Id">
                                        Delete<span class="nhsuk-u-visually-hidden"> Request type</span>
                                    </a>
                                </dd>
                            </div>
                        </dl>
                    }
                }
                <a class="nhsuk-button" asp-controller="RequestSupportTicket" asp-action="SupportSummary" asp-all-route-data="@cancelLinkData">Next</a>
                <vc:cancel-link asp-controller="RequestSupportTicket" asp-action="Index" asp-all-route-data="@cancelLinkData" />
            </div>
        </div>
    </div>
</div>


