@using DigitalLearningSolutions.Data.Models.Support
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.Support.RequestSupportTicket;
@model RequestTypeViewModel;
@{
    var errorHasOccurred = !ViewData.ModelState.IsValid;
    ViewData["Title"] = "Type of Request";
    var count = @Model.RequestTypes.Count();
    var seperator = 0;
}
<link rel="stylesheet" href="@Url.Content("~/css/support/support.css")" asp-append-version="true">
@if (errorHasOccurred)
{
    <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Type) })" />
}

<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" role="button" asp-controller="RequestSupportTicket" asp-action="Index">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Back
    </a>
</div>
@if (Model.RequestTypes.Any())
{
    <div id="form-group">
        <form method="post" asp-route-ResponseTypes="@Model.RequestTypes" asp-action="setRequestType">
            <div>
                <h1 id="form-heading" class="nhsuk-fieldset__heading nhsuk-label--l">
                    Type of request
                </h1>
                <p class="nhsuk-body-s nhsuk-u-margin-top-4">What type of request are you submitting? Please choose the best match.</p>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                        @foreach (var requestType in Model.RequestTypes)
                        {
                            @if (seperator == @count - 1)
                            {
                                <p style="margin-bottom: 8px;padding: 8px 12px 4px;"><b>or</b></p>
                            }
                            <div class="nhsuk-radios__item">
                                <input class="nhsuk-radios__input" id="request-@requestType.ID" type="radio" value="@requestType.ID" name="requestType" asp-for="@Model.Id">
                                <label class="nhsuk-label nhsuk-radios__label" for="request-@requestType.ID">
                                    @requestType.RequestTypes
                                </label>
                            </div>
                            seperator = seperator + 1;
                        }
                    </div>
                </div>
                <button class="nhsuk-button nhsuk-u-margin-top-6" id="save-button" type="submit">
                    Next
                </button>
            </div>
        </form>
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" asp-controller="RequestSupportTicket" asp-action="Index" asp-route-SearchString="" asp-route-ExistingFilterString="" asp-route-page="" asp-fragment="">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                    <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                </svg>
                Cancel
            </a>
        </div>
    </div>
}


