@using DigitalLearningSolutions.Data.Models.Support
@using DigitalLearningSolutions.Web.Extensions
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.Support.RequestSupportTicket;
@model RequestTypeViewModel;
@{
    var errorHasOccurred = !ViewData.ModelState.IsValid;
    ViewData["Title"] = "Type of Request";
    var count = @Model.RequestTypes.Count();
    var seperator = 0;
    var cancelLinkData = Html.GetRouteValues();
}
<link rel="stylesheet" href="@Url.Content("~/css/support/support.css")" asp-append-version="true">
@if (errorHasOccurred)
{
    <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Type) })" />
}
@section NavBreadcrumbs {
    <div class="nhsuk-width-container">
            <a class="nhsuk-back-link" role="button" asp-controller="RequestSupportTicket" asp-action="Index" asp-all-route-data="@cancelLinkData">Back</a>
    </div>
}
@if (Model.RequestTypes.Any())
{
    <div class="nhsuk-grid-row">
        <form method="post" asp-route-ResponseTypes="@Model.RequestTypes" asp-action="setRequestType" asp-all-route-data="@cancelLinkData">
            <div>
                <nhs-form-group nhs-validation-for="Id">
                    <fieldset class="nhsuk-fieldset">
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                            <h1 class="nhsuk-fieldset__heading">
                                What type of request are you submitting?
                            </h1>
                            <div class="nhsuk-hint nhsuk-u-margin-top-4">
                                Please choose the best match.
                            </div>
                        </legend>
                        <div class="nhsuk-radios">
                            @foreach (var requestType in Model.RequestTypes)
                            {
                                @if (seperator == @count - 1)
                                {
                                    <p style="margin-bottom: 8px;padding: 8px 12px 4px;"><b>or</b></p>
                                }
                                <div class="nhsuk-radios__item">
                                    <input class="nhsuk-radios__input" id="request-@requestType.ID" type="radio" value="@requestType.ID" name="requestType" asp-for="@Model.Id">
                                    <label class="nhsuk-label nhsuk-radios__label" for="request-@requestType.ID">
                                        @requestType.RequestTypes
                                    </label>
                                </div>
                                seperator = seperator + 1;
                            }
                        </div>
                    </fieldset>
                </nhs-form-group>
                <button class="nhsuk-button nhsuk-u-margin-top-6" id="save-button" type="submit">
                    Next
                </button>
            </div>
        </form>
        <vc:cancel-link asp-controller="RequestSupportTicket" asp-action="Index" asp-all-route-data="@cancelLinkData" />
    </div>
}


