@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.PromoteToAdmin
@model PromoteToAdminViewModel

@{
  ViewData["Title"] = "Promote centre delegate to admin";
  var cancelRouteData = new Dictionary<string, string> { { "delegateId", Model.DelegateId.ToString() } };
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-heading-l">
        <div class="nhsuk-u-font-weight-bold">
          User:
        </div>
      </div>
      <div class="nhsuk-grid-column-three-quarters nhsuk-heading-l nhsuk-u-font-weight-normal word-break">
        <input type="hidden" asp-for="FullName" />
        @Model.FullName
      </div>
    </div>

    <h2 class="nhsuk-heading-l">User roles</h2>

    <div class="nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-4">
      <vc:number-of-administrators centre-id="Model.CentreId" />
    </div>

    @if (Model.NotAllRolesDisplayed) {
      <div class="nhsuk-warning-callout nhsuk-u-margin-bottom-4">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Some user roles are not available for selection
          </span>
        </h3>
        <p>
          Some user roles already have the maximum number of members assigned and are not available for selection.
          Check the "Number of administrators" information to see which roles have reached their limits.
        </p>
      </div>
    }

    <form class="nhsuk-u-margin-bottom-3" method="post" novalidate asp-action="Index">
      <input type="hidden" asp-for="UserId" />
      <input type="hidden" asp-for="CentreId" />


      <vc:checkboxes label="Please select all the roles this user has."
                     populate-with-current-values="true"
                     checkboxes="@Model.Checkboxes"
                     hint-text="" />

      <div class="@(Model.NoContentManagerOptionsAvailable ? "display-none" : null)">
        <vc:radios asp-for="@nameof(Model.ContentManagementRole)"
                   label="Please select a content manager role for this user."
                   populate-with-current-values="true"
                   radios="@Model.Radios"
                   hint-text=""
                   required="true" />
      </div>

      <h2 class="nhsuk-heading-l nhsuk-u-margin-top-8">Learning category</h2>

      <vc:select-list asp-for="LearningCategory"
                      label="Learning category"
                      value="@Model.LearningCategory.ToString()"
                      hint-text="Limits the permissions of the administrator to view and manage courses in a particular category."
                      required="false"
                      css-class="nhsuk-u-width-one-half"
                      default-option=""
                      select-list-options="@Model.LearningCategories" />

      <button class="nhsuk-button nhsuk-u-margin-top-6" type="submit" value="save">Save</button>
    </form>

    <vc:cancel-link asp-controller="ViewDelegate" asp-action="Index" asp-all-route-data="@cancelRouteData" />
  </div>
</div>
