@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Dashboard
@using Microsoft.Extensions.Configuration
@model CentreDashboardViewModel

@{
  ViewData["Title"] = "Centre dashboard";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["CurrentSystemBaseUrl"]}/tracking/dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
}

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">Side bar</div>
  <div class="nhsuk-grid-column-three-quarters">
    <h1 class="nhsuk-heading-xl" id="app-page-heading">Centre dashboard</h1>
    <p class="nhsuk-body-m">Welcome @Model.FirstName. You are managing @Model.CourseCategory courses.</p>

    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">
              @Model.Delegates <span class="nhsuk-u-visually-hidden">Delegates</span>
            </p>
            <a href="@Configuration["CurrentSystemBaseUrl"]/tracking/delegates" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Delegates</a>
          </div>
        </div>

      </li>
      <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">
              @Model.Courses <span class="nhsuk-u-visually-hidden">Courses</span>
            </p>
            <a href="@Configuration["CurrentSystemBaseUrl"]/tracking/coursesetup" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Courses</a>
          </div>
        </div>

      </li>
      <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">
              @Model.Admins <span class="nhsuk-u-visually-hidden">Admins</span>
            </p>
            <a href="@Configuration["CurrentSystemBaseUrl"]/tracking/centrelogins" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Admins</a>
          </div>
        </div>

      </li>
      <li class="nhsuk-grid-column-one-quarter nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">
              @Model.HelpTickets <span class="nhsuk-u-visually-hidden">Help tickets</span>
            </p>
            <a href="@Configuration["CurrentSystemBaseUrl"]/tracking/tickets" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Help tickets</a>
          </div>
        </div>

      </li>
    </ul>


    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Centre details
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <dl class="nhsuk-summary-list details-list-with-button">

          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              Centre name
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.CentreDetails.CentreName
            </dd>
          </div>

          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              Centre number
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.CentreDetails.CentreId
            </dd>
          </div>

          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              Region
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.CentreDetails.Region
            </dd>
          </div>

          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              Contract type
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.CentreDetails.ContractType
            </dd>
          </div>

          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              Centre manager
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.CentreDetails.CentreManager
            </dd>
          </div>

          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              Email
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.CentreDetails.Email
            </dd>
          </div>

          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              Contact number
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.CentreDetails.Telephone
            </dd>
          </div>

          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              Centre support details
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.CentreDetails.BannerText
            </dd>
          </div>

          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              Your IP address
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.CentreDetails.IpAddress
            </dd>
          </div>

          <div class="nhsuk-summary-list__row details-list-with-button__row">
            <dt class="nhsuk-summary-list__key">
              Pre-approved IPs
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.CentreDetails.ApprovedIps
            </dd>
          </div>

        </dl>

        <a class="nhsuk-button" role="button">
          Edit centre details
        </a>
      </div>
    </details>

    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="#">Contract details</a>
            </h2>
            <p class="nhsuk-card__description">See details about your contract type</p>
          </div>
        </div>

      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="#">Reports</a>
            </h2>
            <p class="nhsuk-card__description">See reports about your usage and evaluations</p>
          </div>
        </div>

      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="#">Top courses</a>
            </h2>
            <p class="nhsuk-card__description">See information about your top courses</p>
          </div>
        </div>

      </li>
      <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="#">Centre ranking</a>
            </h2>
            <p class="nhsuk-card__description">See centre rankings by week, month, or year</p>
          </div>
        </div>

      </li>
    </ul>
  </div>
</div>
