@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Reports
@model UsageStatsTableViewModel

<table role="table" class="nhsuk-table-responsive">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" scope="col">
        Period
      </th>
      <th role="columnheader" scope="col">
        Registrations
      </th>
      <th role="columnheader" scope="col">
        Completions
      </th>
      <th role="columnheader" scope="col">
        Evaluations
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    @{
      var rowCount = 0;
      foreach (var activityRow in Model.Rows)
      {
        rowCount++;
        <tr role="row" class="nhsuk-table__row @(rowCount > 5 ? "js-hidden-activity-row" : string.Empty)">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Period </span>@activityRow.Period
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Registrations </span>@activityRow.Registrations
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Completions </span>@activityRow.Completions
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading">Evaluations </span>@activityRow.Evaluations
          </td>
        </tr>
      }
    }
  </tbody>
</table>

<a roles="button"
   class="nhsuk-u-margin-top-4 js-only-block js-shown-load-more"
   href="#">View More</a>
