@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Reports
@model UsageStatsTableViewModel
@{
    //These must match with the name in trackingSystem/report.ts
    const string toggleRowButtonClass = "js-toggle-row-visibility-button";
    const string toggleActivityRowClass = "js-toggleable-activity-row";
    const int defaultNumOfRowsVisible = 5;
}

<table role="table" class="nhsuk-table-responsive">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" scope="col">
        Period
      </th>
      <th role="columnheader" scope="col">
        Registrations
      </th>
      <th role="columnheader" scope="col">
        Completions
      </th>
      <th role="columnheader" scope="col">
        Evaluations
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    @foreach (var (activityRow, rowNumber) in Model.Rows.Select((row, rowNumber) => (row, rowNumber)))
    {
      <tr role="row" class="nhsuk-table__row @(rowNumber >= defaultNumOfRowsVisible ? toggleActivityRowClass : string.Empty)">
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Period </span>@activityRow.Period
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Registrations </span>@activityRow.Registrations
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Completions </span>@activityRow.Completions
        </td>
        <td role="cell" class="nhsuk-table__cell">
          <span class="nhsuk-table-responsive__heading">Evaluations </span>@activityRow.Evaluations
        </td>
      </tr>
    }
  </tbody>
</table>

<a role="button"
   class="nhsuk-u-margin-top-4 js-only-block @(toggleRowButtonClass)"
   href="#">View More</a>
