@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Reports
@using Microsoft.Extensions.Configuration

@model ReportsViewModel

@{
  ViewData["Title"] = "Centre reports";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
}

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/reports.css")">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="side-nav-menu" aria-label="Side navigation bar">
      <partial name="~/Views/TrackingSystem/Centre/Shared/_CentreSideNavMenu.cshtml" model="CentrePage.Reports" />
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <h1 id="page-heading" class="nhsuk-heading-xl">Centre reports</h1>

    <span class="nhsuk-body-l">View reports for <span class="nhsuk-u-font-weight-bold">@Model.ReportsFilterModel.CourseCategoryName</span> courses.</span>

    <partial name="_FilterDisplayCard.cshtml" model="@Model.ReportsFilterModel" />

    <h2 class="nhsuk-heading-m">Usage stats</h2>

    <div class="js-only-block">
      <partial name="_ActivityGraph.cshtml" />
    </div>
    <partial name="_ActivityTable.cshtml" model="@Model.UsageStatsTableViewModel" />

    <hr />
    <h2 class="nhsuk-heading-m">Evaluation summary</h2>

    @foreach (var m in Model.EvaluationSummaryViewModels) {
      <partial name="_EvaluationSummaryCard.cshtml" model="m"/>
    }

    <nav class="side-nav-menu-bottom" aria-label="Bottom navigation bar">
      <partial name="~/Views/TrackingSystem/Centre/Shared/_CentreSideNavMenu.cshtml" model="CentrePage.Reports" />
    </nav>
  </div>
</div>

<script src="@Url.Content("~/js/trackingSystem/reports.js")"></script>
