@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.Available
@model AvailableCourseViewModel

<div class="course-card nhsuk-panel">
  <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
    <summary class="nhsuk-details__summary nhsuk-u-padding-top-0 nhsuk-u-padding-left-0">
      <span class="nhsuk-details__summary-text" id="@Model.Id-name" name="name" role="heading" aria-level="3">
        @Model.Name
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <div class="nhsuk-grid-row">
        <partial name="Shared/_TagRow" model="@Model" />
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <h5 class="nhsuk-u-margin-bottom-2" id="@Model.Id-brand" aria-describedby="@Model.Id-name">Brand</h5>
          <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-2" />

          <p aria-describedby="@Model.Id-name @Model.Id-brand" name="brand">@Model.Brand</p>
        </div>
        @if (Model.Category != null)
        {
          <div class="nhsuk-grid-column-one-third">
            <h5 class="nhsuk-u-margin-bottom-2" id="@Model.Id-category" aria-describedby="@Model.Id-name">Category</h5>
            <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-2" />

            <p aria-describedby="@Model.Id-name @Model.Id-category" name="category">@Model.Category</p>
          </div>
        }
        @if (Model.Topic != null)
        {
          <div class="nhsuk-grid-column-one-third">
            <h5 class="nhsuk-u-margin-bottom-2" id="@Model.Id-topic" aria-describedby="@Model.Id-name">Topic</h5>
            <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-2" />

            <p aria-describedby="@Model.Id-name @Model.Id-topic" name="topic">@Model.Topic</p>
          </div>
        }
      </div>
    </div>
  </details>

  @if (Model.EnrolButtonText != null)
  {
    <div class="flex-row">
      <a class="nhsuk-button nhsuk-u-margin-bottom-0 nhsuk-u-margin-right-2"
         aria-describedby="@Model.Id-name"
         aria-label="@Model.EnrolButtonAriaLabel"
         href="@Model.LaunchUrl">
        @Model.EnrolButtonText
      </a>
    </div>
  }
</div>
