@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.Available
@using Microsoft.Extensions.Configuration
@model RetirementViewModel;
@inject IConfiguration Configuration;
@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
    ViewData["Application"] = "Learning Portal";
    ViewData["Title"] = "Retirement  Confirmation";
    ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/LearningPortal/Retirement";
    ViewData["HeaderPathName"] = "Learning Portal";
}

@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
<form asp-controller="LearningPortal" asp-action="ConfirmRetirement" method="post">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full word-break">
      @if (errorHasOccurred)
    {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.ActionConfirmed) })" />
    }
    <h1 id="page-heading">Confirm Enrolment</h1>
            <p class="nhsuk-body-m">You are about to enrol onto a self-assessment that is due to retire.</p>
            <p class="nhsuk-body-m">     Retirement date:   <strong>@Model.RetirementDate?.ToString("dd/MM/yyyy")</strong>  </p>
            
            <p class="nhsuk-body-m">Please note:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
                <li>Learners enrolled before the retirement date can continue to progress and complete this self-assessment after the retirement date.</li>
                <li>No new learners can enrol on this version after the retirement date.</li>
                <li>An updated version of this self-assessment may be available and should be considered before enrolling on this one.</li>
            </ul>
            <p class="nhsuk-body-m">If you are unsure about what to do, contact your supervisor or manager.</p>
            <p class="nhsuk-body-m">To continue, please confirm that you understand this version is being retired and that you still wish to proceed with enrolment.</p>

            <p class="nhsuk-body-m">
                <vc:single-checkbox asp-for="@nameof(Model.ActionConfirmed)"
                                    label="I understand this self-assessment is retiring and still want to enrol."
                                    hint-text="" />
            </p>
            <button type="submit" class="nhsuk-button">Enrol now</button>
                    <a class="nhsuk-button nhsuk-button--secondary"
                       role="button"
                       asp-controller="LearningPortal" asp-action="Available">
                       Cancel
                    </a>
        @Html.HiddenFor(m => m.SelfAssessmentId)
            @Html.HiddenFor(m => m.RetirementDate)
  </div>
</div>
</form>

