@using DigitalLearningSolutions.Web.Extensions
@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@model CheckboxesViewModel

<div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset" aria-describedby="@Model.Label.RemoveWhitespace()-hint">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
      <label class="nhsuk-fieldset__heading">
        @Model.Label
      </label>
    </legend>

    @if (Model.HintText != null) {
      <div class="nhsuk-hint" id="@Model.Label.RemoveWhitespace()-hint">
        @Model.HintText
      </div>
    }

    <div class="nhsuk-checkboxes">
      @foreach (var checkbox in Model.Checkboxes) {
        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input"
                 type="checkbox"
                 id="@checkbox.Id"
                 name="@checkbox.Name"
                 aria-describedby="@checkbox.Id-item-hint"
                 value="true"
                 @(checkbox.Value ? "checked" : string.Empty) />
          <label class="nhsuk-label nhsuk-checkboxes__label" for="@checkbox.Id">
            @checkbox.Label
          </label>
          @if (checkbox.HintText != null) {
            <div class="nhsuk-hint nhsuk-checkboxes__hint" id="@checkbox.Id-item-hint">
              @checkbox.HintText
            </div>
          }
        </div>
      }

    </div>
  </fieldset>

</div>
