@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.RecommendedLearning
@model SearchableRecommendedResourceViewModel

<div class="searchable-element nhsuk-card" id="@Model.LearningHubReferenceId-card">
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text searchable-element-title" id="@Model.LearningHubReferenceId-name" name="name">
        @Model.ResourceName
      </span>

      <div class="tags">
        <div class="card-filter-tag">
          <strong class="nhsuk-tag nhsuk-tag--grey">@Model.ResourceType</strong>
        </div>
        <div class="card-filter-tag">
          <strong class="nhsuk-tag nhsuk-tag--grey">@Model.CatalogueName</strong>
        </div>
        @if (Model.IsInActionPlan)
        {
          <div class="card-filter-tag">
            <strong class="nhsuk-tag nhsuk-tag--blue">Already in action plan</strong>
          </div>
        }
        @if (Model.IsCompleted)
        {
          <div class="card-filter-tag">
            <strong class="nhsuk-tag nhsuk-tag--green">Completed</strong>
          </div>
        }
      </div>
    </summary>
    <div class="nhsuk-details__text">
      @Html.Raw(Model.ResourceDescription)
    </div>
  </details>

  @*<div class="nhsuk-grid-column-full">
    <h3 class="nhsuk-card__heading">
      @Model.ResourceName
    </h3>

    <div class="tags">
      <div class="card-filter-tag">
        <strong class="nhsuk-tag nhsuk-tag--grey">@Model.ResourceType</strong>
      </div>
      <div class="card-filter-tag">
        <strong class="nhsuk-tag nhsuk-tag--grey">@Model.CatalogueName</strong>
      </div>
      @if (Model.IsInActionPlan)
      {
        <div class="card-filter-tag">
          <strong class="nhsuk-tag nhsuk-tag--blue">Already in action plan</strong>
        </div>
      }
      @if (Model.IsCompleted)
      {
        <div class="card-filter-tag">
          <strong class="nhsuk-tag nhsuk-tag--green">Completed</strong>
        </div>
      }
    </div>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Description
        </span>
      </summary>
      <div class="nhsuk-details__text">
        @Model.ResourceDescription
      </div>
    </details>
  </div>*@

  <div class="nhsuk-u-padding-left-4">
    @if (!Model.IsInActionPlan) {
      <a class="nhsuk-button" role="button">
        Add to action plan
      </a>
    }

    <a class="nhsuk-button nhsuk-button--secondary" role="button">
      Preview resource
    </a>
  </div>
</div>
