@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.RecommendedLearning
@model RecommendedLearningViewModel

@{
  Layout = "../SelfAssessments/_Layout";
  ViewData["Title"] = "Recommended learning";
  ViewData["SelfAssessmentTitle"] = Model.SelfAssessment.Name;
}

<link rel="stylesheet" href="@Url.Content("~/css/learningPortal/recommendedLearning.css")" asp-append-version="true">

@section breadcrumbs {
  <li class="nhsuk-breadcrumb__item">
    <a class="nhsuk-breadcrumb__link trigger-loader"
       asp-controller="LearningPortal"
       asp-action="SelfAssessmentOverview"
       asp-route-vocabulary="Capabilities"
       asp-route-selfAssessmentId="@(ViewContext.RouteData.Values["selfAssessmentId"])">
      @Model.SelfAssessment.Name
    </a>
  </li>
  <li class="nhsuk-breadcrumb__item">Recommended Learning</li>
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="page-heading">@ViewData["Title"]</h1>

    <div class="nhsuk-u-margin-bottom-4">
      @if (!Model.ApiIsAccessible) {
        <vc:inset-text
          css-class="nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-2"
          text="@FallbackDataUsedWarningText.ResourceDetails" />
      }      }
      <vc:inset-text
        css-class="nhsuk-u-margin-bottom-2 nhsuk-u-margin-top-2"
        text="Please note that you will only be logged into Learning Hub automatically if you navigate to resources via Digital Learning Solutions." />
    </div>

    <partial name="SearchablePage/_Search" model="Model" />
    <span id="selfAssessmentID" class="display-none">@Model.SelfAssessment.Id</span>
    <input type="hidden" id="select-sort-by" value="@Model.SortBy" />
    <input type="hidden" id="select-sort-direction" value="@Model.SortDirection" />

    @if (Model.NoDataFound) {
      <p class="nhsuk-u-margin-top-4" role="alert">
        <b>No resources found.</b>
      </p>
    } else {
      <partial name="SearchablePage/_SearchResultsCount" model="Model" />

      <div id="searchable-elements">
        @foreach (var resource in Model.RecommendedResources) {
          <partial name="_SearchableRecommendedResourceCard" model="resource" />
        }
      </div>
    }
    @if (Model.TotalPages > 1) {
      <partial name="SearchablePage/_Pagination" model="Model" />
    }

  </div>
</div>

@section scripts {
  <script src="@Url.Content("~/js/learningPortal/recommendedLearning.js")" asp-append-version="true"></script>
}
