@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup
@model SearchableCourseStatisticsViewModel

<div class="searchable-element nhsuk-panel card-with-buttons word-break status-@Model.Status" id="@Model.CustomisationId-card">
  <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text searchable-element-title" id="@Model.CustomisationId-name" name="course-name">
        @Model.CourseName
        </span>
    </summary>

    <div class="nhsuk-details__text">



      
      <partial name="SearchablePage/_FilterableTags" model="@Model.Tags" />




      <partial name="_CentreCourseCardDetails" model="@Model" />

      <input type="hidden" data-filter-value="@Model.HasAdminFieldsFilter" />
      @if (Model.HasAdminFields) {
        <partial name="_CentreCourseCardAdminFields" model="@Model" />
      }

      <p class="nhsuk-u-margin-bottom-0">Want to share the course?</p>
      <a href="@Model.EmailHref">Generate email</a>
      <button class="copy-course-button js-only-block button-as-link nhsuk-u-padding-0 nhsuk-link--no-visited-state"
              id="copy-course-@Model.CustomisationId"
              role="link">
        Copy course link
      </button>
      <p class="non-js-only">To share this course with others, click Launch Course and copy the URL to the clipboard.</p>

    </div>
  </details>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-left-4">
      <a class="nhsuk-button nhsuk-u-margin-right-2 nhsuk-u-margin-bottom-2"
         role="button"
         id="launch-course-@Model.CustomisationId"
         asp-controller="LearningMenu"
         asp-action="Index"
         asp-route-customisationId="@Model.CustomisationId">
        Launch course
      </a>
      <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-2"
         role="button"
         asp-controller="ManageCourse"
         asp-action="Index"
         asp-route-customisationId="@Model.CustomisationId">
        Manage course
      </a>
    </div>
  </div>
</div>
