@using DigitalLearningSolutions.Web.ViewModels.LearningPortal
@model CurrentViewModel.CurrentCourseViewModel

<div class="nhsuk-panel nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-3">
  <h4 class="nhsuk-u-margin-bottom-1" id="@Model.Id-name">@Model.Name</h4>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters tags">
      @if (Model.UserIsSupervisor)
      {
        <div class="tag highlight-tag nhsuk-u-font-size-14" aria-describedby="@Model.Id-name">
          Supervisor
        </div>
      }
      @if (Model.HasDiagnosticAssessment)
      {
        <div class="tag nhsuk-u-font-size-14" aria-describedby="@Model.Id-name">
          Diagnostic assessment
        </div>
      }
      @if (Model.HasLearningContent)
      {
        <div class="tag nhsuk-u-font-size-14" aria-describedby="@Model.Id-name">
          Learning content
        </div>
      }
      @if (Model.HasLearningAssessmentAndCertification)
      {
        <div class="tag nhsuk-u-font-size-14" aria-describedby="@Model.Id-name">
          Learning assessment and certification
        </div>
      }
      @if (Model.IsEnrolledWithGroup)
      {
        <div class="tag nhsuk-u-font-size-14" aria-describedby="@Model.Id-name">
          In group
        </div>
      }

    </div>
  </div>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-quarter">
      <h5 class="nhsuk-u-margin-bottom-2" id="@Model.Id-enrolled-title" aria-describedby="@Model.Id-name">Enrolled</h5>
      <p aria-describedby="@Model.Id-name @Model.Id-enrolled-title">@Model.StartedDate.ToShortDateString()</p>
    </div>
    <div class="nhsuk-grid-column-one-quarter">
      <h5 class="nhsuk-u-margin-bottom-2" id="@Model.Id-last-access-title" aria-describedby="@Model.Id-name">Last access</h5>
      <p aria-describedby="@Model.Id-name @Model.Id-last-access-title">@Model.LastAccessedDate.ToShortDateString()</p>
    </div>
    <div class="nhsuk-grid-row nhsuk-grid-column-one-half">
      <div class="nhsuk-grid-column-one-half nhsuk-u-one-half">
        <h5 class="nhsuk-u-margin-bottom-2" id="@Model.Id-complete-by-title" aria-describedby="@Model.Id-name">Complete by</h5>
        @{ var overdue = Model.Overdue() ? "overdue" : ""; }
        <p class="@overdue" aria-describedby="@Model.Id-name @Model.Id-complete-by-title">@(Model.CompleteByDate?.ToShortDateString() ?? "-")</p>
      </div>
      <div class="nhsuk-grid-column-one-half nhsuk-u-one-half">
        <button class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-2" aria-describedby="@Model.Id-name" type="submit">
          Edit
        </button>
      </div>
    </div>
  </div>
  @if (@Model.HasDiagnosticScore() || @Model.HasPassedSections())
  {
    <div class="nhsuk-grid-row">
      @if (@Model.HasDiagnosticScore())
      {
        <div class="nhsuk-grid-column-one-quarter">
          <h5 class="nhsuk-u-margin-bottom-2" id="@Model.Id-diagnostic-score-title" aria-describedby="@Model.Id-name">Diagnostic Score</h5>
          <p aria-describedby="@Model.Id-name @Model.Id-diagnostic-score-title">@Model.DiagnosticScore</p>
        </div>
      }
      @if (@Model.HasPassedSections())
      {
        <div class="nhsuk-grid-column-one-quarter">
          <h5 class="nhsuk-u-margin-bottom-2" id="@Model.Id-passed-sections-title" aria-describedby="@Model.Id-name">Passed Sections</h5>
          <p aria-describedby="@Model.Id-name @Model.Id-passed-sections-title">@Model.DisplayPassedSections()</p>
        </div>
      }
    </div>
  }
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <button class="nhsuk-button nhsuk-u-margin-bottom-0" aria-describedby="@Model.Id-name">
        Launch
      </button>
      <button class="nhsuk-button delete-button nhsuk-u-margin-bottom-0" aria-describedby="@Model.Id-name">
        Remove
      </button>
    </div>
  </div>
</div>

