@using DigitalLearningSolutions.Web.ViewModels.LearningPortal
@model CompletedViewModel

@{
  ViewData["Title"] = "Learning Portal - Completed";
}

@section styles {
  <link rel="stylesheet" href="@Url.Content("~/css/learningPortal/index.css")">
}

<partial name="_CourseTypeSwitcher" />

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>My Completed Courses</h1>
    <div class="nhsuk-grid-row">
      @foreach (var completedCourse in Model.CompletedCourses)
      {
        <div class="nhsuk-grid-column-one-quarter">
          <div class="nhsuk-panel @completedCourse.CssClassname">
            <p class="headline-figures">
              <span class="nhsuk-u-font-size-32">@completedCourse.Value.ToString("N0")</span>
              <span class="nhsuk-body-s">@completedCourse.Label</span>
            </p>
          </div>
        </div>
      }
    </div>
  </div>
</div>

@section scripts {
  <script src="@Url.Content("~/js/learningPortal/index.js")"></script>
}
