@using DigitalLearningSolutions.Data.Enums
@using DigitalLearningSolutions.Web.ViewModels.VerifyEmail
@model VerifyEmailViewModel

@{
  ViewData["Title"] = "Verify your email address";
}

@section NavMenuItems {
  <partial name="_NavMenuItems" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">Verify your email address</h1>

    @if (Model.UnverifiedEmailsCount == 0) {
      <p class="nhsuk-body-m"> All your email addresses are verified.</p>
    } else {
      @if (Model.EmailVerificationReason.Equals(EmailVerificationReason.EmailNotVerified)) {
        string primaryEmail;
        string emailAddresses;
        string link;
        string address;
        string email;
        string folder;
        string pronoun;

        @if (Model.UnverifiedEmailsCount == 1) {
          primaryEmail = $", {Model.PrimaryEmail},";
          emailAddresses = Model.PrimaryEmail ?? "this address";
          link = "link";
          address = "address";
          email = "this email";
          folder = "folder";
          pronoun = "it";
        } else {
          primaryEmail = null;
          emailAddresses = "each of the addresses above";
          link = "links";
          address = "addresses";
          email = "the emails";
          folder = "folders";
          pronoun = "them";
        }
        @if (Model.PrimaryEmail != null) {
          var primaryEmailText = $"Your primary email address{primaryEmail} is not verified yet." +
                                 " You can edit your account details, but you cannot access any centre accounts until it is verified.";

          <p class="nhsuk-body-m">@primaryEmailText</p>
        }

        @foreach (var (centreName, centreEmail) in Model.CentreSpecificEmails) {
          <p class="nhsuk-body-m">
            Your email address @centreEmail for your account at @centreName has not been verified yet.
            You will not be able to access the centre account that uses it until you verify the address.
          </p>
        }

        var verifyEmailExplanation = $"An email with a verification link should have been sent to {emailAddresses}." +
                                     $" Please click the {link} to verify your email {address}." +
                                     $" If you have not received {email} after a few minutes, check your Junk {folder}," +
                                     $" or return to the My account page to resend {pronoun}.";

        <p class="nhsuk-body-m">@verifyEmailExplanation</p>
      }

      @if (Model.EmailVerificationReason.Equals(EmailVerificationReason.EmailChanged)) {
        var endingText = Model.UnverifiedEmailsCount == 1
          ? "If you have not received the email after a few minutes, check your Junk folder," +
            " or return to the My account page to resend it."
          : "An email with a verification link has been sent to each of the changed addresses." +
            " Please click the links to verify your email addresses. If you have not received the emails after a few minutes," +
            " check your Junk folders, or return to the My account page to resend them.";

        var centreEmailsExcludingFirstParagraph = Model.PrimaryEmail == null
          ? Model.CentreSpecificEmails.Skip(1)
          : Model.CentreSpecificEmails;

        @if (Model.PrimaryEmail != null) {
          string primaryEmail;
          string primaryEmailOnlyExplanation;
          if (Model.UnverifiedEmailsCount == 1) {
            primaryEmail = null;
            primaryEmailOnlyExplanation = $"An email with a verification link has been sent to {Model.PrimaryEmail}." +
                                          " Please click the link to verify your email address. ";
          } else {
            primaryEmail = $": {Model.PrimaryEmail}";
            primaryEmailOnlyExplanation = null;
          }

          var primaryEmailChangedText = $"You've updated your primary email address{primaryEmail}." +
                                        $" {primaryEmailOnlyExplanation}You will not be able to access any centre accounts until it is verified.";

          <p class="nhsuk-body-m">@primaryEmailChangedText</p>
        } else {
          var (firstCentreName, firstCentreEmail) = Model.CentreSpecificEmails.First();
          @if (Model.UnverifiedEmailsCount == 1) {
            var emailChangedText = $"You've updated your email address for your account at {firstCentreName}." +
                                   $" An email with a verification link has been sent to {firstCentreEmail}." +
                                   " Please click the link to verify your email address." +
                                   " You will not be able to access that account until it is verified.";

            <p class="nhsuk-body-m">@emailChangedText</p>
          } else {
            var firstEmailChangedText = $"You've updated your email address for your account at {firstCentreName}:" +
                                        $" {firstCentreEmail}. You will not be able to access that account until it is verified.";

            <p class="nhsuk-body-m">@firstEmailChangedText</p>
          }
        }

        @foreach (var (centreName, centreEmail) in centreEmailsExcludingFirstParagraph) {
          var centreEmailChangedText = $"You've also updated your email address for your account at {centreName}:" +
                                       $" {centreEmail}. You will not be able to access that account until it is verified.";

          <p class="nhsuk-body-m">@centreEmailChangedText</p>
        }

        <p class="nhsuk-body-m">@endingText</p>
      }
    }

    <vc:action-link asp-controller="MyAccount" asp-action="Index" link-text="View My account"/>
  </div>
</div>
