@using DigitalLearningSolutions.Web.ViewModels.LearningMenu
@using Microsoft.Extensions.Configuration
@model CourseCompletionViewModel
@inject IConfiguration Configuration

<link rel="stylesheet" href="@Url.Content("~/css/learningMenu/index.css")" asp-append-version="true">

@{
  ViewData["HeaderPrefix"] = "";
  ViewData["Application"] = Model.CourseTitle;
  ViewData["Title"] = Model.CourseTitle;
  ViewData["CustomisationId"] = Model.CustomisationId;
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/LearningMenu/{Model.CustomisationId}";
  ViewData["HeaderPathName"] = Model.CourseTitle;
}

@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}

<h1 id="page-heading" class="nhsuk-heading-xl">Course @Model.CompletionStatus</h1>

<div class="nhsuk-inset-text nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-3">
  <span class="nhsuk-u-visually-hidden">Information: </span>
  <p>@Model.SummaryText</p>
</div>

<dl class="nhsuk-summary-list nhsuk-u-margin-bottom-4">

  @if (Model.DiagnosticAttempts > 0)
  {
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Diagnostic Score
      </dt>
      <dd class="nhsuk-summary-list__value">
        @Model.DiagnosticScore%
      </dd>
    </div>
  }

  @if (Model.PercentageTutorialsCompleted > 0)
  {
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Learning Completed
      </dt>
      <dd class="nhsuk-summary-list__value">
        @Model.PercentageTutorialsCompleted%
      </dd>
    </div>
  }

  @if (Model.IsAssessed)
  {
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Assessments Passed
      </dt>
      <dd class="nhsuk-summary-list__value">
        @Model.PostLearningPasses out of @Model.SectionCount
      </dd>
    </div>
  }
</dl>

<div class="button-row">
  @if (Model.FinaliseText != null)
  {
    <div>
      <a class="nhsuk-button nhsuk-button" target="_blank" href="@Model.FinaliseUrl" aria-label="@Model.FinaliseAriaLabel">
        @Model.FinaliseText
      </a>
    </div>
  }
  <div>
    <a class="nhsuk-button nhsuk-button--secondary" target="_blank" href="@Model.DownloadSummaryUrl">
      Download summary
    </a>
  </div>
</div>

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" asp-action="Index" asp-controller="LearningMenu" asp-route-customisationId="@Model.CustomisationId">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Return to course menu
  </a>
</div>
