@using DigitalLearningSolutions.Web.Models.Enums
@model SuperAdminReportsPage

<h2 class="side-nav__heading">Reports</h2>
<ul class="nhsuk-list side-nav__list">
    <vc:side-menu-link asp-action="Index"
                       asp-controller="PlatformReports"
                       link-text="Platform usage"
                       is-current-page="@(Model == SuperAdminReportsPage.PlatformUsage)" />

    <vc:side-menu-link asp-action="CourseUsage"
                       asp-controller="PlatformReports"
                       link-text="Course usage"
                       is-current-page="@(Model == SuperAdminReportsPage.CourseUsage)" />

    <vc:side-menu-link asp-action="CourseEvaluations"
                       asp-controller="PlatformReports"
                       link-text="Course evaluations"
                       is-current-page="@(Model == SuperAdminReportsPage.CourseEvaluations)" />

    <vc:side-menu-link asp-action="IndependentSelfAssessmentsReport"
                       asp-controller="PlatformReports"
                       link-text="Independent self assessments"
                       is-current-page="@(Model == SuperAdminReportsPage.IndependentSelfAssessments)" />

    <vc:side-menu-link asp-action="SupervisedSelfAssessmentsReport"
                       asp-controller="PlatformReports"
                       link-text="Supervised self assessments"
                       is-current-page="@(Model == SuperAdminReportsPage.SupervisedSelfAssessments)" />

</ul>
