@using DigitalLearningSolutions.Web.ViewModels.Supervisor;
@model DelegateSelfAssessmentsViewModel;
@{
  ViewData["Title"] = "My Staff List";
  ViewData["Application"] = "Supervisor";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
<link rel="stylesheet" href="@Url.Content("~/css/shared/searchableElements/searchableElements.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="Index">Supervisor</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="MyStaffList">My Staff</a></li>
        <li class="nhsuk-breadcrumb__item">@Model.SupervisorDelegateDetail.FirstName @Model.SupervisorDelegateDetail.LastName</li>
      </ol>
    </div>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" asp-controller="Supervisor" asp-action="MyStaffList">Back to My Staff</a>
    </p>
  </nav>
}
<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <h1 class="nhsuk-details__summary-text nhsuk-u-margin-bottom-0">
      @Model.SupervisorDelegateDetail.FirstName @Model.SupervisorDelegateDetail.LastName
    </h1>
  </summary>
  <div class="nhsuk-details__text">
    <partial name="Shared/_StaffDetails" model="Model.SupervisorDelegateDetail" />
  </div>
</details>
@if (Model.DelegateSelfAssessments.Any())
{
  <partial name="Shared/_DelegateProfileAssessmentGrid" model="Model.DelegateSelfAssessments" />
}
else
{
  <p class="nhsuk-lede-text">You are not supervising any profile assessments for this member of staff, yet.</p>
}
@if (!Model.IsNominatedSupervisor)
{
  <a class="nhsuk-button nhsuk-u-margin-top-4" asp-action="StartEnrolDelegateOnProfileAssessment" asp-route-supervisorDelegateId="@Model.SupervisorDelegateDetail.ID">
    Enrol on new assessment
  </a>
}
