@using DigitalLearningSolutions.Web.ViewModels.Supervisor
@model EnrolDelegateSetCompleteByDateViewModel;
@{
  var errorHasOccurred = !Model.CompleteByValidationResult?.IsValid ?? false;
  ViewData["Title"] = "Enrol on Profile Assessment";
  ViewData["Application"] = "Supervisor";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
<link rel="stylesheet" href="@Url.Content("~/css/shared/searchableElements/searchableElements.css")" asp-append-version="true">

@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}

@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="Index">Supervisor</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="MyStaffList">My Staff</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor"
             asp-action="DelegateProfileAssessments"
             asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]">
            @Model.SupervisorDelegateDetail.FirstName @Model.SupervisorDelegateDetail.LastName
          </a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          Enrol
        </li>
      </ol>
    </div>
  </nav>
}

@{
  var exampleDate = DateTime.Today + TimeSpan.FromDays(7);
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Day), nameof(Model.Month), nameof(Model.Year) })" />
    }

    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <h1 class="nhsuk-details__summary-text nhsuk-u-margin-bottom-0">
          @Model.SupervisorDelegateDetail.FirstName @Model.SupervisorDelegateDetail.LastName
        </h1>
      </summary>
      <div class="nhsuk-details__text">
        <partial name="Shared/_StaffDetails" model="Model.SupervisorDelegateDetail" />
      </div>
    </details>

    <h2 id="form-heading" class="nhsuk-fieldset__heading nhsuk-label--l">
      Set a complete by date for @Model.RoleProfile.RoleProfileName
    </h2>

    <form method="post" class="nhsuk-u-margin-bottom-3">
      <vc:date-input id="complete-by-date"
                     label="Set a complete by date"
                     day-id="Day"
                     month-id="Month"
                     year-id="Year"
                     css-class=""
                     hint-text="For example, @exampleDate.Day @exampleDate.Month @exampleDate.Year. Leave the day, month and year boxes blank if you don't want to specify a completion date."
                     optional-second-hint="" />

      <div class=" nhsuk-u-margin-top-5">
        <a class="nhsuk-button nhsuk-button--secondary" asp-action="EnrolDelegateOnProfileAssessment" asp-route-supervisorDelegateId="@Model.SupervisorDelegateDetail.ID">
          Back
        </a>
        <button class="nhsuk-button" id="save-button" type="submit">Next</button>
      </div>
    </form>

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" asp-controller="Supervisor"
         asp-action="DelegateProfileAssessments"
         asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        Cancel
      </a>
    </div>
  </div>
</div>
