@using DigitalLearningSolutions.Web.ViewModels.Supervisor;
@using DigitalLearningSolutions.Data.Utilities
@using DigitalLearningSolutions.Web.ViewModels.Supervisor;
@inject IClockUtility ClockUtility
@model EnrolDelegateSetCompletByDateViewModel;
@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = "Enrol on Profile Assessment";
  ViewData["Application"] = "Supervisor";
  ViewData["HeaderPathName"] = "Supervisor";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
<link rel="stylesheet" href="@Url.Content("~/css/shared/searchableElements/searchableElements.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
  @section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="Index">Supervisor</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="MyStaffList">My Staff</a></li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor"
           asp-action="DelegateProfileAssessments"
           asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]">
            @Model.SupervisorDelegateDetail.FirstName @Model.SupervisorDelegateDetail.LastName
          </a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          Enrol
        </li>
      </ol>
    </div>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" asp-controller="Supervisor"
           asp-action="EnrolDelegateOnProfileAssessment"
           asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]">
                Back to Self Assessments
      </a>
    </p>
  </nav>
}
  @{
  var exampleDate = ClockUtility.UtcToday + TimeSpan.FromDays(7);
  string prefillDay;
  string prefillMonth;
  string prefillYear;
  if (Model.CompleteByValidationResult?.DateValid == false)
  {
    prefillDay = Model.CompleteByValidationResult?.Day.ToString() ?? "";
    prefillMonth = Model.CompleteByValidationResult?.Month.ToString() ?? "";
    prefillYear = Model.CompleteByValidationResult?.Year.ToString() ?? "";
    prefillDay = prefillDay == "0" ? "" : prefillDay;
    prefillMonth = prefillMonth == "0" ? "" : prefillMonth;
    prefillYear = prefillYear == "0" ? "" : prefillYear;
  }
  else
  {
    prefillDay = Model.CompleteByDate?.Day.ToString() ?? "";
    prefillMonth = Model.CompleteByDate?.Month.ToString() ?? "";
    prefillYear = Model.CompleteByDate?.Year.ToString() ?? "";
  }
  var dayErrorClass = Model.CompleteByValidationResult?.DayValid == false ? "nhsuk-input--error" : "";
  var monthErrorClass = Model.CompleteByValidationResult?.MonthValid == false ? "nhsuk-input--error" : "";
  var yearErrorClass = Model.CompleteByValidationResult?.YearValid == false ? "nhsuk-input--error" : "";
  var formErrorClass = Model.CompleteByValidationResult?.DateValid == false ? "nhsuk-form-group--error" : "";
}
<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <h1 class="nhsuk-details__summary-text nhsuk-u-margin-bottom-0">
      @Model.SupervisorDelegateDetail.FirstName @Model.SupervisorDelegateDetail.LastName
    </h1>
  </summary>
  <div class="nhsuk-details__text">
    <partial name="Shared/_StaffDetails" model="Model.SupervisorDelegateDetail" />
  </div>
</details>

<div>
  <div class="nhsuk-form-group" id="form-group">
    <form method="post" class="@formErrorClass">
      <fieldset class="nhsuk-fieldset" aria-labelledby="form-heading" aria-describedby="example-hint" role="group">
        <h2 id="form-heading" class="nhsuk-fieldset__heading nhsuk-label--l">
          Set a complete by date for @Model.RoleProfile.RoleProfileName
        </h2>
        <span class="nhsuk-hint" id="example-hint">
          For example, @exampleDate.Day @exampleDate.Month @exampleDate.Year. Leave the day, month and year boxes blank if you don't want to specify a completion date.
        </span>
        @if (Model.CompleteByValidationResult?.DateValid == false)
        {
          <span class="nhsuk-error-message" id="validation-message" role="alert">
            <span class="nhsuk-u-visually-hidden">Error:</span>@Model.CompleteByValidationResult?.ErrorMessage
          </span>
        }
        <div class="nhsuk-date-input" id="date">
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="day">
                Day
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 @dayErrorClass" id="day" name="day" type="number" value="@prefillDay">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="month">
                Month
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-2 @monthErrorClass" id="month" name="month" type="number" value="@prefillMonth">
            </div>
          </div>
          <div class="nhsuk-date-input__item">
            <div class="nhsuk-form-group">
              <label class="nhsuk-label nhsuk-date-input__label" for="year">
                Year
              </label>
              <input class="nhsuk-input nhsuk-date-input__input nhsuk-input--width-4 @yearErrorClass" id="year" name="year" type="number" value="@prefillYear">
            </div>
          </div>
        </div>
      </fieldset>
      <div class=" nhsuk-u-margin-top-5">
        <a class="nhsuk-button nhsuk-button--secondary" role="button" asp-action="EnrolDelegateOnProfileAssessment" asp-route-supervisorDelegateId="@Model.SupervisorDelegateDetail.ID">
          Back
        </a>
        <button class="nhsuk-button" id="save-button" type="submit">Next</button>
      </div>

    </form>

    <div class="nhsuk-back-link">
      <a class="nhsuk-back-link__link" asp-controller="Supervisor"
         asp-action="DelegateProfileAssessments"
         asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
          <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        Cancel
      </a>
    </div>
  </div>
</div>
