@using DigitalLearningSolutions.Web.ViewModels.Supervisor
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model MyStaffListViewModel;
@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: My Staff List" : "My Staff List";
  ViewData["Application"] = "Supervisor";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/Supervisor";
  ViewData["HeaderPathName"] = "Supervisor";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
<link rel="stylesheet" href="@Url.Content("~/css/shared/searchableElements/searchableElements.css")" asp-append-version="true">

@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}

@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="Index">Supervisor</a>
        </li>
        <li class="nhsuk-breadcrumb__item">My Staff</li>
      </ol>
    </div>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" asp-controller="Supervisor" asp-action="Index">Back to Supervisor Dashboard</a>
    </p>
  </nav>
}

@if (Model.JavascriptSearchSortFilterPaginateEnabled) {
  <vc:loading-spinner page-has-side-nav-menu="false" />
}
<div id="@(Model.JavascriptSearchSortFilterPaginateEnabled ? "js-styling-hidden-area-while-loading" : "no-js-styling")">
  @if (errorHasOccurred) {
    <vc:error-summary order-of-property-names="@(new[] { nameof(Model.DelegateEmail) })" />
  }
  <h1>My Staff</h1>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      @if (Model.SuperviseDelegateDetailViewModels.Any() | (Model.SearchString != null)) {
        <form method="get" role="search" asp-action="Index" asp-route-page="@Model.Page">
          <div class="nhsuk-grid-row">
            <partial name="SearchablePage/_Search" model="Model" />
          </div>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <partial name="SearchablePage/_SearchResultsCount" model="Model" />
              <partial name="SearchablePage/_TopPagination" model="Model" />
              <partial name="SearchablePage/_ResultCountAndPageAlerts" model="Model" />

              <input type="hidden" aria-hidden="true" id="select-sort-by" value="SearchableName" />
              <input type="hidden" aria-hidden="true" id="select-sort-direction" value="Ascending" />
              @if (Model.SuperviseDelegateDetailViewModels.Any()) {
                <div id="searchable-elements">
                  @foreach (var supervisorDelegateDetail in Model.SuperviseDelegateDetailViewModels) {
                    <partial name="Shared/_StaffMemberCard" model="supervisorDelegateDetail" />
                  }
                </div>

                <partial name="SearchablePage/_BottomPagination" model="Model" />
              } else {
                <p>Please change your search criteria and try again.</p>
              }
            </div>
          </div>
        </form>
      } else if (!errorHasOccurred) {
        <p>You are not supervising any staff, yet.</p>
      }
    </div>
  </div>
  @if (!Model.IsNominatedSupervisor) {
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <form method="post">
          <label class="nhsuk-label nhsuk-u-margin-top-6" for="add-user-hint">
            <h2>Add a member of staff</h2>
          </label>
          <div class="nhsuk-form-group">
            <div class=" sort-select-container">
              <vc:text-input asp-for="DelegateEmail"
                             label="User email address"
                             populate-with-current-value="false"
                             type="text"
                             spell-check="false"
                             hint-text="Provide the work email address of a member of staff to add to your supervision list.<br/>The email address that already exists in your staff list will be ignored."
                             autocomplete="email"
                             css-class="nhsuk-input"
                             required="true" />
            </div>
          </div>
          <button class="nhsuk-button" type="submit" asp-action="AddSuperviseDelegate">
            Submit
          </button>
          @Html.HiddenFor(m => m.SearchString)
          @Html.HiddenFor(m => m.SortBy)
          @Html.HiddenFor(m => m.SortDirection)
          @Html.HiddenFor(m => m.Page)
        </form>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-4" role="button" asp-action="AddMultipleSuperviseDelegates">
          Add multiple staff members
        </a>
      </div>
    </div>
  }
</div>

@if (Model.JavascriptSearchSortFilterPaginateEnabled) {
@section scripts {
  <script src="@Url.Content("~/js/supervisor/staffList.js")" asp-append-version="true"></script>
}}
