@using DigitalLearningSolutions.Data.Models.Supervisor;
@using Microsoft.Extensions.Configuration
@model SupervisorDelegateDetail;
@inject IConfiguration Configuration;
@{
  ViewData["Application"] = "Supervisor";
  ViewData["Title"] = "My Staff - Confirm Remove";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/Supervisor/MyStaff";
  ViewData["HeaderPathName"] = "My Staff";
}
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="page-heading">Confirm Remove Staff Member</h1>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-heading-l">
        <div class="nhsuk-u-font-weight-bold">
          Staff member:
        </div>
      </div>
      <div class="nhsuk-grid-column-three-quarters nhsuk-heading-l nhsuk-u-font-weight-normal">
        @Model.FirstName @Model.LastName (@Model.DelegateEmail)
      </div>
    </div>
    <p class="nhsuk-body-m">You are supervising @Model.CandidateAssessmentCount profile assessments for this member of staff.</p>
    <form method="post" asp-controller="Supervisor">
      <div class="nhsuk-checkboxes__item">
        <nhs-form-group nhs-validation-for="ConfirmedRemove">
          @Html.CheckBoxFor(m => m.ConfirmedRemove, new { @class = "nhsuk-checkboxes__input", required = "required" })
          <label for="ConfirmedRemove" class="nhsuk-label nhsuk-checkboxes__label nhsuk-label--m">
            I am sure that I wish to remove @Model.FirstName @Model.LastName from my staff list
            <label class="nhsuk-caption-m">
              This action will remove the staff member from your staff list and you will no longer be able to review their self assessments.
            </label>
          </label>
          <span asp-validation-for="ConfirmedRemove" class="text-danger"></span>
        </nhs-form-group>
      </div>
      <button type="submit" class="nhsuk-button nhsuk-button--danger nhsuk-u-margin-top-4" asp-action="RemoveSupervisorDelegate">
        Remove
      </button>
      <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-top-4" asp-action="MyStaffList">
        Cancel
      </a>
      @Html.HiddenFor(m => m.ID)
    </form>
  </div>
</div>

@section scripts {
  <script src="@Url.Content("~/js/supervisor/assessmentVerify.js")" asp-append-version="true"></script>
}
