@using DigitalLearningSolutions.Web.ViewModels.Supervisor
@using Microsoft.Extensions.Configuration
@model SupervisorDelegateViewModel;
@inject IConfiguration Configuration;
@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Application"] = "Supervisor";
  ViewData["Title"] = (errorHasOccurred ? "Error: " : "") + "My Staff - Confirm Remove";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/Supervisor/MyStaff";
  ViewData["HeaderPathName"] = "My Staff";
}

@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred)
    {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.ActionConfirmed) })" />
    }
    <h1 id="page-heading">Confirm Remove Staff Member</h1>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-heading-l">
        <div class="nhsuk-u-font-weight-bold">
          Staff member:
        </div>
      </div>
      <div class="nhsuk-grid-column-three-quarters nhsuk-heading-l nhsuk-u-font-weight-normal">
        @Model.FirstName @Model.LastName (@Model.DelegateEmail)
      </div>
    </div>
    <p class="nhsuk-body-m">You are supervising @Model.CandidateAssessmentCount profile assessments for this member of staff.</p>
    <form method="post" asp-controller="Supervisor">
      <div class="nhsuk-checkboxes__item">
        <vc:single-checkbox asp-for="@nameof(Model.ActionConfirmed)"
                            label="I am sure that I wish to remove @Model.FirstName @Model.LastName from my staff list"
                            hint-text="This action will remove the staff member from your staff list and you will no longer be able to review their self assessments." />
      </div>
      <button type="submit" class="nhsuk-button nhsuk-button--danger nhsuk-u-margin-top-4" asp-action="RemoveSupervisorDelegateConfirmed">
        Remove
      </button>
      @Html.HiddenFor(m => m.Id)
      @Html.HiddenFor(m => m.FirstName)
      @Html.HiddenFor(m => m.LastName)
      @Html.HiddenFor(m => m.DelegateEmail)
      @Html.HiddenFor(m => m.CandidateAssessmentCount)
      @Html.HiddenFor(m => m.ReturnPageQuery)
    </form>

    <vc:cancel-link-with-return-page-query asp-controller="Supervisor" asp-action="MyStaffList" return-page-query="@Model.ReturnPageQuery" />
  </div>
</div>
