@using DigitalLearningSolutions.Web.ViewModels.Supervisor;
@model Tuple<EnrolDelegateSummaryViewModel,int?>;
@{
    var errorHasOccurred = !ViewData.ModelState.IsValid;
    ViewData["Title"] = "Select Supervisor Role for Profile Assessment Summary";
    ViewData["Application"] = "Supervisor";
    ViewData["HeaderPathName"] = "Supervisor";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
<link rel="stylesheet" href="@Url.Content("~/css/shared/searchableElements/searchableElements.css")" asp-append-version="true">
@section NavMenuItems {
    <partial name="Shared/_NavMenuItems" />
}
    @section NavBreadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="Index">Supervisor</a></li>
                <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="MyStaffList">My Staff</a></li>
                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor"
                   asp-action="DelegateProfileAssessments"
                   asp-route-supervisorDelegateId="@Model.Item1.SupervisorDelegateDetail.ID">@Model.Item1.SupervisorDelegateDetail.FirstName @Model.Item1.SupervisorDelegateDetail.LastName</a>
                </li>
                <li class="nhsuk-breadcrumb__item">
                    Supervise
                </li>
            </ol>
        </div>
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" asp-controller="Supervisor"
           asp-action="DelegateProfileAssessments"
           asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]">
                Back to @Model.Item1.SupervisorDelegateDetail.FirstName @Model.Item1.SupervisorDelegateDetail.LastName
            </a>
        </p>
    </nav>
}

    <details class="nhsuk-details nhsuk-expander">
        <summary class="nhsuk-details__summary">
            <h1 class="nhsuk-details__summary-text nhsuk-u-margin-bottom-0">
                @Model.Item1.SupervisorDelegateDetail.FirstName @Model.Item1.SupervisorDelegateDetail.LastName
            </h1>
        </summary>
        <div class="nhsuk-details__text">
            <partial name="Shared/_StaffDetails" model="Model.Item1.SupervisorDelegateDetail" />
        </div>
    </details>
    <h2>Supervision Summary</h2>
    <dl class="nhsuk-summary-list">

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Self Assessment
            </dt>
            <dd class="nhsuk-summary-list__value">
                @Model.Item1.RoleProfile.RoleProfileName
            </dd>

            <dd class="nhsuk-summary-list__actions">


            </dd>

        </div>

        <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
                Complete by date
            </dt>
            <dd class="nhsuk-summary-list__value">
                @(Model.Item1.CompleteByDate == null ? "Not set" : Model.Item1.CompleteByDate.Value.ToShortDateString())
        </dd>

        <dd class="nhsuk-summary-list__actions">


        </dd>

    </div>

    <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
            Supervisor role
        </dt>
        <dd class="nhsuk-summary-list__value">
            @Model.Item1.SupervisorRoleName
        </dd>

        <dd class="nhsuk-summary-list__actions">
            @if (Model.Item1.SupervisorRoleCount > 1)
            {
                <a asp-action="QuickAddSupervisor" asp-route-delegateUserId="@Model.Item1.SupervisorDelegateDetail.DelegateUserID.Value" asp-route-selfAssessmentId="@Model.Item1.RoleProfile.ID" asp-route-supervisorDelegateId="@Model.Item1.SupervisorDelegateDetail.ID">
                    Change<span class="nhsuk-u-visually-hidden"> supervisor role</span>
                </a>
            }


        </dd>

    </div>

</dl>
<a class="nhsuk-button" role="button" asp-action="QuickAddSupervisorConfirm" asp-route-delegateUserId="@Model.Item1.SupervisorDelegateDetail.DelegateUserID.Value" asp-route-selfAssessmentId="@Model.Item1.RoleProfile.ID" asp-route-supervisorDelegateId="@Model.Item1.SupervisorDelegateDetail.ID" asp-route-selfAssessmentSupervisorRoleId="@Model.Item2.GetValueOrDefault()">
    Confirm
</a>
<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" asp-controller="Supervisor"
       asp-action="DelegateProfileAssessments"
       asp-route-supervisorDelegateId=@Model.Item1.SupervisorDelegateDetail.ID>
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
            <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        Cancel
    </a>
</div>
