@using DigitalLearningSolutions.Web.ViewModels.Supervisor
@{
  ViewData["Title"] = "Review Profile Assessment";
  ViewData["Application"] = "Supervisor";
  ViewData["HeaderPathName"] = "Supervisor";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
  @section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="Index">Supervisor</a></li>
        <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="MyStaffList">My Staff</a></li>
        <li class="nhsuk-breadcrumb__list-item">
          <a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor"
           asp-action="DelegateProfileAssessments"
           asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]">@Model.SupervisorDelegateDetail.FirstName @Model.SupervisorDelegateDetail.LastName</a>
        </li>
        <li class="nhsuk-breadcrumb__list-item">
          <a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor"
           asp-action="ReviewDelegateSelfAssessment"
           asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]"
           asp-route-candidateAssessmentId="@ViewContext.RouteData.Values["candidateAssessmentId"]">
            @(Model.DelegateSelfAssessment.RoleName.Length > 35 ? Model.DelegateSelfAssessment.RoleName.Substring(0,32) + "..." : Model.DelegateSelfAssessment.RoleName )
          </a>
        </li>
        <li>
          Sign-off History
        </li>
      </ol>
    </div>
    <a class="nhsuk-back-link" asp-controller="Supervisor"
      asp-action="ReviewDelegateSelfAssessment"
      asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]"
      asp-route-candidateAssessmentId="@ViewContext.RouteData.Values["candidateAssessmentId"]">
      Back to @(Model.DelegateSelfAssessment.RoleName.Length > 35 ?
    Model.DelegateSelfAssessment.RoleName.Substring(0,32) + "..." : Model.DelegateSelfAssessment.RoleName )
    </a>
  </nav>
}
<partial name="Shared/_SupervisorSignOffHistory" model="@Model.SupervisorSignOffs" />
  <div class="nhsuk-link">
    <a class="nhsuk-back-link__link" asp-action="ReviewDelegateSelfAssessment" asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]" asp-route-candidateAssessmentId="@ViewContext.RouteData.Values["candidateAssessmentId"]">
      Cancel
    </a>
  </div>
