@using DigitalLearningSolutions.Web.ViewModels.Supervisor
@{
  ViewData["Title"] = "Review Profile Assessment";
  ViewData["Application"] = "Supervisor";
  ViewData["HeaderPathName"] = "Supervisor";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
  @section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="Index">Supervisor</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="MyStaffList">My Staff</a></li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor"
           asp-action="DelegateProfileAssessments"
           asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]">@Model.SupervisorDelegateDetail.FirstName @Model.SupervisorDelegateDetail.LastName</a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor"
           asp-action="ReviewDelegateSelfAssessment"
           asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]"
           asp-route-candidateAssessmentId="@ViewContext.RouteData.Values["candidateAssessmentId"]">
            @(Model.DelegateSelfAssessment.RoleName.Length > 35 ? Model.DelegateSelfAssessment.RoleName.Substring(0,32) + "..." : Model.DelegateSelfAssessment.RoleName )
          </a>
        </li>
        <li>
          Sign-off History
        </li>
      </ol>
    </div>
    <p class="nhsuk-breadcrumb__back">
      <a class="nhsuk-breadcrumb__backlink" asp-controller="Supervisor"
       asp-action="ReviewDelegateSelfAssessment"
       asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]"
       asp-route-candidateAssessmentId="@ViewContext.RouteData.Values["candidateAssessmentId"]">
        Back to @(Model.DelegateSelfAssessment.RoleName.Length > 35 ?
      Model.DelegateSelfAssessment.RoleName.Substring(0,32) + "..." : Model.DelegateSelfAssessment.RoleName )
      </a>
    </p>
  </nav>
}
<partial name="Shared/_SupervisorSignOffHistory" model="@Model.SupervisorSignOffs" />
  <div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link" asp-action="ReviewDelegateSelfAssessment" asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]" asp-route-candidateAssessmentId="@ViewContext.RouteData.Values["candidateAssessmentId"]">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
      </svg>
      Cancel
    </a>
  </div>
