@using DigitalLearningSolutions.Web.ViewModels.Supervisor;
@model ReviewSelfAssessmentViewModel;
@{
  ViewData["Title"] = "Review Self Assessment";
  ViewData["Application"] = "Supervisor";
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
<link rel="stylesheet" href="@Url.Content("~/css/shared/searchableElements/searchableElements.css")" asp-append-version="true">
<link rel="stylesheet" href="@Url.Content("~/css/supervisor/verifyMultipleResults.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="Index">Supervisor</a></li>
        <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="MyStaffList">My Staff</a></li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor"
             asp-action="DelegateProfileAssessments"
             asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]">@Model.SupervisorDelegateDetail.FirstName @Model.SupervisorDelegateDetail.LastName</a>
          </li>
          <li class="nhsuk-breadcrumb__item">
            <a class="nhsuk-breadcrumb__link trigger-loader" asp-controller="Supervisor" asp-action="ReviewDelegateSelfAssessment" asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]" asp-route-candidateAssessmentId="@ViewContext.RouteData.Values["candidateAssessmentId"]">
              @(Model.DelegateSelfAssessment.RoleName.Length > 35 ? Model.DelegateSelfAssessment.RoleName.Substring(0,32) + "..." : Model.DelegateSelfAssessment.RoleName )
            </a>
          </li>
          <li>
            Verify results
          </li>
        </ol>
      </div>
    </nav>
}
<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <h1 class="nhsuk-details__summary-text nhsuk-u-margin-bottom-0">
      @Model.SupervisorDelegateDetail.FirstName @Model.SupervisorDelegateDetail.LastName
    </h1>
  </summary>
  <div class="nhsuk-details__text">
    <partial name="Shared/_StaffDetails" model="Model.SupervisorDelegateDetail" />
  </div>
</details>
<h2>Verify Multiple Results for @Model.DelegateSelfAssessment.RoleName</h2>
@if (Model.CompetencyGroups.Any())
{
  <h3>Tick each self assessment result that you wish to verify and then click Submit</h3>
  <form method="post">
    @foreach (var competencyGroup in Model.CompetencyGroups)
    {
      var vocabulary = competencyGroup.First().Vocabulary;
      <fieldset class="nhsuk-fieldset nhsuk-u-margin-bottom-0 nhsuk-u-margin-top-4">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <span class="nhsuk-fieldset__heading">
            @competencyGroup.Key
          </span>
        </legend>
      </fieldset>
      @if (competencyGroup.Count() > 1)
      {
        <div class="nhsuk-grid-row nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-1 js-only-block">
          <div class="nhsuk-grid-column-full">
            <a class="nhsuk-button nhsuk-search__submit select-all-button select-all status-tag" data-group="@competencyGroup.Key" name="selectAll" value="true">Select all @Model.VocabPlural(vocabulary).ToLower()</a>
            <a class="nhsuk-button nhsuk-search__submit select-all-button deselect-all status-tag" data-group="@competencyGroup.Key" id="" name="selectAll" value="false">Deselect all @Model.VocabPlural(vocabulary).ToLower()</a>
          </div>
        </div>
      }
      <table role="table" class="nhsuk-table-responsive nhsuk-u-margin-top-4">
        <thead role="rowgroup" class="nhsuk-table__head">
          <tr role="row">
            <th role="columnheader" class="" scope="col">
              @vocabulary
            </th>
            <th role="columnheader" class="" scope="col">
              Question
            </th>
            <th role="columnheader" class="" scope="col">
              Response
            </th>
          </tr>
        </thead>
        <tbody class="nhsuk-table__body">
          @foreach (var competency in competencyGroup)
          {
            @foreach (var question in competency.AssessmentQuestions)
            {
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
                  <span class="nhsuk-table-responsive__heading">@competency.Vocabulary </span>
                  <div class="nhsuk-checkboxes__item">
                    <input data-group="@competencyGroup.Key" class="nhsuk-checkboxes__input select-all-checkbox" id="result-check-@question.SelfAssessmentResultSupervisorVerificationId" name="resultChecked" type="checkbox" value="@question.SelfAssessmentResultSupervisorVerificationId">
                    <label class="nhsuk-label nhsuk-checkboxes__label nhsuk-u-font-size-16" for="result-check-@question.SelfAssessmentResultSupervisorVerificationId">
                      @competency.Name
                    </label>
                  </div>
                </td>
                <partial name="Shared/_AssessmentQuestionCells" model="question" />
              </tr>
            }
          }
        </tbody>
      </table>
    }
    <div class="nhsuk-grid-row nhsuk-u-margin-top-4">
      <div class="nhsuk-grid-column-full">
        <button class="nhsuk-button" type="submit">Submit</button>
        <a class="nhsuk-button nhsuk-button--secondary" asp-controller="Supervisor" asp-action="ReviewDelegateSelfAssessment" asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]" asp-route-candidateAssessmentId="@ViewContext.RouteData.Values["candidateAssessmentId"]">Cancel</a>
      </div>
    </div>
  </form>
}
else
{
  <p>
    Oops. There are no results awaiting verification.
  </p>
  <a class="nhsuk-button nhsuk-button--secondary" asp-controller="Supervisor" asp-action="ReviewDelegateSelfAssessment" asp-route-supervisorDelegateId="@ViewContext.RouteData.Values["supervisorDelegateId"]" asp-route-candidateAssessmentId="@ViewContext.RouteData.Values["candidateAssessmentId"]">Cancel</a>
}

@section scripts {
  <script src="@Url.Content("~/js/Supervisor/verifyMultipleResults.js")" asp-append-version="true"></script>
}
