@inject IConfiguration Configuration
@using DigitalLearningSolutions.Data.Extensions
@using DigitalLearningSolutions.Web.Helpers
@using DigitalLearningSolutions.Web.ViewModels.ApplicationSelector
@using Microsoft.Extensions.Configuration
@model ApplicationSelectorViewModel

@{
  ViewData["Title"] = "Switch application";
}

<div class="nhsuk-grid-row nhsuk-card-group">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl" id="app-page-heading">Switch application</h1>
  </div>

  @if (Model.LearningPortalAccess) {
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" asp-controller="LearningPortal" asp-action="Current">Learning Portal</a>
          </h2>
          <p class="nhsuk-card__description">Access to your current, available and completed learning courses.</p>
        </div>
      </div>
    </div>
  }
  @if (Model.TrackingSystemAccess) {
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <feature name="@(FeatureFlags.RefactoredTrackingSystem)">
              <a class="nhsuk-card__link" asp-controller="Dashboard" asp-action="Index">Tracking System</a>
            </feature>
            <feature name="@(FeatureFlags.RefactoredTrackingSystem)" negate="true">
              <a class="nhsuk-card__link" href="@Configuration.GetCurrentSystemBaseUrl()/tracking/dashboard">Tracking System</a>
            </feature>
          </h2>
          <p class="nhsuk-card__description">Manage and distribute learning to your organisation and access reports.</p>
        </div>
      </div>
    </div>
    <feature name="@(FeatureFlags.ShowAppCardForLegacyTrackingSystem)">
      <feature name="@(FeatureFlags.RefactoredTrackingSystem)">
        <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          <div class="nhsuk-card nhsuk-card--clickable">
            <div class="nhsuk-card__content">
              <h2 class="nhsuk-card__heading nhsuk-heading-m">
                <a class="nhsuk-card__link" href="@Configuration.GetCurrentSystemBaseUrl()/tracking/dashboard">Legacy Tracking System</a>
              </h2>
              <p class="nhsuk-card__description">
                Access the old Tracking System if you can't find the functionality you need in the new one.
                Please raise a ticket to tell us about any missing functionality, too.
              </p>
            </div>
          </div>
        </div>
      </feature>
    </feature>
  }
  @if (Model.ContentManagementSystemAccess) {
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="@Configuration.GetCurrentSystemBaseUrl()/cms/courses">Content Management System</a>
          </h2>
          <p class="nhsuk-card__description">Import and manage learning content that's delivered through the Digital Learning Solutions platform.</p>
        </div>
      </div>
    </div>
  }
  @if (Model.SuperviseAccess) {
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" asp-controller="Supervisor" asp-action="Index">Supervise</a>
          </h2>
          <p class="nhsuk-card__description">Assign and review staff profile assessments and arrange supervision sessions.</p>
        </div>
      </div>
    </div>
  }
  @if (Model.ContentCreatorAccess) {
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="@Configuration.GetCurrentSystemBaseUrl()/cms/contentcreator">Content Creator</a>
          </h2>
          <p class="nhsuk-card__description">Create interactive elearning and assessments.</p>
        </div>
      </div>
    </div>
  }
  @if (Model.FrameworksAccess) {
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" asp-controller="Frameworks" asp-action="Index">Frameworks</a>
          </h2>
          <p class="nhsuk-card__description">Create and distribute competency frameworks and role profiles.</p>
        </div>
      </div>
    </div>
  }
  @if (Model.SuperAdminAccess) {
    <div class="nhsuk-grid-column-one-half nhsuk-card-group__item">
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <feature name="@(FeatureFlags.RefactoredSuperAdminInterface)">
              <a class="nhsuk-card__link" asp-controller="Admins" asp-action="Index">Super admin</a>
            </feature>
            <feature name="@(FeatureFlags.RefactoredSuperAdminInterface)" negate="true">
              <a class="nhsuk-card__link" href="@Configuration.GetCurrentSystemBaseUrl()/tracking/admin-adminusers">Super admin</a>
            </feature>
          </h2>
          <p class="nhsuk-card__description">Manage content and settings across the whole system.</p>
        </div>
      </div>
    </div>
  }
</div>
