@using DigitalLearningSolutions.Web.Extensions
@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@model ConfirmCheckboxViewModel


<div class="nhsuk-form-group @(Model.HasError ? "nhsuk-form-group--error" : string.Empty)">

  <fieldset class="nhsuk-fieldset" aria-describedby="@Model.Label.RemoveWhitespace()-hint">

    @if (Model.HintText != null)
    {
      <div class="nhsuk-hint" id="@Model.Label.RemoveWhitespace()-hint">
        @Model.HintText
      </div>
    }

    @if (Model.HasError)
    {
      <div class="nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-3">
        @foreach (var errorMessage in Model.ErrorMessages!)
        {
          <span class="error-message--margin-bottom-1 nhsuk-error-message">
            <span class="nhsuk-u-visually-hidden">Error:</span> @errorMessage
          </span>
        }
      </div>
    }
    <div class="nhsuk-checkboxes">
      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input"
               type="checkbox"
               id="@Model.Id"
               name="@Model.Name"
               aria-describedby="@Model.Id-item-hint"
               value="true"
               @(Model.Value ? "checked" : string.Empty) />
        <label class="nhsuk-label nhsuk-checkboxes__label" for="@Model.Id">
          @Model.Label
        </label>
        @if (Model.HintText != null)
        {
          <div class="nhsuk-hint nhsuk-checkboxes__hint" id="@Model.Id-item-hint">
            @Model.HintText
          </div>
        }
      </div>
    </div>
  </fieldset>

</div>
