@using DigitalLearningSolutions.Data.Models.External.Filtered
@model LearningAsset
@{
  Layout = "SelfAssessments/_Layout";
  ViewData["Title"] = "Learning Resource Complete";
  ViewData["SelfAssessmentTitle"] = "Learning Resource Complete";
}
@section breadcrumbs {
  <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" asp-action="SelfAssessment" asp-route-selfAssessmentId="@(ViewContext.RouteData.Values["selfAssessmentId"])">Self Assessment</a></li>
  <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" asp-controller="RecommendedLearning" asp-action="RecommendedLearning" asp-route-selfAssessmentId="@(ViewContext.RouteData.Values["selfAssessmentId"])">Recommended Learning Resources</a></li>
  <li class="nhsuk-breadcrumb__list-item"><a class="nhsuk-breadcrumb__link" asp-controller="RecommendedLearning" asp-action="FilteredLearningAsset" asp-route-selfAssessmentId="@(ViewContext.RouteData.Values["selfAssessmentId"])" asp-route-assetId="@Model.Id">Learning Resource</a></li>
  <li class="nhsuk-breadcrumb__list-item">Complete</li>
}
  <link rel="stylesheet" href="@Url.Content("~/css/learningPortal/selfAssessment.css")" asp-append-version="true">


  <a class="nhsuk-back-link trigger-loader" asp-controller="RecommendedLearning" asp-action="FilteredLearningAsset" asp-route-selfAssessmentId="@(ViewContext.RouteData.Values["selfAssessmentId"])" asp-route-assetId="@Model.Id">
    Cancel
  </a>

  <div class="nhsuk-form-group">

    <h1>Resource completed: @Model.Title</h1>
    <h2 id="useful-title">Was this resource useful?</h2>
    <div class="nhsuk-grid-row nhsuk-u-margin-top-5">
      <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0 nhsuk-grid-column-full nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5 nhsuk-u-padding-2 trigger-loader" role="button"
       aria-describedby="useful-title"
       asp-controller="RecommendedLearning"
       asp-action="SetCompleteAsset"
       asp-route-selfAssessmentId="@(ViewContext.RouteData.Values["selfAssessmentId"])"
       asp-route-assetId="@Model.Id"
       asp-route-status="useful">
        This was useful
      </a>
      <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0 nhsuk-grid-column-full nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5 nhsuk-u-padding-2 trigger-loader" role="button"
       aria-describedby="useful-title"
       asp-controller="RecommendedLearning"
       asp-action="SetCompleteAsset"
       asp-route-selfAssessmentId="@(ViewContext.RouteData.Values["selfAssessmentId"])"
       asp-route-assetId="@Model.Id"
       asp-route-status="already_know">
        I knew this already
      </a>
      <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0 nhsuk-grid-column-full nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-5 nhsuk-u-padding-2 trigger-loader" role="button"
       aria-describedby="useful-title"
       asp-controller="RecommendedLearning"
       asp-action="SetCompleteAsset"
       asp-route-selfAssessmentId="@(ViewContext.RouteData.Values["selfAssessmentId"])"
       asp-route-assetId="@Model.Id" asp-route-status="already_know">
        This was not relevant
      </a>
    </div>

  </div>
