@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.SelfAssessments
@model SupervisorCommentsViewModel

@{
  ViewData["Title"] = "Supervisor comments";
  ViewData["Application"] = "Supervisor notes";
  var supervisorName = string.IsNullOrWhiteSpace(Model.SelfAssessmentSupervisor?.SupervisorName) ?
    "Supervisor" : Model.SelfAssessmentSupervisor.SupervisorName;
}
<link rel="stylesheet" href="@Url.Content("~/css/frameworks/frameworksShared.css")" asp-append-version="true">
<link rel="stylesheet" href="@Url.Content("~/css/shared/searchableElements/searchableElements.css")" asp-append-version="true">
@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}
@section NavBreadcrumbs {
  <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
    <div class="nhsuk-width-container">
      <ol class="nhsuk-breadcrumb__list">
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" asp-action="SelfAssessment"
             asp-route-selfAssessmentId="@Model.SupervisorComment.AssessmentQuestionID">
            @Model.SupervisorComment?.Name
          </a>
        </li>
        <li class="nhsuk-breadcrumb__item">
          <a class="nhsuk-breadcrumb__link" asp-action="SelfAssessmentOverview"
             asp-route-vocabulary="@Model.VocabPlural()"
             asp-route-selfAssessmentId="@Model.SupervisorComment.AssessmentQuestionID"
             asp-route-competencyGroupId="@Model.SupervisorComment.CompetencyGroupID"
             asp-fragment="comp-@Model.SupervisorComment.CandidateID">
            @Model.VocabPlural()
          </a>
        </li>
        <li class="nhsuk-breadcrumb__item">View verifier notes</li>
      </ol>
    </div>>
  </nav>
}

<div>
  <h1>@Model.SupervisorComment?.CompetencyName</h1>
  <div class="nhsuk-care-card nhsuk-care-card--non-urgent">
    <div class="nhsuk-care-card__heading-container">
      <h2 class="nhsuk-care-card__heading">
        <span role="text">
          @supervisorName Notes
        </span>
      </h2>
      <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
    </div>
    <div class="nhsuk-care-card__content">
      <partial name="Shared/_AssessmentQuestionStatusTag" model="Model.AssessmentQuestion" />

      <p>@Model.SupervisorComment.Comments</p>

    </div>
  </div>
  <vc:cancel-link asp-controller="LearningPortal" asp-action="Current" />
</div>
