@using DigitalLearningSolutions.Web.ViewModels.LearningPortal
@model CurrentCourseViewModel

<div class="nhsuk-grid-column-one-quarter">
  <h5 class="nhsuk-u-margin-bottom-2" id="@Model.Id-enrolled-title" aria-describedby="@Model.Id-name">Enrolled</h5>
  <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-2" />

  <p aria-describedby="@Model.Id-name @Model.Id-enrolled-title" name="started-date">@Model.StartedDate.ToShortDateString()</p>
</div>
<div class="nhsuk-grid-column-one-quarter">
  <h5 class="nhsuk-u-margin-bottom-2" id="@Model.Id-last-access-title" aria-describedby="@Model.Id-name">Last access</h5>
  <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-2" />

  <p aria-describedby="@Model.Id-name @Model.Id-last-access-title" name="accessed-date">@Model.LastAccessedDate.ToShortDateString()</p>
</div>
<div class="nhsuk-grid-row nhsuk-grid-column-one-half">
  <div class="nhsuk-grid-column-three-quarters">
    <h5 class="nhsuk-u-margin-bottom-2" id="@Model.Id-complete-by-title" aria-describedby="@Model.Id-name">Complete by</h5>
    <hr class="nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-2" />
  </div>
  <div class="nhsuk-grid-column-one-half nhsuk-u-one-half">
    <p class="@Model.DateStyle()" aria-describedby="@Model.Id-name @Model.Id-complete-by-title" name="complete-by-date">
      @(Model.CompleteByDate == null ?
        Html.Raw("<span class='nhsuk-u-visually-hidden'>No complete by date set </span>-") :
        Html.Raw($"<span class='nhsuk-u-visually-hidden'>{Model.DueByDescription()}</span>{Model.CompleteByDate?.ToShortDateString()}"))
    </p>
  </div>
  @if (Model.CompleteByDate == null || Model.SelfEnrolled)
  {
    <div class="nhsuk-grid-column-one-half nhsuk-u-one-half">
      <a class="nhsuk-button nhsuk-button--secondary small-edit-button" aria-describedby="@Model.Id-name" aria-label="Edit complete by date" asp-action="SetCompleteByDate" asp-route-id="@Model.Id">
        Edit
      </a>
    </div>
  }
</div>
