@using DigitalLearningSolutions.Web.ViewComponents
@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ChangePasswordViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Change Your Password" : "Change Your Password";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.CurrentPassword), nameof(Model.Password), nameof(Model.ConfirmPassword) })" />
    }

    <h1 class="nhsuk-heading-xl">Change password</h1>
    <p class="nhsuk-body-l">
      Use the form below to change the password for delegate and admin accounts associated with your email address.
    </p>

    <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="Index">
      <vc:text-input asp-for="@nameof(Model.CurrentPassword)"
                     label="Current password"
                     populate-with-current-value="false"
                     type="password"
                     spell-check="false"
                     hint-text=""
                     autocomplete="current-password"
                     css-class="nhsuk-u-width-one-half" />

      <vc:text-input asp-for="@nameof(Model.Password)"
                     label="New password"
                     populate-with-current-value="false"
                     type="password"
                     spell-check="false"
                     hint-text="Your new password should have a minimum of 8 characters with at least 1 letter, 1 number and 1 symbol."
                     autocomplete="new-password"
                     css-class="nhsuk-u-width-one-half" />

      <vc:text-input asp-for="@nameof(Model.ConfirmPassword)"
                     label="Re-type new password"
                     populate-with-current-value="false"
                     type="password"
                     spell-check="false"
                     hint-text=""
                     autocomplete="new-password"
                     css-class="nhsuk-u-width-one-half" />

      <button class="nhsuk-button" type="submit">Change password</button>
    </form>

    <vc:back-link asp-controller="MyAccount" asp-action="Index" asp-all-route-data="@null" link-text="Cancel" />
  </div>
</div>
