@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateGroups
@model SearchableDelegateGroupViewModel

<div class="searchable-element nhsuk-panel word-break" id="@Model.Id-card">
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text searchable-element-title" id="@Model.Id-name" name="name">
        @Model.Name
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <dl class="nhsuk-summary-list details-list-with-button">

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Name
          </dt>
          <partial name="_SummaryFieldValue" model="Model.Name" />

          <dd class="nhsuk-summary-list__actions">
            @if (Model.LinkedToField == 0) {
              <a asp-controller="DelegateGroups" asp-action="EditGroupName" asp-route-groupId="@Model.Id" asp-route-returnPage="@Model.Page">
                Edit<span class="nhsuk-u-visually-hidden"> name</span>
              </a>
            }
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Description
          </dt>
          <partial name="_SummaryFieldValue" model="Model.Description" />
          <dd class="nhsuk-summary-list__actions">
            <a asp-controller="DelegateGroups" asp-action="EditDescription" asp-route-groupId="@Model.Id" asp-route-returnPage="@Model.Page">
              Edit<span class="nhsuk-u-visually-hidden"> description</span>
            </a>
          </dd>
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Delegates
          </dt>
          <dd class="nhsuk-summary-list__value" name="delegate-count">
            @Model.DelegateCount
          </dd>
          <dd class="nhsuk-summary-list__actions" />
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Courses
          </dt>
          <dd class="nhsuk-summary-list__value" name="courses-count">
            @Model.CourseCount
          </dd>
          <dd class="nhsuk-summary-list__actions" />
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Added by
          </dt>
          <dd class="nhsuk-summary-list__value" data-filter-value="@Model.AddedByFilter">
            @Model.AddedBy
          </dd>
          <dd class="nhsuk-summary-list__actions" />
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Linked field
          </dt>
          <dd class="nhsuk-summary-list__value" data-filter-value="@Model.LinkedFieldFilter">
            @Model.LinkedField
          </dd>
          <dd class="nhsuk-summary-list__actions" />
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            New registrants added to the group
          </dt>
          <dd class="nhsuk-summary-list__value">
            @Model.ShouldAddNewRegistrantsToGroup
          </dd>
          <dd class="nhsuk-summary-list__actions" />
        </div>

        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Changes to field synchronised with group
          </dt>
          <dd class="nhsuk-summary-list__value">
            @Model.ChangesToRegistrationDetailsShouldChangeGroupMembership
          </dd>
          <dd class="nhsuk-summary-list__actions" />
        </div>
      </dl>

      <a class="nhsuk-button expander-card__button"
         role="button"
         asp-controller="DelegateGroups"
         asp-action="GroupDelegates"
         asp-route-groupId="@Model.Id"
         asp-route-page="1">
        View delegates
      </a>

      <a class="nhsuk-button expander-card__button"
         role="button"
         asp-controller="DelegateGroups"
         asp-action="GroupCourses"
         asp-route-groupId="@Model.Id"
         asp-route-page="1">
        View courses
      </a>

      <a
        class="nhsuk-button delete-button expander-card__button"
        role="button"
        asp-action="DeleteGroup"
        asp-route-groupId="@Model.Id"
        asp-route-returnPage="@Model.Page">
        Delete group
      </a>
    </div>
  </details>
</div>
