@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateGroups
@model GenerateGroupsViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = $"{(errorHasOccurred ? "Error:" : "")} Generate new delegate groups from registration field options";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.RegistrationFieldOptionId) })" />
    }

    <h1 class="nhsuk-heading-xl">Generate new delegate groups from registration field options</h1>

    <form class="nhsuk-u-margin-bottom-3" method="post" novalidate asp-action="GenerateGroups">
      <input type="hidden" asp-for="Checkboxes" />
      <input type="hidden" asp-for="RegistrationFieldOptions" />

      <vc:select-list asp-for="@nameof(Model.RegistrationFieldOptionId)"
                      label="Registration field"
                      value="@Model.RegistrationFieldOptionId.ToString()"
                      hint-text="This is the delegate registration field that the group generation will be based on."
                      deselectable="false"
                      css-class="nhsuk-u-width-full nhsuk-u-margin-bottom-2"
                      default-option="Select a registration field"
                      select-list-options="@Model.RegistrationFieldOptions" />

      <vc:checkboxes label=""
                     populate-with-current-values="true"
                     checkboxes="@Model.Checkboxes"
                     hint-text="" />

      <button class="nhsuk-button" type="submit" value="save">Generate new groups</button>
    </form>

    <vc:cancel-link asp-controller="DelegateGroups" asp-action="Index" />
  </div>
</div>
