@using DigitalLearningSolutions.Web.ViewModels.Common.SearchablePage
@model BaseSearchablePageViewModel

<form method="get">
  <input type="hidden" name="searchString" value="@Model.SearchString" />
  @if (Model.FilterEnabled) {
    <input type="hidden" name="filterBy" value="@Model.FilterBy" />
  }
  @foreach (var (key, value) in Model.RouteData) {
    <input type="hidden" name="@key" value="@value" />
  }
  <input type="hidden" name="sortBy" value="@Model.SortBy" />
  <input type="hidden" name="sortDirection" value="@Model.SortDirection" />

  <partial name="PaginatedPage/_PaginationNav" model="Model" />
</form>
