@using DigitalLearningSolutions.Web.ViewModels.Common.SearchablePage
@model IBaseSearchablePageViewModel

<form method="get" role="search">
  <input type="hidden" aria-hidden="true" name="searchString" value="@Model.SearchString" />
  <input type="hidden" aria-hidden="true" name="itemsPerPage" value="@Model.ItemsPerPage" />
  @if (Model.FilterEnabled) {
    <input type="hidden" aria-hidden="true" name="existingFilterString" value="@Model.ExistingFilterString" />
  }
  @foreach (var (key, value) in Model.RouteData) {
    <input type="hidden" aria-hidden="true" name="@key" value="@value" />
  }
  <label class="nhsuk-label--s nhsuk-u-margin-bottom-1">Sort by</label>
  <div class="sort-box-container">
    <select class="nhsuk-select sort-by-dropdown"
            id="select-sort-by"
            asp-for="SortBy"
            asp-items="Model.SortBySelectListItems"
            aria-label="Sort by">
    </select>

    <div class="sort-order-button-container">
      <select class="nhsuk-select sort-direction-dropdown"
              id="select-sort-direction"
              asp-for="SortDirection"
              aria-label="Sort direction">
        <option value="Ascending">Ascending</option>
        <option value="Descending">Descending</option>
      </select>

      <button class="nhsuk-button sort-submit" type="submit">
        Sort
      </button>
    </div>
  </div>
</form>
