@using DigitalLearningSolutions.Web.ViewModels.SuperAdmin.Delegates
@model DelegatesViewModel
@{
    ViewData["Title"] = "Delegates";
}
<link rel="stylesheet" href="@Url.Content("~/css/superAdmin/users.css")" asp-append-version="true">
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <div id="no-js-styling">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-quarter">
                    <nav class="side-nav-menu" aria-label="Side navigation bar">
                        <partial name="~/Views/SuperAdmin/Shared/_UserAccountsSideNavMenu.cshtml" model="Model.CurrentPage" />
                    </nav>
                </div>

                <div class="nhsuk-grid-column-three-quarters">
                    <div class="nhsuk-grid-row">
                      <div class="nhsuk-grid-column-one-half">
                        <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>
                      </div>
                      <div class="nhsuk-grid-column-one-half">
                      </div>
                    </div>
                    <form class="nhsuk-u-margin-bottom-3" method="get" role="search" asp-controller="Delegates" asp-action="Index" asp-route-page="@Model.Page">
                      <input type="hidden" name="itemsPerPage" value="@Model.ItemsPerPage" />
                        <div class="nhsuk-grid-row">
                            <div id="search">
                                <div class="nhsuk-grid-column-one-quarter">
                                    <vc:numeric-input asp-for="@nameof(Model.DelegateID)"
                                                      label="Delegate ID"
                                                      populate-with-current-value="true"
                                                      type="number"
                                                      hint-text=""
                                                      css-class=""
                                                      required="true" />
                                </div>
                                <div class="nhsuk-grid-column-three-quarters">
                                    <div class="nhsuk-grid-row">
                                        <div class="nhsuk-grid-column-three-quarters">
                                            <vc:text-input asp-for="@nameof(Model.Search)"
                                                           label="Search"
                                                           populate-with-current-value="true"
                                                           type="text"
                                                           spell-check="false"
                                                           hint-text=""
                                                           autocomplete=""
                                                           css-class=""
                                                           required="true"
                                                           placeholder-text="Search name, email,delegate number" />
                                        </div>
                                        <div class="nhsuk-grid-column-one-quarter">
                                            <button class="nhsuk-button nhsuk-u-width-full nhsuk-u-margin-top-4 nhsuk-u-float-right" type="submit">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="filter-container nhsuk-u-margin-top-5">
                                <div class="nhsuk-grid-column-one-quarter">
                                    <vc:select-list asp-for="@nameof(Model.AccountStatus)"
                                                    label="Account status"
                                                    value="@Model.AccountStatus"
                                                    required="true"
                                                    hint-text=""
                                                    css-class="nhsuk-grid-column-full nhsuk-u-width-full"
                                                    default-option=""
                                                    select-list-options="@ViewBag.AccountStatus" />
                                </div>
                                <div class="nhsuk-grid-column-one-quarter">
                                    <vc:select-list asp-for="@nameof(Model.LHLinkStatus)"
                                                    label="LH link status"
                                                    value="@Model.LHLinkStatus"
                                                    required="true"
                                                    hint-text=""
                                                    css-class="nhsuk-grid-column-full nhsuk-u-width-full"
                                                    default-option=""
                                                    select-list-options="@ViewBag.LHLinkStatus" />
                                </div>
                                <div class="nhsuk-grid-column-one-half">
                                    <vc:select-list asp-for="@nameof(Model.CentreID)"
                                                    label="Centre"
                                                    value="@Model.CentreID.ToString()"
                                                    hint-text=""
                                                    required="true"
                                                    css-class="nhsuk-grid-column-full  nhsuk-u-width-full"
                                                    default-option=""
                                                    select-list-options="@ViewBag.Centres" />
                                </div>
                            </div>
                        </div>
                    </form>
                    @if (Model.NoDataFound)
                    {
                            <p class="nhsuk-u-margin-top-4" role="alert">
                                <b>No delegate found.</b>
                            </p>
                    }
                    else
                    {
                            <partial name="SearchablePage/Configurations/_ResultsCountAndItemsPerPage" model="Model" />
                            <partial name="SearchablePage/_TopPagination" model="Model" />
                            <partial name="SearchablePage/_ResultCountAndPageAlerts" model="Model" />
                            <div id="searchable-elements">
                            @foreach (var delegates in Model.Delegates)
                            {
                                <partial name="_SearchableDelegatesCard" model="delegates" />
                            }
                            </div>
                            <partial name="SearchablePage/_BottomPagination" model="Model" />                        
                    }
                </div>
                <nav class="side-nav-menu-bottom" aria-label="Bottom navigation bar">
                    <partial name="~/Views/SuperAdmin/Shared/_UserAccountsSideNavMenu.cshtml"model="Model.CurrentPage" />
                </nav>
            </div>
        </div>
    </div>
</div>
