@using DigitalLearningSolutions.Web.ViewModels.SuperAdmin.Delegates;
@model ConfirmationViewModel;
@{
    ViewData["Title"] = "Delegates";
}
@if (Model.Error)
{
    <vc:error-summary order-of-property-names="@(new string[] { "IsChecked" })" />
}
@section NavBreadcrumbs {
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
        <div class="nhsuk-width-container">
            <ol class="nhsuk-breadcrumb__list">
                <li class="nhsuk-breadcrumb__item">
                    <a class="nhsuk-breadcrumb__link" asp-controller="Delegates" asp-action="Index" asp-route-SearchString="@Model.SearchString" asp-route-ExistingFilterString="@Model.ExistingFilterString" asp-route-page="@Model.Page">Delegates</a>
                </li>
            </ol>
        </div>
    </nav>
}
<div id="form-group">
    <form method="post" asp-action="RemoveCentreEmailConfirmation">
        <div>
            <h1 id="form-heading" class="nhsuk-fieldset__heading nhsuk-label--l">
                Remove Centre Email
            </h1>
            @Html.HiddenFor(x=>x.DisplayName)
            @Html.HiddenFor(x=>x.DelegateId)
            @Html.HiddenFor(x=>x.SearchString)
            @Html.HiddenFor(x=>x.ExistingFilterString)
            @Html.HiddenFor(x=>x.Page)
            <h3>User: @Model.DisplayName</h3>
            <p id="IsChecked-hint">
                <vc:single-checkbox asp-for="@nameof(Model.IsChecked)" label="I am sure that I wish to remove centre email of this delegate account." hint-text="This will remove the user's centre specific email address. All system email correspondence will go to the user's primary email address. You should only carry out this action at the direct request of a user."></vc:single-checkbox>
            </p>
        </div>
        <button class="nhsuk-button nhsuk-button--danger" type="submit">
            Remove centre email
        </button>
    </form>
    <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" asp-controller="Delegates" asp-action="Index" asp-route-SearchString="@Model.SearchString" asp-route-ExistingFilterString="@Model.ExistingFilterString" asp-route-page="@Model.Page" asp-fragment="@Model.DelegateId-name">
            <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
            </svg>
            Cancel
        </a>
    </div>
</div>
