@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.CourseDetails
@model CourseDetailsViewModel

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Course details
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <dl class="nhsuk-summary-list details-list-with-button">
      <div class="nhsuk-summary-list__row details-list-with-button__row">
        @if (string.IsNullOrWhiteSpace(Model.Password))
        {
          <dt class="nhsuk-summary-list__key">
            Requires password
          </dt>
          <dd class="nhsuk-summary-list__value">
            No
          </dd>
        }
        else
        {
          <dt class="nhsuk-summary-list__key">
            Password
          </dt>
          <dd class="nhsuk-summary-list__value">
            @Model.Password
          </dd>
        }
      </div>

      <div class="nhsuk-summary-list__row details-list-with-button__row">
        @if (string.IsNullOrWhiteSpace(Model.NotificationEmails))
        {
          <dt class="nhsuk-summary-list__key">
            Send completion notification emails
          </dt>
          <dd class="nhsuk-summary-list__value">
            No
          </dd>
        }
        else
        {
          <dt class="nhsuk-summary-list__key">
            Course completion notification email
          </dt>
          <dd class="nhsuk-summary-list__value">
            @Model.NotificationEmails
          </dd>
        }
      </div>

      <div class="nhsuk-summary-list__row details-list-with-button__row">
        <dt class="nhsuk-summary-list__key">
          Completion criteria
        </dt>
        @if (Model.PostLearningAssessment && Model.IsAssessed)
        {
          <dd class="nhsuk-summary-list__value">
            Post learning assessment
          </dd>
        }
        else if (Model.DiagAssess)
        {
          <dd class="nhsuk-summary-list__value">
            <p>Required learning percentage: @Model.TutCompletionThreshold%</p>
            <p>Required diagnostic percentage: @Model.DiagCompletionThreshold%</p>
          </dd>
        }
        else
        {
          <dd class="nhsuk-summary-list__value">
            Required learning percentage: @Model.TutCompletionThreshold%
          </dd>
        }
      </div>

    </dl>

    <a class="nhsuk-button nhsuk-u-margin-right-2"
       role="button"
       aria-label="Edit course details"
       asp-controller="ManageCourse"
       asp-action="EditCourseDetails"
       asp-route-customisationId="@Model.CustomisationId">
      Edit
    </a>

  </div>
</details>
