@inject IConfiguration configuration
@using DigitalLearningSolutions.Web.Extensions
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewComponents
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.CourseDetails
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Configuration
@model EditCourseDetailsViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = "Edit course details";
  ViewData["Application"] = DlsSubApplication.TrackingSystem.Name;
  ViewData["HeaderPath"] = DlsSubApplication.TrackingSystem.HeaderPath;
  ViewData["HeaderPathName"] = DlsSubApplication.TrackingSystem.HeaderPathName;
  var cancelLinkData = Html.GetRouteValues();
  var customisationId = Html.GetRouteValueByKey("customisationId");
  const string passwordId = "conditional-password";
  const string emailId = "conditional-email";
  const string completionCriteriaId = "conditional-completion-criteria";
  var passwordCss = "nhsuk-checkboxes__conditional"
                    + (Model.PasswordProtected ? "" : " nhsuk-checkboxes__conditional--hidden")
                    + (errorHasOccurred ? " nhsuk-u-padding-left-5" : "");
  var emailCss = "nhsuk-checkboxes__conditional"
                 + (Model.PasswordProtected ? "" : " nhsuk-checkboxes__conditional--hidden")
                 + (errorHasOccurred ? " nhsuk-u-padding-left-5" : "");
  var otherCompletionCriteriaCss = "nhsuk-radios__conditional"
                                   + (!Model.IsAssessed ? "" : " nhsuk-radios__conditional--hidden")
                                   + (errorHasOccurred ? " nhsuk-u-padding-left-5" : "");
}

@section NavMenuItems {
  <partial name="/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@new []{ nameof(@Model.CustomisationNameSuffix), nameof(@Model.Password), nameof(@Model.NotificationEmails), nameof(@Model.TutCompletionThreshold), nameof(@Model.DiagCompletionThreshold) }" />
    }

    <h1 class="nhsuk-heading-xl">Edit course details</h1>

    <form class="nhsuk-u-margin-bottom-3" method="post"
          novalidate
          asp-controller="ManageCourse"
          asp-action="SaveCourseDetails"
          asp-route-customisationId="@customisationId">

      <input type="hidden" asp-for="CentreId" />
      <input type="hidden" asp-for="ApplicationId" />
      <input type="hidden" asp-for="CustomisationName" />
      <input type="hidden" asp-for="PostLearningAssessment" />
      <input type="hidden" asp-for="DiagAssess" />

      <h3 class="nhsuk-u-font-weight-normal">
        Course name
      </h3>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-quarter nhsuk-heading-m nhsuk-u-margin-top-3">
          @Model.CustomisationName -
        </div>
        <div class="nhsuk-grid-column-one-half nhsuk-heading-l nhsuk-u-font-weight-normal">
          <vc:text-input asp-for="@nameof(Model.CustomisationNameSuffix)"
                         label=""
                         populate-with-current-value="true"
                         type="text"
                         spell-check="true"
                         autocomplete=""
                         hint-text=""
                         css-class="nhsuk-u-width-three-quarters nhsuk-u-font-weight-normal" />
        </div>
      </div>

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">

            <div class="nhsuk-u-margin-bottom-3">
              <div class="nhsuk-checkboxes__item">
                <input class="nhsuk-checkboxes__input"
                       id="PasswordProtected"
                       name="PasswordProtected"
                       asp-for="PasswordProtected"
                       type="checkbox"
                       aria-controls="@passwordId"
                       aria-expanded="@Model.PasswordProtected">
                <label class="nhsuk-label nhsuk-checkboxes__label" for="PasswordProtected">
                  Password protected
                </label>
              </div>

              <div class="@passwordCss" id="@passwordId">
                <div class="nhsuk-form-group">
                  <vc:text-input asp-for="@nameof(Model.Password)"
                                 label="Enter the password for the course"
                                 populate-with-current-value="true"
                                 type="text"
                                 spell-check="false"
                                 autocomplete=""
                                 hint-text=""
                                 css-class="nhsuk-input nhsuk-u-width-one-half nhsuk-u-font-weight-bold" />
                </div>
              </div>
            </div>

            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input"
                     id="ReceiveNotificationEmails"
                     name="ReceiveNotificationEmails"
                     asp-for="ReceiveNotificationEmails"
                     type="checkbox"
                     aria-controls="@emailId"
                     aria-expanded="@Model.ReceiveNotificationEmails">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="ReceiveNotificationEmails">
                Receive course completion notification emails
              </label>
            </div>

            <div class="@emailCss" id="@emailId">
              <div class="nhsuk-form-group">
                <vc:text-input asp-for="@nameof(Model.NotificationEmails)"
                               label="Enter an email address for receiving the notifications"
                               populate-with-current-value="true"
                               type="text"
                               spell-check="false"
                               autocomplete=""
                               hint-text=""
                               css-class="nhsuk-input nhsuk-u-width-one-half nhsuk-u-font-weight-bold" />
              </div>
            </div>

          </div>
        </fieldset>
      </div>

      <h3 class="nhsuk-u-font-weight-normal">
        Completion criteria
      </h3>

      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          <div class="nhsuk-radios nhsuk-radios--conditional">

            @if (Model.PostLearningAssessment) {
              <div class="nhsuk-radios__item nhsuk-u-margin-bottom-3">
                <input class="nhsuk-radios__input"
                       id="PostLearningAssessment"
                       name="IsAssessed"
                       asp-for="IsAssessed"
                       type="radio"
                       value="true">
                <label class="nhsuk-label nhsuk-radios__label" for="PostLearningAssessment">
                  Post learning assessment
                </label>
              </div>

              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input"
                       id="OtherCompletionCriteria"
                       name="IsAssessed"
                       asp-for="IsAssessed"
                       type="radio"
                       value="false"
                       aria-controls="@completionCriteriaId"
                       aria-expanded="@(!Model.IsAssessed)">
                <label class="nhsuk-label nhsuk-radios__label" for="OtherCompletionCriteria">
                  Other completion criteria
                </label>
              </div>

              <div class="@otherCompletionCriteriaCss" id="@completionCriteriaId">
                <partial name="_OtherCompletionCriteriaInputs" model="Model" />
              </div>
            } else {
              <partial name="_OtherCompletionCriteriaInputs" model="Model" />
            }

          </div>
        </fieldset>
      </div>

      <button class="nhsuk-button" type="submit">Save</button>
    </form>

    <vc:cancel-link asp-controller="ManageCourse" asp-action="Index" asp-all-route-data="@cancelLinkData" />
  </div>
</div>
