@using DigitalLearningSolutions.Data.Helpers;
@using DigitalLearningSolutions.Data.Models.User;
@using DigitalLearningSolutions.Web.Helpers;
@using DigitalLearningSolutions.Web.Models.Enums;
@using DigitalLearningSolutions.Web.ViewModels.SuperAdmin.Administrators;
@using Microsoft.AspNetCore.Http.Extensions;
@model SearchableAdminAccountsViewModel;
@{
    var expanderOpen = Model.Id == ViewBag.AdminId
    ? "open" : "";
}
<div class="searchable-element nhsuk-expander-group word-break" id="@Model.Id-card">
    <details class="nhsuk-details nhsuk-expander" @(expanderOpen)>
        <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text" id="@Model.Id-name">
                <span class="searchable-element-title" name="name">@Model.Name</span>
                <span class="searchable-element-centre">
                    - @Model.Centre
                </span>
            </span>
        </summary>

        <div class="nhsuk-details__text">
            <partial name="SearchablePage/_FilterableTags" model="@Model.Tags" />
            <dl class="nhsuk-summary-list details-list-with-button">
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Admin ID
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        <span class="nhsuk-u-margin-right-4">
                            @Model.Id
                        </span>
                        <span class="complete">
                            <partial name="_StatusTag" model="@Model.IsAdminActive ? (int)UserCard.Active : (int)UserCard.Inactive" />
                        </span>
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        @if (!Model.IsAdminActive)
                        {
                            <a asp-controller="AdminAccounts" asp-action="UpdateAdminStatus" asp-route-adminId="@Model.Id" asp-route-actionType="Reactivate">
                                Reactivate
                            </a>
                        }
                        else
                        {
                            <a asp-controller="AdminAccounts" asp-action="UpdateAdminStatus" asp-route-adminId="@Model.Id" asp-route-actionType="Inactivate">
                                Inactivate
                            </a>
                        }
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        First name
                    </dt>
                    <partial name="_SummaryFieldValue" model="@Model.FirstName" />
                    <dd class="nhsuk-summary-list__actions">
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Last name
                    </dt>
                    <partial name="_SummaryFieldValue" model="@Model.LastName" />
                    <dd class="nhsuk-summary-list__actions">
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">
                        Primary Email
                    </dt>
                    <partial name="_SummaryFieldValue" model="@Model.PrimaryEmail" />
                    <dd class="nhsuk-summary-list__actions">
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row details-list-with-button__row">
                    <dt class="nhsuk-summary-list__key">
                        User Account
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                        <span class="nhsuk-u-margin-right-4">
                            ID: @Model.UserAccountID
                        </span>
                        <span class="nhsuk-u-margin-right-4">
                            <partial name="_StatusTag" model="@Model.IsUserActive ? (int)UserCard.Active : (int)UserCard.Inactive" />
                        </span>
                        @if (Model.IsLocked)
                        {
                            <span>
                                <partial name="_StatusTag" model="(int)UserCard.Locked" />
                            </span>
                        }
                    </dd>
                    <dd class="nhsuk-summary-list__actions">
                        @if (Model.IsLocked)
                        {
                            <a asp-controller="Users" asp-action="UnlockAccount" asp-route-UserId="@Model.UserAccountID" asp-route-RequestUrl="@Context.Request.GetDisplayUrl()">Unlock</a>
                        }
                        <a asp-controller="AdminAccounts" asp-action="RedirectToUser" asp-route-UserId="@Model.UserAccountID" class="nhsuk-u-margin-left-2">View</a>
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row details-list-with-button__row">
                    <dt class="nhsuk-summary-list__key">
                        Centre
                    </dt>
                    <partial name="_SummaryFieldValue" model="@Model.Centre" />
                    <dd class="nhsuk-summary-list__actions">
                        <a asp-controller="AdminAccounts" asp-action="EditCentre" asp-route-adminId="@Model.Id" asp-route-RequestUrl="@Context.Request.GetDisplayUrl()">Change</a>
                    </dd>
                </div>
                <div class="nhsuk-summary-list__row details-list-with-button__row">
                    <dt class="nhsuk-summary-list__key">
                        Centre Email
                    </dt>
                    <partial name="_SummaryFieldValue" model="@Model.CentreEmail" />
                    <dd class="nhsuk-summary-list__actions">
                    </dd>
                </div>
            </dl>
            <a class="nhsuk-button nhsuk-button--secondary" asp-controller="AdminAccounts" asp-action="ManageRoles" asp-route-adminId="@Model.Id" role="button">Manage roles</a>

            @if (Model.CanShowDeleteAdminButton)
            {
                <a class="nhsuk-button delete-button nhsuk-u-margin-bottom-1"
                   role="button"
                   aria-label="Delete unused account"
                   data-return-page-enabled="true"
               asp-controller="AdminAccounts"
               asp-action="DeleteAdmin"
               asp-route-adminId="@Model.Id">
                    Delete unused account
                </a>
            }
            @if (Model.CanShowDeactivateAdminButton)
            {
                <a class="nhsuk-button delete-button nhsuk-u-margin-bottom-1"
                   role="button"
                   aria-label="Delete unused account"
                   data-return-page-enabled="true"
               asp-controller="AdminAccounts"
               asp-action="DeactivateOrDeleteAdmin"
               asp-route-adminId="@Model.Id"
               asp-route-returnPageQuery="@Model.ReturnPageQuery">
                    Deactivate admin account
                </a>
            }
    </details>
</div>
