@using DigitalLearningSolutions.Web.ViewModels.UserFeedback
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model UserFeedbackViewModel;

@{
    ViewData["Title"] = "Feedback";
}
<link rel="stylesheet" href="@Url.Content("~/css/userFeedback/userFeedback.css")" asp-append-version="true">

@section NavBreadcrumbs {
    <div class="nhsuk-width-container">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="@Model.SourceUrl">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                    <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
                </svg>
                Go back
            </a>
        </div>
    </div>
}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1 id="page-heading" class="nhsuk-heading-xl">Thank you for your feedback</h1>
    </div>
    <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-body-l">Step 4 of 4</p>

        <h3>Help us improve our website</h3>

        <p>Would you like to <a href="@Model.UserResearchUrl" target="_blank">join our research panel</a> and help us improve the experience of our website?</p>

        <p>We will not use your details for any purpose other than to get feedback about our services to help us make improvements in the future. You can opt out at any time.</p>

        <form method="post" asp-action="UserFeedbackReturnToUrl">
            <input type="hidden" asp-for="SourceUrl" value="@Model.SourceUrl" />
            <input type="hidden" asp-for="SourcePageTitle" value="@Model.SourcePageTitle" />
            <div class="nhsuk-u-float-left">
                <button class="nhsuk-button" type="submit">
                    @if (Model.SourcePageTitle != String.Empty)
                    {
                        <div>Back to @Model.SourcePageTitle</div>
                    }
                    @if (Model.SourcePageTitle == String.Empty)
                    {
                        <div>Back</div>
                    }
                </button>
            </div>
        </form>
    </div>
</div>
