@using DigitalLearningSolutions.Web.Helpers
@{
    var tableauServerUrl = ViewBag.TableauServerUrl;
    var workbookName = ViewBag.WorkbookName;
    var viewName = ViewBag.ViewName;
    var jwtToken = ViewBag.JwtToken;
    var siteName = ViewBag.SiteName;
    var aid = ViewBag.AdminId;
    var email = ViewBag.Email;
    var srcUrl = $"{tableauServerUrl}/t/{siteName}/views/{workbookName}/{viewName}";
    ViewData["Title"] = "Supervised self assessments dashboard";
}
<div class="nhsuk-link">
    <a class="nhsuk-back-link" role="button" asp-controller="@(ViewBag.Source == "Supervisor" ? "Supervisor" : "SelfAssessmentReports")" asp-action="Index">Back</a>
</div>
<h1>@ViewData["Title"]</h1>
<vc:inset-text css-class="" text="Use the full screen button below the Tableau dashboard (next to 'Share') for the best experience." />
@if (ViewBag.ShowTableauLink)
{
    <tableau-viz id='tableau-viz'
                 src='@srcUrl' token='@jwtToken' toolbar='bottom'>
        If the dashboard doesn't appear after a few seconds, <a href="#">reload the page</a>
        <viz-parameter name="aid" value="@aid"></viz-parameter>
        <viz-parameter name="email" value="@email"></viz-parameter>
    </tableau-viz>
    <input type="hidden" id="hf-email" value="@email" />
    <input type="hidden" id="hf-adminid" value="@aid" />
    @section scripts {
        @* We are not using Yarn/npm for the Tableau JS becaue of errors during installation relating to a missing dependency *@
        <script type="module" src="@tableauServerUrl/javascripts/api/tableau.embedding.3.latest.min.js"></script>
        <script src="@Url.Content("~/js/trackingSystem/tableaureports.js")" asp-append-version="true"></script>
    }
}
else
{
    <h2>Oops! We are still working on this area of the site</h2>
    <p class="nhsuk-lede-text">This feature is under development and should be available soon.</p>
}

