@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Administrator
@model SearchableAdminViewModel

<div class="searchable-element nhsuk-panel" id="@Model.Id-card">
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text searchable-element-title" id="@Model.Id-name" name="name">
        @Model.Name
      </span>
    </summary>
    <div class="nhsuk-details__text">

      <div class="tags">
        @if (!Model.IsLocked) {
          <div data-filter-value="@("IsLocked|false")" hidden>
            <strong class="nhsuk-tag nhsuk-tag--grey">Not locked</strong>
          </div>
        }
        @foreach (var (displayText, filter) in Model.Tags) {
          <div class="card-filter-tag" data-filter-value="@filter">
            <strong class="nhsuk-tag nhsuk-tag--grey">@displayText</strong>
          </div>
        }
      </div>

      <dl class="nhsuk-summary-list details-list-with-button">
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Email
          </dt>
          <dd class="nhsuk-summary-list__value">
            @Model.EmailAddress
          </dd>
        </div>
        <div class="nhsuk-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Course category
          </dt>
          <dd class="nhsuk-summary-list__value" name="CategoryName|@Model.CategoryName">
            @Model.CategoryName
          </dd>
        </div>
      </dl>

      @if (Model.IsLocked) {
        <p class="nhsuk-body-m">This account is currently locked out</p>
      }

      @if (Model.IsLocked) {
        <a class="nhsuk-button left-button-mobile-margin-bottom nhsuk-u-margin-right-2 nhsuk-u-margin-bottom-1" role="button">
          Unlock account
        </a>
      } else {
        <a class="nhsuk-button left-button-mobile-margin-bottom nhsuk-u-margin-right-2 nhsuk-u-margin-bottom-1" role="button">
          Manage Roles
        </a>
      }
      <a class="nhsuk-button delete-button nhsuk-u-margin-bottom-1" role="button">
        Deactivate admin account
      </a>
    </div>
  </details>
</div>
