@inject IConfiguration Configuration
@using DigitalLearningSolutions.Data.Models.User
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Administrator
@using Microsoft.Extensions.Configuration
@model CentreAdministratorsViewModel

<link rel="stylesheet" href="@Url.Content("~/css/shared/searchableElements.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Centre Administrators";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
}

@section NavMenuItems {
  <partial name="~/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="side-nav-menu" aria-label="Side navigation bar">
      <partial name="~/Views/TrackingSystem/Centre/Shared/_CentreSideNavMenu.cshtml" model="CentrePage.Administrators" />
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h1 id="page-heading" class="nhsuk-heading-xl">Centre administrators</h1>
        <div class="nhsuk-u-margin-top-8">
          <vc:number-of-administrators centre-id="@Model.CentreId" />
        </div>
      </div>
    </div>
    
    <div class="nhsuk-grid-row">
      <form method="get" role="search">
        <vc:search-box label="Search administrators" asp-controller="Administrator" asp-action="Index" searchable-page-view-model="@Model" />
      </form>
    </div>
    

    @foreach (var filter in Model.Filters) {
      <div class="nhsuk-grid-row">
        <form method="get" asp-action="@ViewContext.RouteData.Values["action"].ToString()" asp-route-page="1">
          <select name="filterValue" id="@filter.Item1">
            @foreach (var filterProperty in filter.Item2)
            {
              <option value="@filterProperty.Item2">@filterProperty.Item1</option>
            }
          </select>
          <button class="nhsuk-search__submit non-js-only" type="submit">
            Add
          </button>
        </form>
      </div>
    }

    <form method="get">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          @if (!Model.Admins.Any()) {
            <p class="nhsuk-u-margin-top-4" role="alert">
              <b>No administrators found</b>
            </p>
          } else {
            <partial name="SearchablePage/_SearchResultsCount" model="Model" />
            <input type="hidden" id="select-sort-by" value="Name" />
            <input type="hidden" id="select-sort-direction" value="Ascending" />
            <input type="hidden" id="filter-by" name="filter" value=""/>

            <div id="searchable-elements">
              @foreach (var admin in Model.Admins) {
                <partial name="_SearchableAdminCard" model="admin" />
              }
            </div>
          }
          @if (Model.TotalPages > 1) {
            <partial name="SearchablePage/_Pagination" model="Model" />
          }
        </div>
      </div>

    </form>

      <nav class="side-nav-menu-bottom" aria-label="Bottom navigation bar">
        <partial name="~/Views/TrackingSystem/Centre/Shared/_CentreSideNavMenu.cshtml" model="CentrePage.Administrators" />
      </nav>
  </div>
</div>

@section scripts {
  <script src="@Url.Content("~/js/trackingSystem/centreAdministrators.js")" asp-append-version="true"></script>
}
