@using DigitalLearningSolutions.Web.Helpers
@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.Current
@model RemoveActionPlanResourceViewModel

@{
  ViewData["Title"] = $"Learning Portal - {Model.Name} - Remove - Confirmation";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 id="form-heading" class="nhsuk-heading-xl word-break">
      Are you sure you want to remove @Model.Name?
    </h1>

    @if (Model.AbsentInLearningHub) {
      <vc:learning-resource-warning css-class="nhsuk-u-margin-bottom-4"
                                    text="@LearningHubWarningTextHelper.ResourceHasBeenRemoved" />
    }

    @if (!Model.ApiIsAccessible) {
      <vc:learning-resource-warning css-class="nhsuk-u-margin-bottom-4"
                                    text="@LearningHubWarningTextHelper.ResourceNameMayBeOutOfDate" />
    }

    <p>
      Are you sure that you wish to remove this resource from your action plan?
    </p>

    <div class="nhsuk-form-group" id="form-group">
      <form asp-action="RemoveResourceFromActionPlanPost" asp-route-learningLogItemId="@Model.LearningLogItemId">
        <button class="nhsuk-button delete-button" type="submit">
          Remove resource
        </button>
      </form>
    </div>

    <vc:cancel-link-with-return-page-query asp-controller="LearningPortal" asp-action="Current" return-page-query="@Model.ReturnPageQuery.Value" />
  </div>
</div>
