@using DigitalLearningSolutions.Data.Enums
@using DigitalLearningSolutions.Web.ViewComponents
@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.Current
@model EditCompleteByDateViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? $"Error: Learning Portal - {Model.Name} - Set completion date" : $"Learning Portal - {Model.Name} - Set completion date";
  ViewData["Title"] = errorHasOccurred ? $"Error: Learning Portal - {Model.Name} - Set completion date" : $"Learning Portal - {Model.Name} - Set completion date";
  var exampleDate = DateTime.Today + TimeSpan.FromDays(7);
  var standardHintText = $"For example, {exampleDate.Day} {exampleDate.Month} {exampleDate.Year}. Leave the boxes blank to clear the complete by date.";
  var courseHintText = Model.Type.Equals(LearningItemType.Course) ? "Activities with a complete by date will remain on your 'Current courses' list until completed. Activities with no complete by date will be removed after 6 months of inactivity." : "";
  var hintTextLines = new List<string> { standardHintText, courseHintText };
  var action = "";
  if (Model.Type.Equals(LearningItemType.Course)) {
    action += "SetCurrentCourseCompleteByDate";
  } else if (Model.Type.Equals(LearningItemType.SelfAssessment)) {
    action += "SetSelfAssessmentCompleteByDate";
  } else {
    action += "SetCurrentActionPlanItemCompleteByDate";
  }
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Day), nameof(Model.Month), nameof(Model.Year) })" />
    }

    <h1 class="nhsuk-heading-xl word-break">Enter a completion date for @Model.Name</h1>

    <form asp-action="@action"
          class="nhsuk-u-margin-bottom-3"
          method="post"
          novalidate>
      <input type="hidden" asp-for="Name" />
      <input type="hidden" asp-for="Type" />
      @if (Equals(Model.Type, LearningItemType.Course)) {
        <input name="progressId" type="hidden" value="@Model.ProgressId" />
      }
      <vc:date-input id="complete-by-date"
                     label="Complete by date"
                     day-id="Day"
                     month-id="Month"
                     year-id="Year"
                     css-class=""
                     hint-text-lines="@hintTextLines" />

      <button class="nhsuk-button" type="submit">Save changes</button>
    </form>

    <vc:cancel-link asp-controller="LearningPortal" asp-action="Current" />
  </div>
</div>
