@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.Current
@using Microsoft.Extensions.Configuration
@model CurrentLearningItemViewModel
@inject IConfiguration Configuration

@{
  ViewData["Title"] = $"Learning Portal - {Model.Name} - Set completion date";
  ViewData["Application"] = "Learning Portal";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/LearningPortal/Current";
  ViewData["HeaderPathName"] = "My Current Activities";
}

@section NavMenuItems {
  <partial name="Shared/_NavMenuItems" />
}

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  var exampleDate = DateTime.Today + TimeSpan.FromDays(7);
  var optionalSecondHint = Model is CurrentCourseViewModel ? "Activities with a complete by date will remain on your 'Current courses' list until completed. Activities with no complete by date will be removed after 6 months of inactivity." : "";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Day), nameof(Model.Month), nameof(Model.Year) })" />
    }

    <h1 class="nhsuk-heading-l">Enter a completion date for @Model.Name</h1>


    <form asp-action=@(Model is CurrentCourseViewModel ? "SetCurrentCourseCompleteByDate" : "SetSelfAssessmentCompleteByDate") class="nhsuk-u-margin-bottom-3">
      <vc:date-input id="complete-by-date"
                     label="Enter a completion date"
                     day-id="Day"
                     month-id="Month"
                     year-id="Year"
                     css-class=""
                     hint-text="For example, @exampleDate.Day @exampleDate.Month @exampleDate.Year. Leave the boxes blank to clear the complete by date."
                     optional-second-hint="@optionalSecondHint" />

      @if (Model is CurrentCourseViewModel) {
        <input name="progressId" type="hidden" value="@Model.ProgressId" />
      } else {
        <input name="selfAssessmentId" type="hidden" value="@Model.Id" />
      }
      <button class="nhsuk-button" id="save-button" type="submit">Save changes</button>
    </form>
    <vc:cancel-link asp-controller="LearningPortal" asp-action="Current" />
  </div>
</div>
