@using DigitalLearningSolutions.Web.ViewModels.CompetencyAssessments
@model BaseCompetencyAssessmentsPageViewModel

<nav class="nhsuk-pagination" role="navigation" aria-label="Pagination">
  <ul class="nhsuk-list nhsuk-pagination__list">
    <div class="pagination-button-container">
    <li class="nhsuk-pagination-item--previous" @(Model.Page == 1 ? "hidden" : "")>
      <button class="nhsuk-pagination__link nhsuk-pagination__link--prev" type="submit" asp-action="@ViewContext.RouteData.Values["action"].ToString()" asp-route-page="@(Model.Page - 1)">
        <svg class="nhsuk-icon nhsuk-icon--arrow-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
          <path d="M10.7 6.3c.4.4.4 1 0 1.4L7.4 11H19a1 1 0 0 1 0 2H7.4l3.3 3.3c.4.4.4 1 0 1.4a1 1 0 0 1-1.4 0l-5-5A1 1 0 0 1 4 12c0-.3.1-.5.3-.7l5-5a1 1 0 0 1 1.4 0Z" />
        </svg>
        <span class="nhsuk-pagination__title">Previous</span>
      </button>
    </li>
    </div>
    <div class="page-indicator-container">
      <span aria-live="polite" aria-atomic="true">
        <span class="nhsuk-u-visually-hidden">page </span>
        <span class="page-indicator">@Model.Page&nbsp;of&nbsp;@Model.TotalPages</span>
      </span>
    </div>
    <div class="pagination-button-container">
    <li class="nhsuk-pagination-item--next" @(Model.Page < Model.TotalPages ? "" : "hidden")>
      <button class="nhsuk-pagination__link nhsuk-pagination__link--next" type="submit" asp-action="@ViewContext.RouteData.Values["action"].ToString()" asp-route-page="@(Model.Page + 1)">
        <span class="nhsuk-pagination__title">Next</span>
        <svg class="nhsuk-icon nhsuk-icon--arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16" focusable="false" aria-hidden="true">
            <path d="m14.7 6.3 5 5c.2.2.3.4.3.7 0 .3-.1.5-.3.7l-5 5a1 1 0 0 1-1.4-1.4l3.3-3.3H5a1 1 0 0 1 0-2h11.6l-3.3-3.3a1 1 0 1 1 1.4-1.4Z" />
        </svg>
      </button>
    </li>
    </div>
  </ul>
</nav>
