@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.LearningSolutions
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model SupportViewModel

@{
    var routeData = new Dictionary<string, string> { { "applicationBaseUrl", Model.Application.ApplicationBaseUrl } };
}

<h2 class="side-nav__heading">Support</h2>
<ul class="nhsuk-list side-nav__list">
  <vc:side-menu-link
    asp-action="Index"
    asp-controller="Support"
    asp-all-route-data="@routeData"
    link-text="Support"
    is-current-page="@(Model.CurrentPage == SupportPage.Support)" />

  <vc:side-menu-link-with-href
    href="@Configuration["CurrentSystemBaseUrl"]/help/Introduction.html"
    link-text="Help documentation"
    is-current-page="@(Model.CurrentPage == SupportPage.HelpDocumentation)" />

  <vc:side-menu-link-with-href
    href="@Configuration["CurrentSystemBaseUrl"]/tracking/faqs"
    link-text="FAQs"
    is-current-page="@(Model.CurrentPage == SupportPage.Faqs)" />

  <vc:side-menu-link-with-href
    href="@Configuration["CurrentSystemBaseUrl"]/tracking/resources"
    link-text="Resources"
    is-current-page="@(Model.CurrentPage == SupportPage.Resources)" />

  <vc:side-menu-link-with-href
    href="@Configuration["CurrentSystemBaseUrl"]/tracking/tickets"
    link-text="Support tickets"
    is-current-page="@(Model.CurrentPage == SupportPage.SupportTickets)" />

  <vc:side-menu-link-with-href
    href="https://github.com/TechnologyEnhancedLearning/DLSV2/projects/1?fullscreen=true"
    link-text="Change requests"
    is-current-page="@(Model.CurrentPage == SupportPage.ChangeRequests)" />
</ul>
