@using DigitalLearningSolutions.Web.ViewComponents
@using DigitalLearningSolutions.Web.ViewModels.MyAccount
@using DigitalLearningSolutions.Web.ViewModels.Register
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LearnerInformationViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Register - Learner information": "Register - Learner information";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <form method="post" asp-action="LearnerInformation">

      @if (errorHasOccurred) {
        <vc:error-summary order-of-property-names="@(new[] { nameof(Model.JobGroup) })"/>
      }

      <div class="nhsuk-u-margin-bottom-8">
        <h1 id="page-heading" class="nhsuk-heading-xl">Learner information</h1>
      </div>

      @foreach (EditCustomFieldViewModel customField in ViewBag.CustomFields) {
        if (customField.Options.Any()) {
          <vc:select-list
          asp-for="@("Answer" + customField.CustomFieldId)"
          label="@(customField.CustomPrompt + (customField.Mandatory ? "" : " (optional)"))"
          value="@customField.Answer"
          hint-text=""
          css-class="nhsuk-u-width-one-half"
          default-option="Select a @customField.CustomPrompt.ToLower()"
          select-list-options="@customField.Options"/>
        } else {
          <vc:text-input
            asp-for="@("Answer" + customField.CustomFieldId)"
            label="@(customField.CustomPrompt + (customField.Mandatory ? "" : " (optional)"))"
            populate-with-current-value="true"
            type="text"
            spell-check="false"
            hint-text=""
            autocomplete=""
            css-class="nhsuk-u-width-one-half"/>
        }
      }

      <vc:select-list
        asp-for="JobGroup"
        label="Job Group"
        value="@Model.JobGroup?.ToString()"
        hint-text=""
        css-class="nhsuk-u-width-one-half"
        default-option="Select a job group"
        select-list-options="@ViewBag.JobGroupOptions"/>

      <button class="nhsuk-button" type="submit">Next</button>
    </form>

    <vc:back-link asp-controller="Register" asp-action="Index" link-text="Go back" />
  </div>
</div>
