@using DigitalLearningSolutions.Web.ViewModels.Register
@model PersonalInformationViewModel
@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Register" : "Register";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <form class="nhsuk-u-margin-bottom-8" method="post" asp-action="PersonalInformation">

      @if (errorHasOccurred)
      {
        <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Centre), nameof(Model.FirstName), nameof(Model.LastName), nameof(Model.Email) })" />
      }

      <div class="nhsuk-u-margin-bottom-8">
        <h1 class="nhsuk-heading-xl">Register</h1>
        <input type="hidden" asp-for="IsCentreSpecificRegistration" value="@Model.IsCentreSpecificRegistration" />

        @if (Model.IsCentreSpecificRegistration)
        {
          <p class="nhsuk-body-l">
            Please enter your personal details to start the registration process
            to access all Digital Learning Solutions services at <b>@Model.CentreName</b>.
            <a class="nhsuk-action-link__link nhsuk-link--no-visited-state nhsuk-u-padding-left-0 nhsuk-body-m nhsuk-u-margin-top-2" asp-action="Index">
              Not the right centre? Click here to change.
            </a>
          </p>
          <input type="hidden" asp-for="Centre" />
        }
        else
        {
          <p class="nhsuk-body-l">
            Please select your centre to start the registration process
            to access all Digital Learning Solutions services.
          </p>

          <vc:select-list asp-for="Centre"
                        label="Centre"
                        value="@Model.Centre?.ToString()"
                        hint-text="Visit the <a href='../FindYourCentre'>Find your centre</a> page for help locating your DLS centre."
                        required="true"
                        css-class="nhsuk-u-width-full"
                        default-option="Select a centre"
                        select-list-options="@Model.CentreOptions" />
        }
      </div>

      @if (!Model.IsCentreSpecificRegistration)
      {
        <p class="nhsuk-body-l">
          Now enter your personal details.
        </p>
      }

      <vc:text-input asp-for="FirstName"
                     label="First name"
                     populate-with-current-value="true"
                     type="text"
                     spell-check="false"
                     hint-text=""
                     autocomplete="given-name"
                     css-class="nhsuk-u-width-one-half"
                     required="true" />

      <vc:text-input asp-for="LastName"
                     label="Last name"
                     populate-with-current-value="true"
                     type="text"
                     spell-check="false"
                     hint-text=""
                     autocomplete="family-name"
                     css-class="nhsuk-u-width-one-half"
                     required="true" />

      <vc:text-input asp-for="Email"
                     label="Email"
                     populate-with-current-value="true"
                     type="text"
                     spell-check="false"
                     hint-text=""
                     autocomplete="email"
                     css-class="nhsuk-u-width-one-half"
                     required="true" />

      <button class="nhsuk-button" type="submit">Next</button>
    </form>

    <p class="nhsuk-u-font-size-24">
      Alternatively, if you already have an account, log in:
    </p>
    <a class="nhsuk-button nhsuk-button--secondary" asp-controller="Login" asp-action="Index" role="button">
      Log in
    </a>
  </div>
</div>
