@using DigitalLearningSolutions.Web.ViewModels.Register
@model ClaimAccountViewModel

@{
  ViewData["Title"] = "Complete registration";

  var routeData = new Dictionary<string, string> {
    { "email", Model.Email },
    { "code", Model.RegistrationConfirmationHash },
  };
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-l" id="app-page-heading">
      Complete registration
    </h1>

    <p class="nhsuk-body-m">You have been registered for a new account.</p>

    <partial name="_DelegateRecordSummary" model="@Model" />

    @if (Model.IdOfUserMatchingEmailIfAny != null) {
      if (Model.UserMatchingEmailIsActive) {
        <p class="nhsuk-body-m">
          A DLS user account is already registered with this email address. If that account belongs to you, you can link this delegate record to your login.
        </p>

        <vc:action-link
          asp-controller="ClaimAccount"
          asp-action="LinkDlsAccount"
          asp-all-route-data="@routeData"
          link-text="Link this record" />
      } else {
        <p class="nhsuk-body-m">
          The DLS user account associated with this email address is inactive. To request reactivation of the account, please contact <a href="mailto:@Model.SupportEmail">@Model.SupportEmail</a>.
        </p>
      }
    } else {
      <p class="nhsuk-body-m">
        If you already have an account on DLS, we recommend that you link your new account to your existing login.
      </p>

      <vc:action-link
        asp-controller="ClaimAccount"
        asp-action="LinkDlsAccount"
        asp-all-route-data="@routeData"
        link-text="Use existing login" />

      <p class="nhsuk-body-m">
        Otherwise, you can create a new login.
      </p>

      <vc:action-link
        asp-controller="ClaimAccount"
        asp-action="CompleteRegistration"
        asp-all-route-data="@routeData"
        link-text="Create a new login" />
    }

  </div>
</div>
