@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup
@model CentreRegistrationPromptManagementViewModel

<details class="nhsuk-details nhsuk-expander">
  <summary class="nhsuk-details__summary">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-three-quarters nhsuk-u-three-quarters-tablet">
        <span class="nhsuk-details__summary-text">
          @Model.PromptName
        </span>
      </div>
      <div class="nhsuk-grid-column-one-quarter nhsuk-u-one-quarter-tablet right-align-tag-column">
        <span class="nhsuk-u-visually-hidden">This prompt is:</span>
        <strong class="nhsuk-u-font-size-19 right-align-tag nhsuk-tag @(Model.Mandatory ? "" : "nhsuk-tag--grey")">
          @(Model.Mandatory ? "Mandatory" : "Optional")
        </strong>
      </div>
    </div>
  </summary>
  <div class="nhsuk-details__text">
    <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
      <div class="nhsuk-grid-column-full">
        @if (Model.Options.Count != 0) {
          <p class="nhsuk-u-font-weight-bold">Responses delegate can choose from:</p>
          <ul>
            @foreach (var answer in Model.Options) {
              <li class="word-break">@answer</li>
            }
          </ul>
        } else {
          <p>This is a free text field. Delegates can input any text.</p>
        }
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <a class="nhsuk-button left-button-mobile-margin-bottom nhsuk-u-margin-right-2 nhsuk-u-margin-bottom-1" role="button"
           asp-controller="RegistrationPrompts"
           asp-action="EditRegistrationPromptStart"
           asp-route-promptNumber="@Model.PromptNumber">
          Edit
        </a>
        <a class="nhsuk-button delete-button nhsuk-button--secondary nhsuk-u-margin-bottom-1" role="button"
           asp-controller="RegistrationPrompts"
           asp-action="RemoveRegistrationPrompt"
           asp-route-promptNumber="@Model.PromptNumber">
          Remove
        </a>
      </div>
    </div>
  </div>
</details>
