@using DigitalLearningSolutions.Web.Controllers.TrackingSystem.Centre.Configuration
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Configuration.RegistrationPrompts
@model EditRegistrationPromptViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Edit delegate registration prompt" : "Edit delegate registration prompt";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@new []{ nameof(EditRegistrationPromptViewModel.OptionsString), nameof(EditRegistrationPromptViewModel.Answer)}" />
    }

    <h1 class="nhsuk-heading-xl">Edit delegate registration prompt</h1>
  </div>
</div>

<form method="post" novalidate asp-action="EditRegistrationPrompt">
  <div class="hidden-submit">
    <button name="action" class="nhsuk-button" value="@RegistrationPromptsController.AddPromptAction" aria-hidden="true" tabindex="-1">Add</button>
  </div>

  <input type="hidden" asp-for="PromptNumber" />
  <input type="hidden" asp-for="Prompt" />
  <input type="hidden" asp-for="OptionsString" />

  <vc:field-name-value-display display-name="Prompt" field-value="@Model.Prompt" />

  <div class="nhsuk-grid-row nhsuk-u-padding-bottom-4">
    <div class="nhsuk-grid-column-one-half">
      <div class="nhsuk-checkboxes">
        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="Mandatory" type="checkbox" asp-for="Mandatory">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="Mandatory">
            This prompt is mandatory
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      @if (string.IsNullOrEmpty(Model.OptionsString))
      {
        <partial name="_NoConfiguredAnswers" />
      }
      else
      {
        <partial name="_RegistrationPromptAnswerTable" model="Model" />
      }
    </div>
  </div>

  <div class="nhsuk-grid-row divider">
    <div class="nhsuk-grid-column-one-half">
      <vc:text-input asp-for="Answer"
                     label="Add a new response?"
                     populate-with-current-value="true"
                     type="text"
                     spell-check="true"
                     autocomplete=""
                     hint-text=""
                     css-class="nhsuk-u-width-full" />
      <button name="action" class="nhsuk-button nhsuk-button--secondary" value="@RegistrationPromptsController.AddPromptAction">Add</button>
    </div>
  </div>

  <div class="nhsuk-grid-row divider">
    <div class="nhsuk-grid-column-one-half">
      <p class="nhsuk-label">Want to edit responses in bulk?</p>
      <button name="action" class="nhsuk-button nhsuk-button--secondary" value="@RegistrationPromptsController.BulkAction">Bulk edit</button>
    </div>
  </div>

  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
    <div class="nhsuk-grid-column-full">
      <button name="action" class="nhsuk-button" value="@RegistrationPromptsController.SaveAction">Save</button>
    </div>
  </div>
</form>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <vc:cancel-link asp-controller="RegistrationPrompts" asp-action="Index" />
  </div>
</div>
