@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Centre.Configuration.RegistrationPrompts
@model RemoveRegistrationPromptViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Remove delegate registration prompt" : "Remove delegate registration prompt";
  var confirmError = ViewData.ModelState[nameof(RemoveRegistrationPromptViewModel.Confirm)]?.Errors?.Count > 0;
  var confirmFormErrorClass = confirmError ? "nhsuk-form-group--error" : "";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@new []{ nameof(RemoveRegistrationPromptViewModel.Confirm) }" />
    }

    <h1 class="nhsuk-heading-xl">Remove delegate registration prompt</h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter nhsuk-heading-l">
    <div class="nhsuk-u-font-weight-bold">
      Prompt:
    </div>
  </div>
  <div class="nhsuk-grid-column-three-quarters nhsuk-heading-l nhsuk-u-font-weight-normal">
    @Model.PromptName
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (Model.DelegateCount == 1) {
      <p class="nhsuk-body-m">@Model.DelegateCount user has responded to this prompt. Deleting the prompt will permanently delete their response.</p>
    } else {
      <p class="nhsuk-body-m">@Model.DelegateCount users have responded to this prompt. Deleting the prompt will permanently delete their responses.</p>
    }

    <form class="nhsuk-u-margin-bottom-5" method="post" asp-action="RemoveRegistrationPrompt">
      <div class="nhsuk-form-group @confirmFormErrorClass">
        <fieldset class="nhsuk-fieldset" aria-describedby="confirm-error">
          @if (confirmError) {
            <span class="nhsuk-error-message" id="confirm-error">
              <span class="nhsuk-u-visually-hidden">Error:</span> @ViewData.ModelState[nameof(RemoveRegistrationPromptViewModel.Confirm)].Errors[0].ErrorMessage
            </span>
          }
          <div class="nhsuk-checkboxes">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input" id="confirm" name="confirm" asp-for="Confirm" />
              <label class="nhsuk-label nhsuk-checkboxes__label" for="confirm">
                @if (Model.DelegateCount == 1) {
                  @:I am sure that I wish to delete this prompt and @Model.DelegateCount delegate response
                } else {
                  @:I am sure that I wish to delete this prompt and @Model.DelegateCount delegate responses
                }
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <input type="hidden" asp-for="PromptName" />
      <input type="hidden" asp-for="DelegateCount" />
      <button class="nhsuk-button delete-button nhsuk-button--secondary" type="submit">Delete prompt</button>
    </form>

    <vc:cancel-link asp-controller="RegistrationPrompts" asp-action="Index" />
  </div>
</div>
