@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates
@model UnapprovedDelegate

<div class="card-with-buttons nhsuk-panel" id="@Model.Id-card">
  <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
    <summary class="nhsuk-details__summary nhsuk-u-padding-top-0 nhsuk-u-padding-left-0">
      <span class="nhsuk-details__summary-text">
        @Model.FullName (@Model.Email)
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <dl class="nhsuk-summary-list">
        <div class="nhsuk-summary-list__row basic-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Delegate id:
          </dt>
          <dd class="nhsuk-summary-list__value">
            @Model.Id
          </dd>
        </div>
        <div class="nhsuk-summary-list__row basic-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Date registered:
          </dt>
          <dd class="nhsuk-summary-list__value">
            @Model.DateRegistered
          </dd>
        </div>
        <div class="nhsuk-summary-list__row basic-summary-list__row">
          <dt class="nhsuk-summary-list__key">
            Job group:
          </dt>
          <dd class="nhsuk-summary-list__value">
            @Model.JobGroup
          </dd>
        </div>
        @foreach (var cf in Model.CustomPrompts)
        {
          <partial name="../Common/_CustomFieldRow" model="cf" />
        }
      </dl>
    </div>
  </details>
  <div class="flex-row">
    <a class="nhsuk-button nhsuk-u-margin-bottom-0 nhsuk-u-margin-right-2" href="" role="button">
      Approve
    </a>
    <a class="nhsuk-button button__red nhsuk-u-margin-bottom-0 nhsuk-u-margin-right-2" href="" role="button">
      Reject
    </a>
  </div>
</div>
