@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates
@model RejectDelegateViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/delegates/delegateApprovals.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Reject delegate registration";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>

    <p class="nhsuk-body-l">Are you sure you want to reject this user's registration?</p>

    <dl class="nhsuk-summary-list">
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Full name
        </dt>
        <dd class="nhsuk-summary-list__value">
          @Model.FullName
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Email address
        </dt>
        <dd class="nhsuk-summary-list__value">
          @Model.Email
        </dd>
      </div>
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Date registered
        </dt>
        <dd class="nhsuk-summary-list__value">
          @Model.DateRegistered?.ToShortDateString()
        </dd>
      </div>
      <div class="nhsuk-summary-list__row basic-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Professional Registration Number
        </dt>
        <partial name="_SummaryFieldValue" model="@Model.ProfessionalRegistrationNumber" />
      </div>
    </dl>

    <form class="nhsuk-u-margin-bottom-5" asp-controller="DelegateApprovals" asp-action="RejectDelegate" method="post">
      <input type="hidden" name="delegateId" value="@Model.Id" />
      <button class="nhsuk-button delete-button" type="submit">
        Reject
      </button>
    </form>

    <vc:cancel-link asp-controller="DelegateApprovals" asp-action="Index" />
  </div>
</div>
