@using DigitalLearningSolutions.Web.ViewModels.Frameworks;
@model CompetencyCardViewModel;

<div class="nhsuk-card nhsuk-u-margin-bottom-5 nhsuk-u-margin-left-3">
  <div class="nhsuk-card__content">
    @if (Model.FrameworkCompetency.Description != null)
    {
      <details class="nhsuk-details">
        <summary class="nhsuk-details__summary">
          <h4 class=" nhsuk-u-margin-bottom-0">
            <span class="nhsuk-details__summary-text">
              @Model.FrameworkCompetency.Name
            </span>
          </h4>
        </summary>
        <div class="nhsuk-details__text">
          @(Html.Raw(Model.FrameworkCompetency.Description))
        </div>
      </details>
    }
    else
    {
      <h4>
        @Model.FrameworkCompetency.Name
      </h4>
    }
    @if (Model.CanModify)
    {
      <p>
        <a class="nhsuk-button small-edit-button nhsuk-u-margin-right-1" asp-action="AddEditFrameworkCompetency" asp-route-frameworkId="@(ViewContext.RouteData.Values["frameworkId"])" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroupId" asp-route-frameworkCompetencyId="@Model.FrameworkCompetency.Id">Edit <span class="visually-hidden">competency</span></a>
        <a class="nhsuk-button nhsuk-button--secondary small-edit-button nhsuk-u-margin-right-1" asp-action="MoveUpFrameworkCompetency" asp-route-frameworkId="@(ViewContext.RouteData.Values["frameworkId"])" asp-route-frameworkCompetencyId="@Model.FrameworkCompetency.Id">Move up <span class="visually-hidden">competency</span></a>
        <a class="nhsuk-button nhsuk-button--secondary small-edit-button nhsuk-u-margin-right-1" asp-action="MoveDownFrameworkCompetency" asp-route-frameworkId="@(ViewContext.RouteData.Values["frameworkId"])" asp-route-frameworkCompetencyId="@Model.FrameworkCompetency.Id">Move down <span class="visually-hidden">competency</span></a>
        <a class="nhsuk-button nhsuk-button--secondary delete-button small-edit-button nhsuk-u-margin-right-1" asp-action="DeleteFrameworkCompetency" asp-route-frameworkId="@(ViewContext.RouteData.Values["frameworkId"])" asp-route-frameworkCompetencyId="@Model.FrameworkCompetency.Id">Delete <span class="visually-hidden">competency</span></a>
      </p>
    }
  </div>
</div>
