@using DigitalLearningSolutions.Web.ViewModels.Frameworks;
@model CompetencyGroupCardViewModel;
<span class="nhsuk-caption-l nhsuk-u-font-size-16">
  Competency group
</span>
<div class="nhsuk-card nhsuk-u-margin-bottom-5 nhsuk-u-margin-left-3">
  <div class="nhsuk-card__content">
    <h3>

      @Model.FrameworkCompetencyGroup.Name
    </h3>
    @if (Model.CanModify)
    {
      <p>
        <a class="nhsuk-button small-edit-button nhsuk-u-margin-right-1" asp-action="AddEditFrameworkCompetencyGroup" asp-route-frameworkId="@(ViewContext.RouteData.Values["frameworkId"])" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroup.ID">Edit <span class="visually-hidden"> competency group</span></a>
        <a class="nhsuk-button nhsuk-button--secondary small-edit-button nhsuk-u-margin-right-1" asp-action="MoveUpFrameworkCompetencyGroup" asp-route-frameworkId="@(ViewContext.RouteData.Values["frameworkId"])" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroup.ID">Move <span class="visually-hidden"> competency group</span> up</a>
        <a class="nhsuk-button nhsuk-button--secondary small-edit-button nhsuk-u-margin-right-1" asp-action="MoveDownFrameworkCompetencyGroup" asp-route-frameworkId="@(ViewContext.RouteData.Values["frameworkId"])" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroup.ID">Move <span class="visually-hidden"> competency group</span> down</a>
        <a class="nhsuk-button nhsuk-button--secondary delete-button small-edit-button nhsuk-u-margin-right-1" asp-action="DeleteFrameworkCompetencyGroup" asp-route-frameworkId="@(ViewContext.RouteData.Values["frameworkId"])" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroup.ID">Delete <span class="visually-hidden"> competency group</span></a>
      </p>
    }

    @if (Model.FrameworkCompetencyGroup.Description != null)
    {
      <p class='hee-fwservice--description-paragraph'>@Model.FrameworkCompetencyGroup.Description</p>
    }
    @if (Model.FrameworkCompetencyGroup.FrameworkCompetencies.Any())
    {
      <span class="nhsuk-caption-l nhsuk-u-font-size-16">
        @Model.FrameworkCompetencyGroup.FrameworkCompetencies.Count() competencies...
      </span>
      foreach (var frameworkCompetency in Model.FrameworkCompetencyGroup.FrameworkCompetencies)
      {
        <partial name="_CompetencyCard.cshtml" model="new CompetencyCardViewModel { CanModify = Model.CanModify, FrameworkCompetencyGroupId = Model.FrameworkCompetencyGroup.ID, FrameworkCompetency = frameworkCompetency}" />
      }
    }
    else
    {
      <p>No competencies in this group.</p>
    }
    @if (Model.CanModify)
    {
      <a class="nhsuk-button nhsuk-u-margin-left-3" asp-action="AddEditFrameworkCompetency" asp-route-frameworkId="@(ViewContext.RouteData.Values["frameworkId"])" asp-route-frameworkCompetencyGroupId="@Model.FrameworkCompetencyGroup.ID">Add new competency</a>
    }
    </div>
</div>
