@using DigitalLearningSolutions.Web.Extensions
@using DigitalLearningSolutions.Web.Helpers
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Data.Enums
<li class="nhsuk-header__navigation-item @Html.IsSelected(controller: "Frameworks", action: "Index")">
  <a class="nhsuk-header__navigation-link" asp-controller="Frameworks" asp-action="Index">
    Dashboard
    <partial name="_NhsChevronRight" />
  </a>
</li>
<li class="nhsuk-header__navigation-item @Html.IsSelected("ViewFrameworks")">
  <a class="nhsuk-header__navigation-link" asp-controller="Frameworks" asp-action="ViewFrameworks" asp-route-tabname="Mine">
    Frameworks
    <partial name="_NhsChevronRight" />
  </a>
</li>
<feature name="@(FeatureFlags.WorkforceManagerInterface)">
  <li class="nhsuk-header__navigation-item @Html.IsSelected("ViewRoleProfiles")">
    <a class="nhsuk-header__navigation-link" asp-controller="RoleProfiles" asp-action="ViewRoleProfiles" asp-route-tabname="Mine">
      Role Profiles
      <partial name="_NhsChevronRight" />
    </a>
  </li>
</feature>
<li class="nhsuk-header__navigation-item @Html.GetSelectedCssClassIfTabSelected(NavMenuTab.Support)">
  <a class="nhsuk-header__navigation-link" asp-controller="Support" asp-action="Index" asp-route-dlsSubApplication="@DlsSubApplication.Frameworks.UrlSegment">
    Support
    <partial name="_NhsChevronRight" />
  </a>
</li>
<li class="nhsuk-header__navigation-item @Html.IsSelected(controller: "MyAccount", action: "Index")">
  <a class="nhsuk-header__navigation-link" asp-controller="MyAccount" asp-action="Index" asp-route-dlsSubApplication="@DlsSubApplication.Frameworks.UrlSegment">
    My account
    <partial name="_NhsChevronRight" />
  </a>
</li>
