@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.Completed
@model CompletedLearningResourceViewModel

<div class="searchable-element nhsuk-panel" id="@Model.Id-card-lhr">
  <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
    <summary class="nhsuk-details__summary nhsuk-u-padding-top-0 nhsuk-u-padding-left-0">
      <span class="nhsuk-details__summary-text searchable-element-title"
            id="@Model.Id-name-lhr"
            name="name"
            role="heading"
            aria-level="2">
        @Model.Name
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <div class="nhsuk-grid-row">
        <partial name="Shared/_TagRow" model="@Model" />
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full nhsuk-u-margin-bottom-3">
          @Html.Raw(Model.ResourceDescription)
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <partial name="Shared/_Dates" model="@Model" />
      </div>
    </div>
  </details>

  <div class="flex-row">
    <a class="nhsuk-button nhsuk-u-margin-bottom-2"
       aria-describedby="@Model.Id-name-lhr"
       asp-controller="LearningPortal"
       asp-action="LaunchLearningResource"
       asp-route-learningLogItemId="@Model.Id"
       role="button">
      Launch learning resource
    </a>
  </div>
</div>
