@using DigitalLearningSolutions.Web.ViewModels.Common.SearchablePage
@model CurrentFiltersViewModel

<div id="applied-filters" @(Model.AppliedFilters.Any() ? "" : "hidden")>
  <label class="nhsuk-label--s nhsuk-u-margin-bottom-1">Applied filters</label>
  <form method="get" asp-action="@ViewContext.RouteData.Values["action"].ToString()" asp-route-page="1">
    <input type="hidden" aria-hidden="true" name="clearFilters" value="true" />
    <input type="hidden" aria-hidden="true" name="searchString" value="@Model.SearchString" />
    <input type="hidden" aria-hidden="true" name="sortBy" value="@Model.SortBy" />
    <input type="hidden" aria-hidden="true" name="sortDirection" value="@Model.SortDirection" />
    <input type="hidden" aria-hidden="true" name="itemsPerPage" value="@Model.ItemsPerPage" />
    @foreach (var (key, value) in Model.RouteData) {
      <input type="hidden" aria-hidden="true" name="@key" value="@value" />
    }
    <div class="applied-filters-container">
      <div class="applied-filter-container" id="applied-filter-container">
        @foreach (var filter in Model.AppliedFilters) {
          <partial name="SearchablePage/_AppliedFilterTag" model="filter" />
        }
      </div>

      <input type="submit" class="nhsuk-button filter-submit__clear" id="clear-filters" value="Clear filters" />
    </div>
  </form>
</div>
