@using DigitalLearningSolutions.Web.ViewModels.Common.ViewComponents
@model LinkViewModelWithFragment

<link rel="stylesheet" href="@Url.Content("~/css/shared/components/cancelLink.css")" asp-append-version="true">

<div class="nhsuk-link">
  @if (Model.Fragment == null)
  {
    <a class="nhsuk-back-link" asp-controller="@Model.AspController" asp-action="@Model.AspAction" asp-all-route-data="@Model.AspAllRouteData">
      @Model.LinkText
    </a>
  }
  else
  {
    <a class="nhsuk-back-link" asp-controller="@Model.AspController" asp-action="@Model.AspAction" asp-all-route-data="@Model.AspAllRouteData" asp-fragment="@Model.Fragment">
      @Model.LinkText
    </a>
  }
</div>
