@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateCourses
@model SearchableDelegateCourseStatisticsViewModel

<div class="searchable-element nhsuk-panel card-with-buttons word-break" id="@Model.CustomisationId-card">
  <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text searchable-element-title" id="@Model.CustomisationId-name" name="course-name">
        @Model.CourseName
      </span>
    </summary>

    <div class="nhsuk-details__text">
      <partial name="SearchablePage/_FilterableTags" model="@Model.Tags" />

      <partial name="_CentreCourseCardDetails" model="@Model" />

      <input type="hidden" data-filter-value="@Model.HasAdminFieldsFilter" />
      @if (Model.HasAdminFields) {
        <partial name="_CentreCourseCardAdminFields" model="@Model" />
      }
    </div>
  </details>

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full nhsuk-u-margin-left-4">
      <a class="nhsuk-button nhsuk-u-margin-right-2 nhsuk-u-margin-bottom-2"
         role="button"
         id="launch-course-@Model.CustomisationId"
         asp-controller="CourseDelegates"
         asp-action="Index"
         asp-route-customisationId="@Model.CustomisationId"
         asp-route-accessedVia="@DelegateAccessRoute.DelegateCourses">
        View course delegates
      </a>
    </div>
  </div>
</div>
