@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateCourses
@model DelegateCoursesViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/courseSetup.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Delegate courses";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter">
    <nav class="side-nav-menu" aria-label="Side navigation bar">
      <partial name="~/Views/TrackingSystem/Delegates/Shared/_DelegatesSideNavMenu.cshtml" model="DelegatePage.DelegateCourses" />
    </nav>
  </div>

  <div class="nhsuk-grid-column-three-quarters">
    @if (Model.JavascriptSearchSortFilterPaginateEnabled) {
      <vc:loading-spinner page-has-side-nav-menu="true" />
    }
    <div id="@(Model.JavascriptSearchSortFilterPaginateEnabled ? "js-styling-hidden-area-while-loading" : "no-js-styling")">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
          <h1 class="nhsuk-heading-xl">Delegate courses</h1>
        </div>
        <div class="nhsuk-grid-column-one-third heading-button-group">
          <a class="nhsuk-button nhsuk-button--secondary heading-button"
             id="export-all"
             asp-controller="DelegateCourses"
             asp-action="DownloadAll"
             asp-route-searchString="@Model.SearchString"
             asp-route-sortBy="@Model.SortBy"
             asp-route-sortDirection="@Model.SortDirection"
             asp-route-existingFilterString="@Model.ExistingFilterString"
             role="button">
            Export
          </a>
        </div>
      </div>

      <partial name="SearchablePage/Configurations/_ThreeQuarterWidthSearchSortAndFilter" model="Model" />

      @if (Model.NoDataFound) {
        <p>The centre has no courses set up yet.</p>
      } else {
        <partial name="SearchablePage/Configurations/_ResultsCountAndItemsPerPage" model="Model" />
        <partial name="SearchablePage/_TopPaginationWithoutAlert" model="Model" />
        <partial name="SearchablePage/_ResultCountAndPageAlerts" model="Model" />

        <div id="searchable-elements">
          @foreach (var course in Model.Courses) {
            <partial name="_CentreCourseCard" model="course" />
          }
        </div>
      }

      <partial name="SearchablePage/_BottomPaginationWithoutAlert" model="Model" />
    </div>
  </div>
</div>

@section scripts {
  <script src="@Url.Content("~/js/trackingSystem/delegateCourses.js")" asp-append-version="true"></script>
}
