@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.CourseContent
@model CourseSectionViewModel

@if (Model.Tutorials.Any(t => t.DiagnosticEnabled || t.LearningEnabled))
{
  <div class="nhsuk-panel word-break">
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          @Model.SectionName
        </span>
      </summary>
      <div class="nhsuk-details__text nhsuk-u-margin-bottom-0">
        <dl class="nhsuk-summary-list">
          @foreach (var tutorial in Model.Tutorials)
          {
            @if (tutorial.DiagnosticEnabled || tutorial.LearningEnabled)
            {
              <div class="nhsuk-summary-list__row basic-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  @tutorial.TutorialName
                </dt>
                <dd class="nhsuk-summary-list__value summary-list-right-align-tags">
                  @if (tutorial.DiagnosticEnabled)
                  {
                    <strong class="nhsuk-tag nhsuk-tag--grey">
                      Diagnostic
                    </strong>
                  }
                  @if (tutorial.LearningEnabled)
                  {
                    <strong class="nhsuk-tag nhsuk-tag--grey">
                      Learning
                    </strong>
                  }
                </dd>
              </div>
            }
          }
        </dl>
        <a class="nhsuk-button"
         role="button"
         asp-controller="CourseContent"
         asp-action="EditSection"
         asp-route-customisationId="@Model.CustomisationId"
         asp-route-sectionId="@Model.SectionId">
          Edit section content
        </a>
      </div>
    </details>
  </div>
}
else if (Model.PostLearningAssessment)
{
  <div class="nhsuk-panel word-break">
    <details class="nhsuk-details nhsuk-expander">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          @Model.SectionName
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>No learning or diagnostic has been selected for this section. However, the post-learning assessment is enabled.</p>
        <a class="nhsuk-button"
         role="button"
         asp-controller="CourseContent"
         asp-action="EditSection"
         asp-route-customisationId="@Model.CustomisationId"
         asp-route-sectionId="@Model.SectionId">
          Edit section content
        </a>
      </div>
    </details>
  </div>
}


