@using DigitalLearningSolutions.Web.Helpers
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.CourseContent
@model EditCourseSectionFormData

<div class="nhsuk-grid-column-one-half tutorial-learning-column">
  <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-1">Learning</h2>
  <p class="nhsuk-body-m nhsuk-u-margin-bottom-1">Select all tutorials that should have learning enabled.</p>

  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
    <div class="nhsuk-grid-column-full">
      <button name="action"
              class="nhsuk-button select-all-button"
              value="@EditCourseSectionHelper.SelectAllLearningAction">
        Select all
      </button>
      <button name="action"
              class="nhsuk-button deselect-all-button"
              value="@EditCourseSectionHelper.DeselectAllLearningAction">
        Deselect all
      </button>
    </div>
  </div>

  <div class="nhsuk-checkboxes">
    @foreach (var (tutorial, tutIndex) in Model.Tutorials.Select((t, i) => (t, i))) {
      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input learning-checkbox"
               type="checkbox"
               name="@($"{nameof(Model.Tutorials)}[{tutIndex}].{nameof(tutorial.LearningEnabled)}")"
               id="learning-enabled-@tutorial.TutorialId"
               checked="@tutorial.LearningEnabled"
               value="true" />
        <label class="nhsuk-label nhsuk-checkboxes__label word-break" for="learning-enabled-@tutorial.TutorialId">
          @tutorial.TutorialName
        </label>
      </div>
    }
  </div>
</div>
