@using DigitalLearningSolutions.Web.Helpers
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.CourseContent
@model EditCourseSectionFormData

<div class="nhsuk-grid-column-one-half">
  <h2 class="nhsuk-heading-l nhsuk-u-margin-bottom-1">Diagnostic</h2>
  <p class="nhsuk-body-m nhsuk-u-margin-bottom-1">Select all tutorials that should have diagnostic enabled.</p>

  <div class="nhsuk-grid-row nhsuk-u-margin-bottom-3">
    <div class="nhsuk-grid-column-full">
      <button name="action"
              class="nhsuk-button select-all-button"
              value="@EditCourseSectionHelper.SelectAllDiagnosticAction">
        Select all
      </button>
      <button name="action"
              class="nhsuk-button deselect-all-button"
              value="@EditCourseSectionHelper.DeselectAllDiagnosticAction">
        Deselect all
      </button>
    </div>
  </div>

  <div class="nhsuk-checkboxes">
    @foreach (var (tutorial, tutIndex) in Model.Tutorials.Select((t, i) => (t, i))) {
      <input type="hidden" aria-hidden="true" name="@($"{nameof(Model.Tutorials)}[{tutIndex}].{nameof(tutorial.TutorialId)}")" value="@tutorial.TutorialId" />
      <input type="hidden" aria-hidden="true" name="@($"{nameof(Model.Tutorials)}[{tutIndex}].{nameof(tutorial.TutorialName)}")" value="@tutorial.TutorialName" />
      <div class="nhsuk-checkboxes__item">
        <input class="nhsuk-checkboxes__input diagnostic-checkbox"
               type="checkbox"
               name="@($"{nameof(Model.Tutorials)}[{tutIndex}].{nameof(tutorial.DiagnosticEnabled)}")"
               id="diagnostic-enabled-@tutorial.TutorialId"
               checked="@tutorial.DiagnosticEnabled"
               value="true" />
        <label class="nhsuk-label nhsuk-checkboxes__label word-break" for="diagnostic-enabled-@tutorial.TutorialId">
          @tutorial.TutorialName
        </label>
      </div>
    }
  </div>
</div>
