@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.Controllers.TrackingSystem.CourseSetup
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.CourseSetup.CourseContent
@using Microsoft.Extensions.Configuration
@model EditCourseContentViewModel

<link rel="stylesheet" href="@Url.Content("~/css/trackingSystem/courseContent.css")" asp-append-version="true">

@{
  ViewData["Title"] = "Edit course content";
  ViewData["Application"] = "Tracking System";
  ViewData["HeaderPath"] = $"{Configuration["AppRootPath"]}/TrackingSystem/Centre/Dashboard";
  ViewData["HeaderPathName"] = "Tracking System";
  var cancelRouteData = new Dictionary<string, string> { { "customisationId", Model.CustomisationId.ToString() } };
}

@section NavMenuItems {
  <partial name="/Views/TrackingSystem/Shared/_NavMenuItems.cshtml" />
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-xl">Edit course content</h1>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter">
        <p class="nhsuk-lede-text">Course:</p>
      </div>
      <div class="nhsuk-grid-column-three-quarters">
        <p class="nhsuk-lede-text nhsuk-u-font-weight-bold">@Model.CourseName</p>
      </div>
    </div>

    <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="Edit">
      <div class="hidden-submit">
        <button name="action" class="nhsuk-button" value="@CourseContentController.SaveAction" aria-hidden="true" tabindex="-1">Save</button>
      </div>
      <input type="hidden" asp-for="CustomisationId" />
      <input type="hidden" asp-for="CourseName" />
      @foreach (var (courseSection, sectIndex) in Model.Sections.Select((s, i) => (s, i))) {
        <div class="nhsuk-panel">
          <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                @courseSection.SectionName
              </span>
            </summary>
            <div class="nhsuk-details__text nhsuk-u-margin-bottom-0">

              <input type="hidden" name="@($"{nameof(Model.Sections)}[{sectIndex}].{nameof(courseSection.SectionId)}")" value="@courseSection.SectionId" />
              <input type="hidden" name="@($"{nameof(Model.Sections)}[{sectIndex}].{nameof(courseSection.SectionName)}")" value="@courseSection.SectionName" />
              <dl class="nhsuk-summary-list">

                @foreach (var (tutorial, tutIndex) in courseSection.Tutorials.Select((t, i) => (t, i))) {
                  <div class="nhsuk-summary-list__row basic-summary-list__row">
                    <dt class="nhsuk-summary-list__key tutorial-name">
                      @tutorial.TutorialName
                    </dt>
                    <dd class="nhsuk-summary-list__value">
                      <input type="hidden" name="@($"{nameof(Model.Sections)}[{sectIndex}].{nameof(courseSection.Tutorials)}[{tutIndex}].{nameof(tutorial.TutorialId)}")" value="@tutorial.TutorialId" />
                      <input type="hidden" name="@($"{nameof(Model.Sections)}[{sectIndex}].{nameof(courseSection.Tutorials)}[{tutIndex}].{nameof(tutorial.TutorialName)}")" value="@tutorial.TutorialName" />
                      <div class="nhsuk-checkboxes course-content-checkboxes">
                        <div class="nhsuk-checkboxes__item course-content-checkbox">
                          <input class="nhsuk-checkboxes__input @($"diagnostic-checkbox-{courseSection.SectionId}")"
                                 type="checkbox"
                                 name="@($"{nameof(Model.Sections)}[{sectIndex}].{nameof(courseSection.Tutorials)}[{tutIndex}].{nameof(tutorial.DiagnosticEnabled)}")"
                                 id="diagnostic-enabled-@tutorial.TutorialId"
                                 checked="@tutorial.DiagnosticEnabled"
                                 value="true" />
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="diagnostic-enabled-@tutorial.TutorialId">
                            Diagnostic
                          </label>
                        </div>
                        <div class="nhsuk-checkboxes__item course-content-checkbox">
                          <input class="nhsuk-checkboxes__input @($"learning-checkbox-{courseSection.SectionId}")"
                                 type="checkbox"
                                 name="@($"{nameof(Model.Sections)}[{sectIndex}].{nameof(courseSection.Tutorials)}[{tutIndex}].{nameof(tutorial.LearningEnabled)}")"
                                 id="learning-enabled-@tutorial.TutorialId"
                                 checked="@tutorial.LearningEnabled"
                                 value="true" />
                          <label class="nhsuk-label nhsuk-checkboxes__label" for="learning-enabled-@tutorial.TutorialId">
                            Learning
                          </label>
                        </div>
                      </div>
                    </dd>
                  </div>
                }
                <div class="nhsuk-summary-list__row basic-summary-list__row">
                  <dt class="nhsuk-summary-list__key button-name">
                    Diagnostic
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <div class="select-deselect-container">
                      <div class="button-container">
                        <button name="action" class="nhsuk-search__submit select-all-button nhsuk-u-font-size-16" value="@(CourseContentController.SelectAllDiagnosticPrefix + courseSection.SectionId)">Select all</button>
                      </div>
                      <div class="button-container">
                        <button name="action" class="nhsuk-search__submit deselect-all-button nhsuk-u-font-size-16" value="@(CourseContentController.DeselectAllDiagnosticPrefix + courseSection.SectionId)">Deselect all</button>
                      </div>
                    </div>
                  </dd>
                </div>
                <div class="nhsuk-summary-list__row basic-summary-list__row">
                  <dt class="nhsuk-summary-list__key button-name">
                    Learning
                  </dt>
                  <dd class="nhsuk-summary-list__value">
                    <div class="select-deselect-container">
                      <div class="button-container">
                        <button name="action" class="nhsuk-search__submit select-all-button nhsuk-u-font-size-16" value="@(CourseContentController.SelectAllLearningPrefix + courseSection.SectionId)">Select all</button>
                      </div>
                      <div class="button-container">
                        <button name="action" class="nhsuk-search__submit deselect-all-button nhsuk-u-font-size-16" value="@(CourseContentController.DeselectAllLearningPrefix + courseSection.SectionId)">Deselect all</button>
                      </div>
                    </div>
                  </dd>
                </div>
              </dl>
            </div>
          </details>
        </div>
      }
      <button name="action" class="nhsuk-button" type="submit" value="@CourseContentController.SaveAction">Save</button>
    </form>

    <vc:cancel-link asp-controller="CourseContent" asp-action="Index" asp-all-route-data="@cancelRouteData" />

  </div>
</div>

@section scripts {
  <script src="@Url.Content("~/js/trackingSystem/editCourseContent.js")" asp-append-version="true"></script>
}
