@using DigitalLearningSolutions.Data.Models.SelfAssessments;
@model IGrouping<string, Competency>;


<table role="table" class="nhsuk-table-responsive nhsuk-u-margin-top-4">
  @if (!(bool)ViewData["linearNavigation"])
  {
    <caption class="nhsuk-table__caption"><h2>@Model.Key</h2></caption>
  }
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        @Model.First().Vocabulary
      </th>
      <th role="columnheader" class="" scope="col">
        Question
      </th>
      <th role="columnheader" class="" scope="col">
        Response
      </th>
      <th role="columnheader" class="" scope="col">
        Status
      </th>
      <th role="columnheader" class="" scope="col">
        Actions
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    @foreach (var competency in Model)
    {
      <tr role="row" class="nhsuk-table__row first-row">
        <td role="cell" rowspan="@competency.AssessmentQuestions.Count()" class="nhsuk-table__cell nhsuk-u-font-size-16">
          <a asp-action="SelfAssessmentCompetency" asp-route-selfAssessmentId="@ViewContext.RouteData.Values["selfAssessmentId"]" asp-route-competencyNumber="@competency.RowNo">
            <span class="nhsuk-table-responsive__heading">@competency.Vocabulary </span>@competency.Name
          </a>
        </td>
        <partial name="Shared/_AssessmentQuestionOverviewCells" model="competency.AssessmentQuestions.First()" />
        <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
          <span class="nhsuk-table-responsive__heading">Actions </span>

        </td>
      </tr>
      @foreach (var question in competency.AssessmentQuestions.Skip(1))
      {
        <tr role="row" class="nhsuk-table__row">
          <partial name="Shared/_AssessmentQuestionOverviewCells" model="question" />
          <td role="cell" class="nhsuk-table__cell nhsuk-u-font-size-16">
            <span class="nhsuk-table-responsive__heading">Actions </span>

          </td>
        </tr>

      }
    }
  </tbody>
</table>
