@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.SelfAssessments
@using DigitalLearningSolutions.Web.Helpers
@model SelfAssessmentOverviewViewModel
@if (Model.NumberOfOptionalCompetencies > 0)
{
  <a class="nhsuk-button nhsuk-button--secondary trigger-loader"
     asp-route-selfAssessmentId="@Model.SelfAssessment.Id"
     asp-route-vocabulary="@Model.VocabPlural()"
     asp-action="ManageOptionalCompetencies"
     role="button">
    Manage optional @Model.VocabPlural().ToLower()
  </a>
}
@if (Model.SelfAssessment.IsSupervisorResultsReviewed)
{
  <a class="nhsuk-button nhsuk-button--secondary trigger-loader"
     asp-route-selfAssessmentId="@Model.SelfAssessment.Id"
     asp-action="ReviewConfirmationRequests"
     role="button">
    @FrameworkVocabularyHelper.FirstLetterToUpper(Model.VocabPlural()) confirmation
  </a>
}
<feature name="@(FeatureFlags.CandidateAssessmentExcelExport)">
<a class="nhsuk-button nhsuk-button--secondary"
   asp-route-candidateAssessmentId="@Model.SelfAssessment.CandidateAssessmentId"
   asp-route-vocabulary="@Model.VocabPlural()"
   asp-action="ExportCandidateAssessment"
   role="button">
  Export to Excel
</a>
</feature>
