@using DigitalLearningSolutions.Data.Models.SelfAssessments;
@model IGrouping<string, Competency>;

<table role="table" class="nhsuk-table-responsive nhsuk-u-margin-top-4">
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col">
        @Model.First().Vocabulary
      </th>
      <th role="columnheader" class="" scope="col">
        @(string.IsNullOrWhiteSpace(Model.FirstOrDefault().QuestionLabel) ?
                          "Question" : Model.FirstOrDefault().QuestionLabel)
      </th>
      <th role="columnheader" class="" scope="col">
        Self-assessment<br />status
      </th>
      @if (((CurrentSelfAssessment)ViewData["selfAssessment"])?.IsSupervisorResultsReviewed ?? true)
      {
        <th role="columnheader" class="" scope="col">
          Confirmation<br />status
        </th>
      }
      <th role="columnheader" class="" scope="col">
        <span class="nhsuk-u-visually-hidden">Actions</span>
      </th>
    </tr>
  </thead>

  @foreach (var competency in Model)
  {
<tbody class="nhsuk-table__body row-outer" id="comp-@competency.RowNo">
  <tr role="row" class="nhsuk-table__row first-row">
    <td role="cell" rowspan="@competency.AssessmentQuestions.Count()" class="nhsuk-table__cell">
      <span class="nhsuk-table-responsive__heading">@competency.Vocabulary </span>@competency.Name
      @if (competency.AlwaysShowDescription) {
    <p class="nhsuk-u-margin-top-2">@Html.Raw(competency.Description)</p>
      }
    </td>
    <partial name="Shared/_AssessmentQuestionOverviewCells" model="competency.AssessmentQuestions.First()" view-data="@(new ViewDataDictionary(ViewData) { { "competencyNumber", competency.RowNo } })" />
    <td role="cell" rowspan="@competency.AssessmentQuestions.Count()" class="nhsuk-table__cell nhsuk-u-font-size-16">
      <span class="nhsuk-table-responsive__heading">Action </span>
      <a asp-action="SelfAssessmentCompetency" asp-route-selfAssessmentId="@ViewContext.RouteData.Values["selfAssessmentId"]" asp-route-competencyNumber="@competency.RowNo">
        Review
      </a>
    </td>
  </tr>
  @foreach (var question in competency.AssessmentQuestions.Skip(1))
  {
    <tr role="row" class="nhsuk-table__row">
      <partial name="Shared/_AssessmentQuestionOverviewCells" model="question" view-data="@(new ViewDataDictionary(ViewData) { { "competencyNumber", competency.RowNo } })" />

    </tr>

  }
</tbody>
      }
    
  </table>
