@using DigitalLearningSolutions.Data.Models.SelfAssessments
@model AssessmentQuestion

<h5 class="nhsuk-u-margin-bottom-1">@Model.Question</h5>
@if (Model.ScoringInstructions != null)
{
  <div class="nhsuk-hint">
    @(Html.Raw(Model.ScoringInstructions))
  </div>
}
<div class="nhsuk-radios nhsuk-u-margin-bottom-3 nhsuk-u-margin-top-3">
  @foreach (var levelDescriptor in Model.LevelDescriptors)
  {
    <div class="nhsuk-radios__item">
      <input class="nhsuk-radios__input" asp-for="Result" name="Result" id="radio-@levelDescriptor.LevelValue" type="radio" value="@levelDescriptor.LevelValue" aria-describedby="radio-@levelDescriptor.LevelValue-item-hint">
      <label class="nhsuk-label nhsuk-radios__label" for="radio-@levelDescriptor.LevelValue">
        @levelDescriptor.LevelLabel
      </label>
      <div class="nhsuk-hint nhsuk-radios__hint" id="radio-@levelDescriptor.LevelValue-item-hint">
       @levelDescriptor.LevelDescription
      </div>
    </div>
  }
</div>
