@using DigitalLearningSolutions.Data.Models.SelfAssessments
@model AssessmentQuestion

<div class="nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-6">
  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
      <h3 class="nhsuk-fieldset__heading">
        @Model.Question @if (!Model.Required)
        {<span>(Optional)</span>}
      </h3>
      <div class="nhsuk-hint">
        @if (Model.ScoringInstructions != null)
        {
          <p>@(Html.Raw(Model.ScoringInstructions))</p>
        }
        <p>Please pick one answer.</p>
      </div>
    </legend>

    <div class="nhsuk-radios">

      @foreach (var levelDescriptor in Model.LevelDescriptors)
      {
        <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input select-all-checkbox"
                 name="[@ViewData["index"]].Result" id="radio-@Model.Id-@levelDescriptor.LevelValue"
                 data-group="group@(Model.Id)"
                 checked="@(Model.Result == @levelDescriptor.LevelValue)" type="radio" value="@levelDescriptor.LevelValue"
                 aria-describedby="radio-@Model.Id-@levelDescriptor.LevelValue-item-hint">
          <label class="nhsuk-label nhsuk-radios__label" for="radio-@Model.Id-@levelDescriptor.LevelValue">
            @levelDescriptor.LevelLabel
          </label>
          <div class="nhsuk-hint nhsuk-radios__hint" id="radio-@Model.Id-@levelDescriptor.LevelValue-item-hint">
            @levelDescriptor.LevelDescription
          </div>
        </div>
      }
    </div>
  </fieldset>
</div>
<div class="js-only-inline nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-6">
  <a class="deselect-all" href="javascript:void(0);" aria-label="Clear selection for '@Model.Question'"
     data-group="group@(Model.Id)">
    Clear selection
  </a>
</div>
<input hidden name="[@ViewData["index"]].Id" value="@Model.Id" />
