﻿@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.SelfAssessments
@model CompetencySelfAssessmentCertificateViewModel
<div class="pg-2">
    <div class="body">
        <h2>Activity summary report</h2>
        <br />
        @if (Model.CompetencySelfAssessmentCertificates.NonReportable)
        {
            <h3>THIS IS AN EXAMPLE ONLY, GENERATED FROM A TEST SELF ASSESSMENT</h3>
        }
        <div class="activity">
            <p><b>Activity: </b>@Model.CompetencySelfAssessmentCertificates.SelfAssessment</p>
        </div>
        <div class="activity">
            <p><b>Name: </b>@Model.CompetencySelfAssessmentCertificates.LearnerName</p>
        </div>
        <div class="activity">
            <p><b>Professional Registration Number: </b>@Model.CompetencySelfAssessmentCertificates.LearnerPRN</p>
        </div>
        <div class="activity">
            <p><b>Assessment question responses</b></p> <p>
                @Model.QuestionResponses
            </p>
        </div>
        <div class="activity">
            <p><b>Responses confirmed by nominated supervisor</b></p> <p>
                @Model.ConfirmedResponses
            </p>
        </div>
        <div class="activity">
            <p><b>Nominated supervisors</b></p><ul>
                @foreach (var accessor in Model.Accessors)
                {
                    <p>
                        @accessor.AccessorList
                    </p>

                }
            </ul>
        </div>
        <div class="activityline">
            <p><b>Signed Off By</b></p>
            @if (string.IsNullOrEmpty(@Model.CompetencySelfAssessmentCertificates.SupervisorPRN))
            {
                <p>
                    @Model.CompetencySelfAssessmentCertificates.SupervisorName
                </p>
            }
            else
            {
                <p>
                    @Model.CompetencySelfAssessmentCertificates.SupervisorName, @Model.CompetencySelfAssessmentCertificates.SupervisorPRN
                </p>
            }
        </div>
    </div>
    <p class="foot-note">Certificate generated on @DateTime.Now.ToString("dd/MM/yyyy")</p>
</div>
