@using DigitalLearningSolutions.Data.Models.SelfAssessments
@model AssessmentQuestion

<h5 class="nhsuk-u-margin-bottom-1">@Model.Question</h5>
<div class="nhsuk-grid-row">
  <div class="grid-column-85">
    <label class="left-label" for="@Model.Id-input">@Model.MinValueDescription</label>
    <label class="right-label" for="@Model.Id-input">@Model.MaxValueDescription</label>
  </div>
</div>
<div class="nhsuk-grid-row range-input-row nhsuk-u-margin-bottom-5">
  <div class="grid-column-85">
    <input type="range"
           id="@Model.Id-input"
           name="[@ViewData["index"]].Result"
           min="0"
           max="10"
           value="@(Model.Result ?? 0)"
           step="1"
           aria-valuemin="0"
           aria-valuemax="10"
           aria-valuenow="@(Model.Result ?? 0)">
  </div>
  <div class="grid-column-15">
    <span class="range-output" for="@Model.Id-input">0</span>
  </div>
  <input hidden name="[@ViewData["index"]].Id" value="@Model.Id" />
</div>
