@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.SelfAssessments
@model AddSupervisorViewModel
@{
    var errorHasOccurred = !ViewData.ModelState.IsValid;
    Layout = "SelfAssessments/_Layout";
    ViewData["Title"] = "Self Assessment";
    ViewData["SelfAssessmentTitle"] = @Model.SelfAssessmentName;
}
<link rel="stylesheet" href="@Url.Content("~/css/shared/searchableElements/searchableElements.css")" asp-append-version="true">

@section breadcrumbs {
    <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" asp-action="SelfAssessment" asp-route-selfAssessmentId="@Model.SelfAssessmentID">@Model.SelfAssessmentName</a>
    </li>
    <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" asp-action="ManageSupervisors" asp-route-selfAssessmentId="@Model.SelfAssessmentID">Manage Supervisors</a>
    </li>
    <li class="nhsuk-breadcrumb__item">Add</li>
}
@if (Model.JavascriptSearchSortFilterPaginateEnabled)
{
  <vc:loading-spinner page-has-side-nav-menu="false" />
}
@section mobilebacklink
{
    <p class="nhsuk-breadcrumb__back">
      @if(TempData["CentreID"] == null)
      {
        <a class="nhsuk-breadcrumb__backlink" asp-action="ManageSupervisors" asp-route-selfAssessmentId="@Model.SelfAssessmentID">Back to Manage Supervisors</a>
      }
      else
      {
        <a class="nhsuk-breadcrumb__backlink" asp-action="SelectSupervisorCentre" asp-route-selfAssessmentId="@Model.SelfAssessmentID">Back to Choose a centre</a>
      }
    </p>
}
<h1>New activity supervisor</h1>
<div id="@(Model.JavascriptSearchSortFilterPaginateEnabled ? "js-styling-hidden-area-while-loading" : "no-js-styling")">
    <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
            <form method="get" role="search" asp-route-page="@Model.Page">
                @if (errorHasOccurred)
                {
                    <vc:error-summary order-of-property-names="@(new[] {nameof(Model.SupervisorAdminID) })" />
                }
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-full">
                      <partial name="SearchablePage/_Search" model="Model" />
                    </div>
                </div>
                <nhs-form-group nhs-validation-for="SupervisorAdminID">
                    <fieldset class="nhsuk-fieldset">
                        <input type="hidden" asp-for="SelfAssessmentID" value="@Model.SelfAssessmentID" />
                        <input type="hidden" asp-for="SelfAssessmentName" value="@Model.SelfAssessmentName" />
                        <input type="hidden" asp-for="Supervisors" value="@Model.Supervisors" />
                        <input type="hidden" asp-for="SupervisorAdminID" value="@Model.SupervisorAdminID" />
                        <input type="hidden" asp-for="JavascriptSearchSortFilterPaginateEnabled" value="@Model.JavascriptSearchSortFilterPaginateEnabled" />
                        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                            <h2 class="nhsuk-fieldset__heading">
                                Choose a supervisor
                            </h2>
                        </legend>
                        <div class="nhsuk-hint" id="contact-hint">
                            Select your supervisor from the list below. If your supervisor is not listed, they will need to be given supervisor access by an administrator.
                        </div>

                        @if (errorHasOccurred)
                        {
                            <div class="nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-3">
                                <span class="error-message--margin-bottom-1 nhsuk-error-message">
                                    <span>@Html.ValidationMessageFor(x=>x.SupervisorAdminID)</span>
                                </span>
                            </div>
                        }
                        <partial name="SearchablePage/_SearchResultsCount" model="Model" />
                        <partial name="SearchablePage/_ResultCountAndPageAlerts" model="Model" />

                        <input type="hidden" aria-hidden="true" id="select-sort-by" value="SearchableName" />
                        <input type="hidden" aria-hidden="true" id="select-sort-direction" value="Ascending" />

                        <form id="frmSubmit" method="post" >
                            <div id="searchable-elements" class="nhsuk-radios">
                                @foreach (var supervisor in Model.Supervisors)
                                {
                                   <div Class="searchable-element nhsuk-u-padding-top-3">
                                    <div class="nhsuk-radios__item">
                                        <input class="nhsuk-radios__input" id="supervisor-@supervisor.AdminID" name="SupervisorAdminID" type="radio" checked="@(supervisor.AdminID == Model.SupervisorAdminID)" value="@supervisor.AdminID" aria-describedby="supervisor-@supervisor.AdminID-item-hint">
                                        <label class="nhsuk-label nhsuk-radios__label" for="supervisor-@supervisor.AdminID">
                                            @supervisor.Forename @supervisor.Surname (@supervisor.CentreName)
                                        </label>
                                        <div class="nhsuk-hint nhsuk-radios__hint" id="supervisor-@supervisor.AdminID-item-hint">
                                            @supervisor.Email
                                        </div>
                                    </div>
                                  </div>
                                }
                            </div> 
                            @if (Model.Supervisors.Count() > 0 || Model.MatchingSearchResults>0)
                            {
                                <button id="btnAddSupervisor" class="nhsuk-button nhsuk-u-margin-top-3" type="submit">
                                    Next
                                </button>
                            }
                        </form>

                    </fieldset>
                </nhs-form-group>
            </form>
            <div class="nhsuk-back-link">
                <a class="nhsuk-back-link__link"
                asp-action="ManageSupervisors"
                asp-route-selfAssessmentId="@ViewContext.RouteData.Values["selfAssessmentId"]">
                <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                  <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
                </svg>
                Cancel
                </a>
            </div>
        </div>
    </div>
</div>

@if (Model.JavascriptSearchSortFilterPaginateEnabled)
{
  @section scripts {
  <script src="@Url.Content("~/js/LearningPortal/supervisorList.js")" asp-append-version="true"></script>
}
}
