@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.SelfAssessments
@model AddSupervisorViewModel


@{
    var errorHasOccurred = !ViewData.ModelState.IsValid;
    Layout = "SelfAssessments/_Layout";
    ViewData["Title"] = "Self Assessment";
    ViewData["SelfAssessmentTitle"] = @Model.SelfAssessmentName;
}
@section breadcrumbs {
  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" asp-action="SelfAssessment" asp-route-selfAssessmentId="@Model.SelfAssessmentID">Self Assessment</a></li>
  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" asp-action="ManageSupervisors" asp-route-selfAssessmentId="@Model.SelfAssessmentID">Supervisors</a></li>
  <li class="nhsuk-breadcrumb__item">Add</li>
}
<link rel="stylesheet" href="@Url.Content("~/css/learningPortal/selfAssessment.css")" asp-append-version="true">
<h1>New activity supervisor</h1>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <form method="post">
      @if (errorHasOccurred)
      {
        <vc:error-summary order-of-property-names="@(new[] {nameof(Model.SupervisorEmail) })" />
      }
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <span class="nhsuk-fieldset__heading">
            Add a supervisor
          </span>
        </legend>
        <nhs-form-group nhs-validation-for="SelfAssessmentName">
          <input type="hidden" asp-for="SelfAssessmentID" value="@Model.SelfAssessmentID" />
          <input type="hidden" asp-for="SelfAssessmentName" value="@Model.SelfAssessmentName" />
          <vc:text-input asp-for="SupervisorEmail"
                         label="Supervisor email"
                         populate-with-current-value="true"
                         type="text"
                         spell-check="false"
                         hint-text="Enter the work email address of your supervisor."
                         autocomplete="email"
                         css-class="nhsuk-u-width-one-half" />
</nhs-form-group>
        </fieldset>
        <button class="nhsuk-button" type="submit">
          Next
        </button>
    </form>
  </div>
</div>
