@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.SelfAssessments
@using DigitalLearningSolutions.Web.Extensions
@model ManageOptionalCompetenciesViewModel
@{
    var errorHasOccurred = !ViewData.ModelState.IsValid;
    Layout = "SelfAssessments/_Layout";
    ViewData["Title"] = "Self Assessment - Optional Proficiencies";
    ViewData["SelfAssessmentTitle"] = @Model.SelfAssessment.Name;
    var backLinkData = Html.GetRouteValues();
}

@if (ViewBag.FromAddOptionalPage != null)
{
    @section breadcrumbs {
    <li class="nhsuk-breadcrumb__item">
        <div style="max-height:10px">
            <vc:back-link asp-controller="LearningPortal" asp-action="AddOptionalCompetencies" asp-all-route-data="@backLinkData" link-text="Go back" />
        </div>
    </li>
    }
}
else
{
    @section breadcrumbs {
    <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" asp-action="SelfAssessment" asp-route-selfAssessmentId="@Model.SelfAssessment.Id">@(Model.SelfAssessment.Name) introduction</a>
    </li>
    <li class="nhsuk-breadcrumb__item">
        <a class="nhsuk-breadcrumb__link" asp-action="SelfAssessmentOverview" asp-route-vocabulary="@Model.VocabPlural()" asp-route-selfAssessmentId="@Model.SelfAssessment.Id">@Model.VocabPlural() home</a>
    </li>
    <li class="nhsuk-breadcrumb__item">Manage optional @Model.VocabPlural()</li>
    }
}


@section mobilebacklink
{
    @if (ViewBag.FromAddOptionalPage != null)
    {
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" asp-action="AddOptionalCompetencies"
               asp-route-vocabulary="@Model.VocabPlural()"
               asp-route-selfAssessmentId="@Model.SelfAssessment.Id">
                Back to add optional @Model.VocabPlural().ToLower()?
            </a>
        </p>
    }
    else
    {
        <p class="nhsuk-breadcrumb__back">
            <a class="nhsuk-breadcrumb__backlink" asp-action="SelfAssessmentOverview"
               asp-route-vocabulary="@Model.VocabPlural()"
               asp-route-selfAssessmentId="@Model.SelfAssessment.Id">
                Back to @Model.VocabPlural()
            </a>
        </p>
    }
}

<link rel="stylesheet" href="@Url.Content("~/css/learningPortal/selfAssessment.css")" asp-append-version="true">
<h1>Optional @Model.VocabPlural().ToLower()</h1>
@if (errorHasOccurred)
{
    <vc:error-summary order-of-property-names="@(new[] { nameof(Model.IncludedSelfAssessmentStructureIds) })" />
}
<div class="nhsuk-u-reading-width">
    @if (Model.SelfAssessment.ManageOptionalCompetenciesPrompt != null)
    {
        <div class="nhsuk-warning-callout">
            <h2 class="nhsuk-warning-callout__label">
                <span role="text">
                    <span class="nhsuk-u-visually-hidden">Important: </span>
                    How to choose your optional @Model.VocabPlural().ToLower()
                </span>
            </h2>
            <div>@Html.Raw(Model.SelfAssessment.ManageOptionalCompetenciesPrompt)</div>
        </div>
    }
    <form method="post">
        <nhs-form-group nhs-validation-for="IncludedSelfAssessmentStructureIds">
            <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend">
                    <h2>
                        Select your optional @Model.VocabPlural().ToLower()
                    </h2>
                </legend>


                @foreach (var competencyGroup in Model.CompetencyGroups)
                {
                    @if (competencyGroup.Count() > 1)
                    {
                        @if (competencyGroup.Any(x => x.GroupOptionalCompetencies))
                        {
                            <div class="nhsuk-checkboxes__item nhsuk-u-margin-bottom-6">
                                <input data-group="@competencyGroup.Key" class="nhsuk-checkboxes__input" id="result-check-@competencyGroup.Key" name="groupOptionalCompetenciesChecked" checked="@(competencyGroup.Any(x => x.IncludedInSelfAssessment == true) ? true : false)" type="checkbox" value="@competencyGroup.Key">
                                <label class="nhsuk-label nhsuk-checkboxes__label heading-checkboxes__label" for="result-check-@competencyGroup.Key" aria-details="@competencyGroup.Key-details">
                                    <h3 class="nhsuk-u-margin-bottom-2">
                                        @competencyGroup.Key
                                    </h3>
                                </label>
                                <div class="nhsuk-checkboxes__description" id="@competencyGroup.Key-details">
                                    <details class="nhsuk-details">
                                        <summary class="nhsuk-details__summary">
                                            <span class="nhsuk-details__summary-text" role="button">
                                                What&rsquo;s included in the <span class="nhsuk-u-visually-hidden"> @competencyGroup.Key </span>group
                                            </span>
                                        </summary>

                                        <div class="nhsuk-details__text">
                                            <ul>

                                                @foreach (var competency in competencyGroup)
                                                {
                                                    <li>
                                                        @foreach (var flag in competency.CompetencyFlags)
                                                        {
                                                            <span class="nhsuk-u-padding-right-2 @(ViewData["cssClass"]?.ToString())">
                                                                <strong class="nhsuk-tag @flag.FlagTagClass">
                                                                    @flag.FlagName
                                                                </strong>
                                                            </span>
                                                        }
                                                        @competency.Name
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </details>
                                </div>
                            </div>

                        }
                        else
                        {
                            <div class="nhsuk-u-margin-bottom-6">
                                <h3>
                                    @competencyGroup.Key
                                </h3>
                                <div class="nhsuk-checkboxes">
                                    @foreach (var competency in competencyGroup)
                                    {
                                        <div class="nhsuk-checkboxes__item">
                                            <input class="nhsuk-checkboxes__input" data-group="@competencyGroup.Key" id="competency-check-@competency.SelfAssessmentStructureId" name="IncludedSelfAssessmentStructureIds" checked="@(Model.IncludedSelfAssessmentStructureIds != null ? Model.IncludedSelfAssessmentStructureIds.Contains((int)competency.SelfAssessmentStructureId) : false)" type="checkbox" value="@competency.SelfAssessmentStructureId">
                                            <label class="nhsuk-label nhsuk-checkboxes__label" for="competency-check-@competency.SelfAssessmentStructureId">
                                                @foreach (var flag in competency.CompetencyFlags)
                                                {
                                                    <span class="nhsuk-u-padding-right-2 @(ViewData["cssClass"]?.ToString())">
                                                        <strong class="nhsuk-tag @flag.FlagTagClass">
                                                            @flag.FlagName
                                                        </strong>
                                                    </span>
                                                }

                                                @competency.Name
                                            </label>
                                        </div>

                                    }
                                </div>
                            </div>
                        }
                    }

                }
            </fieldset>
        </nhs-form-group>
        <button class="nhsuk-button" type="submit">Submit</button>
    </form>
</div>
<div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link"
       asp-action="SelfAssessmentOverview"
       asp-route-selfAssessmentId="@Model.SelfAssessment.Id" asp-route-vocabulary="@Model.VocabPlural()">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
            <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
        </svg>
        Cancel
    </a>
</div>
