@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.SelfAssessments
@model RequestSignOffViewModel
@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  Layout = "SelfAssessments/_Layout";
  ViewData["Title"] = "Self Assessment";
  ViewData["SelfAssessmentTitle"] = @Model.SelfAssessment.Name;
}
@section breadcrumbs {
  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" asp-action="SelfAssessment" asp-route-selfAssessmentId="@Model.SelfAssessment.Id">@Model.SelfAssessment.Name</a></li>
  <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" asp-action="SelfAssessmentOverview" asp-route-vocabulary="@Model.VocabPlural()" asp-route-selfAssessmentId="@Model.SelfAssessment.Id">@Model.VocabPlural()</a></li>
  <li class="nhsuk-breadcrumb__item">Request Sign Off</li>
}
<p class="nhsuk-breadcrumb__back">
  <a class="nhsuk-breadcrumb__backlink" asp-action="SelfAssessmentOverview"
     asp-route-vocabulary="@Model.VocabPlural()"
     asp-route-selfAssessmentId="@Model.SelfAssessment.Id">
    Back to @Model.VocabPlural()
  </a>
</p>
<link rel="stylesheet" href="@Url.Content("~/css/learningPortal/selfAssessment.css")" asp-append-version="true">
@if (errorHasOccurred)
{
  <vc:error-summary order-of-property-names="@(new[] {nameof(Model.CandidateAssessmentSupervisorId) })" />
}
@if (Model.Supervisors.Any())
{
  <form method="post">
    <fieldset class="nhsuk-fieldset">
      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">
          Request @Model.SelfAssessment.SignOffRoleName Sign-off
        </h1>
        <div class="nhsuk-hint">
          You are requesting sign-off of the activity <strong>@Model.SelfAssessment.Name</strong>. Please choose the @Model.SelfAssessment.SignOffRoleName that you wish to request sign-off from and confirm that you wish to request sign-off.
        </div>

      </legend>
      <nhs-form-group nhs-validation-for="CandidateAssessmentSupervisorId">
        <div class="nhsuk-radios">
          @foreach (var supervisor in Model.Supervisors)
          {
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="radio-@supervisor.ID" asp-for="CandidateAssessmentSupervisorId" type="radio" value="@supervisor.ID">
              <label class="nhsuk-label nhsuk-radios__label" for="radio-@supervisor.ID">
                @supervisor.SupervisorName (@supervisor.SupervisorEmail) - @supervisor.RoleName
              </label>
            </div>
          }
        </div>
      </nhs-form-group>
      <nhs-form-group nhs-validation-for="StatementChecked">
        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="cb-sign-off" name="StatementChecked" asp-for="StatementChecked" type="checkbox">
          <label class="nhsuk-label nhsuk-checkboxes__label" for="cb-sign-off">
            @Html.Raw((Model.SelfAssessment.SignOffRequestorStatement == null ? "I confirm that this profile self-assessment accurately captures my current capability in the areas assessed." : Model.SelfAssessment.SignOffRequestorStatement))
          </label>
        </div>
      </nhs-form-group>
    </fieldset>

    <button class="nhsuk-button" type="submit">
      Submit request
    </button>
  </form>

  <p>Can't see the supervisor you need? <a asp-action="ManageSupervisors" asp-route-selfAssessmentId="@Model.SelfAssessment.Id">Click here</a> to manage supervisors.</p>
  <div class="nhsuk-back-link">
    <a class="nhsuk-back-link__link"
       asp-action="SelfAssessmentOverview" asp-route-vocabulary="@Model.VocabPlural()"
       asp-route-selfAssessmentId="@Model.SelfAssessment.Id">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
      </svg>
      Cancel
    </a>
  </div>
}
else
{
<p>No supervisors are identified who can sign-off the activity <strong>@Model.SelfAssessment.Name</strong> who don't have an outstanding sign-off request.</p>
<p><a asp-action="ManageSupervisors" asp-route-selfAssessmentId="@Model.SelfAssessment.Id">Click here</a> to manage supervisors.</p>
  <div class="nhsuk-action-link">
    <a class="nhsuk-back-link__link"
       asp-action="SelfAssessmentOverview" asp-route-vocabulary="@Model.VocabPlural()"
       asp-route-selfAssessmentId="@Model.SelfAssessment.Id">
      <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
        <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
      </svg>
      Cancel
    </a>
  </div>
}
