@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.SelfAssessments
@model SupervisorCentresViewModel


@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  Layout = "SelfAssessments/_Layout";
  ViewData["Title"] = "Self Assessment";
  ViewData["SelfAssessmentTitle"] = @Model.SelfAssessmentName;
}
@section breadcrumbs {
  <li class="nhsuk-breadcrumb__item">
    <a class="nhsuk-breadcrumb__link" asp-action="SelfAssessment" asp-route-selfAssessmentId="@Model.SelfAssessmentID">@Model.SelfAssessmentName</a>
  </li>
  <li class="nhsuk-breadcrumb__item">
    <a class="nhsuk-breadcrumb__link" asp-action="ManageSupervisors" asp-route-selfAssessmentId="@Model.SelfAssessmentID">Manage Supervisors</a>
  </li>
  <li class="nhsuk-breadcrumb__item">Add</li>
}
  @section mobilebacklink
  {
  <p class="nhsuk-breadcrumb__back">
    <a class="nhsuk-breadcrumb__backlink" asp-action="ManageSupervisors" asp-route-selfAssessmentId="@Model.SelfAssessmentID">Back to Manage Supervisors </a>
  </p>
}
  <link rel="stylesheet" href="@Url.Content("~/css/learningPortal/selfAssessment.css")" asp-append-version="true">
  <h1>New activity supervisor</h1>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <form method="post">
        @if (errorHasOccurred)
      {
        <vc:error-summary order-of-property-names="@(new[] {nameof(Model.CentreID) })" />
      }
      <nhs-form-group nhs-validation-for="CentreID">
        <fieldset class="nhsuk-fieldset">
          <input type="hidden" asp-for="SelfAssessmentID" value="@Model.SelfAssessmentID" />
          <input type="hidden" asp-for="SelfAssessmentName" value="@Model.SelfAssessmentName" />
          <input type="hidden" asp-for="Centres" value="@Model.Centres" />
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h2 class="nhsuk-fieldset__heading">
              Choose a centre
            </h2>
          </legend>
          <div class="nhsuk-hint" id="contact-hint">
            Choose the centre that you wish to add a supervisor from.
          </div>
          <div class="nhsuk-radios">
            @foreach (var centre in Model.Centres)
            {
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="supervisor-centre-@centre.CentreId" asp-for="CentreID" name="CentreID" type="radio" value="@centre.CentreId">
                <label class="nhsuk-label nhsuk-radios__label" for="supervisor-centre-@centre.CentreId">
                  @centre.CentreName
                </label>
              </div>
            }
          </div>
        </fieldset>
      </nhs-form-group>
      @if (Model.Centres.Count() > 0)
      {
        <button class="nhsuk-button" type="submit">
          Next
        </button>
      }
    </form>
  </div>
</div>
<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link"
     asp-action="ManageSupervisors"
     asp-route-selfAssessmentId="@ViewContext.RouteData.Values["selfAssessmentId"]">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" focusable='false' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
      <path d="M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z"></path>
    </svg>
    Cancel
  </a>
</div>
