@using DigitalLearningSolutions.Web.ViewModels.LearningPortal.SelfAssessments
@using Microsoft.Extensions.Configuration
@model SelfAssessmentDescriptionViewModel
@inject IConfiguration Configuration

@{
  Layout = "SelfAssessments/_Layout";
  ViewData["Title"] = "Self Assessment";
  ViewData["SelfAssessmentTitle"] = @Model.Name;
}
@section breadcrumbs {
  <li class="nhsuk-breadcrumb__item">Self Assessment</li>
}
<h1>@Model.Name</h1>
<p class="nhsuk-u-reading-width">@Model.Description</p>
@if (Model.UseFilteredApi)
{
<p class="nhsuk-u-reading-width">Once you have completed the self-assessment, your results will be submitted to the Magpie sign-posting tool which will recommend suitable learning modules.</p>
}
@if (Model.UserBookmark != null)
{
<a class="nhsuk-button trigger-loader" href="@Configuration["AppRootPath"]@Model.UserBookmark">
  Continue
</a>
}
<a class=@(Model.UserBookmark != null ? "nhsuk-button nhsuk-button--secondary" : "nhsuk-button") asp-action="SelfAssessmentCompetency" asp-route-selfAssessmentId="@Model.Id" asp-route-competencyNumber="1">
  Go to Question 1
</a>
