@using DigitalLearningSolutions.Web.ViewModels.LearningPortal
@model SelfAssessmentReviewViewModel

@{
  Layout = "SelfAssessments/_Layout";
  ViewData["Title"] = "Self Assessment";
  ViewData["SelfAssessmentTitle"] = @Model.SelfAssessment.Name;
}

<link rel="stylesheet" href="@Url.Content("~/css/learningPortal/selfAssessment.css")" asp-append-version="true">
<h1>@Model.SelfAssessment.Name - Review</h1>

@if (@Model.CompetencyGroups.Any())
{
  foreach (var competencyGroup in @Model.CompetencyGroups)
  {
    <h3 class="competency-group-title">@competencyGroup.Key</h3>

    @foreach (var competency in competencyGroup)
    {
      <div class="nhsuk-panel review-card">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-third">
            <h4>@competency.Description</h4>
          </div>
          @foreach (var question in competency.AssessmentQuestions)
          {
            <div class="nhsuk-grid-column-one-third">
              <h5 class="review-question">@question.Question</h5>
              <p class="review-result">@question.Result / 10</p>
            </div>
          }
        </div>
      </div>
    }
  }
}
else
{
  <p class="nhsuk-u-reading-width">You have not submitted any self assessment answers. Please <a asp-action="SelfAssessment">click here</a> to start from the beginning.</p>
}

<a class="nhsuk-button finish-review-button" asp-action="Current">
  Finish self assessment
</a>

<div class="nhsuk-back-link">
  <a class="nhsuk-back-link__link" asp-action="SelfAssessmentCompetency" asp-route-competencyNumber="@(Model.PreviousCompetencyNumber)">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back
  </a>
</div>
