@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.CourseDelegates
@model DelegateProgressViewModel

<dl class="nhsuk-summary-list">

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Supervisor
    </dt>
    <dd class="nhsuk-summary-list__value">
      @Model.SupervisorFullName
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a asp-controller="DelegateProgress"
         asp-action="EditSupervisor"
         asp-route-progressId="@Model.ProgressId"
         asp-route-accessedVia="@Model.AccessedVia"
         asp-route-returnPage="@Model.Page">
        Edit<span class="nhsuk-u-visually-hidden"> supervisor</span>
      </a>
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Enrolled
    </dt>
    <dd class="nhsuk-summary-list__value">
      @Model.Enrolled
    </dd>
    <dd class="nhsuk-summary-list__actions" />
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Complete by
    </dt>
    <partial name="_SummaryFieldValue" model="Model.CompleteBy" />
    <dd class="nhsuk-summary-list__actions">
      <a asp-controller="DelegateProgress"
         asp-action="EditCompleteByDate"
         asp-route-progressId="@Model.ProgressId"
         asp-route-accessedVia="@Model.AccessedVia"
         asp-route-returnPage="@Model.Page">
        Edit<span class="nhsuk-u-visually-hidden"> complete by date</span>
      </a>
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Last updated
    </dt>
    <dd class="nhsuk-summary-list__value">
      @Model.LastUpdated
    </dd>
    <dd class="nhsuk-summary-list__actions" />
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Completion date
    </dt>
    <partial name="_SummaryFieldValue" model="Model.Completed" />
    <dd class="nhsuk-summary-list__actions">
      <a asp-controller="DelegateProgress"
         asp-action="EditCompletionDate"
         asp-route-progressId="@Model.ProgressId"
         asp-route-accessedVia="@DelegateProgressAccessRoute.CourseDelegates"
         asp-route-returnPage="@Model.Page">
        Edit
      </a>
    </dd>
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Evaluation date
    </dt>
    <partial name="_SummaryFieldValue" model="Model.Evaluated" />
    <dd class="nhsuk-summary-list__actions" />
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Removed date
    </dt>
    <partial name="_SummaryFieldValue" model="Model.RemovedDate" />
    <dd class="nhsuk-summary-list__actions" />
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Enrolment method
    </dt>
    <dd class="nhsuk-summary-list__value">
      @Model.EnrolmentMethod
    </dd>
    <dd class="nhsuk-summary-list__actions" />
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Logins
    </dt>
    <dd class="nhsuk-summary-list__value">
      @Model.LoginCount
    </dd>
    <dd class="nhsuk-summary-list__actions" />
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Learning time (mins)
    </dt>
    <dd class="nhsuk-summary-list__value">
      @Model.LearningTime
    </dd>
    <dd class="nhsuk-summary-list__actions" />
  </div>

  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Diagnostic score
    </dt>
    <partial name="_SummaryFieldValue" model="Model.DiagnosticScore?.ToString()" />
    <dd class="nhsuk-summary-list__actions" />
  </div>

  @if (Model.IsAssessed) {
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Assessments passed
      </dt>
      <dd class="nhsuk-summary-list__value">
        @Model.AttemptsPassed
      </dd>
      <dd class="nhsuk-summary-list__actions" />
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Assessment attempts
      </dt>
      <dd class="nhsuk-summary-list__value">
        @Model.TotalAttempts
      </dd>
      <dd class="nhsuk-summary-list__actions" />
    </div>

    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Pass rate
      </dt>
      <dd class="nhsuk-summary-list__value">
        @Model.PassRate%
      </dd>
      <dd class="nhsuk-summary-list__actions" />
    </div>
  }

  @foreach (var prompt in Model.CustomFields) {
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        @prompt.CustomPrompt
      </dt>
      <partial name="_SummaryFieldValue" model="prompt.Answer" />
      <dd class="nhsuk-summary-list__actions">
        <a href="#">
          Edit<span class="nhsuk-u-visually-hidden"> @prompt.CustomPrompt</span>
        </a>
      </dd>
    </div>
  }

</dl>
