@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateProgress
@model SectionProgressViewModel

<div class="nhsuk-grid-column-full basic-summary-list nhsuk-u-margin-bottom-3">
  <div class="nhsuk-body-l nhsuk-u-font-weight-bold word-break">
    @Model.SectionName
  </div>
  <div class="nhsuk-summary-list__row basic-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Completion
    </dt>
    <dd class="nhsuk-summary-list__value">
      @Model.Completion
    </dd>
  </div>
  <div class="nhsuk-summary-list__row basic-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      Learning Time
    </dt>
    <dd class="nhsuk-summary-list__value">
      @Model.TotalTime min (average learning time is @Model.AverageTime min)
    </dd>
  </div>
  @if (Model.PostLearningAssessment) {
    @if (Model.Attempts > 0) {
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Outcome
        </dt>
        <dd class="nhsuk-summary-list__value">
          @Model.Outcome
        </dd>
      </div>
    }
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Attempts
      </dt>
      <dd class="nhsuk-summary-list__value">
        @(Model.Attempts > 0 ? Model.Attempts.ToString() : "Not attempted")
      </dd>
    </div>
    <div class="nhsuk-summary-list__row">
      <dt class="nhsuk-summary-list__key">
        Passed/Failed
      </dt>
      <dt class="nhsuk-summary-list__value">
        @(Model.Passed ? "Passed" : "Failed")
      </dt>
    </div>
  }
  <div class="nhsuk-u-margin-top-3">
    <partial name="_TutorialProgressTable" model="Model.Tutorials" />
  </div>
</div>

