@inject IConfiguration configuration
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateProgress
@using Microsoft.Extensions.Configuration
@model RemoveFromCourseViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Remove enrolment" : "Remove enrolment";

  var cancelLinkRouteData = new Dictionary<string, string>();

  if (Model.AccessedVia.Equals(DelegateAccessRoute.CourseDelegates)) {
    cancelLinkRouteData.Add("customisationId", Model.CustomisationId.ToString());
  } else {
    cancelLinkRouteData.Add("delegateId", Model.DelegateId.ToString());
  }
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Confirm) })" />
    }
    <h1 class="nhsuk-heading-xl">Remove enrolment</h1>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter nhsuk-heading-l nhsuk-u-font-weight-bold">
    Delegate:
  </div>
  <div class="nhsuk-grid-column-three-quarters nhsuk-heading-l nhsuk-u-font-weight-normal word-break">
    @Model.Name
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-one-quarter nhsuk-heading-l nhsuk-u-font-weight-bold">
    Activity:
  </div>
  <div class="nhsuk-grid-column-three-quarters nhsuk-heading-l nhsuk-u-font-weight-normal word-break">
    @Model.CourseName
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <form class="nhsuk-u-margin-bottom-3"
          asp-action="ExecuteRemoveFromCourse"
          asp-route-delegateId="@Model.DelegateId"
          asp-route-customisationId="@Model.CustomisationId"
          asp-route-accessedVia="@Model.AccessedVia">
      <input type="hidden" asp-for="@Model.Name" />
      <input type="hidden" asp-for="@Model.CourseName" />
      <input type="hidden" asp-for="@Model.ReturnPageQuery" />

      <vc:single-checkbox asp-for="@nameof(Model.Confirm)"
                          label="I am sure that I wish to remove this enrolment"
                          hint-text="This action will remove the activity from the delegate’s Current Activities list and archive their progress." />

      <button class="nhsuk-button delete-button" role="button" type="submit">Remove enrolment</button>
    </form>
    @if (Model.AccessedVia.Equals(DelegateAccessRoute.CourseDelegates)) {
      <vc:cancel-link-with-return-page-query asp-controller="CourseDelegates" asp-action="Index" route-data="@cancelLinkRouteData" return-page-query="@Model.ReturnPageQuery!.Value" />
    } else {
      <vc:cancel-link asp-controller=ViewDelegate asp-action="Index" asp-all-route-data="@cancelLinkRouteData" />
    }
  </div>
</div>
