@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateProgress
@model DetailedCourseProgressViewModel

@{
  ViewData["Title"] = "Detailed progress";
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>
    <div class="nhsuk-card">
      <div class="nhsuk-card__content basic-card-content">
        <dl class="nhsuk-summary-list">
          <div class="nhsuk-summary-list__row basic-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Name
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.DelegateName
            </dd>
          </div>
          <div class="nhsuk-summary-list__row basic-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Email
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.DelegateEmail
            </dd>
          </div>
          <div class="nhsuk-summary-list__row basic-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Delegate ID
            </dt>
            <dd class="nhsuk-summary-list__value">
              @Model.DelegateNumber
            </dd>
          </div>
          @*last access/etc?*@
        </dl>
      </div>
    </div>
    <div class="nhsuk-grid-row nhsuk-inset-text">
      <div class="nhsuk-grid-column-one-half nhsuk-body-l">
        Overall diagnostic score:
      </div>
      <div class="nhsuk-grid-column-three-half nhsuk-body-l nhsuk-u-font-weight-bold word-break">
        @Model.DiagnosticScore
      </div>
    </div>
    @foreach (var section in Model.Sections) {
      <partial name="_SectionProgress" model="section" />
    }
  </div>
</div>

