@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateProgress
@model PreviewProgressViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head id="Head1">
    <title>
        Delegate progress summary
    </title>
    <link href="https://learninghub.nhs.uk/css/site.css" rel="stylesheet" asp-append-version="true" />
    <style type="text/css">
        body, html {
            background-color: #D9ECFF !important;
        }

        .col {
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            min-width: 0;
            max-width: 100%;
        }

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            width: 100%;
        }

        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: justify;
            justify-content: space-between;
            flex-direction: column;
            max-width: 1140px;
        }

        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem
        }

        .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1.25rem
        }

        .card-default {
            border-color: #00529E !important;
            border-style: solid !important;
            border-width: 3px !important;
        }

        .float-right {
            float: right !important
        }

        #header,
        #footer {
            display: none !important;
        }

        .no-print, .no-print * {
            display: none !important;
        }

        *,
        *::before,
        *::after {
            text-shadow: none !important;
            box-shadow: none !important;
        }

        p {
            orphans: 3;
            widows: 3;
        }

        body {
            min-width: 992px !important;
        }

        .container {
            min-width: 992px !important;
        }

        .heading2 {
            font-size: 2rem !important;
        }

        .heading3 {
            font-size: 1.75rem;
        }

        .heading4 {
            font-size: 1.5rem;
            font-weight: 600 !important;
        }

        .heading2, .heading3, heading4 {
            line-height: 1.2;
            display: block;
            font-weight: 600 !important;
            margin-top: 0;
            margin-bottom: 16px;
            color: #000000;
            font-family: Verdana, Arial, Helvetica, sans-serif !important;
        }
    </style>
</head>
<body>
    <div class="maincontentcontainer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card card-default">
                        <div class="card-body">
                            <div>
                                <div style="height:40px">
                                    Progress as at: <span id="lblCurrentDate">@DateTime.Now.ToString("dd MMMM yyyy")</span>
                                </div>
                                <h2 class="heading2" style="font-weight:bold !important; color:#000066 !important">Progress Summary for @Model.CandidateName (@Model.CandidateNumber)</h2>
                                <h3 class="heading3">@Model.CourseName</h3>
                                @if (Model.IsAssessed)
                                {
                                        <h4 class="heading4">To complete this course, you must pass all post learning assessments</h4>
                                }
                                else if (Model.DiagCompletionThreshold > 0 && Model.TutCompletionThreshold > 0 && (!Model.IsAssessed))
                                {
                                        <h4 class="heading4">To complete this course, you must achieve @Model.DiagCompletionThreshold% in the diagnostic assessment and complete @Model.TutCompletionThreshold% of the learning materials")</h4>
                                }
                                else if (Model.DiagCompletionThreshold == 0 && (!Model.IsAssessed))
                                {
                                        <h4 class="heading4">To complete this course, you must complete @Model.TutCompletionThreshold% of the learning materials</h4>
                                }
                                else if (Model.TutCompletionThreshold == 0 && (!Model.IsAssessed))
                                {
                                        <h4 class="heading4">To complete this course, you must achieve @Model.DiagCompletionThreshold% in the diagnostic assessment</h4>
                                }
                                <br />

                                <table width="100%">
                                    <tr>
                                        <td width="25%" height="35px">
                                            Course Status:
                                        </td>
                                        <td style="padding-left:20px; font-weight:bold">
                                            <span>@Model.CourseStatus</span>
                                        </td>
                                    </tr>
                                    @if (Model.DiganosticScorePercent != null && Model.DiganosticScorePercent > 0)
                                    {
                                            <tr>
                                                <td height="35px">
                                                    Diagnostic Score:
                                                </td>
                                                <td style="padding-left:20px">
                                                @Model.DiganosticScorePercent%
                                                </td>
                                            </tr>
                                    }
                                    @if (Model.LearningCompletedPercent > 0)
                                    {

                                            <tr>
                                                <td height="35px">
                                                    Learning Completed:
                                                </td>
                                                <td style="padding-left:20px">
                                                    <span>@Model.LearningCompletedPercent%</span>
                                                </td>
                                            </tr>
                                    }
                                    <tr>
                                        <td height="35px">
                                            Assessments Passed:
                                        </td>
                                        <td style="padding-left:20px">
                                            <span>@Model.AssessmentsPassed</span>
                                        </td>
                                    </tr>
                                </table>
                                <br />

                                <table role="table" class="table table-striped nhsuk-lede-text--small nhsuk-table-responsive__heading">
                                    <tr>
                                        <th align="left">
                                            Section
                                        </th>
                                        <th align="left">
                                            Diagnostic Score
                                        </th>
                                        <th align="left">
                                            Learning % / time
                                        </th>
                                        <th align="left">
                                            Post Learning Assessment
                                        </th>
                                    </tr>
                                    <tbody>
                                        @foreach (var entry in Model.SectionDetails)
                                        {
                                                <tr>
                                                    <td>
                                                    @entry.SectionName
                                                    </td>
                                                    <td>
                                                    @(entry.DiagAttempts > 0 ?
                                                            @entry.SecScore.ToString() + " / " + @entry.SecOutOf.ToString() + " - " + @entry.DiagAttempts.ToString()
                                                            : "Not attempted".ToString())
                                                    </td>
                                                    <td>
                                                    @(entry.PCComplete.ToString() + "% complete " + @entry.TimeMins.ToString() + " mins")
                                                    </td>
                                                    <td>
                                                    @{
                                                        var result = "";
                                                        if (entry.AttemptsPL > 0) result = @entry.MaxScorePL.ToString() + "% - " + @entry.AttemptsPL.ToString() + " attempt(s) ";
                                                        if (entry.AttemptsPL == 0 && entry.IsAssessed) result += "Not attempted";
                                                        if (entry.AttemptsPL > 0 && entry.PLPassed && entry.IsAssessed) result += "PASSED";
                                                        if (entry.AttemptsPL > 0 && !entry.PLPassed && entry.IsAssessed) result += "FAILED";
                                                    }
                                                    @result
                                                    </td>
                                                </tr>
                                        }
                                    </tbody>
                                </table>
                                <h2 class="heading2">Achievements</h2>
                                <h4 class="heading4">The following post learning assessments have been passed:</h4>
                                <br />
                                <table role="table" class="table table-striped nhsuk-lede-text--small">
                                    <tr>
                                        <th align="left">
                                            Assessment
                                        </th>
                                        <th align="left">
                                            Outcome
                                        </th>
                                    </tr>
                                    <tbody>
                                        @foreach (var entry in Model.SectionDetails.Where(pass => pass.PLPassed))
                                        {
                                                <tr>
                                                    <td>
                                                    @entry.SectionName
                                                    </td>
                                                    <td style="color:#0e6935;font-weight:normal;">
                                                    @("PASSED")
                                                    </td>
                                                </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>











