@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateProgress
@model EditDelegateCourseAdminFieldViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  var pageTitle = $"Edit {Model.PromptText} field for {Model.CourseName}";
  ViewData["Title"] = errorHasOccurred ? $"Error: {pageTitle}" : pageTitle;

  const string blankRadioId = "leave-blank";

  var routeParamsForBackLink = new Dictionary<string, string?>();
  string cancelLinkController;

  // TODO: HEEDLS-862 Account for all possible access routes in back link
  if (Model.AccessedVia.Equals(DelegateAccessRoute.CourseDelegates)) {
    routeParamsForBackLink.Add("accessedVia", Model.AccessedVia.ToString());
    routeParamsForBackLink.Add("progressId", Model.ProgressId.ToString());
    cancelLinkController = "DelegateProgress";
  } else {
    routeParamsForBackLink.Add("delegateId", Model.DelegateId.ToString());
    cancelLinkController = "ViewDelegate";
  }
}

@*TODO: HEEDLS-862 - Change these breadcrumbs to account for all access routes*@

@section NavBreadcrumbs {
  @if (Model.AccessedVia.Equals(DelegateAccessRoute.CourseDelegates)) {
    <partial name="~/Views/TrackingSystem/Delegates/Shared/_CourseDelegatesProgressBreadcrumbs.cshtml" model="(Model.CustomisationId, Model.ProgressId)" />
  } else {
    <partial name="~/Views/TrackingSystem/Delegates/Shared/_ViewDelegateProgressBreadcrumbs.cshtml" model="(Model.DelegateId, Model.ProgressId)" />
  }
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@new []{ nameof(@Model.Answer)}" />
    }

    <h1 class="nhsuk-heading-xl word-break">@pageTitle</h1>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-body-l">
        Delegate
      </div>
      <div class="nhsuk-grid-column-three-quarters nhsuk-body-l nhsuk-u-font-weight-bold word-break">
        @Model.DelegateName
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">

        <form class="nhsuk-u-margin-bottom-3" method="post" novalidate>
          <input type="hidden" asp-for="DelegateId" />
          <input type="hidden" asp-for="ProgressId" />

          @if (Model.Options.Count > 0) {
            <div class="nhsuk-radios nhsuk-u-margin-bottom-4">
              @foreach (var radio in Model.Radios) {
                var isBlankOption = radio.Value == string.Empty;
                var radioId = isBlankOption ? blankRadioId : radio.Value;
                <div class="nhsuk-radios__item nhsuk-u-margin-bottom-3 @(isBlankOption ? "nhsuk-u-margin-top-6" : "")">
                  <input class="nhsuk-radios__input"
                         id="@radioId"
                         name="@nameof(Model.Answer)"
                         type="radio"
                         value="@radio.Value"
                         aria-describedby="@radioId-item-hint"
                         @(radio.Selected ? "checked" : string.Empty) />
                  <label class="nhsuk-label nhsuk-radios__label" for="@radioId">
                    @radio.Label
                  </label>
                </div>
              }
            </div>
          } else {
            <vc:text-input asp-for="@nameof(Model.Answer)"
                           label="Answer"
                           populate-with-current-value="true"
                           type="text"
                           spell-check="true"
                           autocomplete=""
                           hint-text="Answer must be 100 characters or fewer."
                           css-class="nhsuk-u-width-full" />
          }

          <button class="nhsuk-button" type="submit">Save</button>
        </form>
      </div>
    </div>

    <vc:cancel-link asp-controller="@cancelLinkController" asp-action="Index" asp-all-route-data="@routeParamsForBackLink" />
  </div>
</div>
