@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateProgress
@model EditCompleteByDateViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Edit complete by date" : "Edit complete by date";
  var routeParamsForBackLink = new Dictionary<string, string?>();

  if (Model.AccessedVia.Equals(DelegateAccessRoute.CourseDelegates)) {
    routeParamsForBackLink.Add("accessedVia", Model.AccessedVia.ToString());
    routeParamsForBackLink.Add("progressId", Model.ProgressId.ToString());
    routeParamsForBackLink.Add("returnPage", Model.ReturnPage.ToString());
  } else {
    routeParamsForBackLink.Add("delegateId", Model.DelegateId.ToString());
  }

  var exampleDate = DateTime.Today;
  var hintTextLines = new List<string> {
    $"For example, {exampleDate.Day} {exampleDate.Month} {exampleDate.Year}. Leave the boxes blank to clear the complete by date.",
    "Activities with no complete by date will be removed after 6 months of inactivity.",
  };
}

@* TODO: These breadcrumbs will need to be corrected once 862 has been completed. Info can be found in the ticket. *@

@section NavBreadcrumbs {
  @if (Model.AccessedVia.Equals(DelegateAccessRoute.CourseDelegates)) {
    <partial name="~/Views/TrackingSystem/Delegates/Shared/_CourseDelegatesProgressBreadcrumbs.cshtml" model="(Model.CustomisationId, Model.ProgressId)" />
  } else {
    <partial name="~/Views/TrackingSystem/Delegates/Shared/_ViewDelegateProgressBreadcrumbs.cshtml" model="(Model.DelegateId, Model.ProgressId)" />
  }
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Day), nameof(Model.Month), nameof(Model.Year) })" />
    }

    <h1 class="nhsuk-heading-xl">Edit complete by date for @Model.CourseName</h1>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-body-l">
        Delegate
      </div>
      <div class="nhsuk-grid-column-three-quarters nhsuk-body-l nhsuk-u-font-weight-bold word-break">
        @Model.DelegateName
      </div>
    </div>

    <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="EditCompleteByDate">
      <input type="hidden" asp-for="DelegateId" />
      <input type="hidden" asp-for="ProgressId" />
      <input type="hidden" asp-for="DelegateName" />
      <input type="hidden" asp-for="CourseName" />
      <input type="hidden" asp-for="ReturnPage" />
      <vc:date-input id="complete-by-date"
                     label="Complete by date:"
                     day-id="Day"
                     month-id="Month"
                     year-id="Year"
                     css-class="nhsuk-u-margin-bottom-4"
                     hint-text-lines="@hintTextLines" />

      <button class="nhsuk-button" type="submit">Save</button>
    </form>

    @if (Model.AccessedVia.Equals(DelegateAccessRoute.CourseDelegates)) {
      <vc:cancel-link asp-controller="DelegateProgress" asp-action="Index" link-text="Go back" asp-all-route-data="@routeParamsForBackLink" />
    } else {
      <vc:cancel-link asp-controller="ViewDelegate" asp-action="Index" link-text="Go back" asp-all-route-data="@routeParamsForBackLink" />
    }
  </div>
</div>
