@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewComponents
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateProgress
@using DigitalLearningSolutions.Web.Views.TrackingSystem.Delegates.DelegateProgress
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EditCompletionDateViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Edit Completion Date" : "Edit Completion Date";

  var routeParamsForBackLink = new Dictionary<string, string?>();

  if (Model.AccessedVia.Equals(DelegateProgressAccessRoute.CourseDelegates)) {
    routeParamsForBackLink.Add("accessedVia", Model.AccessedVia.ToString());
    routeParamsForBackLink.Add("progressId", Model.ProgressId.ToString());
  } else {
    routeParamsForBackLink.Add("delegateId", Model.DelegateId.ToString());
  }
  var exampleDate = DateTime.Today;
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@new []{ nameof(@Model.Day), nameof(@Model.Month), nameof(@Model.Year)}" />
    }

    <h1 class="nhsuk-heading-xl">Edit completion date for @Model.CourseName</h1>

    <p class="nhsuk-lede-text nhsuk-u-margin-top-4">
      For example 1 7 2021. Leave the boxes blank to clear the completion date.
    </p>

    <form class="nhsuk-u-margin-bottom-3" method="post"
          novalidate>
       <input type="hidden" asp-for="DelegateId" />
       <input type="hidden" asp-for="ProgressId" />
       <vc:date-input id="completion-date"
                             label=""
                             day-id="Day"
                             month-id="Month"
                             year-id="Year"
                             css-class=""
                             key="1"
                             hint-text="For example, @exampleDate.Day @exampleDate.Month @exampleDate.Year. Leave the boxes blank to clear the completion date" />

       <button class="nhsuk-button" type="submit">Save</button>
    </form>

     @if (Model.AccessedVia.Equals(DelegateProgressAccessRoute.CourseDelegates)) {
          <vc:cancel-link asp-controller="DelegateProgress" asp-action="Index" link-text="Go back" asp-all-route-data="@routeParamsForBackLink" />
        } else {
          <vc:cancel-link asp-controller="ViewDelegate" asp-action="Index" link-text="Go back" asp-all-route-data="@routeParamsForBackLink" />
        }
  </div>
</div>


