@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateProgress
@model EditSupervisorViewModel

@{
  var errorHasOccured = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccured ? "Error: Edit supervisor" : "Edit supervisor";
  var routeParamsForBackLink = new Dictionary<string, string?>();

  if (Model.AccessedVia.Equals(DelegateAccessRoute.CourseDelegates)) {
    routeParamsForBackLink.Add("customisationId", Model.CustomisationId.ToString());
  } else {
    routeParamsForBackLink.Add("delegateId", Model.DelegateId.ToString());
  }
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccured) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.SupervisorId) })" />
    }

    <h1 class="nhsuk-heading-xl word-break">Edit supervisor for @Model.CourseName</h1>

    <vc:field-name-value-display display-name="Delegate" field-value="@Model.DelegateName" />

    <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="EditSupervisor">
      <input type="hidden" asp-for="DelegateId" />
      <input type="hidden" asp-for="ProgressId" />
      <input type="hidden" asp-for="CustomisationId" />
      <input type="hidden" asp-for="ReturnPageQuery" />
      <vc:select-list asp-for="@nameof(Model.SupervisorId)"
                      label="Supervisor"
                      value="@Model.SupervisorId.ToString()"
                      hint-text=""
                      deselectable="true"
                      required="false"
                      css-class="nhsuk-u-width-one-half"
                      default-option="No supervisor"
                      select-list-options="@Model.Supervisors" />

      <button class="nhsuk-button" type="submit">Save</button>
    </form>

    @if (Model.AccessedVia.Equals(DelegateAccessRoute.CourseDelegates)) {
      <vc:cancel-link-with-return-page-query asp-controller="CourseDelegates" asp-action="Index" return-page-query="@Model.ReturnPageQuery!.Value" route-data="@routeParamsForBackLink" />
    } else {
      <vc:cancel-link asp-controller="ViewDelegate" asp-action="Index" link-text="Go back" asp-all-route-data="@routeParamsForBackLink" />
    }
  </div>
</div>
