@inject IConfiguration configuration
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateProgress
@using Microsoft.Extensions.Configuration
@model EditSupervisorViewModel

@{
  var errorHasOccured = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccured ? "Error: Edit supervisor" : "Edit supervisor";
  var routeParamsForBackLink = new Dictionary<string, string?> {
    { "accessedVia", Model.AccessedVia.ToString() },
    { "progressId", Model.ProgressId.ToString() },
    { "returnPage", Model.ReturnPage.ToString() },
  };
}

@section NavBreadcrumbs {
  @if (Model.AccessedVia.Equals(DelegateAccessRoute.CourseDelegates)) {
    <partial name="~/Views/TrackingSystem/Delegates/Shared/_CourseDelegatesProgressBreadcrumbs.cshtml"
             model="(Model.CustomisationId, Model.ProgressId)" />
  } else {
    <partial name="~/Views/TrackingSystem/Delegates/Shared/_ViewDelegateProgressBreadcrumbs.cshtml"
             model="(Model.DelegateId, Model.ProgressId)" />
  }
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccured) {
      <vc:error-summary order-of-property-names="@(new[] { nameof(Model.SupervisorId) })" />
    }

    <h1 class="nhsuk-heading-xl word-break">Edit supervisor for @Model.CourseName</h1>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-body-l">
        Delegate
      </div>
      <div class="nhsuk-grid-column-three-quarters nhsuk-body-l nhsuk-u-font-weight-bold word-break">
        @Model.DelegateName
      </div>
    </div>

    <form class="nhsuk-u-margin-bottom-3" method="post" asp-action="EditSupervisor">
      <input type="hidden" asp-for="DelegateId" />
      <input type="hidden" asp-for="ProgressId" />
      <input type="hidden" asp-for="ReturnPage" />
      <vc:select-list asp-for="@nameof(Model.SupervisorId)"
                      label="Supervisor"
                      value="@Model.SupervisorId.ToString()"

                      hint-text=""
                      deselectable="true"
                      css-class="nhsuk-u-width-one-half"
                      default-option="No supervisor"
                      select-list-options="@Model.Supervisors" />

      <button class="nhsuk-button" type="submit">Save</button>
    </form>

    <vc:cancel-link asp-controller="DelegateProgress" asp-action="Index" link-text="Go back" asp-all-route-data="@routeParamsForBackLink" />
  </div>
</div>
