@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateProgress
@model EditCompletionDateViewModel

@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
  ViewData["Title"] = errorHasOccurred ? "Error: Edit Completed Date" : "Edit Completed Date";

  var routeParamsForBackLink = new Dictionary<string, string?> {
    { "accessedVia", Model.AccessedVia.ToString() },
    { "progressId", Model.ProgressId.ToString() },
    { "returnPage", Model.ReturnPage.ToString() },
  };

  var exampleDate = DateTime.Today;
  var hintTextLines = new List<string> {
    $"For example, {exampleDate.Day} {exampleDate.Month} {exampleDate.Year}. Leave the boxes blank to clear the completed date",
  };
}

@section NavBreadcrumbs {
  @if (Model.AccessedVia.Equals(DelegateAccessRoute.CourseDelegates)) {
    <partial name="~/Views/TrackingSystem/Delegates/Shared/_CourseDelegatesProgressBreadcrumbs.cshtml" model="(Model.CustomisationId, Model.ProgressId)" />
  } else {
    <partial name="~/Views/TrackingSystem/Delegates/Shared/_ViewDelegateProgressBreadcrumbs.cshtml" model="(Model.DelegateId, Model.ProgressId)" />
  }
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    @if (errorHasOccurred) {
      <vc:error-summary order-of-property-names="@new []{ nameof(@Model.Day), nameof(@Model.Month), nameof(@Model.Year)}" />
    }

    <h1 class="nhsuk-heading-xl word-break">Edit completed date for @Model.CourseName</h1>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-body-l">
        Delegate
      </div>
      <div class="nhsuk-grid-column-three-quarters nhsuk-body-l nhsuk-u-font-weight-bold word-break">
        @Model.DelegateName
      </div>
    </div>

    <form class="nhsuk-u-margin-bottom-3" method="post" novalidate>
      <input type="hidden" asp-for="DelegateId" />
      <input type="hidden" asp-for="ProgressId" />
      <input type="hidden" asp-for="DelegateName" />
      <input type="hidden" asp-for="CourseName" />
      <input type="hidden" asp-for="ReturnPage" />
      <vc:date-input id="completion-date"
                     label="Completed date"
                     day-id="Day"
                     month-id="Month"
                     year-id="Year"
                     css-class="nhsuk-u-margin-bottom-4"
                     hint-text-lines="@hintTextLines" />

      <button class="nhsuk-button" type="submit">Save</button>
    </form>

    <vc:cancel-link asp-controller="DelegateProgress" asp-action="Index" link-text="Go back" asp-all-route-data="@routeParamsForBackLink" />
  </div>
</div>
