@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.DelegateProgress
@model DelegateProgressViewModel

@{
  ViewData["Title"] = "Delegate progress";
}

@section NavBreadcrumbs {
  @if (Model.AccessedVia.Equals(DelegateAccessRoute.CourseDelegates)) {
    <partial name="~/Views/TrackingSystem/Delegates/Shared/_CourseDelegatesBreadcrumbs.cshtml" model="Model.CustomisationId" />
  } else {
    <partial name="~/Views/TrackingSystem/Delegates/Shared/_ViewDelegateBreadcrumbs.cshtml" model="Model.DelegateId" />
  }
}

<link rel="stylesheet" href="@Url.Content("~/css/shared/headingButtons.css")" asp-append-version="true">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>
      </div>
      <div class="nhsuk-grid-column-one-half heading-button-group">
        <a class="nhsuk-button nhsuk-button--secondary heading-button" role="button" href="@Model.ProgressDownloadUrl">
          Download
        </a>
        <a class="nhsuk-button nhsuk-button--secondary heading-button"
           role="button"
           asp-action="LearningLog"
           asp-route-accessedVia="@Model.AccessedVia"
           asp-route-progressId="@Model.ProgressId">
          View learning log
        </a>
      </div>
    </div>

    <partial name="_DelegateDetails" model="Model" />

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-body-l">
        Course
      </div>
      <div class="nhsuk-grid-column-three-quarters nhsuk-body-l nhsuk-u-font-weight-bold word-break">
        @Model.CourseName
      </div>
    </div>

    @if (!Model.IsCourseActive) {
      <partial name="~/Views/TrackingSystem/Shared/_InactiveCourseInset.cshtml" />
    }

    <partial name="_DelegateProgressSummary" model="Model" />

    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
      <p class="nhsuk-body-l">Overall diagnostic score: <strong>@(Model.DiagnosticScore.HasValue ? $"{Model.DiagnosticScore}%" : "N/A")</strong></p>
    </div>

    @foreach (var section in Model.Sections) {
      <partial name="_SectionProgress" model="section" />
    }
  </div>
</div>
