@inject IConfiguration Configuration
@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.CourseDelegates
@using Microsoft.Extensions.Configuration
@model DelegateProgressViewModel

@{
    ViewData["Title"] = "Delegate progress";
    var routeParamsForBackLink = new Dictionary<string, string?>();

    if (Model.AccessedVia.Equals(DelegateProgressAccessRoute.CourseDelegates)) {
      routeParamsForBackLink.Add("customisationId", Model.CustomisationId.ToString());
      routeParamsForBackLink.Add("page", Model.Page.ToString());
    } else {
      routeParamsForBackLink.Add("delegateId", Model.DelegateId.ToString());
    }
}

@section NavBreadcrumbs {
  @if (Model.AccessedVia.Equals(DelegateProgressAccessRoute.CourseDelegates)) {
    <partial name="~/Views/TrackingSystem/Delegates/Shared/_CourseDelegatesBreadcrumbs.cshtml" model="Model.CustomisationId"/>
  } else {
    <partial name="~/Views/TrackingSystem/Delegates/Shared/_ViewDelegateBreadcrumbs.cshtml" model="Model.DelegateId"/>
  }
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-body-l">
        Delegate
      </div>
      <div class="nhsuk-grid-column-three-quarters nhsuk-body-l nhsuk-u-font-weight-bold word-break">
        @Model.DelegateNameAndEmail
      </div>
    </div>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-body-l">
        Course
      </div>
      <div class="nhsuk-grid-column-three-quarters nhsuk-body-l nhsuk-u-font-weight-bold word-break">
        @Model.CourseName
      </div>
    </div>

    @if (!Model.IsCourseActive)
    {
      <partial name="~/Views/TrackingSystem/Shared/_InactiveCourseInset.cshtml" />
    }

    <partial name="_DelegateProgressSummary" model="Model" />

    <a class="nhsuk-button left-button-mobile-margin-bottom nhsuk-u-margin-right-2" role="button">
      View detailed progress
    </a>
    <a class="nhsuk-button nhsuk-button--secondary" role="button">
      View learning log
    </a>

    @if (Model.AccessedVia.Equals(DelegateProgressAccessRoute.CourseDelegates)) {
      <vc:back-link asp-controller="CourseDelegates" asp-action="Index" link-text="Go back" asp-all-route-data="@routeParamsForBackLink" />
    } else {
      <vc:back-link asp-controller="ViewDelegate" asp-action="Index" link-text="Go back" asp-all-route-data="@routeParamsForBackLink" />
    }
  </div>
</div>
