@using DigitalLearningSolutions.Web.Models.Enums
@using DigitalLearningSolutions.Web.ViewModels.TrackingSystem.Delegates.CourseDelegates
@model DelegateProgressViewModel

@{
  ViewData["Title"] = "Delegate progress";
}

@section NavBreadcrumbs {
  @if (Model.AccessedVia.Equals(DelegateAccessRoute.CourseDelegates)) {
    <partial name="~/Views/TrackingSystem/Delegates/Shared/_CourseDelegatesBreadcrumbs.cshtml" model="Model.CustomisationId" />
  } else {
    <partial name="~/Views/TrackingSystem/Delegates/Shared/_ViewDelegateBreadcrumbs.cshtml" model="Model.DelegateId" />
  }
}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-xl">@ViewData["Title"]</h1>

    <partial name="_DelegateDetails" model="Model" />

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-quarter nhsuk-body-l">
        Course
      </div>
      <div class="nhsuk-grid-column-three-quarters nhsuk-body-l nhsuk-u-font-weight-bold">
        @Model.CourseName
      </div>
    </div>

    @if (!Model.IsCourseActive) {
      <partial name="~/Views/TrackingSystem/Shared/_InactiveCourseInset.cshtml" />
    }

    <partial name="_DelegateProgressSummary" model="Model" />

    <a class="nhsuk-button left-button-mobile-margin-bottom nhsuk-u-margin-right-2" role="button"
       asp-action="DetailedProgress"
       asp-route-progressId="@Model.ProgressId"
       asp-route-accessedVia="@Model.AccessedVia">
      View detailed progress
    </a>
    <a class="nhsuk-button nhsuk-button--secondary"
       role="button"
       asp-action="LearningLog"
       asp-route-accessedVia="@Model.AccessedVia"
       asp-route-progressId="@Model.ProgressId">
      View learning log
    </a>
  </div>
</div>
